[2020-03-06 02:31] isaiahtaylor opened #4 "StreamChat dispose() tears down the Client connection"
Hello, my team is evaluating Stream and I am very happy with the Flutter and React UI Kits so far. The flutter kit particularly was the big differentiator for us. Kudos!

One problem I was having was that tabbing away from the chat window using `BottomNavigationBar` tabs caused the Client object to get torn down and the connection to get disconnected, so that when I navigate back to it again I get

[2020-03-09 15:47] lukepighetti opened #5 "pubspec.yaml dependencies invalid path"
[code]

This path does not exist in the project

[2020-03-09 16:27] lukepighetti commented on #5
looks like it's a development quirk, can link via

[code]

[2020-03-09 16:27] #5 closed

[2020-03-13 08:14] imtoori commented on #4
Hi @isaiahtaylor
You are right, that is not the right behaviour.
I'll update the StreamChat component not to dispose the Client automatically

[2020-03-13 08:30] #4 closed

[2020-03-13 08:33] imtoori commented on #5
Hi @lukepighetti
Yes it was a silly mistake, sorry. Now it's fixed.
For development we use a path import because sometimes we modify both libraries in the same time.

[2020-03-15 05:36] funwithflutter opened #6 "ChannelListView NULL error when a channel has no messages"
When creating a new channel (for example, from the CLI), that does not have any messages in the channel, will cause `ChannelListView` widget to throw an error as there are no checks to see if the channel message list is empty.

[code]
There needs to some validation to make sure there are messages, before calling:

`final lastMessageAt = snapshot.data.toLocal();` in "channel_preview.dart"
[code]

[2020-03-15 10:52] #6 closed

[2020-03-20 11:23] brizaldi opened #7 "one to one channel example"
is there an example about how to initiate one to one conversation?

i got error like this when i call `await channel.watch();`

`E/flutter (19258): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: ApiError{body: Not Found, jsonData: null, status: 404, code: null}`

[2020-03-20 12:41] imtoori commented on #7
Hi and thank you for the reporting

There was an error initializing the channel without an id.
The url was wrong and the response was always 404.

With [stream_chat_dart](https://github.com/GetStream/stream-chat-dart/pull/15) version 0.1.20 the bug is fixed.

To create a channel follow the docs [here](https://getstream.io/chat/docs/channel_conversations/?language=dart), so run `flutter pub get` to

[2020-03-20 12:41] #7 closed

[2020-03-20 12:58] brizaldi commented on #7
can you also update [stream_chat_flutter](https://pub.dev/packages/stream_chat_flutter) ?

[2020-03-20 13:34] imtoori commented on #7
Actually It's not necessary to do so
Just run `flutter packages upgrade` and rebuild your app

[2020-03-23 11:18] brizaldi opened #8 "Force close on iOS"
I got an error like this after i add dependency `stream_chat_flutter: ^0.1.11`
when i try to run it on iOS, my app suddenly got force close

`*** First throw call stack:
(
	0   CoreFoundation                      0x00007fff23c7127e __exceptionPreprocess + 350
	1   libobjc.A.dylib                     0x00007fff513fbb20 objc_exception_throw + 48
	2   CoreFoundation                      0x00007fff23c

[2020-03-23 15:07] imtoori commented on #8
Hi, I tried to build a project from scratch using iOS and (un)fortunately I don't have any problem.
Can you try to run `flutter clean` and try to rebuild the project?

[2020-03-23 16:16] tbarbugli commented on #8
@brizaldi can you also include the entire stack trace error as well as information about the flutter version you are using?

[2020-03-24 00:55] brizaldi commented on #8
[✓] Flutter (Channel stable, v1.12.13+hotfix.8, on Mac OS X 10.15.3 19D76, locale en-US)
[!] Android toolchain - develop for Android devices (Android SDK version 29.0.3)
    ✗ Android license status unknown.
      Try re-installing or updating your Android SDK Manager.
      See https://developer.android.com/studio/#downloads or visit https://flutter.dev/setup/#android-setup for detailed instructi

[2020-03-25 00:20] isaiahtaylor opened #9 "Add capabilities dependencies to the readme"
This app introduces at least a few capabilities that need to be added to `info.plist` and other places on iOS.

* Apple notification service
* Photo library
* Contacts?
* Location?
* Speech Recognition?
* Calendars?

I'm not sure what's generating all these requirements in my app. The top two at least are clearly from this package. Could all of the necessary capabilities be listed?

[2020-03-25 07:59] imtoori commented on #9
@isaiahtaylor There were some instruction in the README, but some information was missing.
Go [here](https://github.com/GetStream/stream-chat-flutter/blob/master/README.md#ios) to read more about what we require.

This is all due to dependencies like file_picker, image_picker and video_player.

[2020-03-25 07:59] #9 closed

[2020-03-25 15:46] imtoori commented on #8
@brizaldi did you do everything written here in the readme? https://github.com/GetStream/stream-chat-flutter#ios

[2020-03-26 03:11] brizaldi commented on #8
@imtoori yeah, but still got crash whenever i try to open the app, btw i test it on iOS Simulator though

[2020-03-26 13:37] imtoori commented on #8
So, I googled your stacktrace and I reach [this issue on the Flutter repository](https://github.com/flutter/flutter/issues/44668), but unfortunately it's still `waiting for customer response`

A question: have you modified the iOS project in any way?

[2020-03-27 03:17] brizaldi commented on #8
i only change deployment target to 9.0 and add google gms api key in AppDelegate.swift

this is from simulator system.log
`Mar 27 10:02:52 rhezas-mbp-2 nanotimekitcompaniond[6524]: objc[6524]: Class NTKDActivityTracker is implemented in both /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS.simruntime/Contents/Resources/Run

[2020-03-27 08:59] imtoori commented on #8
I think something broke during `flutter packages get`. Sometimes it happens with Flutter

Can you try this?
- delete the file ios/Podfile
- run `flutter clean`
- retry to run the app

[2020-03-27 10:23] brizaldi commented on #8
still got the same error

[2020-03-31 03:31] brizaldi commented on #8
@imtoori @tbarbugli  i think i've found the culprit, its because this plugin is incompatible with [flutter_form_builder](https://pub.dev/packages/flutter_form_builder), when i remove `flutter_form_builder` from dependency, the error suddenly gone, maybe you guys can find out whats the problem, because my app depends a lot from that plugin

[2020-03-31 07:24] tbarbugli commented on #8
@brizaldi thank you for the additional information; if possible would you mind sharing a dart file that reproduce the problem with the form builder and chat?

[2020-03-31 07:32] brizaldi commented on #8
just create a new flutter project, and then add `flutter_form_builder` and `stream_chat_flutter` dependency

[2020-03-31 08:23] imtoori commented on #8
@brizaldi can you retry now using the new version 0.1.12?

We were using the plugin `keyboard_visibility` while `flutter_form_builder` was using `flutter_keyboard_visibility`. The former is a fork of the latter and it seems better maintained so we'll stick to that.

[2020-03-31 08:41] brizaldi commented on #8
it seems working fine now, thanks @imtoori, i'm closing this now

[2020-03-31 08:41] #8 closed

[2020-04-06 09:37] brizaldi opened #10 "Add day separator/grouping in MessageListView"
ex: Today, Yesterday, etc

[2020-04-06 15:55] nosmirck opened #11 "Dark Theme"
Dark Theme seems to be not properly implemented, despite the advertised images on the website.

Using the system theme mode dark (after setting the themes correctly) like this:
[code]
causes this:

![Simulator Screen Shot - iPhone 11 Pro Max - 2020-04-06 at 11 50 36](https://user-images.githubusercontent.com/6027290/78578345-639ebc80-77fd-11ea-9158-31d5604b9478.png)

As seen in the image, nothing

[2020-04-06 15:59] nosmirck opened #12 "MessageInput grows indefinitely"
Message Input grows with message content but doesn't stop, reaching an overflow.

Image attached for reference:

![Simulator Screen Shot - iPhone 11 Pro Max - 2020-04-06 at 11 47 25](https://user-images.githubusercontent.com/6027290/78578802-05bea480-77fe-11ea-8916-43817ee58d62.png)

If there's no one working on this one, I can PR a fix today.

[2020-04-06 16:13] imtoori commented on #12
We'll fix it as soon as possible, however feel free to contribute

[2020-04-06 17:20] nosmirck commented on #12
@imtoori  PR is up! :)

[2020-04-07 07:22] #12 closed

[2020-04-07 21:30] isaiahtaylorhh opened #15 "Support for push notifications?"
Hello, I can't find any documentation regarding using push notifications with this SDK. Is that documented somewhere?

[2020-04-07 21:32] imtoori commented on #15
Hi, right now we are working on offline storage and push notifications
You'll see some progress soon

[2020-04-07 21:35] isaiahtaylor commented on #15
Thanks for the quick response. Is there any way to register with the stream chat API for push notifications in the meantime? This is a blocker for us. Do you have a timeline estimate?

[2020-04-08 07:37] imtoori commented on #15
I hope to finish this/next week.
By the way you can try to use https://pub.dev/packages/flutter_apns to have both android and ios notifications. A simple configuration is not difficult

[2020-04-08 11:41] #11 closed

[2020-04-08 15:15] #10 closed

[2020-04-09 21:29] isaiahtaylor opened #18 "Keyboard opens on top of camera view"
To recreate:

* tap in the text area of the message send box so that the keyboard comes up
* with the keyboard still up, tap the + button for an attachment
* select "photo from camera" or "video from camera"

The keyboard will come up over the camera view. There's no way to escape this without force quitting the app.

Maybe the + button needs to unfocus the text field?

[2020-04-09 21:36] isaiahtaylor opened #19 "App crashes when trying to hit send before video finishes processing"
Steps to recreate:

* tap + and "video from camera"
* record a video
* select "use video"
* while the video still has the "loading" gif on top of it, hit send

App crashes. I assume this would also happen for photos if your internet was slow.

Thanks for this integration, as I've said it's the reason we're using Stream. Excited to see how it evolves.

[2020-04-09 21:53] isaiahtaylor opened #20 "App freezes after taking a photo"
I have not found this to be re-creatable 100% of the time on all devices. One of our iPhones it's hit or miss, another one it happens every time without fail.

Steps to recreate:

* press the + button for attachment
* press "photo from camera"
* take a photo

App is frozen. Force restart needed.

iPhone 11 Max is the one that always freezes. iPhone 7 Plus intermittent.

[2020-04-09 22:06] isaiahtaylor opened #21 "Videos show wide stretched"
Videos, whether uploaded or taken, show as stretched horizontally.  See attached photos:

1. Screenshot from the original video taken on the iPhone 11 Max
![IMG_3840](https://user-images.githubusercontent.com/57509275/78944725-6571b580-7a73-11ea-9884-1fb74de3e20b.PNG)

2. How it looks in chat when played fullscreen
![IMG_3839](https://user-images.githubusercontent.com/57509275/78944769-820ded80-7a

[2020-04-09 22:13] isaiahtaylor opened #22 "No way to hide keyboard"
Once you tap the text input field, the keyboard cannot be hidden without sending a message. This is a problem if you have bottom bar navigation and have `showBackButton: false`.

[2020-04-09 22:14] isaiahtaylor opened #23 "Need a way to disable the attachments button"
Given the instability of the attachments feature, there should be a way to not show that attachments button.

[2020-04-10 07:45] imtoori commented on #18
Pretty sure It's related to this issue https://github.com/flutter/flutter/issues/42417
Trying to find a workaround

[2020-04-10 09:02] imtoori commented on #21
The property `showVideoFullScreen` was added mainly because of this issue https://github.com/brianegan/chewie/issues/261

[2020-04-10 09:44] #18 closed

[2020-04-10 09:44] #19 closed

[2020-04-10 09:44] #20 closed

[2020-04-10 09:44] #21 closed

[2020-04-10 09:44] #22 closed

[2020-04-10 09:44] #23 closed

[2020-04-10 09:50] imtoori commented on #23
@isaiahtaylor

I just created the repo Gitter for general discussions about the sdk
In case you'd like to join here's the link

https://gitter.im/GetStream/stream-chat-flutter?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge#

[2020-04-10 19:21] KingIdee opened #26 "Support for Stream<List<User>>"
Just like we have a stream for list of channels: `Stream<List<Channel>>` Will it be possible to have a stream of users like this: `Stream<List<User>>`.  So, we can always have an updated list of users.

[2020-04-13 11:28] brizaldi opened #27 "Customize ChannelHeader & MessageInput"
is there a way to customize ChannelHeader & MessageInput ?
for example change the logic to upload attachment to my own CDN, or use my own AppBar as ChannelHeader

[2020-04-14 07:11] imtoori commented on #27
The `ChannelHeader` widget is completely optional, you can use your own `AppBar` with no problem.

At the moment is not possible to customize the logic to upload the attachment, but I think it makes sense to have such a feature

[2020-04-15 14:14] KingIdee opened #28 "MessageListView Widget is not realtime"
I built a sample using your `MessageListView` widget and I was not getting messages in realtime. Here is a GIF:

![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/26332464/79347550-b8dc7b80-7f2b-11ea-836b-3dbac931659e.gif)

[2020-04-15 14:19] imtoori commented on #28
@KingIdee  Did you use `client.queryChannels` or call `channel.watch`?

[2020-04-15 16:55] nosmirck opened #29 "Ability to render Custom Attachment Type"
The api provides a way to send a custom payload through [attachments](https://getstream.io/chat/docs/chat_bots/?language=js&q=command#step_3_-_attachment,_fields_and_actions) and we can have a MessageBuilder that easily handles this scenario:

[code]
and in `_buildCustom Message` logic for it can be done, however, it would basically requiere to re-write the `MessageWidget` with all its features +

[2020-04-15 17:39] nosmirck opened #30 "Ability to create #HashTags"
Just like @mentions it would be great to have #hashtags and have a `onHashTagTap` as we have for mentions.

[2020-04-15 18:00] nosmirck opened #31 "Ability to send Custom Attachments"
We would like the ability to send custom attachment with custom payload

Example:

For the `MessageInput` Widget we would need to add `customAttachmentActions` which is a List of `AttachmentActions` that would appear alongside the normal attachment button (or maybe provide extra options to customize where it goes, either within the same attachments options or separate with a custom icon, right sid

[2020-04-15 18:44] nosmirck opened #32 "Commands Overlay overflows the screen"
When initially type "/" to open the commands overlay, the widget overflows.

Evidence:
![Simulator Screen Shot - iPhone 11 Pro Max - 2020-04-15 at 14 06 39](https://user-images.githubusercontent.com/6027290/79371538-8a0dd780-7f22-11ea-91c2-134428088a73.png)

[2020-04-15 20:32] lukepighetti opened #34 "The getter 'MediaType' isn't defined for the class '_MessageInputState'"
Every time I try to run a project with `stream_chat_flutter: ^0.1.23` I get this error when building on iOS.

[code]

[2020-04-16 04:03] KingIdee commented on #28
I don't think I did. Isn't the `StreamChannel` widget supposed to do that? I mean, I'm passing the channel to it:

[code]

[2020-04-16 07:23] imtoori commented on #28
You need to get the channel using `client.queryChannels` or call `channel.watch` after you created it otherwise you won't receive the events related to that channel
Can you try?

[2020-04-16 07:41] imtoori commented on #34
Hi @lukepighetti , can you try the last version? It should be ok now

[2020-04-16 07:42] #32 closed

[2020-04-16 08:17] imtoori commented on #26
Do you need to do something in particular?
I'm just asking to understand if there is already a way to do it

[2020-04-16 13:55] KingIdee commented on #28
Oh yeah. I used `channel.watch`. It worked fine. Since it's chatting, the feature should work out of the box I think.

[2020-04-16 14:00] imtoori commented on #28
That's the way it works on other SDKs
I'll take the request into consideration, thanks

[2020-04-16 14:00] #28 closed

[2020-04-16 14:43] KingIdee commented on #26
Nothing in particular. Just a list that'll be updated when the WebSocket(Stream's API) notifies that a new user is available.

[2020-04-16 14:47] nosmirck commented on #34
@lukepighetti try latest version but first run a flutter clean then get and upgrade packages

[2020-04-16 14:55] nosmirck opened #35 "ChannelHeader needs an 'onTap' method"
Channel Header provides a way to customize the display and action of the back button but nothing to do an action for when the header is tapped.

Propposed solution:
- Add an action (similar to the `onBackPressed`) for when the `ChannelName` Widget is tapped.

This is useful for showing a custom page with the channel information (image, members, custom actions for notifications, adding more people

[2020-04-16 15:17] imtoori commented on #30
I think it's better to add some property to `MessageInput` to make it easy for you to implement this feature as a customization of the SDK
It will fulfil your requirements and it will make the widget more versatile

[2020-04-16 18:03] lukepighetti commented on #34
I have to ask: why are these issues being pushed to pub?

[2020-04-16 20:53] #34 closed

[2020-04-17 14:04] imtoori commented on #30
As pointed out by @nosmirck, we could pass a list of objects like this
[code]
It's also a way to generalize the parsing of mentions.

The only problem I can see so far is that the message text is a `MarkdownBody` widget from the package `flutter_markdown`.
At the moment mentions are made clickable substituting the text with a markdown link (@imtoori = [@imtoori]()) and handled using the property `

[2020-04-20 10:27] #35 closed

[2020-04-21 13:43] #27 closed

[2020-04-24 07:37] imtoori commented on #29
In the alpha version the `MessageListView` has a property `Map<String, AttachmentBuilder> attachmentBuilders`.
The key is the type of the attachment and the value is the builder.
It defaults to the regular attachment builders

[2020-04-24 09:23] brizaldi opened #41 "Disable onLongPress message panel"
![image](https://user-images.githubusercontent.com/41714881/80196575-cab6d080-8647-11ea-89b5-72ccaaafcbfc.png)

is there a way to disable that panel?

[2020-04-24 09:28] imtoori commented on #41
Hi @brizaldi

You can pass a function to `MessageListView` specifying what to instead of showing the panel

[code]

If you use a function like that one, nothing will happen

[2020-04-24 09:32] brizaldi commented on #41
![image](https://user-images.githubusercontent.com/41714881/80197638-19189f00-8649-11ea-91fe-788b535173c0.png)
what about this panel? is it also customizable?

[2020-04-24 09:39] imtoori commented on #41
At the moment you can only disable the attachment button

I was thinking that it could be interesting to add a parameter to pass as many actions as you want, like the `actions` argument of the `AppBar`.
In this way, you could disable the attachment button and add your custom button.

Do you think it's a good idea?

[2020-04-24 09:57] brizaldi commented on #41
yeah that's a good idea, i think every component should customizable and let the user choose what style/action for each component

[2020-04-24 10:02] imtoori commented on #41
that's the ultimate goal, it's a matter of time

I'll close this issue and implement the customizable actions for `MessageInput`

[2020-04-24 10:19] #41 closed

[2020-04-28 00:51] brizaldi opened #42 "Step by step for push notification"
is there a tutorial/example/step by step of how to implements push notification on iOS & android?

[2020-04-28 07:39] imtoori commented on #42
The Flutter SDK does not offer any default implementation for push notification, so you should implement it yourself.

However, the alpha release of the library disconnects the client when the app is in the background. In this way, the backend will send notifications.
At [this link ](https://getstream.io/chat/docs/push/?language=js), you can find a draft of the documentation that will be released

[2020-04-28 14:41] imtoori commented on #31
https://github.com/GetStream/stream-chat-flutter/pull/43
Could you tell me what do you think of this solution?

[2020-04-28 14:48] imtoori commented on #41
#43
@brizaldi  Could you tell me what do you think of this solution?

[2020-04-29 12:01] #42 closed

[2020-05-05 09:19] brizaldi opened #45 "Bad state: Cannot add new events after calling close"
i got this error message when using the alpha version

[code]

the chat functionality still working fine though

[2020-05-06 04:14] divyanshub024 opened #46 "How to change background color of streamchat widget."
Hey!! I want to change the bg color of my StreamChat widget but even after changing the `streamChatThemeData` nothing works.

This is what my code looks like
[code]

[2020-05-06 07:33] imtoori commented on #46
Hey! Thanks for opening this issue

In the last version, there is a property called `backgroundColor` in `StreamChatThemeData`
If you initialize the theme using `StreamChatThemeData.fromTheme` it will default to `theme.scaffoldBackgroundColor`, otherwise it will be `Colors.white`

Let me know if that works for you

[2020-05-06 07:36] divyanshub024 commented on #46
@imtoori I can see only these params in `StreamChatThemeData`.

[code]

[2020-05-06 07:37] divyanshub024 commented on #46
And I'm on version ` ^0.2.0-alpha+2`.

[2020-05-06 07:51] imtoori commented on #46
Can you try version `0.2.0-alpha+15` or the stable `0.1.35`? I just released those versions

[2020-05-06 07:54] divyanshub024 commented on #46
@imtoori Cool, I'll try that. Is there a place where I can see changelogs for alpha version?

[2020-05-06 07:59] imtoori commented on #46
https://pub.dev/packages/stream_chat_flutter/versions/0.2.0-alpha+15#-changelog-tab-
There is no other place than the pub at the moment

By the way thanks for trying the alpha version

[2020-05-06 08:08] divyanshub024 commented on #46
It's my pleasure to test cool things you guys are doing in alpha version.

[2020-05-07 11:48] #46 closed

[2020-05-13 04:39] brizaldi opened #47 "StreamChat is overriding onGenerateRoute when navigating using named route"
**Expected results:**

When using Navigator.pushNamed it goes to my own `onGenerateRoute` from my `main.dart`

**Actual results:**

instead it goes to `onGenerateRoute` inside `stream_chat.dart`:
[code]

[2020-05-13 07:41] imtoori commented on #47
We added a navigator to make the StreamChat widget always be on top of the widget tree.
This approach is not the best and we should refactorize it finding a good compromise between usability and convenience.
The point is to make the user write as less code as possible to make a working app.

I'll think about it and hopefully come with a better solution.

For the moment you can try to use
`Navigato

[2020-05-14 03:56] brizaldi commented on #47
now i get this error when i call `StreamChat.of(context).client` :

`You must have a StreamChat widget at the top of your widget tree`

[2020-05-14 07:29] imtoori commented on #47
Are you trying to use `StreamChat.of` in your new route?
The problem is that once you push a new route, the `StreamChat` widget is not in your current widget tree anymore.
You may want to take a look at this https://stackoverflow.com/questions/49968817/flutter-inherited-widget-and-routes

A possible solution is to put the widget `StreamChat` in the builder method of your `MaterialApp` (like this a

[2020-05-14 09:39] imtoori commented on #47
Could you try the last version using the `StreamChat` widget in the builder method of the `MaterialApp`?

[2020-05-15 02:01] brizaldi commented on #47
after using the last version and put `StreamChat` inside the builder, i can confirm that its working perfectly now, thank you for the quick response and maybe you can close this issue

[2020-05-15 06:39] imtoori commented on #47
Thank you for reporting the issue :)

[2020-05-15 06:39] #47 closed

[2020-05-18 06:41] Okdone opened #48 "When chatting continuously then message not receiving after some time, Getting exceptions."
I am using version: 0.2.1-alpha+1.
I am facing some issues.

When we are chatting with each other then after some time message not received and getting exception like this.
Getting error:
1) Message is received but not display the error is like database:
E/flutter ( 5438): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: "SqliteException(5): database is locked, database is locked

[2020-05-18 08:26] imtoori commented on #48
does it happen every time?

[2020-05-18 08:33] RajKateshiya commented on #48
Yes, it is happening every time

[2020-05-18 08:34] Okdone commented on #48
Yes, it is happening every time

[2020-05-18 08:38] imtoori commented on #48
ok, thank you
could you try with the latest version `0.2.1-alpha+2`
I'm investing the problem

[2020-05-18 08:40] Okdone commented on #48
Ok, i will check with "0.2.1-alpha+2"

[2020-05-18 08:42] Okdone commented on #48
Have you released "0.2.1-alpha+2"?

[2020-05-18 08:43] imtoori commented on #48
yes, last week I released the new version

[2020-05-18 08:49] Okdone commented on #48
![img_20200518](https://user-images.githubusercontent.com/65529321/82193102-8e0e8a00-9912-11ea-85ac-a016b7f8c57e.png)

Can you check it, i can't find that version.

[2020-05-18 08:55] imtoori commented on #48
I'm sorry, I forgot to push the tag.
For this kind of things I suggest looking at pub.dev https://pub.dev/packages/stream_chat_flutter

By the way, I'm releasing a new version with a small fix.

[2020-05-20 04:34] Okdone opened #49 "Incoming messages are not coming after a re-connection due to network change or connection reset"
I am testing your Flutter Chat SDK "0.2.1-alpha+3" with offline capability which is critical for our use case. Reported a problem via GitHub page 2 days back and thanks for fixing the database exception quickly.

After trying the latest Alpha build one problem I have observed is incoming messages are not coming after a re-connection due to network change or connection reset, though outgoing messag

[2020-05-20 07:28] imtoori commented on #49
Thanks for the reporting, I think this is a good place to report issues so far

At the moment we are developing a backend endpoint dedicated to resync the application data after reconnection, but that can take some time before landing in production.
I think for the moment we can just refresh the channels manually using the `queryChannels` endpoint.
Let me check it, if that works as expected I'll r

[2020-05-20 07:57] imtoori commented on #49
@Okdone I've just released a new version
It should work as expected. I think this is a good compromise as far as we are working on a more specific endpoint

[2020-05-22 07:12] #48 closed

[2020-05-25 07:27] #49 closed

[2020-05-25 08:55] Okdone opened #50 "Online presence and Last Seen issue"
We are testing the Alpha+4 build and enabled Presence and Last Seen in the application. Before doing that we figured out how to check information from server by logging and quering it at API level.

What we observed is a inconsistent behavior from client on updating the status to server.

Even if we kill the application of user A it keeps showing online on user B, and this goes on even if we resta

[2020-05-26 15:32] imtoori commented on #50
the problem is that the client does not update user information depending on events
I'm working on this, so it'll be ready soon

[2020-05-27 15:14] imtoori commented on #26
hey @KingIdee in the last alpha version you can find a list of users in `client.state.users` or a stream of the list in `client.state.usersStream`

[2020-05-28 07:18] imtoori commented on #50
@Okdone can you try the latest version `0.2.1-alpha+6`?

[2020-05-28 08:53] Okdone commented on #50
![image](https://user-images.githubusercontent.com/65529321/83120373-99ba3780-a0ee-11ea-90ac-b4fe66e6a499.png)

Have you pushed 0.2.1-alpha+6 ?

[2020-05-28 08:58] imtoori commented on #50
yes I have, the tag was still to be pushed, but you can find it on pub.dev

[2020-05-28 12:28] KingIdee commented on #26
Neat!

[2020-05-30 07:33] Okdone opened #51 "Release mode getting issue"
Hey team,
We have checkout your tags and testing with release mode and debug mode with 0.2.1_alpha+6, 0.2.1_alpha+4, 0.2.1_alpha+3 and run with release mode but in all these branch getting issue on release mode.

Issue (log):
`I/flutter (23069): (2020-05-30 11:47:47.952083) ℹ️ RETRY QUEUE messaging:!members-CMejYZeK0zXGsUZ88VX0boqoicKpoQhWYJvGRRFNCpE add 0 messages
E/flutter (23069): [ERROR:flutte

[2020-05-30 07:33] Okdone commented on #50
This issue still not solved "last Active" time is still displaying old time not updated with latest time. Also even if other user app is killed showing online sometimes and keeps showing online.

[2020-06-02 03:29] brizaldi opened #52 "Querying channels using channel name"
Basically i want to do something like search box on the top of my ChannelListView.
I know that we can filter using members but currently it only allows filter using user.id not user name or channel name

[2020-06-02 03:41] brizaldi opened #53 "Read & Delivered indicator"
I think we need to add read & delivered indicator for one-to-one conversations, currently it only shows SendingIndicator

[2020-06-02 10:20] imtoori commented on #50
are you talking about the time shown in the `ChannelHeader` subtitle?

[2020-06-02 10:29] imtoori commented on #53
yes, that's one of the next features to be added

[2020-06-02 10:33] imtoori commented on #52
Right now the backend does not support queryChannels by name.
The good news is that it will be added this week! I'll let you know once it's deployed

[2020-06-02 12:15] Okdone commented on #50
No, in `ChannelHeader` time is last message time, but i am talking about `user.lastActive`.
(using by `user.presence.changed)`.

[2020-06-02 14:11] imtoori commented on #50
hey @Okdone
I found the problem. It's a backend bug, we are looking into. I'll keep you updated, thanks

[2020-06-03 09:38] imtoori commented on #51
it's probably linked to this
https://github.com/simolus3/moor/issues/581
I'll keep you updated

[2020-06-03 09:57] imtoori commented on #51
can you try the last version? I downgraded the dependency

[2020-06-04 12:30] Okdone commented on #51
We have tested with 0.2.1-alpha+7, but still issue is not solved.

[2020-06-08 11:39] Okdone commented on #51
This issue also not solved in 0.2.1-alpha+8.

[2020-06-08 11:47] imtoori commented on #51
hey, I'm looking into this right now, but I don't have this problem
are you using android?

[2020-06-08 11:48] Okdone commented on #51
Yes, Are you testing with release mode?

[2020-06-08 11:58] imtoori commented on #51
yes, with a real device
`flutter run --release`

[2020-06-10 05:42] Okdone commented on #51
Please give me step for you generate release build because we have getting issue on database in release build, if it's possible then send your android release build so we can test

[2020-06-10 08:28] imtoori commented on #51
can I ask you if that the full stacktrace?
if not, could you send the a longer one?

[2020-06-10 10:26] Okdone commented on #51
The full stacktrace.

`I/flutter (16987): (2020-06-10 15:52:34.411259) ℹ️ 🔌 connecting to wss://chat-us-east-1.stream-io-api.com/connect?api_key=s2dxdhpxd94g&authorization=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoic3VwZXItYmFuZC05In0.0L6lGoeLwkz0aZRUcpZKsvaXtNEDHBcezVTZ0oPq40A&stream-auth-type=jwt&json=%7B%22user_id%22%3A%22super-band-9%22%2C%22server_determines_connection_id%22%3Atrue%

[2020-06-11 13:54] imtoori commented on #52
hey @brizaldi
could you try now? we just updated the backend

[2020-06-12 01:04] brizaldi commented on #52
thanks, will try it today

[2020-06-18 07:00] brizaldi opened #54 "[Notification] Error during resync"
i got this error message after implementing notification for my ios app, but the notification and chat functionality is working fine though

```flutter: (2020-06-18 13:54:58.181137) 🚨 📡 Error during resync ApiError{body: Not Found, jsonData: null, status: 404, code: null}```

[2020-06-18 08:15] imtoori commented on #54
hey @brizaldi
that's normal, it tries to call the `sync` endpoint and it fails because it's still not deployed to production
as soon as it's deployed it will work, but it does not affect other things

[2020-06-18 08:57] brizaldi commented on #54
so, it just a warning, okay then, i'm gonna close this

[2020-06-18 08:57] #54 closed

[2020-06-19 05:12] MaskyS opened #55 "Are there plans to develop a similar package for Stream's Activity Feeds service?"
Title. Stream is an extremely interesting product and company. Having a flutter package for your other service would lead to much more widespread use, especially considering Flutter's meteoric rise. Are there any plans to do so, or any works-in-progress the community can contribute to?

[2020-06-22 07:53] imtoori commented on #55
Hey!
At the moment there is no implementation of Stream Feeds in Flutter, but for sure it's in our plans
Thanks for the interest!

[2020-06-22 07:53] #55 closed

[2020-06-23 13:50] imtoori commented on #52
I think this is solved, I'll close it. Reopen it if there is any problem

[2020-06-23 13:50] #52 closed

[2020-06-23 14:49] imtoori commented on #51
@Okdone do you still have the same problem?

[2020-07-06 13:42] imtoori commented on #53
hey! the new version has read indicators

however, at the moment our backend does not support delivered indicators

[2020-07-06 13:42] imtoori commented on #26
the new stable version has this feature now :)

[2020-07-06 13:42] #26 closed

[2020-07-07 07:10] brizaldi commented on #53
is there any example that explain this feature?

[2020-07-07 08:35] imtoori commented on #53
By default, you should see all the read indicators when available.

You can also override the behaviour passing a `MessageBuilder` in the `MessageListView` widget` and setting the `readList` as you prefer.

However, I'll make sure to dedicate a page in the docs for this feature

[2020-07-07 08:59] brizaldi commented on #53
i dont know why but `readList` is always null, even though the other user already read the chats

[2020-07-08 08:23] imtoori commented on #53
Is the user in the `channel.state.read` list?
Note that the user must be a channel member to be included in the list

[2020-07-08 09:55] brizaldi commented on #53
yup, my user is always member of the channel since our app is only using one-to-one conversation

[2020-07-08 12:33] imtoori commented on #53
what about this?

[2020-07-09 00:52] brizaldi commented on #53
Nevermind, its always null because we didn't put `channel.state.read` on the `readList` parameter. Maybe you should put it in the documentation, thanks for responding 👍

[2020-07-09 01:03] pixnbit commented on #47
I was confused with that builder usage under MaterialApp and got rid of it, then I saw the same message error. I also use named routes.
It's not a clean solution, having the StreamChat initialized this early and at such high scope. Look forward to the better solution. And in the meantime, maybe you can comment in the sample code that `builder:` was a temporary hack.

[2020-07-09 01:24] pixnbit opened #56 "Side by side support for channel list and message list"
What would be the best approach to have a side by side chat experience? I'm developing an app that supports tablet screen width. Looks like route navigation is already built-in so clicking on a channel would just push open the provided channelWidget?

[2020-07-09 07:34] brizaldi opened #57 "WARNING (moor): It looks like you've created the database classOfflineStorage multiple times."
i got this warning message after disconnect from current client using `client.disconnect();` and then set a new user using `_client.setUser()`

<details>
  <summary>error warning</summary>

[code]
</details>

i dont know if i should be concerned or it just a false warning message

[2020-07-09 08:34] imtoori commented on #53
yes that's what I was saying [here](https://github.com/GetStream/stream-chat-flutter/issues/53#issuecomment-654691616)

and yes, I'll write some specific doc thanks

[2020-07-09 08:35] imtoori commented on #56
That's a very cool example to make
I'll make it as soon as possible and add it to the example folder

[2020-07-09 08:45] imtoori commented on #57
do you await `client.disconnect()`?

[2020-07-09 08:51] brizaldi commented on #57
yes, here's what i do to disconnect

[code]

[2020-07-09 13:05] imtoori commented on #57
I'm trying different cases in the example app, but I never have that warning.

What version of the SDK are you using?

[2020-07-09 13:30] imtoori commented on #47
I think that's true, but you can always just initialize the client and call `client.setUser` deeper in the tree.
That was the simplest way to avoid to pass the `StreamChat` widget on every `Navigator.push`.

We're trying to find a better solution by the way.

[2020-07-10 01:32] brizaldi commented on #57
<details>
  <summary>flutter doctor -v</summary>

[code]
</details>

stream_chat_flutter version 0.2.1

[2020-07-16 08:29] firsttimeeagle opened #58 "Block channel"
is there a way to block a channel so that all of the channel members no longer be able chat on that channel, and the blocked channel did not appear on channel list?

[2020-07-16 08:42] firsttimeeagle commented on #58
or maybe block a user so that user no longer be able to initiate chat with us

[2020-07-16 08:55] imtoori commented on #58
hi! you may want to take a look to
- Channel hide: https://getstream.io/chat/docs/channel_delete/?language=kotlin&q=hide
- User ban: https://getstream.io/chat/docs/moderation/?language=kotlin&q=ban

[2020-07-16 09:06] firsttimeeagle commented on #58
in my case its one-on-one conversation, both of that method that you've provide doesn't satisfy my requirement for blocked channel because:

- channel hide: the other user can still see, access, & use the channel because hiding channel only apply to one user not both user
- user ban: only admin & moderator can ban user from the channel, what about one-on-one conversation?

[2020-07-16 10:02] imtoori commented on #58
for this I think you can just remove the members from the channel

you should use a server-side SDK

[2020-07-16 10:08] imtoori commented on #58
for this I think you can use user mutes https://getstream.io/chat/docs/moderation/?language=kotlin#mutes
also banning users is possible on server-side SDK

[2020-07-16 10:26] firsttimeeagle commented on #58
what do you mean with server side SDK? is this it? https://getstream.io/chat/docs/server_side_api/?language=dart

[2020-07-16 11:48] imtoori commented on #58
yes, those are the server-side SDKs

[2020-07-20 06:13] KieranLafferty opened #59 "Building for Web"
When building via `flutter run -d chrome --verbose` web I get the following:

[code]
I've tried various things from this repository to try and get it working with no success https://github.com/rodydavis/moor_shared

Could you please provide a sample web target for this project to get started with this on Web?

gz#4510

[2020-07-20 07:07] shodgetts commented on #59
Agent comment from Séni Gueye in <a href='https://getstream.zendesk.com/agent/tickets/4510'>Zendesk ticket #4510</a>:<br><br>Hi,

Thanks for getting in touch.
I'm passing this on to our Flutter development team for more insights.
We'll get back to you shortly.

Best regards,
Seni

[2020-07-20 07:46] imtoori commented on #59
Hi @KieranLafferty,
I'm sorry but at the moment we have no example on Web.
The biggest problem right now is the moor library: we need to implement the web part, but I didn't look into that yet.
The good news is that web support it's in our backlog, we'll keep you updated

[2020-07-20 07:46] #58 closed

[2020-07-20 18:54] KieranLafferty commented on #59
thanks @imtoori this repo has a working example of moor on web/ios/android/mac/windows/linux if you need a reference point https://github.com/rodydavis/moor_shared

[2020-07-21 01:32] firsttimeeagle opened #61 "change message text link color"
so, my message contains link and its color is always blue, is there a way to customize that link color?

gz#4536

[2020-07-21 03:58] saifudin commented on #61
This happened to me too. any advice besides changing the bubble color ?
Thanks..

<img width="309" alt="Screenshot at Jul 21 10-47-24" src="https://user-images.githubusercontent.com/3888015/88010739-ce230080-cb3f-11ea-98fb-fd0ec1f7a09e.png">

[2020-07-21 05:37] pixnbit commented on #56
Do you have a timeline for this?

[2020-07-21 09:22] #61 closed

[2020-07-21 09:29] imtoori commented on #61
I just released a new version adding `messageLinks` to the `MessageTheme` class

[code]

a little example on how to customize the link color

[2020-07-21 09:46] firsttimeeagle commented on #61
wow, thank you, already tried it and works perfectly

[2020-07-21 13:30] shodgetts commented on #59
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/4510'>Zendesk ticket #4510</a>:<br><br>Closing ZD ticket, feature request

[2020-07-22 20:48] KieranLafferty commented on #59
Just a follow up to this. I've found that simply including `stream_chat_flutter` as a dependency in my project breaks the entire project's ability to build/run on flutter. Even if adding web support isn't something that will happen soon could you fix the build issues that arise from including this as a dependency on web

here's the error I get

[code]

[2020-07-26 17:35] yswtrue opened #63 "How can i open ChannelPage out of ChannelListPage"
I have followed the guide create the ChannelListPage and ChannelPage, and it works fine for me. But now I want to open a one to one conversation, but when I navigate to StreamChannel, it keeps on loading, and I don't know how to make it work. Help me, please.

This is my code.
[code]

and these is how to navigate to channel page. These code is in other place to jump to ChannelPage.
[code]

and the

[2020-07-26 17:57] yswtrue commented on #63
I have found the solution, this works for me.
[code]

[2020-07-26 17:57] #63 closed

[2020-07-27 12:58] imtoori commented on #63
you can also use `conversation.watch` to create and watch the conversation at the same
it will also be added to the channel list

[2020-07-28 06:30] yswtrue opened #64 "How to listen onTap of the channel message list avatar."
How can I listen on the tap event of the message list avatar, such as click avatar to jump to user profile page? I couldn't find the param.

gz#4659

[2020-07-28 07:15] yswtrue commented on #63
It works for me, thanks.

[2020-07-28 07:35] imtoori commented on #64
you can pass a `MessageBuilder` to the `MessageListView`
It has a parameter called `onUserAvatarTap`

Something like this:
[code]

There is also an example in the `/example` folder, but we're planning to write more docs about this and other use cases

[2020-07-28 07:44] yswtrue commented on #64
It worked, thank you

[2020-07-28 07:52] #64 closed

[2020-07-28 07:59] imtoori commented on #59
@KieranLafferty I'll try to do it, but it's not our first priority given that Flutter web is still in beta

[2020-07-30 06:56] yswtrue opened #65 "Hope support for sorting channel list by custom fields"
I need to put system_message channel and customer_message channel on the top of channelsPage, but I can't sort by a custom field like `priority`. Hope support for sorting by custom fields.

gz#4687

[2020-08-02 16:41] yswtrue opened #66 "When I hide a channel, and the channel can't auto display again."
When I hide a channel, and channelsListView won't auto display when receiving a message, and I have to refresh channelsListView manually.

gz#5111

[2020-08-03 13:55] imtoori commented on #56
Hi @pixnbit, you can find an example in the `/example` folder
Let me know if that works for you

[2020-08-03 14:09] pixnbit commented on #56
Thank you! Just in time, I just came back working on this

[2020-08-03 14:09] #56 closed

[2020-08-04 17:48] shodgetts commented on #65
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/4687'>Zendesk ticket #4687</a>:<br><br>You can sort by custom channel fields. Can you share how you're using `channellistview` and the `sort` parameter you're using, please?

[2020-08-04 23:54] originalgovernment opened #68 "addMembers"
Hi,

I'm currently trying to figure out how to add members to a channel.

This is the call I'm making but it seems to be resulting in a Dio related error (unable to encode an object)

I'm not really sure if I'm calling the function incorrectly or if this is a problem with Stream Chat. I'd really appreciate any guidance!

Please let me know if you need to see more of my code.

![image](https://user

[2020-08-05 07:48] imtoori commented on #66
Hey @yswtrue, the last release should solve this problem

[2020-08-05 07:48] #66 closed

[2020-08-05 08:28] yswtrue commented on #65
[code]
this is my ChannelListView code.

[2020-08-05 08:50] imtoori commented on #68
hey @originalgovernment you were right
I just released a new version.
Now you can pass a list of userIds like the documentation says.
Thanks for the reporting

[2020-08-05 08:50] #68 closed

[2020-08-05 12:55] originalgovernment commented on #68
Just tried it, it's working perfectly now.

Thank you for your quick response and for patching it!!

[2020-08-05 15:26] imtoori commented on #65
hey @yswtrue I did some research and found out that you should keep in mind that the sorting fields are first transformed to `string` before being compared, so you should pad your priority field

eg: not `1` but `01`

check it here https://play.golang.org/p/GvJV0E5Sj2_4

however, this raises a bug related to channels being pushed to the top of the `ChannelListView` when they receive a new message.

[2020-08-10 09:48] yswtrue opened #71 "Hope add support for voice chatting and video chatting"
We have embedded this chat SDK, and now we need to add voice chatting and video chatting, I had read the document, but Voxeet doesn't have a flutter SDK yet.  is there any plan of voice chatting and video chatting?  Thanks.

gz#5219

[2020-08-10 09:49] yswtrue commented on #71
and voice chat is record audio then send to the channel, not real-time one.

[2020-08-10 20:59] shodgetts commented on #71
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/5219'>Zendesk ticket #5219</a>:<br><br>There are no plans to add this functionality, sorry.

[2020-08-17 07:46] imtoori commented on #71
I think you can implement this using custom attachments

[2020-08-17 09:17] #71 closed

[2020-08-17 09:23] #29 closed

[2020-08-17 09:24] #15 closed

[2020-08-17 09:26] #31 closed

[2020-08-20 18:02] pixnbit opened #72 "Missing "teams" field for a user"
We're blocked by the fact that the `teams` field is missing from a user. Other SDKs have this, and we're working on a multi-tenant/team feature, and we cannot make queries providing the team info of a user.

[2020-08-20 18:35] shodgetts commented on #72
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/5458'>Zendesk ticket #5458</a>:<br><br>directing this to an engineer as soon as possible.

[2020-08-21 04:04] pixnbit commented on #72
Actually found it in the `extraData` map field, it works now, but need a bit documentation.

[2020-08-21 08:13] imtoori commented on #72
hey @pixnbit it should be added to the user as a normal field
at the moment you can use extradata, but I'll add it as a normal field asap

[2020-08-25 03:35] brizaldi opened #74 "Custom url handling"
In the current version, when the user presses the url it will launch/open the url in the browser.

Please add a parameter for custom url handling, for example in my case, when the user click the link it will open a new page inside the application.

gz#5536

[2020-08-25 13:17] imtoori commented on #74
Added `onLinkTap` property to `MessageWidget` in version 0.2.6

[2020-08-25 13:17] #74 closed

[2020-08-25 13:18] imtoori commented on #65
@yswtrue did you solve your problem?

[2020-08-26 05:51] yswtrue commented on #65
I sort by message type now, so I haven't tried this solution.

[2020-08-28 12:27] yswtrue opened #76 "When use server-side Presend Message Hook return error, the message createdAt field is not correct"
When I use the server-side hook and block user send messages to another, but the createAt field of the error message is not correct.
look like this.
![image](https://user-images.githubusercontent.com/1270490/91560538-955f1e00-e96c-11ea-990c-142bb2d3849e.png)

gz#5629

[2020-08-28 12:38] yswtrue commented on #76
I have followed this document
'https://getstream.io/chat/docs/presend_message_hook/?language=python'

and then return the error message:
[code]

[2020-08-28 13:27] imtoori commented on #76
Hey @yswtrue

It seems that this is a server-side problem.
The issue has been reported to our backend team and it will be fixed asap.
I'll let you know once it's fixed.

Thanks for reporting it

[2020-09-01 13:00] imtoori commented on #76
@yswtrue the backend bugfix has been deployed to production

[2020-09-01 13:00] #76 closed

[2020-09-03 04:48] veyhong opened #77 "Unable to run example at all on device. StatusCode":401,"
[code]

gz#5725

[2020-09-03 04:55] shodgetts commented on #77
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/5725'>Zendesk ticket #5725</a>:<br><br>Hi

Please let us know what are you specifically looking for. Thanks.

Cheers
Seetha

[2020-09-03 05:03] veyhong commented on #77
Hi @shodgetts thank u for replying, I am trying to run the example folder provided in this git repo.
Let me described what I did.

I got API Key from Stream dashboard, I replace in file bellow : **main.dart**

[code]

when I run using this command: `flutter run -d all ` it did run, but I receive this **401** error stated that` received new event: {"error":{"code":43,"message":"Connect failed with

[2020-09-03 05:32] shodgetts commented on #77
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/5725'>Zendesk ticket #5725</a>:<br><br>Hi

You can generate your token using this code. This is in JS though.

    const test = async () => {
        const client = new StreamChat(
          "api_key",
          "api_secret",
          { timeout: 3000 }
        );

        const token = await client.createToken("User

[2020-09-03 07:52] imtoori commented on #77
Hi @veyhong
It's not possible to create the token using the SDK, you should create it server-side (https://getstream.io/chat/docs/tokens_and_authentication/?language=dart)
For development you can also use our token generator (https://getstream.io/chat/docs/token_generator/?language=dart)

[2020-09-03 08:33] veyhong commented on #77
Thank  @imtoori and @shodgetts , it work now.

[2020-09-03 08:38] #77 closed

[2020-09-03 10:06] veyhong opened #78 "Blank screen when run main.dart in example"
when I run: `flutter run -t lib/single_conversation.dart -d all` everything work fine.
but when I try to run main.dart by : ` flutter run -t lib/main.dart -d all` it show blank screen!

<img width="1440" alt="Screenshot 2020-09-03 at 5 01 57 PM" src="https://user-images.githubusercontent.com/13130694/92101650-a0e89400-ee07-11ea-90c6-2d78a95f1570.png">

It seem like in the main.dart do not create a

[2020-09-03 13:43] imtoori commented on #78
it seems like you have no channels that match your filter

[2020-09-03 15:22] veyhong commented on #78
seem like in the main.dart, there is not code that create any channel.

[2020-09-03 15:40] imtoori commented on #78
that's true, but intentional

have you followed the tutorial? https://getstream.io/chat/flutter/tutorial

this is the documentation on how to create channels https://getstream.io/chat/docs/initialize_channel/?language=dart

[2020-09-03 15:58] veyhong commented on #78
I have follow the tutorial, and the sourcecode in example is the end result. So if I wanted to build something like a groupchat, many users will watch on the same channel, is that correct ? to implement it, if a user created a channel, other user just need to watch on that channel, and pass messages to that channel, and there is no need to create channel any more on other user device ?

It would b

[2020-09-04 07:27] imtoori commented on #78
I can suggest to take a look at our [documentation](https://getstream.io/chat/docs/?language=dart)
For a groupChat you need to create a channel with the users as members and then everyone will see the channel in the channellist, but you need to use proper filters

[2020-09-04 08:35] veyhong commented on #78
What I did for now is , I run app using `single_conversation.dart` with a user. then I run `main.dart `with another different user. but still `main.dart` not showing any channel list. but it receive message from` single_conversation.dart`

[2020-09-04 09:36] veyhong commented on #78
I found out this code in tutorial to create a channel, is there any equivalent method in flutter SDK to setup a channel ?

[code]

[2020-09-04 10:11] imtoori commented on #78
yes, as I said in the documentation you can find everything

https://getstream.io/chat/docs/initialize_channel/?language=dart

this is the section for creating channels

[2020-09-07 09:19] tbarbugli commented on #78
@imtoori for the demo application what about we show some message when the channel list does not match anything?

ie.

[code]

Adding the + button to create a channel will also help (though you need to show a similar message when there are no users to chat with)

[2020-09-07 09:23] imtoori commented on #78
@tbarbugli it's a good idea and it will solve this kind of problems

[2020-09-15 08:49] Aftab-Werq opened #80 "Cannot view the list of people reacting to a message in FLutter. Had it in Native and React SDK"
We've used Native and React SDK's in the past for Chat and it had the option to view the name of the people who've reacted to the message. Unable to see any option here in Flutter.

gz#5991

[2020-09-15 15:45] themadmrj opened #81 "Chat UI kit usability without Client?"
Is the chat UI kit usable with my own backend, without registering for an api key?

gz#6000

[2020-09-15 15:46] imtoori commented on #81
Hi @themadmrj
Sorry but it's not, it's done specifically for the Stream Chat Service

[2020-09-15 15:46] #81 closed

[2020-09-22 10:13] imtoori commented on #80
Thanks for reporting this issue
I added it to our backlog

[2020-10-01 09:12] imtoori commented on #78
@veyhong in the example app you can find a simple example of channel creation

[2020-10-01 09:12] #78 closed

[2020-10-06 03:01] cemozerr commented on #80
How soon do you expect to implement this feature? It's pretty critical for my needs.

[2020-10-06 15:12] imtoori commented on #80
Hi @cemozerr we are working on it right now

[2020-10-09 11:08] #80 closed

[2020-10-14 19:41] troy379 opened #102 "Add custom separator support for ChannelListView"
**Is your feature request related to a problem? Please describe.**
I'm using the `ChannelListView.channelPreviewBuilder` method to create my own UI for channel previews, but I can't use my own separator style.

**Describe the solution you'd like**
Could you add the `ChannelListView.channelPreviewBuilder` so I can do this?

**Describe alternatives you've considered**
At least, it would be ok to hav

[2020-10-15 10:07] imtoori commented on #102
In the latest release you can find a `ChannelListView.separatorBuilder` parameter!
Thanks for the feature request :)

[2020-10-15 10:07] #102 closed

[2020-10-15 12:03] troy379 commented on #102
Supersonic speed! 💪

[2020-10-16 12:57] imtoori commented on #59
Closing this since now the SDK builds on for web

[2020-10-16 12:57] #59 closed

[2020-10-21 22:25] orestesgaolin opened #109 "Cannot build example app for Android emulator"
**Describe the bug**
When trying to run the example on Android emulator the app fails to build.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repository and open example app
2. Paste your own google-services.json file and edit the bundle id in build.gradle
3. Launch the main.dart on Android Emulator running API 29
4. Observe build errors in the console (see logs)

(_I also tried

[2020-10-22 08:49] imtoori commented on #109
probably linked to this https://github.com/miguelpruivo/flutter_file_picker/issues/455

[2020-10-22 08:54] imtoori commented on #109
found the solution https://github.com/miguelpruivo/flutter_file_picker/wiki/Troubleshooting#android
I'm fixing it

[2020-10-22 09:15] #109 closed

[2020-10-23 09:40] rohan20 opened #111 "Unread Messages Count doesn't go away"
**Describe the bug**
The unread messages count doesn't go away on tapping a channel and returning from it to the channels list.

**To Reproduce**
Use `stream_chat_flutter: ^0.2.10`

Steps to reproduce the behaviour:
1. From the channel list, go to a channel that displays an unread message counter (let's zero "7" messages).
2. Go back to the channel list
3. Observe that the unread message counter (

[2020-10-26 11:53] rohan20 commented on #111
The issue was on our end. The stream chat user for which the unread counter wasn't going away was not a member of the stream chat channel. Closing this issue.

[2020-10-26 11:53] #111 closed

[2020-11-10 10:22] pdura opened #132 "Losing registered devices after doing client.setUser"
Hi Guys,
I've got a weird problem with registered devices for a user.

- I launch my application, setup flutter client, get my firebase token and send it to StreamChat API using my server with the python SDK. it's working really well. The token is registered for my user, and notifications are received.

- Then, as soon as I do
[code]
I do lose my firebase token, even if I don't have any errors on

[2020-11-10 11:59] shodgetts commented on #132
Agent comment from Séni Gueye in <a href='https://getstream.zendesk.com/agent/tickets/7241'>Zendesk ticket #7241</a>:<br><br>Hi,

Front-end tokens are not returned in setUser() response, or users objects either.
Also, I see you're referring to a firebase token.
Can you tell me more about it? Is it a JWT token? Could you please share the code where generating the token using Python server-side SDK?

[2020-11-10 12:12] pdura commented on #132
Hi,
Yes sorry I haven't put that code, and I might miss details. Code below.
[code]

Explanations :

1. Server side, I'm generating the User JWT token using `create_token` below. That's for the auth part and it's working like a charm.

2. Flutter side, I launch the app, setup client, and get my device token for notifications and push it to my own server.
That's also working well.
`
final FirebaseM

[2020-11-11 08:46] imtoori commented on #132
Hi @pdura
I'm trying to understand what's going on here
A weird thing is that now it's working using `client.setUserWithProvider`, because this does the same API calls as `client.setUser` does
Do you have any update on your side?

[2020-11-11 13:58] pdura commented on #132
Ok guys, I think I found how I'm losing my devices token.
Sounds like it's linked to connecting a client without the correct base_url.

I can reproduce my problem doing the following
- On Stream, Create a chat app located in dublin
- On flutter, setup a client with the base_url = 'https://chat-proxy-dublin.stream-io-api.com'.
With that one, register a device token for a user. The device token on s

[2020-11-11 14:19] imtoori commented on #132
Yeah, by default the SDK uses `chat-us-east-1.stream-io-api.com` as base_url and of course, you want them to point to the same instance
I'm happy that you found it, I'm gonna close this issue

[2020-11-11 14:19] #132 closed

[2020-11-27 04:40] bratlove123 opened #155 "'package:flutter/src/widgets/layout_builder.dart': Failed assertion: line 157 pos 12: 'slot == null': is not true."
**Describe the bug**
Got error when I started chatting. The UI is hang:

'package:flutter/src/widgets/layout_builder.dart': Failed assertion: line 157 pos 12: 'slot == null': is not true.

Flutter doctor:
[✓] Flutter (Channel beta, 1.24.0-10.2.pre, on macOS 11.0.1 20B29 darwin-x64, locale en-AU)
[✓] Android toolchain - develop for Android devices (Android SDK version 29.0.3)
[✓] Xcode - develop fo

[2020-11-27 10:38] imtoori commented on #155
Hi @bratlove123
what version of the package are you using

[2020-11-30 02:18] bratlove123 commented on #155
Hi @imtoori . I'm using the latest version
stream_chat_flutter: ^0.2.1

[2020-11-30 08:40] imtoori commented on #155
@bratlove123 the latest version is 0.2.14
I think you copied from the README, I'll update it removing the specific version
Can you try using version ^0.2.14?

[2020-11-30 08:47] bratlove123 commented on #155
Actually I'm using 0.2.3, that is the latest version.
<img width="560" alt="image" src="https://user-images.githubusercontent.com/16585807/100587560-4cc84f80-3323-11eb-8254-2974a143d2bb.png">

[2020-11-30 09:10] imtoori commented on #155
you can check on [pub.dev](https://pub.dev/packages/stream_chat_flutter)
the latest version is 0.2.14

[2020-12-01 04:01] bratlove123 commented on #155
Thanks for your sp. The new version work good.

[2020-12-01 04:02] #155 closed

[2020-12-02 17:58] brbatwork opened #164 "emptyBuilder for MessageListView"
**Is your feature request related to a problem? Please describe.**
It would be nice to have an emptyBuilder function passed into MessageListView so that I can render a custom message when a user selects a channel that has no messages.  This would behave similar to [EmptyStateIndicator](https://github.com/GetStream/stream-chat-react/blob/e173df151959cb6331e314dfccea185739af418a/src/components/Messa

[2020-12-03 06:03] xsahil03x commented on #164
@brbatwork thanks, that's a valid usecase.

[2020-12-09 21:10] brbatwork opened #175 "Crash while app in background disconnecting"
**Describe the bug**
There is a small window of time where an event can come in and cause this error while the websocket is disconnecting.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1.  Place the app in background
2.  Send in another message at just the right time while the app is disconnecting, then it will try to start the healthcheck again and add to the channel sink that is alre

[2020-12-09 21:51] shodgetts commented on #175
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/7920'>Zendesk ticket #7920</a>:<br><br>Hi,

Thanks for reaching out. We are looking into this for you and will be in touch soon. Please let us know if you have any other questions in the meantime.

Best,
Ryan

[2020-12-10 09:17] apgapg commented on #45
To better handle this I have created certain extensions on BehaviorSubject:
https://gist.github.com/apgapg/a520872c263b70bcfec52da0d7c221ec

[2020-12-11 22:45] imtoori commented on #175
Definitely not easy to reproduce, I'm struggling to do it
I'll update you if I manage to

[2020-12-13 02:39] jinfagang opened #176 "File google-services.json is missing. The Google Services Plugin cannot function without it. Searched Location:"
[code]

Hi, in China, hard to using google services, is this necessary? I really want using this in China.

gz#7997

[2020-12-13 10:04] imtoori commented on #176
Hi! It's not
That's just the sample app that has firebase notifications support
Try the tutorial at https://getstream.io/chat/flutter/tutorial

[2020-12-13 10:04] #176 closed

[2021-01-06 05:02] sabin26 opened #192 "[HELP] How to handle decryption of messages before displaying them on the chat view or notification ?"
I have encryption and decryption feature on my application. So, I need to decrypt the message before showing it on notification or chat view. I did not find any example on how to handle them.
Is there a way I can call a function (where I decrypt the messages) before saving it on the device?

gz#8430

[2021-01-06 13:10] SeniYG commented on #192
Hi,

Stream does not provide any built-in solution for message encryption/decryption.
Virgil is probably one of the better options for integrating E2E encryption with Stream. Your other good option would be tanker.io.

Here's a blog post on using Virgil with Stream React SDK
https://getstream.io/blog/building-an-end-to-end-encrypted-chatbot-with-stream-react-chat-virgil-security-and-google-dialogf

[2021-01-06 19:49] pixnbit opened #195 "Enabling push notification"
We recently enabled the push notification for the Stream Flutter SDK. There're different options, the easiest is relying on FCM for both iOS and Android, and let the FCM framework handling the iOS APNS:

- Setting up FCM would just be from the official Firebase FCM tutorial/walkthrough.
- In Flutter code, we would just provide the FCM token to the Stream client.
- In the Stream web portal, we woul

[2021-01-06 19:59] shodgetts commented on #195
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/8453'>Zendesk ticket #8453</a>:<br><br>Hi,

Thank you for providing this information. I will reach out to our team internally and get back to you.

Best,
Ryan

[2021-01-07 09:14] imtoori commented on #195
At the moment you can use firebase only on android and apns on iOS.
You could also use a webhook to generate your own notifications so that you can use fcm for both platforms.
The best way at the moment I think it is to use this flutter package https://pub.dev/packages/flutter_apns

By the way we're working on a new version of our notification service that enables the possibility to use firebase o

[2021-01-07 09:35] sabin26 commented on #192
I have my own implementation of encryption and decryption. I just want to know if I can call a function to process the message before displaying it to user via notification or in chat.

[2021-01-07 09:53] alpfactory-alex commented on #195
When would this new notification service be available? And we could use only firebase then for both systems on flutter apps?

[2021-01-07 10:20] sabin26 commented on #192
Adding custom widget is a good way but I believe the app will decrypt the message each time to display on chat. If stream chat saves the message on local db of user's device, can't I just decrypt and then save it ? In doing so, will the decrypted message be exposed to stream backend ?

[2021-01-07 20:58] pixnbit commented on #195
This is actually contrary to what I saw, FCM works on iOS too (with the FCM/APNs setup for Flutter), unless I miss something..

[2021-01-08 05:03] damithsynapsys commented on #50
@imtoori Hey,
this was happening the react-native also.

[2021-01-08 08:16] imtoori commented on #50
Hey @damithsynapsys this should be solved by now, do you still have this issue?

[2021-01-08 08:52] damithsynapsys commented on #50
yes, @imtoori. here are my environment details.
    "react": "16.13.1",
    "react-native": "0.63.4",
    "stream-chat": "^2.8.0",
    "stream-chat-react-native": "^2.1.1",

"if User A is showing "5 mins back" to User B and we stop the application on user B and then start application on user A send a message and stop it, it should show "few seconds or 1 min" back on user B but it shows "6 mins" ba

[2021-01-08 10:02] imtoori commented on #50
Can I ask you to contact support for this issue?
Here we're supposed to have only flutter-related issues
@damithsynapsys

[2021-01-11 08:44] imtoori commented on #192
The sdk saves the messages as they come from the backend. You can decrypt them before showing them using a custom widget.
I understand your request, but I think this is the easiest way to do it

[2021-01-11 08:45] imtoori commented on #195
@pixnbit are you using the package flutter_apns?

[2021-01-11 18:16] pixnbit commented on #195
No I did not use flutter_apns, I used Flutter firebase messaging plugin: https://firebase.flutter.dev/docs/messaging/apple-integration

[2021-01-12 01:08] koishi opened #206 "Transition to ChannelPage when using Customize Channel Preview"
I refer to tutorials and example code.
- https://getstream.io/chat/flutter/tutorial/
- https://github.com/GetStream/stream-chat-flutter/blob/master/example/lib/customize_channel_preview.dart

I have a question about customizing the channelPreview using channelPreviewBuilder in ChannelListPage.

How should I implement the transition to the ChannelPage?
In the current tutorial and example code, tapp

[2021-01-12 01:26] shodgetts commented on #206
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/8556'>Zendesk ticket #8556</a>:<br><br>Hi

Thanks for reaching out to us.
We will check this and get back to you soon.

Cheers
Stream Team

[2021-01-12 02:28] Nash0x7E2 commented on #206
Hi @koishi! Thank you for bringing this up. I had a look at the code and made a change.

In `_channelPreviewBuilder`, you can implement `onTap` then call the navigator to push a new route. In this case, we can use `MaterialPageRoute` to push a new instance of `ChannelPage`.

Since `ChannelPage` relies on an inherited widget for obtaining the current channel, we wrap the page using a `StreamChannel

[2021-01-12 02:28] #206 closed

[2021-01-13 05:15] #192 closed

[2021-01-14 10:23] jamesbgl commented on #53
Hi - I am trying to understand if it's possible to hide the read list - I have some chat groups where this is unwieldy, but I cannot find a way to use a custom messageBuilder at the same time as a threadBuilder - seems like if you use threadBuilder then you cannot use a custom messageBuilder in the root level MessageListView.

[2021-01-14 12:13] imtoori commented on #53
hey @jamesbgl it's possible to use a custom messageBuilder at the same time as a threadBuilder, I just tested it in a sample app

[2021-01-14 12:32] xsahil03x commented on #53
Hey @jamesbgl, yes currently it's not possible to use `threadBuilder` if you use a `custom message widget`. But it's easy enough to open the thread screen by navigating to it. We internally do the same when `threadPressed` is called

[code]
Let us know if you face any problem 😃

[2021-01-14 13:05] jamesbgl commented on #53
Thanks for the quick reply! my issue is not the thread page, it's the root level that is the problem. I've got 100's of people in my readList and I do not want to show a list of avatars for the users at all. As it stands, the UI overflows and users have to download hundreds of avatar URLs which is slow and inefficient. Makes sense for me to simply not show them at this scale.

My current workaroun

[2021-01-15 09:21] imtoori commented on #53
Hey @jamesbgl
What do you think of using the messageBuilder to build the message using our MessageWidget?
Something like this
[code]

without passing the readList.

This is just an example, but you can customise it how you want

[2021-01-15 09:44] jamesbgl commented on #53
I found if I try to have threads, then I cannot provide a custom messagebuilder.

For example, if I uncomment the second line below, then threading functionality is gone completely.

`MessageListView(
            //messageBuilder: _messageBuilder,
            threadBuilder: (_, parentMessage) {
              return ThreadPage(
                parent: parentMessage,
              );
            },

[2021-01-15 09:48] jamesbgl commented on #53
Got it, thank you!

[2021-01-15 10:05] #53 closed

[2021-01-18 07:24] jamesbgl opened #216 "Only one user can give a particular reaction"
Once a reaction has been made by a user, no other user can add the same reaction. I believe this is not the intended behaviour.

https://github.com/GetStream/stream-chat-flutter/blob/05fd5858f46531fa53e10899b8816b6015250b90/lib/src/reaction_picker.dart#L34

gz#8677

[2021-01-18 08:14] hiashutoshsingh opened #217 "Assertion failed: file flutter_apns/FlutterApnsPlugin.swift, line 100"
**Describe the bug**
Example app crash on running in iOS. Iphone 11 emulator.

**To Reproduce**
Steps to reproduce the behavior:
1. flutter pub get
2. cd example
3. flutter run

App crashes.

[code]

gz#8678

[2021-01-18 08:15] hiashutoshsingh commented on #217
What i am missing here do i have to add something up to run the example app ?

[2021-01-18 09:24] #217 closed

[2021-01-18 09:25] deven98 commented on #217
Hi @hiashutoshsingh , this should be fixed now.

[2021-01-18 11:01] imtoori commented on #216
hey @jamesbgl it was a matter of visualization
I think now it's good
btw, we are working on a new version of the UI sdk that will be released soon and I think will solve these kind of small issues.

And thanks for reporting the issue :)

[2021-01-18 11:01] #216 closed

[2021-01-25 13:09] cliffofdeath opened #234 "Example not executable due to missing file"
The sample app can't be executed due to missing the google-services.json file.

Output:

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:processDebugGoogleServices'.

   Searched Location:
  /Users/beni/projects/stream-chat-flutter/example/android/app/src/nullnull/google-services.json
  /Users/beni/projects/stream-chat-flutter/example/android/app/src/de

[2021-01-25 13:10] imtoori commented on #234
Hi @cliffofdeath
you should put a custom google-services.json or just run one of the other example using
`flutter run -t lib/multiple_conversation.dart` for example

[2021-01-25 13:25] cliffofdeath commented on #234
Hi @imtoori
Thanks for your quick reply.
But the other examples neither work, sample problem. I don't see why I need the google-services.json. Should I connect the app to a firebase project?

[2021-01-25 13:43] imtoori commented on #234
Yeah, that's weird.
We added Firebase because we have push notifications in the sample app.
I can suggest going through the tutorial if you want to test the package. https://getstream.io/chat/flutter/tutorial/

Thanks for reporting the issue though, we'll see if there is a way to make it optional or probably we need to create a completely different sample project.

[2021-01-26 14:18] #51 closed

[2021-01-26 14:19] imtoori commented on #175
This should be fixed in the latest release

[2021-01-26 14:19] #175 closed

[2021-01-26 14:20] imtoori commented on #65
Closing this
Feel free to reopen it if this is still an issue

[2021-01-26 14:20] #65 closed

[2021-01-26 14:20] imtoori commented on #45
This should not happen anymore
Feel free to reopen it if you're still facing it

[2021-01-26 14:20] #45 closed

[2021-01-26 14:20] #50 closed

[2021-01-26 14:21] imtoori commented on #57
Closing this
Feel free to reopen it if you're still facing this issue

[2021-01-26 14:21] #57 closed

[2021-01-27 15:55] natchoz opened #237 "Unhandled Exception: DioError [DioErrorType.DEFAULT]: Exception: Already connected"
During chatting in the chat room, when token is expired, I have refresh token by using tokenProvider but I got this error and I cannot get any messages from others.
Any ideas?
Thank you very much

`I/flutter (12258): (2021-01-27 22:50:50.932579) ℹ️ 📡 set user
I/flutter (12258): (2021-01-27 22:50:50.972959) ℹ️ 📡 connecting
I/flutter (12258): (2021-01-27 22:50:50.973450) ⚠️ 📡 Already connected
E/flu

[2021-01-27 21:53] shodgetts commented on #237
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/8930'>Zendesk ticket #8930</a>:<br><br>Hi,

Thanks for reaching out! We will be in touch as soon as possible. Please feel free to let us know if you have any other questions in the meantime.

Best,
Ryan

[2021-01-28 19:14] natchoz commented on #237
I think I found bug inside `_tokenExpiredInterceptor,` when token is expired, `_ws.connectionStatus.removeListener(_connectionStatusListener);` cause the `wsConnectionStatus.value` still be `ConnectionStatus.connected` although `disconnect` gets called already so the next time when client tries to connect again then get error  Already connected and lost the connection.

So please fix this issue.
T

[2021-01-29 08:06] imtoori commented on #237
Thanks @natchoz
We'll fix it as soon as possible, thanks for reporting the bug and for the investigation

[2021-01-29 08:31] imtoori commented on #237
I was trying to reproduce the bug and I managed to, it turns out removing the listener was the cause of the bug.
A new version with the fix will be released soon.

[2021-01-29 09:47] imtoori commented on #237
@natchoz the latest version of the api client 0.2.24+2 contains the fix

you should be able to use it running
`flutter clean`
`flutter pub upgrade`

Let me know if that works :)

[2021-01-30 16:29] natchoz opened #247 "How to config push notification?"
Hi,

Currently, I'm doing push notification on Android and I follow the example but I cannot make it work. I cannot get any messages from other user via push message (app in the background and set token in GetStream dashboard already).

It works and I can get push message when sending with firebase command line `DATA='{"notification": {"body": "this is a body","title": "this is a title"}, "priorit

[2021-01-30 16:30] natchoz commented on #237
Thank you so much I will test and let you know asap.

[2021-02-01 00:24] shodgetts commented on #247
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/9004'>Zendesk ticket #9004</a>:<br><br>Hi

Thanks for reaching out to us.
We will check this and get back to you soon.

Cheers
Stream Team

[2021-02-02 16:12] imtoori commented on #234
closing this because we updated the example with a more minimal one that can run without the service.json

[2021-02-02 16:12] #234 closed

[2021-02-02 16:12] #237 closed

[2021-02-03 04:38] natchoz commented on #247
I can make push notification woking on Android but not tested on iOS yet so I will close this issue first.

FYI,
I'm using
- `flutter_apns`
- Save registered token in preference and call `addDevice` after `setUser`
- Add `<action android:name="FLUTTER_NOTIFICATION_CLICK" />` in `AndroidManifest.xml`and also add `FLUTTER_NOTIFICATION_CLICK` in GetStrem's dashboard so when getting push notification

[2021-02-03 04:38] #247 closed

[2021-02-03 14:24] shodgetts commented on #195
Hello, are you still having trouble here?

[2021-02-04 14:13] Goxiaoy opened #258 "StreamChatClient _connectCompleter should set back to null after disconnect"
**Describe the bug**
My app support user login and logout.
When use the same global `StreamChatClient `, `setUser` or `setAnonymousUser` can not be called after disconnect

**To Reproduce**
[code]

**Expected behavior**
new user be set

**Additional context**
[code]

gz#9161

[2021-02-04 14:17] xsahil03x commented on #258
Can you please mention the pubspec version of `stream_chat`.

[2021-02-04 14:19] Goxiaoy commented on #258
I am using the latest beta version
[code]

[2021-02-04 14:24] xsahil03x commented on #258
Thanks @Goxiaoy, we will try to replicate this and inform you of any update.

[2021-02-05 10:05] xsahil03x commented on #258
Hey @Goxiaoy, I tried to reproduce it but it worked fine on my end. Can you share a reproducible code for further investigation? Also, try to upgrade to the latest version and check If it is still failing.

[2021-02-05 10:42] Goxiaoy commented on #258
Oh I see
The following code will reproduce in lateset version or master.
[code]
Because the disconnect does not check `_connectCompleter`

[2021-02-08 07:07] xsahil03x commented on #258
Thanks @Goxiaoy, that's a valid check while `disconnecting` the client. But ideally, you should always await the `setUser()` functions.

[2021-02-08 16:33] luantrasel opened #260 "MessageListView pagination problem"
**Describe the bug**
I was trying to test the app performance, so to do that I configured the example app from this repo. Then I send 1 message to another user I also created and after that I created a button to send 150 messages one after the other (with 1 second of delay between them). Everything seemed to be ok, until I closed the app, opened it again on this same channel and scrolled up. When

[2021-02-08 16:50] imtoori commented on #260
Hi @luantrasel
what sample app are you using?
the one inside packages/stream_chat_flutter/example?

[2021-02-08 18:06] luantrasel commented on #260
@imtoori I was using the example app of the version 0.2.21

Now I saw that you have this new version 1.0.2-beta... On this version I did the same test with packages/stream_chat_flutter/example and it worked...

[2021-02-08 19:16] jackrichardson opened #262 "JWTAuth error"
**Describe the bug**
When connecting with the API key, the following error message appears:

**Additional context**
I believe this is being caused by a change that you made to the connection process. However, perhaps connections being made with stream-chat-flutter are not using the new process?

There appears to have been a similar issue reported in [stream-chat-android](https://github.com/GetStre

[2021-02-08 19:37] luantrasel commented on #260
@imtoori  I can see that you keep doing a lot of changes on the beta version... So I'd like to ask if there's a chance of you guys to fix it on the 0.2.21 version?

[2021-02-08 19:53] tbarbugli commented on #262
@jackrichardson do you get this error when you connect to chat or when there is a reconnection? If possible it would be great to get the logs from the request (URI, query params, ...)

[2021-02-08 23:33] jackrichardson commented on #262
False alarm, sorry. My code was faulty.

[2021-02-08 23:33] #262 closed

[2021-02-09 08:52] #258 closed

[2021-02-12 05:51] futebolbryant opened #264 "Quick Actions Collapsing Overflow Error"
**Describe the bug**
Overflow error when quick actions to the left of the message input collapse.

**To Reproduce**
Steps to reproduce the behavior:
1. Create clean flutter project
2. Update main.dart with code from tutorial-part-6.dart in examples
3. Start app on a physical iphone (mine is iOS 14.4 on iPhone 11 Pro (edit: this seems to be happening on all devices for me))
4. Open any channel
5. T

[2021-02-14 02:29] rohan20 commented on #45
@imtoori This still occurs on `^0.2.21`.

[2021-02-16 11:24] Goxiaoy opened #265 "StreamChannel can not handle initialMessageId parameter changes"
**Describe the bug**
 `StreamChannel._futures`  should not be initialized in 'initState', Once widget `initialMessageId ` parameter  changes from null to not-null,
https://github.com/GetStream/stream-chat-flutter/blob/896e8568576b58c4d1914f4b271a7cb654e29cc6/packages/stream_chat_flutter_core/lib/src/stream_channel.dart#L356-L357 will cauese index out of range  error

**Additional context**
This wo

[2021-02-16 11:34] imtoori commented on #265
hey thanks for reporting this issue!
your solution is ok, but probably doing this in the `didUpdateWidget` method would be better
I'll do it and see if it works

[2021-02-16 12:37] #265 closed

[2021-02-16 13:17] imtoori commented on #260
This beta version will soon become the stable one, but I'll see if we can fix this in the 0.x version
This is related to offline storage, right?

[2021-02-17 12:16] luantrasel commented on #260
@imtoori yes, I think so. Because when I disable offline persistence I don't have this problem

[2021-02-19 16:58] brbatwork opened #273 "Context is null when calling find findAncestorStateOfType"
**Describe the bug**
Seeing an error in the logs when bring our application into the foreground on iOS devices.  This is only in the logs, it does not effect missing any conversations from being listed in from a channel.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Place the application in the background on a page no messaging widgets
2. Bring the device back into the foreground
3

[2021-02-22 11:12] rohan20 commented on #59
@imtoori Can you please help figure out what I may be doing incorrectly? I have issues with `moor` on web and hence `setUser` fails.

![image](https://user-images.githubusercontent.com/8232573/108700545-0855e580-7507-11eb-8903-87626d4f132e.png)

I'm on `stream_chat_flutter: ^0.2.21`. I know `stream_chat_flutter` isn't compatible with Web but I assume that's only for the UI part? `setUser` should s

[2021-02-22 11:36] imtoori commented on #59
@rohan20 check out this section of the readme https://github.com/GetStream/stream-chat-flutter/tree/master/packages/stream_chat_persistence#flutter-web

I think this should work, even using the higher level package

[2021-02-22 15:57] rohan20 commented on #59
@imtoori Perfect! Thank you.

I also ended up using this to fetch the 2 files instead of getting them from the release: https://github.com/rodydavis/moor_shared

[2021-02-23 08:23] imtoori commented on #164
Added in the latest beta

[2021-02-23 08:23] #164 closed

[2021-02-25 14:17] troy379 opened #286 "Empty message created every time I'm trying to send a file."
**Describe the bug**
Empty message created every time I'm trying to send a file.

The files I tried to upload:
*PDF*: http://www.orimi.com/pdf-test.pdf
*CSV*: https://sample-videos.com/csv/Sample-Spreadsheet-10-rows.csv

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any channel;
2. Click on `+` on the `MessageInput`;
3. Select `Upload a file` and choose any file;
3. Wait until the fil

[2021-02-25 14:31] xsahil03x commented on #286
Can you also please mention the package version please.

[2021-02-26 08:18] troy379 commented on #286
@xsahil03x `stream_chat_flutter: ^0.2.21`

[2021-02-26 11:35] cliffofdeath opened #288 "Line breaks in messages are rendered as spaces"
**Describe the bug**
When sending chat messages containing a new line, the new line is not rendered when the message is display in the chat view. Instead the new line renders as a space.

**What package are you using? What version?**
0.2.21

**To Reproduce**
Send a message containing a line break and observe to displayed message in the chat.

**Expected behavior**
Line breaks within a message are

[2021-02-26 13:25] xsahil03x commented on #288
Hey @cliffofdeath, can you also share some screenshots for better understanding?

[2021-02-26 14:56] cliffofdeath commented on #288
Sure, here you go

<img width="371" alt="WhenTyping" src="https://user-images.githubusercontent.com/19165831/109315554-f21f9080-784a-11eb-8ba5-c5b2536c2f52.png">
<img width="373" alt="WhenSent" src="https://user-images.githubusercontent.com/19165831/109315538-ef24a000-784a-11eb-813b-d027c9bb9557.png">
<img width="434" alt="Screenshot 2021-02-26 at 15 55 50" src="https://user-images.githubuserconte

[2021-02-26 16:51] #264 closed

[2021-03-01 15:55] Abacaxi-Nelson opened #295 "Example of attachmentFileUploader"
Hi,

im using
[code]

Problem is MyStreamAttachmentFileUploader need a **_StreamChatClient_**; and StreamChatClient need **_attachmentFileUploader_**

Do you have an example somewhere, who add a custom **attachmentFileUploader** ?

Thank you,

gz#9774

[2021-03-01 15:59] Abacaxi-Nelson commented on #295
Maybe a i dont need a StreamChatClient :)

[2021-03-01 15:59] #295 closed

[2021-03-01 16:00] imtoori commented on #295
Great :D

I was asking why you need it, but you figure it out

[2021-03-02 08:11] deven98 commented on #286
Hey @troy379 👋

Just wanted to confirm a few things:

1) Does this happen on all channels to you on version 0.2.21?
2) Does this happen with these specific types of files or all files?
3) Does the example on stream_chat_flutter work as expected or does it give the same error?

[2021-03-02 08:39] imtoori commented on #288
This is probably due to the markdown package
I'll check it asap

[2021-03-02 09:19] troy379 commented on #286
hey @deven98
1. Yes, it does;
2. I've tested `pdf` and `csv`, because I'm interested in them specifically;
3. It works almost as expected. The infinite loading is shown in the messages thread until I reload the screen

[2021-03-02 09:42] Abacaxi-Nelson opened #302 "Feature: Customize MessageInput"
Hi @imtoori

Use case: Customize MessageInput

- Disable some attachment type : isFileAttachmentEnable, isCameraAttachmentEnable etc...
- Add new custom type

[code]

Its pseudo code to show the idea.

Is a PR for this use case welcome ?

Thank you,

gz#9795

[2021-03-02 09:51] deven98 commented on #286
@troy379 we're having a hard time replicating the bug on our end with the files (I'm assuming you've tried uninstalling and reinstalling the app already) so is it possible for you to send us any logs or a recording of the bug? You can set the log level on instantiating the client.

[2021-03-02 13:10] Abacaxi-Nelson commented on #295
Just an example (you will have to install dio)

[code]

[code]

[2021-03-02 13:13] Abacaxi-Nelson commented on #302
Hey,

The panel im trying to customize :
![image](https://user-images.githubusercontent.com/556990/109653489-60bd6080-7b61-11eb-8b7e-7ea6acd32658.png)

- disable specific attachment types, so remove the tabs in the "bottom sheet" that opens when you tap on the attachment icon **=> Yes**
- add new attachment types, so add new tabs in that "bottom sheet" **=> Yes, like record an audio for example**

[2021-03-02 14:05] troy379 commented on #286
I've tested the issue properly and found out that the problem is inside my `preMessageSending` builder 🤦 🤦 🤦
Sorry for wasting your time and thanks for responding

[2021-03-02 14:05] #286 closed

[2021-03-02 23:18] searchy2 opened #305 "Outdated Android NDK Dependency"
**Describe the bug**
Setting up the Stream SDK fails due to an older Android NDK dependency.

What is the plan to upgrade the NDK version? An old version will cause builds to fail in our CI.

Also, why does Stream need the NDK?

gz#9818

[2021-03-02 23:30] searchy2 opened #306 "Native Media Loading Crash"
**Describe the bug**
In the demo app, scrolling up in the chat causes the app to crash every time with the following error.
<summary>Error Logs</summary>
<details>

[code]
</details>

**What package are you using? What version?**
Flutter SDK on Android (latest)

**To Reproduce**
Steps to reproduce the behavior:
1. Download sample app.
2. Run sample flutter
3. Scroll up to load media types.
4. App

[2021-03-02 23:40] shodgetts commented on #305
Are you able to please provide a stack trace with this error

[2021-03-02 23:56] searchy2 commented on #305
The error is thrown by Android Studio:

[2021-03-03 05:28] xsahil03x commented on #305
@searchy2 none of our packages is a [plugin](https://flutter.dev/docs/development/packages-and-plugins/developing-packages#plugin) package. i.e., we do not handle any platform-specific code. This issue is probably related to your local environment. Can you please try following these [solutions](https://stackoverflow.com/questions/60404457/no-version-of-ndk-matched-the-requested-version)?

[2021-03-03 05:29] searchy2 commented on #305
I was able to resolve the issue by installing the required NDK version.

There might be an incorrect configuration somewhere requiring a specific NDK version.

[2021-03-03 08:38] imtoori commented on #306
Hi @searchy2 are you talking about this [demo app](https://github.com/GetStream/flutter-samples/tree/main/stream_chat_v1)?

[2021-03-03 09:01] imtoori commented on #302
This is a great idea and we'll do it eventually, but a pr is more than welcome!

[2021-03-03 09:18] deven98 commented on #305
Hey @searchy2, we will take a look at any NDK constraints as soon as possible. Since your error was resolved, closing this issue for now. Please feel free to reopen if required. Thanks for bringing this to our attention!

[2021-03-03 09:18] #305 closed

[2021-03-03 10:59] deven98 commented on #288
Hey @cliffofdeath 👋, #308 should fix your issue. This should be merged to the develop branch, coming to stable after a bit of testing as soon as possible.

[2021-03-03 16:51] searchy2 commented on #306
Yes, that's correct

[2021-03-03 16:52] searchy2 commented on #306
No, this one here: https://github.com/GetStream/stream-chat-flutter/tree/master/packages/stream_chat_flutter

[2021-03-04 15:16] Abacaxi-Nelson opened #313 "Field skip_push on sendMessage"
Hi,
[Documentation](https://getstream.io/chat/docs/react/send_message/?language=dart) have a field **skip_push**.

Can you confirm it does not exist right now ?

Thank you,

gz#9883

[2021-03-04 15:27] imtoori commented on #313
yes I can confirm
I'll add it now

but you can set it in the `message.extraData` map and it should work

[2021-03-05 17:26] searchy2 commented on #306
Any updates?

[2021-03-08 08:05] cliffofdeath commented on #288
Awesome, thanks a lot @deven98

[2021-03-08 11:44] imtoori commented on #306
Hi @searchy2 I'm trying to reproduce the issue, but it's not happening to me

I'm running this https://github.com/GetStream/stream-chat-flutter/tree/master/packages/stream_chat_flutter/example and scrolling up in the list, but nothing is happening

[2021-03-08 16:00] sachaarbonel commented on #306
Hey @searchy2 have you tried with another android emulator? See SO response [here](https://stackoverflow.com/questions/22629568/couldnt-load-memtrack-module-logcat-error)

[2021-03-08 16:01] searchy2 commented on #306
Yes, the crash happens 100% of the time on emulator and physical device.
Let me share a demo video

[2021-03-08 20:58] jonasesr opened #321 "Update pubspec.yaml to work with Flutter v2"
Most dependencies like jiffy, rxdart or path_provider need an update to get stream-chat-flutter working with Flutter v2.
Furthermore, the code needs adjustments in order to function under the new circumstances.

gz#9997

[2021-03-08 21:32] imtoori commented on #321
Hey! We're working on it and will release a new version probably tomorrow

[2021-03-09 06:54] xsahil03x commented on #313
Added in #314

[2021-03-09 06:54] #313 closed

[2021-03-09 09:30] DineshTaral123 opened #322 "Destroy uploaded files"
I try to send pdf, it sending successfully not not opening when i try to open, it not opened also i check the pdf url on chrome, it showing me "Failed to load PDF document".
pdf url : https://stream-chat-us-east-c7.imgix.net/88733/attachments/f856780f-e208-4352-8ea8-0969fc242971.OBE%20Notification%20274-19-2-2021.pdf?dl=OBE%20Notification%20274-19-2-2021.pdf&s=c19b576bb6a7ff2f9e31c6e5fde9ea21

gz#

[2021-03-09 09:46] imtoori commented on #322
Hi @DineshTaral123 can you send me the original file? I'll try to reproduce this behaviour

[2021-03-09 11:51] DineshTaral123 commented on #322
Thanks for instant reply.
please check the link for pdf https://drive.google.com/file/d/1-95kPt5MiKxBpe9wH2fdQEO5IIly9Chm/view?usp=sharing

[2021-03-09 12:11] imtoori commented on #322
it's working fine for me
btw we'll release a new beta version later today/tomorrow

[2021-03-09 17:56] imtoori commented on #288
closing this as it's fixed in the latest 1.4.0-beta release

[2021-03-09 17:56] imtoori commented on #321
published 1.4.0-beta

[2021-03-09 17:56] #321 closed

[2021-03-09 18:30] jonasesr commented on #321
Am I seeing this wrong, or have you not adjusted the dependencies, but only changed their order?

In any case, this release cannot run with Flutter v2.

[2021-03-12 03:29] haohaowasky opened #328 "Push notification not working"
I was following with
https://getstream.io/chat/docs/flutter-dart/push_android/?language=dart&q=mention

to set up chat notification given we already have the chatting feature setup.

Issues are:

1. Not sure why some of the Java/Kotin code are there in the tutorial and was no such methods in the flutter SDK
2. The only method I found from the flutter SDK is the addDevice, so I've enabled that.

Ho

[2021-03-12 08:13] imtoori commented on #328
Hi @haohaowasky
that guide is related to android and not flutter

we're writing a detailed guide on how to set up notifications using flutter, but it's not hard

what package are you using for notifications on flutter?

[2021-03-12 08:28] haohaowasky commented on #328
So I'm using stream_chat_flutter.dart

And I see only one method here related to notification which is addDevice. And I have added to that in my code, however, as I said before it seems like some registration issue happening from firebase.

[2021-03-12 13:47] imtoori commented on #328
I suggest you take a look at this package to configure notifications https://pub.dev/packages/flutter_apns
Our package doesn't handle notifications as it's an external service in a flutter app

[2021-03-13 19:56] luvishq opened #330 "Version solving failed after upgrading firebase dependencies"
**Describe the bug**
Hi, I was updating the firebase dependencies in my project and after updating I am getting version solving issues with stream. Can you please help me with this?

**What package are you using? What version?**
pubspec.yaml

  uuid: ^2.2.2
  provider: ^4.3.2+2
  image_picker: ^0.7.2+1
  modal_progress_hud: ^0.1.3
  flutter_svg: ^0.19.3
  pin_code_fields: any
  flutter_dash: ^0.0.

[2021-03-15 02:42] haohaowasky commented on #328
So in our end, our requirement is user getting a notification when there is a message received. Pretty much the same feature you guys mentioned at [https://getstream.io/chat/docs/flutter-dart/push_introduction/?language=dart&q=mention](url)

The problem is I haven't seen the methods in Flutter SDK

[2021-03-15 08:48] imtoori commented on #328
@haohaowasky the only method we provide is `addDevice` that you should call once the token of the push notification service is available
To set up notifications you should use a package like flutter_apns (https://pub.dev/packages/flutter_apns) as you would do for any other app
The difference is that you would also use `addDevice` to send us the notification token so that we can send you notificati

[2021-03-15 09:34] imtoori commented on #330
hey @luvishq
unfortunately, we cannot update the http_parser dependency

can you try using dependency_overrides?

just add this to your pubspec:

dependency_overrides:
    http_parser: ^4.0.0

[2021-03-16 13:24] troy379 opened #336 "Make attachments list public"
**Is your feature request related to a problem? Please describe.**
I need to have access to the selected attachments list which is private in the `MessageInputState`.

**Describe the solution you'd like**
Please make `MessageInputState._attachments` field and `_SendingAttachment` class  public.

gz#10242

[2021-03-16 13:26] xsahil03x commented on #336
Hey @troy379, any particular reason or use-case for which you wants those field to be public? Maybe we can suggest some better alternatives.

[2021-03-16 13:28] troy379 commented on #336
I'm extending the existing MessageInput for a fully custom UI and it works really great, but it's not enough flexibility for me to implement attachments preview

[2021-03-16 13:28] troy379 commented on #336
The input theming approach doesn't fit my needs at all, unfortunately

[2021-03-16 17:06] luantrasel commented on #328
@haohaowasky you can also configure a webhook endpoint on GetStream portal and deal with the notifications youself. I did this way because flutter_apns is incompatible with other firebase libraries that I was already using

[2021-03-16 20:15] luvishq commented on #330
@imtoori : I am getting errors after doing this :

`Error: Type 'Client' not found.`
`Error: Type 'Channel' not found.`
`Error: Type 'User' not found.`

How to fix these ?

[2021-03-16 22:34] luantrasel opened #338 "Unreadcount not updating"
**Describe the bug**
client.state.**totalUnreadCountStream** and channel.state.**unreadCount** are not counting correctly while the chat is opened

**Version of the package**
tested with 1.4.0-beta and 1.3.0-beta

**To Reproduce**
Steps to reproduce the behavior:
1. Enter in a channel page and while you are with the chat open, ask the other user to send you a few messages
2. Back to the channels l

[2021-03-17 04:28] searchy2 opened #339 "Null Safety Migration"
What is the plan to migrate this library to null safety?
It depends on a lot of underlying libraries which seems to present an issue.

gz#10266

[2021-03-17 08:47] imtoori commented on #339
we're gonna start the migration next week, starting from the `stream_chat` package up to `stream_chat_flutter`

[2021-03-17 09:34] imtoori commented on #336
hey @troy379 what version of the sdk are you using?

[2021-03-17 09:54] troy379 commented on #336
hey @imtoori
the latest stable - 0.2.21

[2021-03-17 10:03] imtoori commented on #336
fyi we released the new stable `1.5.0`

Are you planning to switch to it? you may want to test it and give some feedback

Of course we can always publish a new `0.2.x` release making `MessageInputState._attachments` and `_SendingAttachment` public

Also, it would be nice if you could send us a screenshot/design to understand what you want to customize and how so that we can make sure you can do wi

[2021-03-17 10:07] #338 closed

[2021-03-17 10:09] troy379 commented on #336
ok, I'll try the latest one, thanks.
btw I checked the latest version yesterday and it was 1.4.0 beta 😄

[2021-03-17 10:11] imtoori commented on #336
yeah we released that yesterday evening 😄

[2021-03-17 10:13] imtoori commented on #338
fixed in 1.5.1
reopen this if the issue persists

[2021-03-17 10:55] troy379 commented on #336
looks like you have some troubles with custom date headers:
- the scroll doesn't work if there's a `Expanded` widget used:
[code]

- the date is always displayed on top of the list:
<img width="256" alt="Снимок экрана 2021-03-17 в 12 55 39" src="https://user-images.githubusercontent.com/12077345/111456777-140c8480-8720-11eb-89cb-7dae130b3777.png">

[2021-03-17 10:57] troy379 commented on #336
Could you please push a quick-fix for the `0.2.x`? We're about to have a new version released this week and it's dangerous to us to push such a major change untested. Thanks

[2021-03-17 11:27] imtoori commented on #336
Released version `0.2.21+1`
I hope that works for you :)

I'll close this issue; feel free to reopen it or create another one
We'll work on making the MessageInput more and more customizable; feedback is really appreciated :)

[2021-03-17 11:27] #336 closed

[2021-03-17 11:48] imtoori commented on #330
I'm sorry, I was hoping that would have worked
I think you should stick to the previous version of firebase dependency until we migrate to null-safety

[2021-03-17 11:48] #330 closed

[2021-03-17 17:34] Abacaxi-Nelson commented on #302
i don't find an easy way to add new custom attachment to MessageInput.
I finally copy/paste ```MessageInput```to my package to customize it :(

[2021-03-17 17:34] #302 closed

[2021-03-17 17:37] Abacaxi-Nelson opened #343 "[Help] Snapstreak ?"
Hey,

Im trying to add pseudo Snapstreak to my chat: [https://support.snapchat.com/fr-FR/a/snapstreaks](https://support.snapchat.com/fr-FR/a/snapstreaks)

The idea is to run a batch everyday, which increment a counter/chat if all members write a message/day

I check the API, i have no easy and performant way to do this (only group < 10 will be checked every day).

Do you have any internal method/A

[2021-03-17 18:23] shodgetts commented on #343
Agent comment from Anders Lund in <a href='https://getstream.zendesk.com/agent/tickets/10299'>Zendesk ticket #10299</a>:<br><br>Hey Nelson,

Thanks for getting in touch. We'll take a look here and point you in the right direction just as soon as we can.

[2021-03-17 18:40] luvishq commented on #330
@imtoori : Sorry it seems firebase fixed some auth related issue in their latest version which are really important and blocker for us to proceed, can you please address this or if you can share a timeline  for this ?

[2021-03-17 18:43] luvishq opened #344 "Version solving failed after upgrading firebase dependencies [Tracking #330]"
Adding so that we can track it here [Version solving failed](https://github.com/GetStream/stream-chat-flutter/issues/330)

**Important** : Blocking firebase auth updates which fixes auth related issue and are being blocked because of stream chat version issue.

gz#10300

[2021-03-17 19:26] xsahil03x commented on #344
@luvishq it's not really related to our package. It's due to `dio` (which we use internally for making network calls) using an earlier version of `http_parser`. One thing you can try doing is to override the `dio` package to `dio: ^4.0.0-prev1` as it contains the latest version of `http_parser`. We are not updating it in our package because it's not yet in the stable release.

[2021-03-18 03:52] searchy2 commented on #339
Thank you for the update.
Also, the latest Stream announcement letting developers use Stream for free up to 2000 users is fantastic!

[2021-03-18 09:07] imtoori commented on #302
I'll let you know once we do it @Abacaxi-Nelson

[2021-03-18 10:48] Abacaxi-Nelson commented on #313
Hi @xsahil03x @imtoori
Im still having webhook/notification trigger event passing

in my code:
[code]

[code]

Do you see something wrong ?

[2021-03-18 11:54] imtoori commented on #313
do you still receive the notification?
Because I think it's normal that the webhook is called anyway.
You can check the field message.skip_push and skip the message yourself if you don't want to handle it in the webhook

[2021-03-18 13:21] Abacaxi-Nelson commented on #313
yes im receiving it.
i follow your advice, and it work:

**_You can check the field message.skip_push and skip the message yourself if you don't want to handle it in the webhook_**

[2021-03-20 14:44] jinfagang opened #347 "flutter 2.0 build error"
[code]

gz#10388

[2021-03-20 19:37] luvishq commented on #344
@xsahil03x : I tried this solution but it didn't work and I am getting the same error, can you please share a solution which is working at your end with the updated firebase dependencies. I see the `dio` is in prev-3 right now, so should be stable soon, can you try to get this fixed as they update it and also it would be great if you can share a solution for the time.

[2021-03-21 04:18] JayPerfetto opened #348 "Cannot Create New Channel"
Disregard

[2021-03-22 00:12] #348 closed

[2021-03-22 00:13] JayPerfetto commented on #348
Self-resolved - users tagged as members must exist before the channel can be watched / created

[2021-03-22 00:15] JayPerfetto opened #349 "MessageInput Attachment-Button-Row overflows when animating"
When hitting the attachment button in MessageInput(), the button row beneath the input area overflows as it animates open by 60 pixels (on iPhone XS) as it opens, and 8 px as it closes. I assume this issue exists just to varying degrees on different device sizes.
[code]

gz#10396
![IMG_695F1CF89EF6-1](https://user-images.githubusercontent.com/34031697/111926637-e3ec1b00-8a6a-11eb-93f4-6f2ec625041c

[2021-03-22 04:47] xsahil03x commented on #344
Hey, I tried overriding versions and the pub get worked fine. Can you share with me the piece of code which is throwing that particular error?

[2021-03-22 05:00] JayPerfetto commented on #349
It's worth adding that I am not seeing this behavior in release builds, only debug profile builds, though it could be that the release profile simply silently swallows the overflow errors

[2021-03-22 06:17] xsahil03x commented on #349
@JayPerfetto yes it won't be visible in release builds, We will soon release a fix for this but can't say anything about the timeline as it's not on our priority list. We are currently focusing on migrating the package to NNBD as soon as possible. Hope you understand 😄

[2021-03-22 08:49] troy379 commented on #336
It worked, thanks a lot :)

[2021-03-22 10:04] shodgetts commented on #348
Agent comment from Sahil Kumar in <a href='https://getstream.zendesk.com/agent/tickets/10393'>Zendesk ticket #10393</a>:<br><br>Hey Jay,

Closing this ticket in response to your comment here. Feel free to open if you faced any problems.

[2021-03-22 13:33] aytunch commented on #339
@imtoori is stream depending on flutter_webrtc and xmpp_stone? Are there any blockers?

[2021-03-22 13:50] imtoori commented on #339
@aytunch it's not
we're starting the migration and help migrate the packages that don't support null-safety, if any

[2021-03-22 15:54] imtoori commented on #195
I can confirm firebase_messaging is enough to set up push notifications
just have to keep in mind that you have to configure only android in Stream dashboard and always use `PushProvider.firebase` in the `client.addDevice` call

it's kind of a workaround, but it works well

I'm writing the docs, I'll update this issue once it's done

[2021-03-22 15:55] imtoori commented on #328
I can confirm firebase_messaging is enough to set up push notifications
just have to keep in mind that you have to configure only android in Stream dashboard and always use PushProvider.firebase in the client.addDevice call

it's kind of a workaround, but it works well

I'll close this in favor of #195 to keep track of push notifications
I'll update that issue once I finish writing docs

[2021-03-22 15:55] #328 closed

[2021-03-22 17:57] searchy2 commented on #306
I've retested and was able to reproduce consistently.
Please follow the steps outline in the original post.

[2021-03-22 19:07] imtoori commented on #195
here you can find the docs https://getstream.io/chat/docs/flutter-dart/flutter_push/?language=dart
feel free to reopen the issue for any problem

[2021-03-22 19:07] #195 closed

[2021-03-23 09:38] xsahil03x commented on #306
@searchy2 we tried to reproduce again but failed.

Sharing a video we recorded: https://drive.google.com/file/d/18c1lbpGSHDwunZQfdt8WpciaIl40pvMz/view?usp=sharing

[2021-03-25 06:07] luvishq commented on #344
@xsahil03x : It seems we were using an older version of stream and the current one changed the implementation instead of Client it is now StreamClient, we confirmed from the docs, thanks though :)

[2021-03-25 07:18] xsahil03x commented on #344
Nice, closing this issue then. Feel free to open if the issue reappears. 😄

[2021-03-25 07:18] #344 closed

[2021-03-25 09:10] imtoori commented on #30
This is doable using the `textBuilder` property of the `MessageWidget`, but I don't think we're gonna implement it in the SDK
Anyway, we're gonna add a guide on how to do this in our documentation
I'm closing this and I'll update you when the documentation is available

[2021-03-25 09:10] #30 closed

[2021-03-25 09:13] imtoori commented on #322
hey @DineshTaral123 is this still happening for you?

[2021-03-25 09:16] imtoori commented on #260
hey @luantrasel
I'm sorry, but this won't be fixed on version 0.x as it's not easy to reproduce and we released version 1.x stable that brings a lot of new stuff and improvements
I hope you understand and you'll try out our 1.x releases :)

[2021-03-25 09:16] #260 closed

[2021-03-25 16:58] JayPerfetto opened #356 "MessageWidget cannot handle Accessibility Text-Size scaling"
**Describe the bug**
When changing the text scale (iOS tested only) via the accessibility settings of the phone, the message sender text in a message widget overflows the bottom-baseline of the container. See the attached screenshots at min, default, and max scales.

**What package are you using? What version?**
Latest Stream-chat-flutter UX package

**To Reproduce**
Steps to reproduce the behavio

[2021-03-26 16:52] Aimen-Zelaci commented on #328
@imtoori I have configured push notification successfully on a flutter app. When I use the CLI test it works and I receive the notification normally. But, when I send a message from the emulator to my device I don't receive the notification nor on the notification logs.

[2021-03-26 16:55] imtoori commented on #328
@Aimen-Zelaci can you check that you're respecting the logic you can read here? https://getstream.io/chat/docs/flutter-dart/push_introduction/?language=dart

[2021-03-26 17:12] Aimen-Zelaci commented on #328
@imtoori Thank you very much for your quick response. Yes, I am quite sure.

- No active ws (client.connectUser is not called on the receiver's end)
- I can see that both the receiver and sender are members of the channel
- receiver is not muted
- Both devices are registered
- skip_push set to false
I am using a livestream cahnnel.

[2021-03-26 17:19] searchy2 commented on #305
There's a missing NDK error again with the latest master.

I recommend updating to use the latest NDK.

![MaxthonSnap20210326121123](https://user-images.githubusercontent.com/19896174/112669225-7276e880-8e2d-11eb-964b-abebaf498bca.png)

[2021-03-26 17:30] imtoori commented on #328
are you sure the client is not connected?
you should put the app in background and wait for the client to disconnect
if the user is connected (even on other devices) the notification won't be sent

[2021-03-26 17:31] shodgetts commented on #328
Hello 👋  Stephen here from the Stream Customer Success department. There could be a few things going wrong here, and in order to properly debug with you, we'd like to know a few things about your app and users. Could you please email support@getstream.io with your app_id, channel_id, and user_id's who are affected. From there, we can make a few checks. Thank you 🙏

[2021-03-26 17:31] searchy2 commented on #306
Wonderful, scrolling with media no longer crashes when testing with the latest beta and master.

[2021-03-26 17:31] #306 closed

[2021-03-26 17:52] Aimen-Zelaci commented on #328
@imtoori Yes, I am. I have tried both:

1. Not calling `client.connectUser`
2. Called `client.connectUser` and put the device in the background.

[2021-03-26 20:09] Aimen-Zelaci commented on #328
@imtoori @shodgetts My users were not being added as members, as I thought they were. I'd changed from a 'Messaging' channel to a 'Livestream channel and I believed that members are added as soon as I call channel.watch(), **just because users were able to send messages, even without being added as members**. After updating channel members, I was finally able to receive FCM notifications. Thank yo

[2021-03-26 22:07] JayPerfetto opened #357 "Performance of Transition / Animation Between ChannelsList and ChannelPage is poor"
**Describe the bug**
Performance of Transition Between ChannelsList and ChannelPage is very poor - I am showing dozens of dropped frames in my profiler, and I am performing 0 logic / work in the transition. I am using the Pre-build ChannelsList + ChannelPage UX code provided in the docs.

**What package are you using? What version?**
1.5.1

**To Reproduce**
Steps to reproduce the behavior:
1. Set

[2021-03-26 22:13] JayPerfetto commented on #357
Also here is my Stream Client:

[code]

[2021-03-26 23:53] Nash0x7E2 commented on #357
Hi @JayPerfetto! Thank you for taking the time to file this.

Are you experiencing this in profile and release mode? It is normal to experience lower than expected frames during debugging.

Can you also provide the output of Flutter doctor?

### Command:
`flutter doctor --verbose`.

[2021-03-27 02:38] JayPerfetto commented on #357
Hi - this was captured in release mode on a physical iPhone XS - I also attempted on an older iPad. I changed my Persistence client from background to local and that definitely improved things, but I am still seeing some noticeable frame jank. Will post doctor logs when I return home this evening. Thanks for the prompt response!

[2021-03-27 03:12] JayPerfetto commented on #357
[code]

[2021-03-27 09:10] JayPerfetto opened #358 "Lighting Actions Pop-up does not close when navigating back to channels list"
**Describe the bug**
When the lightning actions menu is open and you press the back button on a channel, it remains open and interferes with the channels list screen.

**What package are you using? What version?**
1.5.1

**To Reproduce**
Go to a channel, open the lightning actions, then press the back button without selecting an action.

**Expected behavior**
The menu should close and then Navigat

[2021-03-27 17:52] searchy2 opened #359 "Reopening Android NDK Outdated"
Reopening #305

There's a missing NDK error again with the latest master.

No version of NDK matched the requested version 20.0.5594570. Versions available locally: 21.0.6113669, 22.0.6917172-rc1

I recommend updating to use the latest NDK.

![MaxthonSnap20210326121123](https://user-images.githubusercontent.com/19896174/112729649-46299d80-8efb-11eb-982c-56a6e800a857.png)

[2021-03-29 12:49] Chojecki commented on #339
Hi, I just have a spike task in next sprint to check a decent in app chat providers. Any estimations about migration end date?

[2021-03-29 12:55] imtoori commented on #339
Hey @Chojecki
it will take a while unfortunately, I can't give you an ETA yet, but it's one of our top priorities

However, the package is still usable anyway
Hope to have more information soon

[2021-03-29 12:58] Chojecki commented on #339
@imtoori thanks. Asking because we are migrating now. Will be tracking this issue

[2021-03-29 19:30] searchy2 commented on #359
The NDK issue resolved when I deleted all the NDKs I had installed in Android Studio.
That is very surprising!

The cause is likely an Android Studio upgrade instead of Stream. I upgraded and added Stream at the same time which probably caused the confusion.

[2021-03-29 19:30] #359 closed

[2021-03-29 19:38] SarveshRamachandran opened #360 "Freezing channel not returning error on sending message"
Flutter documentation says that upon freezing a channel, that will disallow messages from being sent and any attempts to send a message will return a message of type error. However, when I was testing the functionality, after freezing the channel I can still send and receive messages from both test ids associated with the channel. I can verify that the channel is frozen and can filter out frozen c

[2021-03-30 04:57] deven98 commented on #360
Hey @SarveshRamachandran, thanks for bringing this to our attention.

Can you confirm no user here has the UseFrozenChannel permission?

[2021-03-30 05:41] deven98 commented on #358
Hey @JayPerfetto, thanks for letting us know.

I'm having a bit of a hard time reproducing this bug, so just a few questions:

1) Does this happen on all platforms (android + iOS)
2) Is the channel header all default or is the onBackPressed overridden?

[2021-03-30 12:20] VitaliiKrochak opened #362 "Build error"
FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:processDebugResources'.

     AndroidManifest.xml:9:5-15:15: AAPT: error: unexpected element <queries> found in <manifest>.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at https:

[2021-03-30 12:25] imtoori commented on #362
hey @VitaliiKrochak
did you take a look at this section of the readme? https://github.com/GetStream/stream-chat-flutter/tree/master/packages/stream_chat_flutter#troubleshooting

this is likely due to this https://github.com/miguelpruivo/flutter_file_picker/wiki/Troubleshooting#-issue-1

I'll close it, feel free to reopen it

[2021-03-30 12:25] #362 closed

[2021-03-30 15:24] SarveshRamachandran commented on #360
That permission has not been granted, so it should be off by default right?

[2021-03-30 16:01] searchy2 opened #363 "Pagination Spinner Continues To Appears on First Load"
**Describe the bug**
In the chat channels list, swiping up from the bottom repeatedly triggers the loading spinner to show.
This only happens on the first load. After swiping back up, the loading indicator properly hides.

**What package are you using? What version?**
1.5.1

**What platform is it about?**
- [ X] Android
- [ ] iOS
- [ ] Web
- [ ] Windows
- [ ] MacOS
- [ ] Linux

![ezgif com-video-t

[2021-03-30 16:10] xsahil03x commented on #363
@searchy2 can you confirm if this happens in the message list and not in the channels list?

[2021-03-30 16:11] searchy2 commented on #363
It's the channels list, my bad!

[2021-03-30 19:15] searchy2 opened #364 "Message Screen First Load Freezes and is Very Slow"
**Describe the bug**
Message screen first load has performance issues.

**What package are you using? What version?**
1.5.1

**What platform is it about?**
- [X] Android
- [ ] iOS
- [X] Web
- [X] Windows
- [ ] MacOS
- [ ] Linux

**To Reproduce**
Steps to reproduce the behavior:
1. Open the message list.

**Expected behavior**
Message page loads quickly and without freezing.

**Screenshots**
![ezgi

[2021-03-30 20:20] imtoori commented on #364
Are you using offline storage? If so, how do you initialize it?

[2021-03-30 21:17] searchy2 commented on #364
No, offline persistence isn't being used.

[2021-03-31 04:29] JayPerfetto commented on #358
Interesting second question - I am overriding onBackPressed but my assumption was that was not an override, but rather a callback fired in addition to whatever logic was required for the core functionality of the page - I am closing the device keyboard onBack in my case but thats all. Would this be better suited in a WillPopScope callback?

I have only tested on iOS

[2021-03-31 04:31] JayPerfetto commented on #358
Tested reverting the onBackPressed override and that is indeed what is causing this bug. I would still say that is a bug though, as there is no way to manually dismiss the commands overlay from within any user-provided callback

[2021-03-31 05:06] deven98 commented on #358
Glad it works, I will see if we can add a callback that gets called before the usual onBackPressed without overriding it or just have a way to close it.

[2021-03-31 07:02] imtoori commented on #364
Sorry for the questions, but this has never happened to me. I know we have a couple of performance issues that we are addressing carefully, but I don't think this is related to that

How are you initializing the channel?
Do you see any meaningful log?(you may want to change the loglevel for this)

[2021-03-31 08:27] Abacaxi-Nelson opened #366 "[Help] Getting "Exception: Already connected""
Hi all,

Im using: [https://github.com/GetStream/flutter-samples/tree/main/packages/stream_chat_v1](https://github.com/GetStream/flutter-samples/tree/main/packages/stream_chat_v1)

When user is loggedIn, im doing:
[code]

Some user experience exception (im collecting them in a database):

[code]

Is there to detect if user is already connected, and not trigger a `streamChatClient.connectUser`

Tha

[2021-03-31 08:59] xsahil03x commented on #366
@Abacaxi-Nelson you can check the current connection status using
[code]

[2021-03-31 09:34] Abacaxi-Nelson commented on #366
thanks @xsahil03x
will try it

[2021-03-31 09:34] #366 closed

[2021-03-31 15:20] xsahil03x commented on #356
Fixed in #365 and will be released soon.

[2021-03-31 15:20] #356 closed

[2021-03-31 17:07] JayPerfetto opened #368 "Null Pointer exception in Channel.dart - CORE BUG"
**Describe the bug**
On line 1599 of Channel.dart, in the method ```_countMessageAsUnread```, if user.mutes is null an exception is thrown as you cannot call .firstWhere on null.

This should be guarded in a simple ternary, or something like this:

[code]
<img width="644" alt="Screen Shot 2021-03-31 at 10 01 32 AM" src="https://user-images.githubusercontent.com/34031697/113183412-d7a15400-9208-11e

[2021-03-31 17:10] JayPerfetto commented on #364
Using offline persistence is key to avoiding this behavior, based on my own recent implementation

[2021-03-31 19:20] SarveshRamachandran opened #369 "Client does not return without internet connection"
Client.connectUser does not work properly if there is no internet connection. It should return an error saying that there were connection issues, but it doesn't return anything at the moment

[2021-03-31 21:27] searchy2 commented on #364
@imtoori  The reason you're likely not seeing the issue is because the issue is masked by launching the new page.
The freezing is very evident if you load the page progressively like in the demo video above.

The freeze can be easily reproduced by running `tutorial-part-2.dart` from the sample app.

![ezgif com-video-to-gif (9)](https://user-images.githubusercontent.com/19896174/113213532-ece4a580

[2021-03-31 21:32] searchy2 opened #370 "Show In Chat Does Not Work For Giphy Attachments"
**Describe the bug**
The "Show In Chat" option does nothing when the attachment is a Giphy.

**What package are you using? What version?**
v1.5.1

**What platform is it about?**
- [X] Android
- [ ] iOS
- [X] Web
- [X] Windows
- [ ] MacOS
- [ ] Linux

**To Reproduce**
Steps to reproduce the behavior:
1. Attach a Giphy
2. Tap on the image to view
3. Open overflow menu
4. Click Show In Chat

**Expect

[2021-03-31 21:35] searchy2 opened #371 "Files Larger Than 20MB Can Still Be Sent and Become Permanently Stuck"
**Describe the bug**
Attempting to attach a file larger than 20MB shows the error but allows the file to be sent.
Upload then subsequently fails and the failed file becomes stuck permanently, with no ability to remove.

**What package are you using? What version?**
v1.5.1

**What platform is it about?**
- [X] Android
- [ ] iOS
- [ ] Web
- [ ] Windows
- [ ] MacOS
- [ ] Linux

**To Reproduce**
Steps

[2021-04-01 07:53] deven98 commented on #370
Hey @searchy2!

The show in chat needs to be implemented through the MessageListView widget. Take a look at https://github.com/GetStream/flutter-samples/blob/main/packages/stream_chat_v1/lib/main.dart where this is implemented. You can try out the sample app here too.

[code]

[2021-04-01 08:24] #322 closed

[2021-04-01 09:05] searchy2 commented on #370
This is in a message list view.
Please follow the step by step instructions I provided to reproduce the issue.

[2021-04-01 09:14] imtoori commented on #369
I see, it returns null at the moment when there is no connection, or throws an exception if there is a server error
We'll work on more specific error types, thanks for the report

[2021-04-01 09:23] imtoori commented on #368
this has been fixed, it will be in the next release

[2021-04-01 09:24] deven98 commented on #370
@searchy2 My bad, I see the issue now. Will give you an update (and likely a fix) on this soon.

[2021-04-01 09:59] deven98 commented on #370
Hey @searchy2, this bug should be fixed by #373, thanks for bringing this to our attention. I am closing this for now, feel free to reopen if you still face an issue.

[2021-04-01 09:59] #370 closed

[2021-04-01 10:22] #368 closed

[2021-04-01 10:41] imtoori commented on #360
can you check you have not disable permission checks? it's a switch in the dashboard

[2021-04-01 10:59] imtoori commented on #358
hey @JayPerfetto I've tried overriding the onbackpressed callback and it's working fine for me
how are you overriding it?

[2021-04-01 11:03] imtoori commented on #358
also we already close the device keyboard when you tap on the back button

[2021-04-01 11:25] #363 closed

[2021-04-01 14:07] SarveshRamachandran commented on #360
I checked the dashboard and 'disable permission checks' was on. I went ahead and switched it off to test it, but the same issue is still happening:

[2021-04-01 14:16] #360 closed

[2021-04-01 16:03] JayPerfetto commented on #358
[code]
[code]

[2021-04-01 16:04] JayPerfetto commented on #358
At this point i suppose im okay closing it since there's a workaround but I obviously captured the behavior in a live screen recording, so it happened somehow haha

[2021-04-01 19:07] imtoori commented on #358
I think it's happening because you're closing the keyboard and somehow that causes the bug
Closing the keyboard should be automatic, isn't it?

[2021-04-01 22:05] SarveshRamachandran commented on #369
I don't think it returns null. While testing it yesterday, it wouldn't return at all, so any watchers that were linked to the client wouldn't begin correctly and instead get stuck in

[2021-04-02 07:59] Abacaxi-Nelson opened #378 "[Feedback] Chat Persistence Client"
Hi all,

Trying to understand which use case "Chat Persistence Client" is covering:
- Offline chat ?
- Better performance ?

We are going to have large group conversation, and im thinking in adding local persistence !

Please share feedback :)
Nelson

[2021-04-02 08:03] #378 closed

[2021-04-02 08:22] imtoori commented on #369
I tested it to understand your issue and it returns null if there is no connection
This is my snippet
[code]

I agree this is not the best behaviour, but at least it does not hang

[2021-04-02 10:07] xsahil03x commented on #371
Fixed in #377

[2021-04-02 10:07] #371 closed

[2021-04-02 18:44] searchy2 commented on #370
Thank you!

[2021-04-03 11:41] abraraltaf92 opened #383 "Token Id"
How to generate a token ID in dart for production use?

[2021-04-03 11:51] #383 closed

[2021-04-07 00:46] searchy2 opened #386 "Stream Incorrectly Uses Global Context"
**Is your feature request related to a problem? Please describe.**
Stream uses a mixture of widget context and global context. Some parts of the code incorrectly access the global context directly when it should access the widget context instead. In fact, I would strongly recommend using widget context for all context calls so the proper ancestor in the widget tree is accessed.

**Issue:** with a

[2021-04-08 13:07] FCView commented on #339
Looking forward to this. I just signed up and am unable to get started without rolling back several conflicting dependencies.

[2021-04-08 14:35] imtoori commented on #339
@FCView  We're working on this and it should be ready in the following weeks
Make sure to follow this pr https://github.com/GetStream/stream-chat-flutter/pull/381

[2021-04-08 14:39] Chojecki commented on #339
@imtoori Is there any way to use getStream with Flutter 2.0 with null-safety? Some beta release or something?

[2021-04-08 14:40] imtoori commented on #339
@Chojecki not yet
that pr is the status of the migration, but it's a matter of days

[2021-04-09 07:31] ajosecueto commented on #364
I found the same issue, take a lot time to initialize a chat...

[2021-04-09 08:42] #358 closed

[2021-04-10 06:39] Goxiaoy commented on #59
The latest sdk version
[code]
 break again in web
[code]

[2021-04-14 04:02] sofyan-ahmad opened #391 "_countMessageAsUnread function trying to call 'firstWhere' on null"
**Describe the bug**
There is an error on :
[code]
caused by sometime `mutes` on user is `null`

**What package are you using? What version?**
flutter SDK: ">=2.7.0 <3.0.0"
  stream_chat_flutter: ^1.3.2-beta

**What platform is it about?**
- [Y] Android
- [Y] iOS
- [ ] Web
- [ ] Windows
- [ ] MacOS
- [ ] Linux

**To Reproduce**
Steps to reproduce the behavior:
1. Send a chat
2. Exception thrown an

[2021-04-14 06:14] hoanle commented on #339
Any update?

[2021-04-14 06:35] imtoori commented on #391
This issue has been solved in the latest version of the sdk
I'm closing this, feel free to reopen it if needed

[2021-04-14 06:36] #391 closed

[2021-04-15 03:59] JayPerfetto opened #395 "Pasting images or files from clipboard into message input does not work"
Right now it is not possible to paste copied images or files in to the message input, which is a ubiquitous feature on imessage, slack, etc and one that our users expect

[2021-04-17 09:15] JayPerfetto opened #396 "How to clear badge count on iOS when all channels are read?"
The push notification documentation tells us how to set the badge to be equal to the unread count in the various push template formats - i.e here is my firebase template:
[code]
This works great, and my app badge increments as expected when new messages arrive, but then when the channel is marked as read the badge stays at that number rather than being cleared as you would expect.

How do we clear

[2021-04-17 21:35] abraraltaf92 opened #397 "Null - safety"
How much more time is needed to switch to null-safety? I am unable to integrate the stream_chat_flutter with my codebase(null-safety) .  When is it coming ?

[2021-04-18 07:41] imtoori commented on #397
Closing as a duplicate of #339
We're working on it and we'll have more news soon

[2021-04-18 07:41] #397 closed

[2021-04-18 07:42] imtoori commented on #396
you can use the plugin [flutter_app_badger](https://pub.dev/packages/flutter_app_badger)
that's what we use in the sample app

[2021-04-18 07:42] #396 closed

[2021-04-18 16:19] itsbhanupratap opened #398 "stream_chat_flutter depends on url_launcher: ^5.7.10 While my app is on latest ver of url_launcher"
**Describe the bug**
A clear and concise description of what the bug is.
When i tried to use[ in app review](https://pub.dev/packages/in_app_review) which depends on latest version of url launcher and when i do pub get it says:

`Because stream_chat_flutter >=1.0.0-beta depends on url_launcher ^5.7.10 and apnahood_seller depends on url_launcher ^6.0.0, stream_chat_flutter >=1.0.0-beta is forbidden

[2021-04-19 06:52] xsahil03x commented on #398
@itsbhanupratap

can you try overriding the dependency
[code]

[2021-04-19 11:41] rubenvereecken commented on #339
Our entire migration is just pending Stream at the moment because of the large overlap in dependencies. We very much look forward to this one.

[2021-04-19 15:40] imtoori commented on #339
We're working on the migration. You can check the progress in the PRs
I'm sorry, but it's a complicated process, as you might know, but we're working hard to make it as soon and as good as possible

[2021-04-20 14:34] pasternak2048 opened #399 "When "disableAttachments: true,""
======== Exception caught by rendering library =====================================================
The following assertion was thrown during performLayout():
'package:flutter/src/rendering/box.dart': Failed assertion: line 320 pos 12: 'width > 0.0': is not true.

Either the assertion indicates an error in the framework itself, or we should provide substantially more information in this error mes

[2021-04-20 14:35] #399 closed

[2021-04-20 15:44] VitaliiKrochak opened #400 "When disableAttachments: true,"
Exception caught by rendering library
The following assertion was thrown during performLayout():
'package:flutter/src/rendering/box.dart': Failed assertion: line 320 pos 12: 'width > 0.0': is not true.

Either the assertion indicates an error in the framework itself, or we should provide substantially more information in this error message to help you determine and fix the underlying cause.
In eit

[2021-04-22 08:54] rubenvereecken opened #402 "Stream failed to open Websocket, causing later calls to fail"
**Describe the bug**
This is a bug that happened in production so all we have are stacktraces. The problem is that `queryChannels` failed, causing some things to get stuck. The deeper issue seems to be that Stream failed to set up its Websocket connection.

Here's the Websocket error. I could pinpoint the line that triggered it on our part, it's an invocation of `client.setUser`.
[code]

**What pa

[2021-04-22 10:20] deven98 commented on #400
Hey @VitaliiKrochak

I can't seem to replicate this using the normal

[code]
Can you let me know if some other things are different in your MessageInput or send over a gist with an example of where this breaks?

Thanks.

[2021-04-22 10:41] deven98 commented on #402
Hey @rubenvereecken,

Can you try upgrading your dependency to the latest version and let us know if the problem still persists?

Thanks.

[2021-04-22 11:13] rubenvereecken commented on #402
Alright we're on it, will report back after the upgrade, might take a while.

[2021-04-23 09:25] jibaud opened #404 "Issue with many packages such as Uuid"
**Describe the bug**
There are versioning issues with many packages such as uuid.

**What package are you using? What version?**
^1.5.2

**What platform is it about?**
- [x] iOS
- [x] Android

**Error:**
[code]

**What I get if I set Uuid version to ^2.2.2 :**
[code]

[2021-04-23 15:09] rubenvereecken commented on #402
The issue persists in 1.3.2-beta, which apparently is the latest we could upgrade to without dependency issues (we're waiting on #339 for the rest).

[2021-04-23 15:41] rubenvereecken commented on #402
Actually that was my bad, bad communication on our part. We're testing and I'll report back when we have something conclusive.

[2021-04-23 20:10] rubenvereecken commented on #402
There are still some `WebSocketChannelException` errors. Are we expected to catch those ourselves and have our own retry logic? I don't mind but just want to figure out the API.

That aside, is it normal that we should catch `queryChannels` errors as DioErrors, rather than you wrapping them inside a Stream error or something?

<details>

[code]
</details>

[2021-04-26 09:47] imtoori commented on #404
we're migrating to nnbd and once that's done every package will use the latest available version
I'll close it since it will be solved soon by #351

[2021-04-26 09:47] #404 closed

[2021-04-26 09:48] imtoori commented on #402
Reconnection should be automatic, we have a retry logic just for that. I'd ask you to wait for the nndb migration to be completed so you can use the very last version.

About `DioErrors`, we are planning to refactor how we handle this kind of errors and wrap them in a custom type

[2021-04-26 10:38] rubenvereecken commented on #402
Alright so we'll put our own user-initiated retry logic on DioErrors. The chat needs to be able to service 1000s of users so may need to put our retry on your WebSocket exceptions ourselves, or is there a rough ETA on the nddb migration yet?

[2021-04-26 12:07] imtoori commented on #402
can you give me a quick way to reproduce this bug? I'll try doing it and come back to you with more details
btw the migration is almost complete, we'll release a nnbd version this week probably

[2021-04-26 15:12] rubenvereecken commented on #402
Not really. It happens sometimes on `client.setUser`. Try it with a poor/no connection maybe?

[2021-04-27 16:50] searchy2 commented on #402
I can verify that this issue happens and is persistent.
My colleague on iOS experienced an issue with consistent 1 minute loading times.

On a slow connections, I receive a DioError timeout (6000ms)

[2021-04-27 22:16] rubenvereecken commented on #402
Can we get `WebSocketChannelException`s handled by Stream, at least those caused on `setUser`? This is very much startup code and it's a real pain to have to write retry logic ourselves, especially because it's unlikely any API consumer will choose not to retry it. It also shouldn't be too hard to find the origin of these.

I'm fine with writing retry logic for other methods like `queryChannels`.

[2021-04-28 07:43] imtoori commented on #402
Can try if changing the connect/receive timeout when instantiating the client does anything?

[2021-04-28 07:48] rubenvereecken commented on #402
@imtoori But.. That won't actually prevent errors. What you need is a catch-all with some infinite retry logic wrapped around it. Except if you don't want to retry if there's no connection at all (to save battery), that's up to you.

I saw somewhere you already have a back-off strategy implemented.

[2021-04-28 07:50] imtoori commented on #402
yeah we have that, I need to check how that works for the first time connect call
because I think we should still throw an error if the user can't connect due to some API call errors
I'm working on this btw, I'll have more info soon

[2021-04-28 08:17] rubenvereecken commented on #402
Brilliant.

Just to add, we catch quite a few DioErrors in our start-up, some we retry, others are worse (like you said bad tokens for example). A lot of them are of type `error.type == DioErrorType.DEFAULT`. Checking for specific exceptions that occurred in Dio's layer we do for example with

[code]

Some other notable _but rare_ connection errors of type `DEFAULT`:
- `HttpException`
- `Handshake

[2021-04-28 08:25] imtoori commented on #402
yeah in other API calls, for example in `client.sendMessage`, when there is an error we check if it's an error of type `DioErrorType.RESPONSE` before adding the message to the retry queue.

Maybe it's not clear, but DioErrors are not related to the websocket connection anyway, that's all another different logic

[2021-04-28 08:26] imtoori commented on #402
Also, [this error](https://github.com/GetStream/stream-chat-flutter/issues/402#issue-864709334) seems to be due to some null safety issue, right?

[2021-04-28 09:01] rubenvereecken commented on #402
I'm.. not sure. My colleague said he gathered some more evidence, he'll post it soon. He did say when the client isn't initialised something becomes null inside the Stream SDK.

You're absolutely right, I was thinking of API errors etc which would go through Dio.

[2021-04-28 09:08] imtoori commented on #402
thanks I'm sure this will help
but I'm still thinking this is due to null safety since this is an error I saw while migrating the sdk
btw, we should be able to release a beta version fully migrated very soon

[2021-04-28 12:45] Siqlain-Hanif commented on #402
Current version we are using **_1.3.2-beta_**

So we are trying to open up the chat from the notification which carries the cid.
We first resolve the channel based on the cid using queryChannels, what happens is the **_websocketconnection_** is in the
**_connecting state_** that makes the queryChannels not yield anything and fails the resolution of channel.
So every time we present the user to ret

[2021-04-28 12:53] Siqlain-Hanif opened #408 "Disable message Input instant commands"
**Is your feature request related to a problem? Please describe.**
Currently in am using version 1.3.2-beta, seems like there's no way to disable the instant commands. Or is there any option that i am missing

**Describe the solution you'd like**
I would like to have a flag that enables or disables the instant commands.

**Describe alternatives you've considered**
I copied over the widget code and

[2021-04-28 12:56] imtoori commented on #408
we added that option in the latest release
there is a property in the `MessageInput` called `showCommandsButton`

[2021-04-28 12:56] #408 closed

[2021-04-28 13:05] imtoori commented on #402
I can give you some advice that may help you while I try to understand how to help you better:

- always await the `client.connectUser` calls before doing anything else
- avoid using `queryChannels` if not needed. In this case, It would be better to instantiate the channel using something like this
[code]

[2021-04-28 14:06] Siqlain-Hanif commented on #402
- connectUser call is awaited so no issue there.
- The second one I will try this and let you know whether it fixes it or not

[2021-04-28 16:26] poqueque commented on #364
Same issue here. Please address it.

[2021-04-28 17:49] #398 closed

[2021-04-28 20:41] JayPerfetto commented on #364
It is not constructive to continue posting "same issue" - just thumbs up the original post

[2021-04-29 04:24] poqueque commented on #364
Jay, I tried but for some reason it was disabled at the time of posting.

[2021-04-29 07:34] imtoori commented on #364
performance is one of our top priorities
we'll take care of this after the nnbd migration is done (it's really close)

[2021-04-29 11:18] #400 closed

[2021-04-30 03:13] moatazfouad opened #409 "google_map_location_picker is incompatible with stream_chat_flutter."
I can't install google_map_location_picker plugin with stream_chat_flutter plugin at all.
google_map_location_picker requires only intl: 0.17.0 plugin but stream_chat_flutter don't support intl: 0.17.0 version
How can I solve that please?
pubspec.yaml
 **google_map_location_picker: ^4.1.7
  stream_chat_flutter: ^1.5.2**

error on console
_Because no versions of stream_chat_flutter match >1.5.2 <2.

[2021-04-30 08:04] imtoori commented on #409
Hi @moatazfouad you should use an older version of the plugin or just wait for us to finish the nnbd migration that will bump up every dependencies in our packages :)
you can check the status [here](https://github.com/GetStream/stream-chat-flutter/pull/381)

[2021-04-30 08:04] #409 closed

[2021-04-30 10:04] moatazfouad commented on #409
@imtoori Thanks for your answer!
but as far as I concerned every version of google_map_location_picker depends on intl:0.17.0 version,
so no version of stream_chat_flutter will be compatible with google_map_location_picker.
Can you tell me which version I should use for both plugins?
actually I am about to finish a project for a client and I need to know how much average time I will wait?

[2021-04-30 10:17] imtoori commented on #409
If I'm not wrong 4.1.6 should work for you while we're finishing the migration

[2021-04-30 10:34] moatazfouad commented on #409
The same issue, google_map_location_picker depends on flutter_localization: any so its by default depends on the newest version of intl plugin.
I appreciate your hard work on the package but can you please tell me when you will finish?

[2021-04-30 10:56] imtoori commented on #409
I think we'll release on monday
btw, are you using `google_map_location_picker: ^4.1.6` or `google_map_location_picker: 4.1.6`?
The second one is the one I'd try

[2021-04-30 11:04] moatazfouad commented on #409
**google_map_location_picker: 4.1.6
  stream_chat_flutter: ^1.5.2**
and I get this error
### Because every version of google_map_location_picker depends on flutter_localizations any from sdk which depends on intl 0.17.0, every version of google_map_location_picker requires intl 0.17.0.
So, because test_paytabs depends on google_map_location_picker 4.1.6 which depends on intl >=0.15.3 <=0.17.0-null

[2021-04-30 15:56] moatazfouad commented on #409
@imtoori did it work with you? 🧐

[2021-05-02 14:10] Siqlain-Hanif commented on #402
The above snippet works real well for resolving the channel from notification.

[2021-05-03 07:57] imtoori commented on #409
sorry I haven't tried, I thought that should have worked looking at the pubspec, but apparently it doesn't
I'll let you know once we release the null-safety version of the package

[2021-05-03 15:59] searchy2 commented on #402
How is Stream able to claim <100ms message times when connecting the user and querying channels consistently fails?
What is being done to resolve the issue and is it even fixable because it looks like the backend is taking a long time to respond.

This issue has delayed our rollout of chat and is giving users an unacceptable experience.

[2021-05-03 17:21] moatazfouad commented on #409
@imtoori I still have the same error in the latest version of the package 😢

[2021-05-03 18:24] imtoori commented on #402
we just released a `2.0.0-nullsafety.0` version of the package that should solve this issue
I'm closing it, feel free to reopen it if the problem persists

 @searchy2 I think your problem is not the same as this one.
Can you contact support so that we can chat sharing your app details so we can solve it as soon as possible?

[2021-05-03 18:24] #402 closed

[2021-05-03 18:25] imtoori commented on #409
@moatazfouad can you try latest version 2.0.0-nullsafety.0?

[2021-05-03 18:28] imtoori commented on #339
The pr has been merged
You can find the new version as `2.0.0-nullsafety.0`
It's not a stable release, but we'll test it and bring it to stable as soon as soon as possible and thanks in advance for your feedback!

[2021-05-03 18:28] #339 closed

[2021-05-03 19:05] rubenvereecken commented on #339
So glad to hear this, thanks @imtoori! We're not relying on your null safety but good to see your dependencies are probably more stable. We were already using your dev branch last week so should be a tiny upgrade.

[2021-05-03 19:11] rubenvereecken commented on #339
@imtoori I think you forgot to update your dependencies, see `stream_chat_flutter_core`

https://github.com/GetStream/stream-chat-flutter/blob/develop/packages/stream_chat_flutter/pubspec.yaml

[2021-05-03 19:22] imtoori commented on #339
yep, sorry about that
just fixed it in the 2.0.0-nullsafety.1 release
thanks!

[2021-05-03 19:46] moatazfouad commented on #409
@imtoori I get this new error
[code]

[2021-05-03 19:52] imtoori commented on #409
can you try again with version 2.0.0-nullsafety.1
there was an error during publishing the package, sorry

[2021-05-03 20:11] moatazfouad commented on #409
@imtoori Thanks for your quick answer!
but actually I still have an error
this is my pubspec.yaml
[code]

[2021-05-03 20:13] moatazfouad commented on #409
I hope to try reproducing the issue by running these packages
if you tried comment `google_map_location_picker`, installing packages will succeed

[2021-05-03 20:28] searchy2 commented on #402
Can you look into the backend and run a trace for all the requests on our account that took over 6 seconds to connect and update us on what the issue is there?

[2021-05-04 07:22] imtoori commented on #402
In the latest version there is a small fix that improves the connection time client side
Can you contact support for this? Thanks

[2021-05-04 07:49] imtoori commented on #409
Hey @moatazfouad
I just tried that list of dependencies and I really think this is an issue of google_map_location_picker
they don't support up to date dependencies as you can see in the tab score of pub.dev https://pub.dev/packages/google_map_location_picker/score
I think there's nothing we can do about that

[2021-05-04 07:56] rubenvereecken commented on #402
Now I'm a bit worried too, @imtoori improving connection time can still cause time-outs.

I'd like to revisit my original question

In short: What throws, literally ever, what doesn't?

[2021-05-04 09:08] imtoori commented on #402
I want to stress the fact that the original issue:

2021-04-20 17:51:15.920 11917-12113/? I/flutter: │ 🐛 Setting chat user wF6n9VTqeFbKVQGIaYaxloAGINH3 - Ruben
2021-04-20 17:51:15.920 11917-12113/? I/flutter: └───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
2021-04-20 17:51:17.161 11917-12113/? E/flutter: [ERROR:flutter/lib/ui

[2021-05-05 02:44] zevain opened #413 "ChannelListView wont refresh automatically"
**Describe the bug**
ChannelListView widget won't refresh automatically when new channel is added. I must reload the ChannelsBloc to get it query the new channels.

**What package are you using? What version?**
^1.5.3

**What platform is it about?**
- [x] Android
- [ ] iOS
- [ ] Web
- [ ] Windows
- [ ] MacOS
- [ ] Linux

**To Reproduce**
Steps to reproduce the behavior:
1. Set up demo apps with lo

[2021-05-05 08:21] imtoori commented on #413
thanks a lot for all the details!
I think this is easily solvable, I'll let you know once I publish a fix

[2021-05-05 13:57] #413 closed

[2021-05-05 14:08] imtoori commented on #386
Hey @searchy2,
Our team tried reproducing the issue reported using a nested application structure and Provider.
Unfortunately, we were not able to reproduce this error using the structure described. As a result, we will be closing this issue but please feel free to reach out to our support channel if you are still experiencing this.
We also released a new null safe version of our SDK (Beta) so it

[2021-05-05 14:08] #386 closed

[2021-05-06 01:51] zevain commented on #413
@imtoori Thank you so much for looking into my issue. I'll wait for your update. But i want to make sure, do you think i implement the plugin correctly in my code ?

[2021-05-06 02:39] zevain opened #417 "Stream Chat Persistence : SortOption requires a comparator in order to sort"
**Describe the bug**
Error in debug mode whenever i use Stream Chat Persistence saying "SortOption requires a comparator in order to sort"

**What package are you using? What version?**
Stream Chat Flutter 1.5.4 and Stream Chat Persistence 1.5.2

**What platform is it about?**
- [x] Android
- [ ] iOS
- [ ] Web
- [ ] Windows
- [ ] MacOS
- [ ] Linux

**To Reproduce**
Steps to reproduce the behavior:

[2021-05-06 07:34] imtoori commented on #417
that's because a comparator is required in order to apply the correct sort options to the offline channels
try replacing your SortOption with this
[code]

or you can even remove it because that's the default SortOptions

[2021-05-06 07:34] #417 closed

[2021-05-06 07:37] imtoori commented on #413
the new version is out! Try using 1.5.4, it should work fine
About the implementation, I think it's well done 😄

[2021-05-06 07:42] davidwijayanto2 opened #418 "Could Not Receive Notification Data When In Background"
Hi, I'm currently develop application using stream_chat 0.2.23+3, i have an issue when implementing push notification following this guide https://getstream.io/chat/docs/flutter-dart/flutter_push/ I'm using FirebaseMessaging.onBackgroundMessage(_firebaseMessagingBackgroundHandler) to receive notification in background. When i'm terminate the app, its received the message but have null notification

[2021-05-06 07:46] imtoori commented on #418
Hi @davidwijayanto2
have you tried customizing the notification template in your stream dashboard?

[2021-05-06 07:54] Abacaxi-Nelson opened #419 "Migration guide"
Hi Team,
Thanks a lot for your hard work, null safety version is available, that's great.

1- WIll "https://github.com/GetStream/flutter-samples/tree/main/packages/stream_chat_v1" be migrated too ? (Some component are gone)
2- Do you have a migration for Filter ?

[code]
This one is easy, but autocomplete is not clear for me :)

Nelson,
Thank you,

[2021-05-06 08:05] davidwijayanto2 commented on #418
currently I'm following this template

[2021-05-06 08:20] xsahil03x commented on #419
@Abacaxi-Nelson

[code]

[2021-05-06 08:22] imtoori commented on #419
About the sample apps, we're migrating them! :)

[2021-05-06 08:22] #419 closed

[2021-05-06 08:27] imtoori commented on #418
Can I ask you to contact support for this?
They'll ask for your API key to better address the issue
https://getstream.io/contact/support/

[2021-05-06 08:27] #418 closed

[2021-05-06 08:35] Siqlain-Hanif opened #420 "Channel list does not sync new channels"
**Describe the bug**
So the use case we have is that some user follow a person on follow back we create a channel between them. We can go to that channel directly by using the cid, so that makes that the channel exists. But on channel list it does not show up. On restarting the app it does.

This is the snippet for the channel list if that helps.
![image](https://user-images.githubusercontent.com/

[2021-05-06 08:39] xsahil03x commented on #420
Closing as duplicate of #413

[2021-05-06 08:39] #420 closed

[2021-05-06 08:52] rubenvereecken commented on #413
@imtoori is there a 2.0.0 version with this fix? It's quite dire for us.

[2021-05-06 09:14] imtoori commented on #413
yes it's in version `2.0.0-nullsafety.3`

[2021-05-06 09:17] Siqlain-Hanif commented on #413
Let me upgrade to 2.0.0-nullsafety.3  we are currently on 2.0.0-nullsafety.2. Will report back

[2021-05-06 09:28] Siqlain-Hanif commented on #413
@imtoori thanks man that fixes it.

[2021-05-06 09:37] zevain commented on #417
@imtoori Thank you so much for the help, i really appreciate it.

[2021-05-06 10:24] Abacaxi-Nelson commented on #419
Thanks @xsahil03x @imtoori

[2021-05-06 18:36] jgadsby opened #422 "Allow a custom message list header or footer"
**Is your feature request related to a problem? Please describe.**
I'm trying to show a custom, entirely local, header widget above my message list (i.e. effectively the first 'message' in the list above the server-side messages). I don't need any other customizations, but right now I have to create a local copy of message_list.dart to do this.

**Describe the solution you'd like**
Add a 'header'

[2021-05-06 19:08] jgadsby commented on #422
Alternatively, is there a way to trigger a system message to a channel when it is first created / doesn't exist?

[2021-05-06 20:00] jgadsby opened #423 "How to access the default chat UI?"
@Nash0x7E2 Hi, I'm struggling a little on how to just return the default chat message UI in some cases - because 'buildMessage' is a complex function that lives inside MessageListViewState, and MessageListView just checks to see if the entire builder is null before using the defaults:

[code]

[2021-05-07 08:03] imtoori commented on #423
The problem is that the look of the message depends on the previous and following message in the default implementation.

But I guess we could expose a function like `buildDefaultMessage` that takes the messageinfo and returns the very default implementation.
I'll let you know when we do it

[2021-05-07 08:09] imtoori commented on #422
This is a good idea, I'm adding it to our backlog
I think the best solution for the moment is to send a system message.
Are you creating channels client side?

[2021-05-07 12:56] jgadsby commented on #422
@imtoori That works for me. Yes, I'm creating channels client-side, and I also noticed that sending a message with type set to 'system' doesn't seem to make a difference. How does the client send system messages?

[2021-05-07 12:58] jgadsby commented on #423
Thank you! That would be great. I suppose it's not a priority if I'm able to send and format system messages based on their extraData (see other issue I started)

[2021-05-07 14:56] jgadsby commented on #422
Sweet! Thank you! Do I need to pass anything for the map of channelData? I tried null but that prevents the message from being sent. I guess it could just be an empty map?

[2021-05-07 15:00] imtoori commented on #422
yes, or even better the existing extradata map you already have in the channel, because otherwise they'll be wiped out

[2021-05-08 07:52] siddhartha2000v commented on #47
@imtoori just wanted to check if this issue was resolved in the latest version.I am working on an application and dont want to initialise the client above authentication. I am getting the same error quoted above 'You must have a StreamChat widget at the top of your widget tree'

[2021-05-08 18:48] siddhartha2000v commented on #47
Thanks for the update @imtoori. I am able to resolve the issue using the builder parameter in material app. However was looking for the update on better solution. Thanks for helping with current status anyways.

[2021-05-09 20:21] Abacaxi-Nelson opened #424 "[Bug?] _CastError (Null check operator used on a null value)"
**Describe the bug**
Hi team,
I have not migrate yet, but use your last migrated version.

im getting:
![image](https://user-images.githubusercontent.com/556990/117585808-ba6b7980-b114-11eb-8eca-9ace213f2479.png)

**What package are you using? What version?**

[code]

**What platform is it about?**
- [ ] Android
- [X ] iOS
- [ ] Web
- [ ] Windows
- [ ] MacOS
- [ ] Linux

Thanks, Nelson

[2021-05-09 20:39] Nash0x7E2 commented on #424
Hi, thank you for filing this issue!

Can you please share the output of `flutter doctor --verbose`?

[2021-05-09 20:43] Abacaxi-Nelson commented on #424
Sure @Nash0x7E2

[code]

Just for information, i remove persistence, and error goes away..

[2021-05-09 20:45] Nash0x7E2 commented on #424
I tagged @imtoori and @xsahil03x from our Flutter team, they'll investigate further and provide feedback.

[2021-05-09 21:06] Abacaxi-Nelson opened #425 "[Bug] {"code":4,"message":"QueryUsers failed with error: \"field \"id\" expects type string\"","StatusCode":400,"duration":"0.00ms","m…""
Hi team,
I have not migrate yet, but use your last migrated version.

dio crash with following error

[code]

error seems coming from

[code]

i have printed payload sent

[code]

[code]

Thank you,
Nelson

[2021-05-09 21:09] Nash0x7E2 commented on #425
Looks like ID is being sent as an array, our team will patch in our next release.

Please keep in mind our null safe release is currently beta, consider using our non-null version for production applications.

[2021-05-09 21:12] Abacaxi-Nelson commented on #425
ooo @Nash0x7E2
seems my fault, was using
[code]
Sorry

[2021-05-09 21:12] #425 closed

[2021-05-09 21:13] Nash0x7E2 commented on #425
Ah! Happy you found the fix.

Cheers!

[2021-05-10 03:46] parikh20 opened #426 "disabling attachments on MessageInput throws errors"
**Describe the bug**
disabling attachments on MessageInput throws errors

**What package are you using? What version?**
stream_chat_flutter 2.0.0-nullsafety.2

**What platform is it about?**
- [x] Android
- [ ] iOS
- [ ] Web
- [ ] Windows
- [ ] MacOS
- [ ] Linux

**To Reproduce**
Steps to reproduce the behavior:
1) Use the provided examples here https://getstream.io/chat/flutter/tutorial/#add-stre

[2021-05-10 07:31] imtoori commented on #426
@parikh20 this should be fixed in version `stream_chat_flutter 2.0.0-nullsafety.3`
can you check please?

[2021-05-10 08:04] imtoori commented on #424
@Abacaxi-Nelson when does this happen?

[2021-05-10 08:17] Abacaxi-Nelson commented on #424
hi @imtoori
Listing channels (ChannelListView component)

[2021-05-10 09:11] imtoori commented on #424
@Abacaxi-Nelson can you try uninstalling and reinstalling the app?
We didn't bump the db version and if you had some db data before upgrading sometimes you can get this kind of errors
Can you check please? I'm trying to reproduce it, but I'm not succeeding

[2021-05-10 13:20] hashirshoaeb opened #427 "Customise TextOverflow property in ChannelName"
**Is your feature request related to a problem? Please describe.**
Hi I'm using [`ChannelName`](https://github.com/GetStream/stream-chat-flutter/blob/master/packages/stream_chat_flutter/lib/src/channel_name.dart#L10) class. And want to change text overflow style from `TextOverflow.ellipsis` to `TextOverflow.fade`. To made the desired change, I had to copy the whole class.

https://github.com/GetSt

[2021-05-13 09:30] deven98 commented on #427
The PR for the fix has been merged into develop and should make it into next release soon.
Please feel free to reopen this if any other issues arise.
Thanks for bringing this to our attention!

[2021-05-13 09:30] #427 closed

[2021-05-14 07:29] #273 closed

[2021-05-14 07:54] imtoori commented on #426
@parikh20 I'm trying reproducing the bug, but it's working fine for me
how are you using the MessageInput?

[2021-05-16 16:19] rlee1990 commented on #295
@Abacaxi-Nelson have you tested this yet?

[2021-05-16 16:49] rlee1990 opened #432 "Error When Clicking An Image to view"
I am receiving the below error for any attachment that I click on after uploading it in chat.
Does stream chat use it's own navigation system for pages?

[code]

**What package are you using? What version?**
^2.0.0-nullsafety.3

**What platform is it about?**
- [✅ ] Android
- [ ] iOS
- [ ] Web
- [ ] Windows
- [ ] MacOS
- [ ] Linux

[2021-05-17 00:00] Nash0x7E2 commented on #432
Hey! Thank you for filing this report!

Can you send us the output of “Flutter doctor —verbose”?

Also, Stream Chat Flutter uses the flutter_file_picker to handle file selection. Can you confirmed that you added the relevant permissions as outlined by the package? https://github.com/miguelpruivo/flutter_file_picker

Cheers

—

Neevash Ramdial | Mobile Developer Relations  Lead
GetStream.io | Techs

[2021-05-17 07:35] Abacaxi-Nelson commented on #295
Yes make some change.. but the general idea is okay

[2021-05-17 13:18] rlee1990 commented on #432
@Nash0x7E2 Here is my output:
[code]

All permissions have been added. The issue does not happen when selecting an image to send but when clicking on one that was sent as a message. It will try to load the FullScreenMedia page. Sometimes it crashes the app other times I get a breakstop with no error and just a blank spot where the image should be. Sometimes it loads the image. It does not matter w

[2021-05-17 14:18] hashirshoaeb opened #434 "customise styling"
I have a question:

how can I customise the icon color (close icon to go back). that is on the top left of the image previewer screen.  Is there any options available in `StreamChatThemeData` class for this?

<img src="https://user-images.githubusercontent.com/35165481/118503190-d342e300-b743-11eb-8176-71b53cc9facb.png" width=400 />

[2021-05-17 14:31] imtoori commented on #434
Hi and thanks for the question
The icon takes the color from `themeData.colorTheme.black`
At the moment it's not easy to change its color without changing the color of other stuff, we'll take it into consideration and try and find a way to do this in the cleanest way

[2021-05-17 14:37] imtoori commented on #432
We think this may be due to using an M1 Mac.
Can you try reproducing it on another machine?

[2021-05-17 15:10] rlee1990 commented on #432
@imtoori I will try on a windows device but I fail to see how that is the cause as the device the application is ran on is a physical device. I think the images are coming in as null a lot of times for some reason. I also get the same issue when using thread replies. I will let you know when I try on a windows device.

[2021-05-17 15:11] imtoori commented on #432
Thanks!
The thing is I'm trying to reproduce this issue, but it never happens to me
Thanks again

[2021-05-17 15:14] rlee1990 commented on #432
Okay I am trying it now. I will also try to record it if that will help.

[2021-05-17 15:24] sachaarbonel commented on #432
by null images do you mean you receive 404 errors? Are you in debug mode?

[2021-05-17 15:30] rlee1990 commented on #432
@sachaarbonel I am in debug mode. I am not receiving a 404 error. When I did a check using onAttachmentTap and printed out the contents of attachment it would sometimes come back as null when and I would get the error. As far as when I use the tread reply I get an error
`E/flutter ( 6420): [ERROR:flutter/lib/ui/ui_dart_state.cc(186)] Unhandled Exception: Null check operator used on a null value
`

[2021-05-17 15:31] imtoori commented on #432
We're fixing the reply bug, it's in the develop branch at the moment and will be out in the next release

[2021-05-17 15:35] sachaarbonel commented on #432
I think if this is a bug related to the Dart VM, can you try this fix for vscode stated in this [comment](https://github.com/flutter/flutter/issues/80733#issuecomment-823088387) and let us know if it worked

[2021-05-17 16:01] rlee1990 commented on #432
Thanks guys I will give that I try and as far as on a different device due to this being an M1 Mac might be the issue which is odd. I ran a quick test doing the same things with no issue on windows. Let me play around again for a few to see if it does reproduce or if it works.

Thanks for the information about the reply issue I was going to say that yup still had that issue on windows

[2021-05-17 16:30] rlee1990 commented on #432
@sachaarbonel @imtoori It appears I do only get the issue on an M1 Mac. Not sure really why.
It always hits a breakpoint that points to:
[code]
in the errors_patch.dart file.
I don't get this issue on windows.
Sometimes I can move past it and the image loads others it crashes the app or it will not display the image.
I did follow the comment you provided but still have the same issue.

[2021-05-17 16:44] imtoori commented on #432
if that's the case I'm gonna close this issue because there is nothing we can do about it
I'm sure they'll fix this kind of bugs eventually
Feel free to reopen it in case you think we could do something

[2021-05-17 16:44] #432 closed

[2021-05-17 20:26] parikh20 commented on #426
I'm using your stream_chat_v1 sample to test around and it still occurs in that version. Adding disableAttachments to a MessageInput causes a rendering error and results in a white screen. I tried this with the new chat screen. Please try again.

[2021-05-17 21:01] rlee1990 opened #435 "Giphy Changes"
Is there any way to make changes to how giphy is used?
Like for example how Facebook allows you to search and a list of gifs are returned vs just a random one? I know it can be done if you make it yourself but would be nice to add a flag to have the random way or a way like Facebook.

[2021-05-17 21:06] rlee1990 opened #436 "Channel Themes"
It would be nice to be able to customize the channels on an individual basis. Like changing the background. Or the color to the chat bubbles. If this is possible I am not seeing any documentation for it.

[2021-05-17 21:12] parikh20 commented on #426
I'm using it as such:

`Scaffold(
      appBar: ChannelHeader(),
      body: SafeArea(
        child: Column(
          children: <Widget>[
            Expanded(
              child: MessageListView(),
            Padding(
              padding: EdgeInsets.only(bottom: 5.0),
              child: MessageInput(
              ),
            ),
          ],
        ),
      ),
    );`

Tried it with a

[2021-05-17 22:15] rlee1990 opened #437 "Cannot Customize Reactions"
When trying to use:
[code]
The ReactionIons class is not accessible.

[2021-05-18 04:15] hashirshoaeb commented on #434
i tried changing the `themeData.colorTheme.black` property but didn't workout.

[2021-05-18 07:51] imtoori commented on #426
I've tried running that snippet and it's working fine
I thought it was because of the Padding or SafeArea but it actually works fine
I'll close this issue for the moment, feel free to reopen it when you have more details

[2021-05-18 07:51] #426 closed

[2021-05-18 07:53] imtoori commented on #434
Can you paste a snippet showing me how you're doing it?

[2021-05-18 07:56] imtoori commented on #435
Hi and thanks for the feature request

We don't provide this kind of integration out of the box and it's not one of our priorities at the moment
The only solution is to do it yourself

I can suggest you some nice packages like this one https://pub.dev/packages/giphy_picker

I'll add this feature request to our backlog so that we'll do it eventually

[2021-05-18 08:04] hashirshoaeb commented on #434
Sorry my bad. Changes showed up later on hot restart. A big thanks for your help. ⭐

[2021-05-18 08:18] imtoori commented on #436
You can always wrap a subtree with a `StreamChatTheme` widget
In you case, something like this should work fine

[code]

[2021-05-18 08:18] #436 closed

[2021-05-18 08:24] imtoori commented on #437
You can import it like this
[code]

I'll make it accessible in the next release
Sorry about this and thank you for pointing it out

[2021-05-18 08:24] #437 closed

[2021-05-18 10:48] saurabh02ezest opened #439 "Want to upload files larger than 20 MB"
**Describe the bug**
Files less than 20 MB will gets uploaded to default CDN, but want to upload files larger than 20 MB (upto fixed limit, eg. 100MB, 200MB....) to own CDN (Firebase Storage).

Have been through the documentation - https://getstream.io/chat/docs/flutter-dart/file_uploads/?language=dart
and done following changes whatever understood from the documentation.

Made own implementation

[2021-05-18 12:09] rlee1990 commented on #436
Thanks

[2021-05-18 13:30] rlee1990 commented on #437
@imtoori is there any documentation on how we change the reaction icons?
I added an image to my assets that shows up in other locations but when I try to use it as a reaction icon it gives errors then does not show. Should they all be SVGs?

[2021-05-18 13:54] imtoori commented on #437
@rlee1990 yes, it should be an Svg
We'll work on abstracting it to allow any widget to be used as a reaction icon, I think it makes sense. Just added that to our backlog. For the moment please use an svg

[2021-05-18 13:56] rlee1990 commented on #437
Thanks @imtoori for the clarification.

[2021-05-18 19:19] rlee1990 opened #440 "Adding a gif from giphy manually"
I am trying to add a gif from giphy using `giphy_get: ^2.0.0` I can add the gif but if I set the attachment type to giphy so I can use all the default ui like when it is tapped I get an error on the gif.
Here is my code:
[code]

Can we not use this? If we can would someone provide the correct steps?
I tested that the gif will work if I make my own custom view but then I lose the ability to tap it

[2021-05-19 02:20] cdg720 opened #441 "stream_chat_flutter_core example"
**Describe the bug**
When I pull up (or down) messages in a channel, I get the following:
[code]

**What package are you using? What version?**
stream_chat_flutter_core 1.5.3

**What platform is it about?**
- [v] Android
- [ ] iOS
- [ ] Web
- [ ] Windows
- [ ] MacOS
- [ ] Linux

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/GetStream/stream-chat-flutter.git
2. i

[2021-05-19 08:25] imtoori commented on #441
Hi @cdg720 thanks for reporting the issue
However, this has been fixed in the `develop` branch and it will be soon merged to master
You can `git checkout develop` if you don't want to wait

[2021-05-19 08:25] #441 closed

[2021-05-19 08:48] imtoori commented on #440
Hi
I'm sorry but it seems like you're not using the giphy package correctly

https://developers.giphy.com/docs/api/schema/#gif-object

As you can see `value.source` is just

I guess you need to use `value.images.<the value you want>`

[2021-05-19 08:48] #440 closed

[2021-05-19 08:52] imtoori commented on #439
Hi @saurabh02ezest
I'm trying the code you posted, but I'm pretty sure it doesn't work

[code]

the response from firebase is not the same as the one from our backend.
You need to parse it properly and map it to the `SendImageResponse` class

Feel free to reopen the issue if you're still confused

[2021-05-19 08:52] #439 closed

[2021-05-19 08:57] imtoori commented on #357
Closing this
This is the same issue as #364
We'll post updates in that other one

[2021-05-19 08:57] #357 closed

[2021-05-19 09:36] hashirshoaeb commented on #434
@rubenvereecken and I are looking forward to it. ❤️

[2021-05-19 12:58] rlee1990 commented on #440
@imtoori I don't know what I was thinking smh 🤦‍♂️

[2021-05-20 04:55] searchy2 opened #444 "Dependency Fails to Build on Web"
**Describe the bug**
Heads up, substring_highlight makes builds fail on web with the following error:
[code]

**What package are you using? What version?**
2.0.0-nullsafety.3

**What platform is it about?**
- [ ] Android
- [ ] iOS
- [X] Web
- [ ] Windows
- [ ] MacOS
- [ ] Linux

[2021-05-20 10:09] imtoori commented on #444
I just opened a pr for fixing that https://github.com/remoteportal/substring_highlight/pull/14

[2021-05-20 14:31] Chojecki opened #445 "How to listen for new messages to display badge outside of chat"
Hi we are implementing get stream chat and designer wants to display "new message badge" in bottomNavigationBar.

Can some one explain me how to listen for this event? I have all chat (client, connection etc.) configured and the chat is functional via our backend, so I guess everything is ready and I just need some kind of listener.

[2021-05-20 14:34] imtoori commented on #445
hey @Chojecki do you need an unread count? Or just to get when a new message arrives?

[2021-05-20 14:37] Chojecki commented on #445
Just info about "there is new unread message (at least one)", so no count needed

[2021-05-20 14:38] imtoori commented on #445
you can use something like `client.state.totalUnreadCountStream`
and a `StreamBuilder` to build that kind of ui

[2021-05-20 14:38] #445 closed

[2021-05-21 08:17] ryanheise opened #447 "Allow null timeout in pinMessage for unbounded expiration"
**Is your feature request related to a problem? Please describe.**

The pre-null-safety version used to allow a `null` timeout to effectively make it unbounded.

In the null safety preview this parameter was made non-nullable so you can't indicate `null` anymore.

**Describe the solution you'd like**

Although the parameter is now non-nullable, the internal logic in that method is still the same a

[2021-05-21 08:23] imtoori commented on #447
Thanks for reporting this bug.
It will be fixed in the next release

[2021-05-21 08:26] #424 closed

[2021-05-21 08:43] xsahil03x commented on #447
Hey @ryanheise, thanks for reporting we might have missed this while migrating to NNBD. Meanwhile, you can use `channel.pinMessage` instead of `client.pinMessage` if it's urgent for you.

[2021-05-21 09:34] Chojecki opened #450 "fontFamily for all app"
Is there a way to change fontFamily for all StreamTheme ?

[2021-05-21 10:03] Chojecki opened #451 "Emoji as reactions"
I would like to add emoji icons as reactions

We are keeping reactions as remote config for A/B tests and we are just fetching them as `String` from our backend, so all we want to do is give ability to display reactions as Strings. Right now it's only SVG's as I understand.

[2021-05-21 10:21] imtoori commented on #451
Hi and thanks for the request!
This is in our backlog and we'll address it as soon as possible

[2021-05-21 10:32] Chojecki commented on #451
cool thanks

[2021-05-21 10:32] ibhanu commented on #347
Getting the same error in flutter 2.2, the flutter team reference this issue with path_provider_windows.
So, if the team upgrades the path_provider. It might help.

[2021-05-21 11:13] imtoori commented on #347
we are using the latest version of path_provider in our nullsafety version
we'll check and let you know
@deven98 can you try running the example on windows?

[2021-05-21 13:06] imtoori commented on #450
Hi!
You can change the fontfamily in your material theme and it will reflect in our widgets!
I just spotted a minor issue with our headers widget, but it will be fixed in the next nullsafety release

[2021-05-21 13:06] #450 closed

[2021-05-24 07:09] hashirshoaeb opened #454 "Null check operator used on a null value"
**Describe the bug**

image thumbnails giving error

https://user-images.githubusercontent.com/35165481/119308383-69b45e80-bc86-11eb-9271-fa2e6094b71b.mov

**What package are you using? What version?**

[code]

**What platform is it about?**
- [ ] Android (not sure)
- [x] iOS

**To Reproduce**
Steps to reproduce the behavior:
1. Send an Image.
2. Click on the image you sent
3. Click 'Grid' icon to

[2021-05-24 07:35] zevain opened #455 "connectUser only once"
Do we need to call the connectUser everytime we reopen the apps?
In my case, its kinda taking 2-5 secs before i got connected, and everytime i close the apps and reopen it, i must wait 2-5 secs again to get connected.

Thanks in advance.

[2021-05-24 07:46] xsahil03x commented on #455
Hey @zevain, yes we advise disconnecting and connecting the WebSocket again when the app goes into the background. Maybe if you can share what package version you are using and some code, we might help you better.

[2021-05-24 07:53] zevain commented on #455
Hi @xsahil03x , thanks for the answer.
I used Stream Chat Flutter 1.5.4 right now.
Its really not a problem. Based on your answer, i just need to adjust the code for my user no need to wait the connectUser method.
Thank you.

[2021-05-24 07:57] xsahil03x commented on #455
Hey @zevain, if you are using `stream_chat_flutter` you don't really have to do anything we handle it automatically using the `StreamChat` widget.

https://github.com/GetStream/stream-chat-flutter/blob/master/packages/stream_chat_flutter_core/lib/src/stream_chat_core.dart#L110

[2021-05-24 08:01] zevain commented on #455
Yes @xsahil03x , but before we can get the list of the channels, do we still need to call the connectUser method ? Because i got an error after i close the apps, then if i reopen it without calling the connectUser method, it throw an error.

[2021-05-24 08:44] xsahil03x commented on #455
@zevain can you share what you are actually doing in `ListChannel`. I can't help much without looking at the code.

[2021-05-24 09:29] zevain commented on #455
@xsahil03x  Sorry for my bad explanation.

Step on my apps:
1.a. Login using username and password provided, save the user and pass to the ``sharedpreference`` then do the ``connectUser``
1.b. If i already got the user and pass saved, then just do the ``connectUser``
2. I got the channel list like usual and the behavior is as expected
3. Close the apps
4. Reopen the apps and it repeat the step 1.b

[2021-05-24 09:40] xsahil03x commented on #455
@zevain so by re-opening the app you mean clearing it from the stack and opening it again right? In that case, you always need to call `connectUser` before doing anything else. `connectUser` basically opens up a `web-socket` connection for the user and returns a `connectionId` which is required in order to call other API's

[2021-05-24 09:56] xsahil03x commented on #447
Closing as fixed in #448

[2021-05-24 09:56] #447 closed

[2021-05-24 17:54] searchy2 commented on #444
Nice, your PR is merged. When can we expect an updated Stream SDK?

[2021-05-25 08:01] imtoori commented on #444
We'll release an update as soon as possible, even if I think you should be able to get the updated version of substring_highlight with a `flutter clean` `flutter pub upgrade`

[2021-05-25 08:01] #444 closed

[2021-05-25 08:11] imtoori commented on #395
Apparently, this is not supported by Flutter itself https://github.com/flutter/flutter/issues/20796
I tried using a workaround, as you can see in my PR, but we don't think this is something we should publish.
I'll close this issue since there's nothing we can do, let me know what you think about it and if you have any ideas

[2021-05-25 08:11] #395 closed

[2021-05-25 08:15] xsahil03x commented on #455
@zevain I think we are good here, feel free to re-open if you have any more doubts 😄

[2021-05-25 08:15] #455 closed

[2021-05-25 12:53] imtoori commented on #454
@hashirshoaeb can you check with version ` 2.0.0-nullsafety.4`?
I'm trying to reproduce it, but I really can't :/

[2021-05-26 04:50] Siqlain-Hanif opened #456 "Bad state: No element. Error thrown Instance of 'ErrorDescription'. Iterable.reduce"
**Describe the bug**
My app crashlytics just pointed me to this issue.
its in the MessageListViewState widget in _getTopElement
**What package are you using? What version?**
2.0.0-nullsafety.3
**What platform is it about?**
- [x] Android
- [x] iOS
- [ ] Web
- [ ] Windows
- [ ] MacOS
- [ ] Linux

**Logs **
Non-fatal Exception: io.flutter.plugins.firebase.crashlytics.FlutterError: Bad state: No elem

[2021-05-26 08:16] xsahil03x commented on #454
@hashirshoaeb try overriding `rxdart` in your `pubspec`

[code]

[2021-05-26 13:43] imtoori commented on #434
@hashirshoaeb can I ask you how you got this ui? what did you change?
![image](https://user-images.githubusercontent.com/20601437/119670331-16364200-be39-11eb-8b83-c8890d94e0e4.png)

[2021-05-26 14:06] hashirshoaeb commented on #434
Is it not reproducible?  I tried to fix it by changing `themeData.colorTheme.black` but it also changes the color of bottom icons. So reverted it.

[2021-05-27 13:16] Chojecki opened #460 "Sharing media from gallery view stop app from working"
When I send more than one media like image, it will create a gallery view inside channel. If I tap on this gallery I can browse those images but when it comes to share them or save on phone, the app is covered by bottom sheet of sharing. Movie attached.

**What package are you using? What version?**
`stream_chat_flutter: ^2.0.0-nullsafety.4`

**What platform is it about?**
- [ ] Android
- [x] iOS

[2021-05-27 13:45] Chojecki opened #461 "Custom action on "menu (three dots)" button"
Hi, is that possible to add custom action for menu button in chat list cell after swipe? Right now it opens bottom sheet with chat overview and as I see in source code, it's hardcoded for `ChannelListView`. I think it's just few lines to add custom action there.

<img width="376" alt="Screenshot 2021-05-27 at 15 44 54" src="https://user-images.githubusercontent.com/20075941/119837054-86f56100-bf02

[2021-05-27 14:12] #456 closed

[2021-05-28 09:41] wangbo4020 commented on #347
Me too, example can't run on flutter 2.2.1

[2021-05-29 10:54] ericderegt opened #463 "Cannot build MessageActionsModal"
**Describe the bug**
I'm trying to use the modal actions in my chat application. I've followed the documentation and the application works fine to send messages. However when I try to hold down on a message to see the modal actions the application throws an exception

`The following _Exception was thrown building MessageActionsModal(dirty,
dependencies: [MediaQuery],
state: _MessageActionsModalSta

[2021-05-30 08:04] RizanPSTU opened #464 "User became null after some time"
When I connect the user it gets connect but after some time. The user becomes null.

[code]

**What package are you using? What version?**
  stream_chat_flutter: ^2.0.0-nullsafety.4

**What platform is it about?**
- [ *] Android
- [ ] iOS
- [ ] Web
- [ ] Windows
- [ ] MacOS
- [ ] Linux

**To Reproduce**
Steps to reproduce the behavior:
1. use my api key
2. connect user nova1
4. See error

**Expect

[2021-05-30 14:25] ericderegt commented on #463
This was resolved but putting StreamChat in the Material builder as in https://github.com/GetStream/stream-chat-flutter/issues/47. Is there an update on when there will be a new solution for dealing with this other than using the builder?

[2021-05-30 14:25] #463 closed

[2021-05-31 05:21] deven98 commented on #464
Hey @RizanPSTU,

The event you mention is a health check and does not imply that the user is not connected / null.
If your list of channels does not fetch the appropriate channels, can you provide a snippet of your ChannelListView code?

Thanks.

[2021-05-31 05:48] RizanPSTU commented on #464
This is the channel list page.
[code]

[2021-05-31 06:19] deven98 commented on #464
@RizanPSTU Your filter seems to be off, leading the list not to load.

Can you let me know what you are trying to do?

For example, if you are trying to search for channels with no members, you can do:

final Filter filter = Filter.equal('members', []);

[2021-05-31 06:29] RizanPSTU commented on #464
I want to view the channels that I am a member of. Even tho if I comment out the filter it's not loading anything.

[code]

[2021-05-31 06:40] RizanPSTU commented on #464
I have found the solution. I did wrong.  I should use filter this way,
[code]

[2021-05-31 06:40] #464 closed

[2021-05-31 06:46] deven98 commented on #464
Happy to help :)

This should work too, btw:

[code]

[2021-05-31 06:47] deven98 commented on #461
Hey @Chojecki, we're working on this as we speak and I'll let you know when the solution is merged.

[2021-06-03 06:57] rvvarasdiya opened #466 "versioning"
**Is your feature request related to a problem? Please describe.**
Integrate a stream is easy, But versioning dependencies which are depending on the stream version are hard to manage.

**Describe the solution you'd like**
Please update all the dependencies which you use in this package. So We also can use the latest version of the third-party dependencies.

**Describe alternatives you've consider

[2021-06-03 08:24] #454 closed

[2021-06-03 09:14] paynekw opened #467 "Don't override app theme in StreamChat widget"
**Describe the bug**
This is more of a design quirk than a bug. Following the documentation [here](https://getstream.io/chat/flutter/tutorial/#add-stream-chat-to-your-flutter-application), a `builder` is used to wrap the app in a `StreamChat` widget. In `StreamChat`'s `build` method, the following code overrides any `scaffoldBackgroundColor` that has been set in the `MaterialApp`'s `theme`.

From

[2021-06-03 09:53] deven98 commented on #466
Hey @rvvarasdiya,

We're currently working on a stable release of null safety which will contain a significant number of changes.
To get the latest version immediately, try using the `develop` branch which will contain a number of package updates.

If there is something else that we can help you with, feel free to let us know.

Thanks.

[2021-06-03 09:55] rvvarasdiya commented on #466
Thank you, Deven.

On Thu, Jun 3, 2021 at 15:23 Deven Joshi ***@***.***> wrote:

[2021-06-03 09:57] deven98 commented on #461
Hey @Chojecki,

The PR for the fix (https://github.com/GetStream/stream-chat-flutter/pull/465) was merged into develop.
You can now customize the default action callbacks as well as substitute them with your own.

I hope this solves your problem.

Thanks for bringing this to our attention and please feel free to reopen or file a new issue if you require anything else.

Thanks!

[2021-06-03 09:57] #461 closed

[2021-06-03 10:01] deven98 commented on #466
I'm closing this issue for now.

If you see any irregularities or anything which isn't updated on develop, please feel free to reopen this.

Thanks!

[2021-06-03 10:01] #466 closed

[2021-06-03 10:09] imtoori commented on #466
you can also use the nullsafety version of the packages https://pub.dev/packages/stream_chat_flutter/versions/2.0.0-nullsafety.4

[2021-06-03 10:16] deven98 commented on #467
Hey @paynekw,

Nice spot, I will let you know once the fix is merged.

Thanks!

[2021-06-07 08:56] imtoori commented on #460
Hi @Chojecki
do you see any useful log?
I'm trying to reproduce this, but it's working fine for me

[2021-06-14 09:56] #460 closed

[2021-06-15 08:07] imtoori commented on #451
This feature is available in the `develop` branch
It will be included in the next nullsafety release

[2021-06-15 08:07] #451 closed

[2021-06-15 13:48] imtoori commented on #364
we've been doing some work on the performance issues
there is still a small junk (especially in [debug mode](https://flutter.dev/docs/testing/build-modes#debug), but that should be fine) while opening the ChannelPage, but overall it should be better
Let us know if you have any suggestion or if you want to report other performance issues, we're always working on that :)

[2021-06-17 09:37] saurabh02ezest commented on #439
@imtoori What is the use of '**[duration](https://pub.dev/documentation/stream_chat/latest/stream_chat/SendImageResponse/duration.html)**' in [SendImageResponse](https://pub.dev/documentation/stream_chat/latest/stream_chat/SendImageResponse-class.html) and [SendFileResponse](https://pub.dev/documentation/stream_chat/latest/stream_chat/SendFileResponse-class.html)?

Its okay if we don't pass  '**[d

[2021-06-17 09:48] imtoori commented on #439
the duration is a field populated by our backend that tells us how much time it took to resolve the request
it's just debugging property, so yes, you can ignore it or assign a dumb value

[2021-06-17 10:56] poqueque opened #478 "Unhandled Exception: Null check operator used on a null value"
We are receving the following error from the SDK when starting the app.

`Unhandled Exception: Null check operator used on a null value`

As a consequence (I guess), when calling connectUser, we receive an error

E/flutter (21157): [ERROR:flutter/lib/ui/ui_dart_state.cc(199)] Unhandled Exception: Exception: Already connecting
E/flutter (21157): #0      StreamChatClient.connect (package:stream_chat

[2021-06-17 10:59] imtoori commented on #478
Hi @poqueque
Sorry about this, [this commit](https://github.com/GetStream/stream-chat-flutter/commit/2af7c78bd102f751057fc2f913561eb93db097e1) should fix the error
We're gonna publish a new version as soon as possible, you can try using the dependency from git in the meantime

[2021-06-17 11:29] poqueque commented on #478
I'm trying with:

[code]

but I got:

Could not find a file named "packages/stream-chat-flutter/pubspec.yaml"

Any clue to properly add the dependency?

[2021-06-17 11:33] xsahil03x commented on #478
@poqueque something like this
[code]

[2021-06-17 12:33] rohan20 commented on #424
Hi, we have the same error. Happens on `ChannelListView` but not really sure under what conditions. We've tried reinstalling the app as well.

![image](https://user-images.githubusercontent.com/8232573/122397039-de727400-cf78-11eb-9225-c47e4541a4bf.png)

`$ flutter doctor`

[code]

[2021-06-17 12:47] imtoori commented on #424
@rohan20 the 0.x version doesn't support nullsafety, and it's really old (we had version 1.x, and we're going for 2.x with nullsafety support and a lot of improvements)

I think your error is not the same as the one @Abacaxi-Nelson posted
I can try reproducing this btw

[2021-06-17 13:29] imtoori commented on #478
the fix is out with version 2.0.0-nullsafety.7
sorry for the inconvenience

[2021-06-17 13:29] #478 closed

[2021-06-18 11:18] poqueque opened #483 "Keyboard covers input text box when editing message"
**Describe the bug**
When editing a message the widget that shows the text to edit is covered by device keyboard

**What package are you using? What version?**
stream_chat_flutter: ^2.0.0-nullsafety.7

**What platform is it about?**
- [x] Android
- [x] iOS

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a chat
2. Click on edit message
3. See error

**Expected behavior**
Edit message wi

[2021-06-18 12:03] imtoori commented on #483
Apparently flutter 2.2 breaks the previous behaviour

https://stackoverflow.com/questions/53869078/how-to-move-bottomsheet-along-with-keyboard-which-has-textfieldautofocused-is-t
https://github.com/flutter/flutter/pull/77286/files

we'll fix it asap

Thanks a lot for reporting the issue!

[2021-06-18 16:52] jgadsby opened #484 "checkCommands: Null check operator used on a null value"
**Describe the bug**
When using the giphy command, the message '/giphy <search term>' gets sent rather than showing the giphy preview as in previous versions. Exiting the chat screen and returning will show the giphy preview as expected.

**What package are you using? What version?**
 stream_chat_flutter: ^2.0.0-nullsafety.7

**What platform is it about?**
- [X] Android
- [X] iOS
- [ ] Web
- [ ] W

[2021-06-19 15:00] rlee1990 opened #485 "Question About The ReactionIcons Builder"
The builder for reactionicons takes `(BuildContext, bool, double)` it would be nice to get more information on to what the bool and double are used for.

[2021-06-19 15:00] #485 closed

[2021-06-20 08:14] dongheechoi opened #486 "I cannot run this project using ios simulator"
**Describe the bug**

Using develop branch, I cannot run stream_chat_v1
In getstream-flutter/packages/stream_chat_v1, I typed flutter run, but I cannot run.

**What package are you using? What version?**

I am usin flutter 2.2.2

**What platform is it about?**
- [ ] Android
- [ ] iOS
- [ ] Web
- [ ] Windows
- [x] MacOS
- [ ] Linux

**To Reproduce**
Steps to reproduce the behavior:
1. Clone this pr

[2021-06-20 15:38] rlee1990 opened #487 "Thread Reply Issue"
When we customize the MessageWidget we lose the default setup for threads and replies which we should still get unless we provide our own function or choose not to allow them. I think it would be better to have a bool to show the options of threads and replies and if true keep the default function unless a custom one is provided.

[2021-06-21 12:36] imtoori commented on #483
Fixed on develop
You'll find the fix in the next release

[2021-06-21 12:36] #483 closed

[2021-06-21 15:37] deven98 commented on #486
Hey @dongheechoi,

Can you confirm that you ran melos bootstrap in the root directory before running the app as stated [here](https://github.com/GetStream/stream-chat-flutter#structure) ?

Thanks.

[2021-06-21 15:54] deven98 commented on #484
Hey @jgadsby,

Thanks for reporting.

I will check the behaviour on the version you mentioned and get back to you shortly.

Thanks!

[2021-06-21 16:09] deven98 commented on #487
Hey @rlee1990,

The default setup for the threads and replies lies in the inbuilt `MessageWidget` which you can enable.
You can copy the implementation from there if you intend to fully use your own message widget.

As for fully moving that implementation to the `MessageListView` instead of the `MessageWidget` - that will require some discussion with the team and I will get back to you on that.

T

[2021-06-21 16:21] rlee1990 commented on #487
@deven98 thanks for that. I wasn't asking to move it but just from looking at `MessageWidget` the onThreadTap function doesn't show a default option if you use the `messageBuilder`. You have to provide it yourself or the option is not there.

[2021-06-21 16:25] rlee1990 commented on #487
Here is my code:
[code]
If i do not provide a function for `onThreadTap:` then the thread reply option does not show for any message same with replies and quoted messages.

[2021-06-22 02:46] rlee1990 opened #489 "Catching errors from the sdk"
Is there a way to catch the errors from the sdk such as when I banned user tries to send a message in a chat? As of now, I get an exception error but it would be nice to catch this somehow and display a message to the user.

[2021-06-22 14:11] deven98 commented on #487
@rlee1990 Gotcha,

Just confirming - you want to have the default behaviour of the onThreadTap available to use / as the default behaviour when you customise the MessageWidget, yes? (Default behaviour being opening the normal thread tap screen)

[2021-06-22 14:14] rlee1990 commented on #487
Yes @deven98 and the same for replies and quoted messages if possible. Because as of now we have to create our own functions for them when we customise the MessageWidget.

[2021-06-22 14:20] deven98 commented on #487
@rlee1990 Understood.

This probably has a few different solutions, let me discuss and get back to you.

Thanks.

[2021-06-22 14:21] rlee1990 commented on #487
@deven98 thanks that sounds good.

[2021-06-22 14:26] #364 closed

[2021-06-22 14:35] deven98 commented on #489
Hey @rlee1990,

Just to get more info about this:

Are you trying to catch errors related to sending messages through input specifically or more generally for the sdk (missing permissions for example)?

[2021-06-22 14:42] rlee1990 commented on #489
I am using the sdk with the built-in ui and want to catch the errors for when things like a user sends a message but is banned.
@deven98

[2021-06-22 21:21] jgadsby opened #491 "Photos and video in iOS 15 gallery are in a random order and most are not tappable"
**Describe the bug**
The title sums it up! Viewing the gallery preview in iOS 15 sorts all your images randomly, and tapping on most of them does nothing.

**What package are you using? What version?**

**What platform is it about?**
- [ ] Android
- [X] iOS
- [ ] Web
- [ ] Windows
- [ ] MacOS
- [ ] Linux

**To Reproduce**
Steps to reproduce the behavior:
1. Run Stream on an iOS 15 device
2. Tap th

[2021-06-23 10:49] imtoori commented on #484
fixed in the develop :) you'll find it in the next release

[2021-06-23 10:49] #484 closed

[2021-06-23 13:35] jgadsby commented on #484
Sweet! When are you planning on releasing this?

[2021-06-23 14:29] jgadsby opened #494 "Quick question: How do I enable threading with the default UI?"
Just a little confused by this. Another Git issue seems to indicate I need to override the messageBuilder and create my own instance of MessageWidget (along with all the logic for showing different UI elements on the messsage widget) to even get the 'thread reply' button to show up when a message is long-pressed - but that can't be the only way to do this, right? I was hoping to be able to kinda d

[2021-06-23 17:36] jgadsby opened #495 "Users with emojis in their names have cut off text below their messages"
**Describe the bug**
See title!

**What package are you using? What version?**
Latest nullsafety build

**What platform is it about?**
- [X] Android
- [X] iOS
- [ ] Web
- [ ] Windows
- [ ] MacOS
- [ ] Linux

**To Reproduce**
Steps to reproduce the behavior:
1. Set a user's name in Stream as something like 'Bob 🎉'
2. Have them send a message to you in stream so that they are the 'other person'
3. S

[2021-06-23 19:25] rlee1990 commented on #494
@jgadsby They have a tutorial here that shows it
[](https://getstream.io/chat/flutter/tutorial/)

[2021-06-24 08:09] imtoori commented on #494
as @rlee1990 said you can check the tutorial

We have a property called `threadBuilder` in the `MessageListView` that you can use for returning your `ThreadPage` widget

In the `ThreadPage` you can use the `MessageListView.parentMessage` param to pass the `parentMessage` that you get
from the `threadBuilder` to use the `MessageListView` in "thread-mode"

Also the `MessageInput` accept a `parentMes

[2021-06-24 08:09] #494 closed

[2021-06-24 08:16] deven98 commented on #487
Hey @rlee1990,

We're currently in the process of overhauling our `MessageWidget` to make it easier to use overall.
We'll try to make this easier in the same process.
I'll let you know when the changes are merged.

Thanks.

[2021-06-24 08:16] imtoori commented on #484
probably next week
we're releasing a new version of the `stream_chat` package with a lot of improvements and some breaking changes
we need a couple of days to write changelogs and some information on how to migrate

[2021-06-24 08:20] deven98 commented on #489
We've added this on our backlog, will let you know when the feature is merged.