[2021-06-24 08:45] deven98 commented on #495
Hey @jgadsby,

Emojis seem to move the baseline of Text in Flutter,
I'm taking a look into what we can do to lock according to font or decrease size.

[2021-06-24 08:47] deven98 commented on #495
Meanwhile, we have a `usernameBuilder` property in the latest `stream_chat_flutter` build which you can try out to build your own Text as well.

[2021-06-24 12:44] rlee1990 commented on #489
@deven98 cool thanks.

[2021-06-24 12:44] rlee1990 commented on #487
@deven98 thanks.

[2021-06-25 09:36] imtoori commented on #422
this is in develop, will be available in the next release as always :)

[2021-06-25 09:36] #422 closed

[2021-06-25 09:37] imtoori commented on #369
we added more specific errors, you can find the new implementation in the develop branch
it will be available in the next release
I'm closing this issue, feel free to reopen it if you have any doubt

[2021-06-25 09:37] #369 closed

[2021-06-25 14:01] imtoori commented on #423
The solution for this is on `develop`
The next release will support `MessageWidget.copyWith` to customize the default implementation
I think this is gonna solve many problems 😄

[2021-06-25 14:01] #423 closed

[2021-06-25 14:01] imtoori commented on #487
The solution for this is on `develop`
The next release will support `MessageWidget.copyWith` to customize the default implementation
I think this is gonna solve many problems 😄

[2021-06-25 14:01] #487 closed

[2021-06-25 16:44] rlee1990 commented on #487
@imtoori am I able to try out the develop mode as of now?

[2021-06-25 16:49] imtoori commented on #487
mmm, you could link the packages locally

- `dart pub global activate melos`
- `git clone git@github.com:GetStream/stream-chat-flutter.git`
- `cd stream-chat-flutter`
- `melos bootstrap`

then you can go in the pubspec.yaml of your app and change

[code]

to

[code]

[2021-06-25 16:57] rlee1990 commented on #487
@imtoori thanks looks like It worked doing this also
[code]

[2021-06-25 17:11] xsahil03x commented on #487
@rlee1990 it won't work using this alone. You also need to override `stream_chat` and `stream_chat_flutter_core` dependencies.

so just add these too in pubspec
[code]

[2021-06-25 17:15] rlee1990 commented on #487
Thank you @xsahil03x just got an error for those packages.

[2021-06-25 17:15] xsahil03x commented on #487
while running pub get or code errors?

[2021-06-25 17:18] rlee1990 commented on #487
@xsahil03x sorry I meant before adding them.

[2021-06-25 17:20] xsahil03x commented on #487
Ohh sorry I forgot to change the path.... can you try again using this

[2021-06-25 17:21] imtoori commented on #487
Ohh sorry @rlee1990
i forgot those 🤦🏼‍♂️

[2021-06-25 17:21] rlee1990 commented on #487
Thanks.

[2021-06-25 17:22] rlee1990 commented on #487
@imtoori no worries

[2021-06-25 17:30] xsahil03x commented on #487
@rlee1990 the LLC(`stream_chat`) might contain some breaking changes and we are currently in the process of writing migration. So feel free to ask if you face any error that you won't understand.

[2021-06-25 17:33] rlee1990 commented on #487
@xsahil03x will do I already ran into some so far I am able to get around.  

[2021-06-26 04:10] rlee1990 opened #498 "Query Members Error"
**Describe the bug**
When trying to query members I am getting the below error even though I have added a filter as shown below. This was working before changing my package to the ones below.

[code]

**What package are you using? What version?**
[code]

**What platform is it about?**
- [x] Android
- [ ] iOS
- [ ] Web
- [ ] Windows
- [ ] MacOS
- [ ] Linux

`[ERROR:flutter/lib/ui/ui_dart_state.cc(1

[2021-06-26 04:35] theweiweiway opened #499 "Stream-chat-flutter UI kits on web and desktop"
Hi!

It's there a plan to make the UI kits on the stream-chat-flutter library available to web and desktop as well?

Thanks!

[2021-06-26 09:47] imtoori commented on #499
Turning this into a discussion if you don't mind

[2021-06-26 09:47] #499 closed

[2021-06-27 13:55] rubenvereecken opened #503 "Strange formatting"
**Describe the bug**
Message widget inserts strange "\" when user sends a message with newlines in it. This happens both for message sent through the Flutter client, and messages sent by the server. Pretty sure it's the message widget.

**What package are you using? What version?**
`nullsafety.4`

**What platform is it about?**
- [x] Android
- [x] iOS

**To Reproduce**
Send message with newlines i

[2021-06-27 13:57] imtoori commented on #503
That's weird, can you send me an example of message? I just tried it in the latest version and it's working fine

[2021-06-27 14:01] rubenvereecken commented on #503
I think this particular message was copied in, maybe try that too. So part of the message:

Also, here's a server message that did it for us (we have a "team" account that sends messages sometimes):
[code]

[2021-06-27 14:05] imtoori commented on #503
oh yeah, it looks like it happens a \ at the end of list items
I'll take a look at it, I think it may be a bug of the markdown package

[2021-06-27 14:24] rubenvereecken opened #504 ""Error loading channels" in channel list view"
**Describe the bug**
See screenshot

**What package are you using? What version?**
`nullsafety.4`

**What platform is it about?**
- [x] Android
- [x] iOS

**To Reproduce**
No idea, probably a connection thing

**Expected behavior**
That's the real issue. When errors happen and they affect the user like this, they need to be retryable. So either it retries automatically or the user gets a retry but

[2021-06-28 07:46] imtoori commented on #498
fixed on develop! thanks a lot for trying it out by the way :)

[2021-06-28 07:46] #498 closed

[2021-06-28 10:49] imtoori commented on #495
https://github.com/flutter/flutter/issues/28894
it's related to this issue
I'm trying to find a way to solve it

[2021-06-28 10:51] imtoori commented on #495
but the problem is that even if we make it not clipping the baseline will always be a bit below than it's supposed to be

[2021-06-28 10:52] imtoori commented on #495
and btw, this happens only on ios

[2021-06-28 10:56] poqueque opened #510 "Cast Error on UserListView"
**Describe the bug**
When using UserListView Widget it sometimes fails due to timeout or other network issues. When this happens non controlled exception is thrown with a wrong type:

**What package are you using? What version?**
  stream_chat_flutter: ^2.0.0-nullsafety.7

**What platform is it about?**
- [X] Android
- [X] iOS

**Expected behavior**
I would expect the widget to display a graceful

[2021-06-28 13:00] rlee1990 commented on #498
@imtoori thanks.

[2021-06-28 14:47] saurabh02ezest opened #512 "Default video compression doesn't support VideoQuality.HighestQuality"
Want to set video compression quality to **VideoQuality.HighestQuality** but it compress the video with lowest quality by default(360p)

**OS used** - iOS 14.3
**Package used** - Using [2.0.0-nullsafety.7](https://pub.dev/packages/stream_chat_flutter/versions/2.0.0-nullsafety.7)
**File for reference** - [video_service.dart](https://github.com/GetStream/stream-chat-flutter/blob/master/packages/stre

[2021-06-28 17:05] saurabh02ezest opened #513 "Video thumbnails are not getting generated"
Sometimes some video thumbnails are not getting generated from the message list and it's showing only **Shimmer effect**, eventually app gets crashed. We have **implemented firebase storage as CDN** to upload larger files (upto 100MB), files are getting uploaded successfully.

**What package are you using? What version?**
[2.0.0-nullsafety.7](https://pub.dev/packages/stream_chat_flutter/versions/2

[2021-06-29 08:11] imtoori commented on #503
fixed on develop
new release will contain the fix
FYI we're trying to release either today or tomorrow

[2021-06-29 08:11] #503 closed

[2021-06-29 08:59] rubenvereecken commented on #503
No rush, thanks @imtoori!

[2021-06-29 11:39] imtoori commented on #510
this should be fixed in the latest release [2.0.0-nullsafety.8](https://github.com/GetStream/stream-chat-flutter/releases/tag/2.0.0-nullsafety.8)

[2021-06-29 11:39] #510 closed

[2021-06-29 12:01] imtoori commented on #504
we have a new design for this component
we'll implement it in the following days

[2021-06-29 12:04] imtoori commented on #512
we'll add a parameter in the `MessageInput` to make it configurable
Adding this to our backlog

[2021-06-29 13:01] imtoori commented on #513
This is probably a memory error due to how big the videos are
https://github.com/justsoft/video_thumbnail/issues/76

A solution might be to generate the thumbnails server-side (maybe using a firebase function in your case?)

if that could be a solution in your case we can add some logic to check if there is a `thumb_url` field in the video attachment and use that instead of generating the thumbnai

[2021-06-29 14:34] rlee1990 opened #516 "Avatar Background Color"
Can we get access to change just the background color for all avatars or can the default at least be set to transparent?.

[2021-06-29 14:38] imtoori commented on #516
you could change the `accentBlue` color, but I guess having a more specific properties would make sense
adding it to the backlog

[2021-06-29 15:04] rlee1990 commented on #516
Thanks

[2021-07-01 09:53] saurabh02ezest commented on #512
I want to put one more thing here, as **large videos take time for compression (more than a minute in some cases)** It will be better if we get **compression progress logs** and show them the file attachment process for a better user experience.

[2021-07-01 09:53] saurabh02ezest commented on #513
Thanks for the suggestion 👍, Actually this will be half part of the solution - sometimes when the user tries to attach files then also it doesn't generate thumbnails, and uploading a file + generating a thumbnail will take time until the User will see only Shimmer effect.

Is there any other solution for generating thumbnails on the mobile side and then upload that thumbnail for future use?

[2021-07-01 16:19] saurabh02ezest commented on #513
Hey @imtoori,  we didn't get the exact reason why [generateVideoThumbnail](https://github.com/GetStream/stream-chat-flutter/blob/master/packages/stream_chat_flutter/lib/src/video_service.dart#L42-#L59) was not able to generate thumbnail locally or with video URL, but when we tried [video_thumbnail](https://pub.dev/packages/video_thumbnail) at our end, now we are able to generate thumbnails for lar

[2021-07-01 16:40] xsahil03x commented on #513
@saurabh02ezest can you also send some examples videos that are throwing errors.

[2021-07-01 20:21] rlee1990 opened #519 "Date Display Issue"
**Describe the bug**
When you scroll the data in the center never disappears and also overlaps the other dates and creates a bad look.

**What package are you using? What version?**
Running on lastest dev version. Seen the issue on stable.

**What platform is it about?**
- [x] Android
- [x] iOS
- [ ] Web
- [ ] Windows
- [ ] MacOS
- [ ] Linux

**To Reproduce**
Steps to reproduce the behavior:
Creat

[2021-07-02 08:32] imtoori commented on #513
that would help
it's odd that it's working if you implement it since we're not doing anything weird
let me know if you can send us a sample

[2021-07-02 13:52] imtoori commented on #519
the idea is to have something like whatsapp
the floating timestamp refers the messages in the bottom and it should hide once you reach another date

hope I'm clear 😅

do you see any strange behaviour that doesn't reflect this?

[2021-07-02 15:11] rlee1990 commented on #519
@imtoori Well in the image the dates overlap when scrolling shouldn't the bottom one fade and disappear? If so that is not happening then both just stay there

[2021-07-05 12:29] jasnicaa opened #522 "Status 403, code 17. Not allowed to access resource create channel"
Full error message:

`DioErrorType.response
 {
 code: 17,
"GetOrCreateChannel failed with error: "User 'soft-term-8' with role user is not allowed to access Resource CreateChannel on channel type messaging""
StatusCode: 403,
duration: "0.00ms",
more_info: "https://getstream.io/chat/docs/api_errors_response"
   }
`

Hi, I am trying to test out the chat feature in order to incorporate it into our ap

[2021-07-05 12:37] jasnicaa commented on #522
Aaah ok just found out that our backend has limited who can make chat groups. Sorry.

[2021-07-05 12:37] #522 closed

[2021-07-05 13:38] saurabh02ezest commented on #513
@imtoori @xsahil03x Thanks guys for your prompt response 👍

I am not able to reproduce the issue for other videos, so closing this issue.

[2021-07-05 13:38] #513 closed

[2021-07-06 10:09] imtoori commented on #512
@saurabh02ezest this makes sense, but we'll need a bit more time because at the moment the compression logic is in the UI package while the uploading and the progress logic is in stream_chat

I'm adding this to our backlog and we'll do it eventually. Thanks for pointing it out btw, makes a lot of sense

[2021-07-06 13:07] TramPamPam opened #524 "Cannot connect on stream_chat_flutter: ^2.0.0-nullsafety.8"
**Describe the bug**
I receive an error after call `connectUser(User user, String token)`

**What package are you using? What version?**
`stream_chat_flutter: ^2.0.0-nullsafety.8`

**What platform is it about?**
- [x] Android
- [x] iOS
- [ ] Web
- [ ] Windows
- [ ] MacOS
- [ ] Linux

**To Reproduce**
Steps to reproduce the behaviour:
1. connectUser(User user, String token)
2. See error
flutter: We

[2021-07-07 07:35] imtoori commented on #524
Hi @TramPamPam
when are you calling `connectUser`?
It looks like the `StreamChat` widget is calling `connectUser` after the app goes in foreground from background and you're calling `connectUser` too. That's why there are two calls to `connectUser`

[2021-07-07 08:11] TramPamPam commented on #524
Hi @imtoori

We have system popup where we ask for some permissions that are required by our app logic while we connecting user to GetStream.

It's right after we retrieved a token for user, that we use for connect method.

Why does StreamChat tries to connect before we use connect user manually?

[2021-07-07 10:19] imtoori commented on #524
ok apparently the system pop up makes the `StreamChat` widget think it's in background and when you close it it comes back to foreground
we check that the `client.wsConnectionStatus` is `disconnected` before opening the connection (you can see this [here](https://github.com/GetStream/stream-chat-flutter/blob/develop/packages/stream_chat_flutter_core/lib/src/stream_chat_core.dart#L176))

Can you en

[2021-07-08 08:43] imtoori commented on #519
Sometimes that happens because there are some tricks to make it work, mostly due to the MessageListView
But we'll work on a completely custom MessageListView in the next months that should make this better and have even better performance overall
Keep in mind that you can always disable the floating timestamps using `MessageListView.showFloatingDateDivider: false`
Thanks for the feedback!

[2021-07-08 08:43] #519 closed

[2021-07-08 08:43] imtoori commented on #512
the quality options are in develop and will appear in the next release
I'll close this for the moment, feel free to reopen it if needed

[2021-07-08 08:43] #512 closed

[2021-07-08 12:02] jasnicaa opened #526 "GetOrCreateChannel failed with error: "When using member based IDs specify at least 2 members""
I don't get this error. I am passing - when creating a User, as an id some random numbers that the backend has generate it for me. And I am getting this error. While creating an example app with Vue I didn't receive this issue so far so what is the reason for it? I should pass all the id's from that channel involved?

- Using the latest null safe version.

Thanks.

[2021-07-08 12:40] imtoori commented on #526
Hi @jasnicaa, this is an error related to channels; while you talk about creating a user in the description.
Can you give us more details?

btw, this error is generated by the backend when you query/create a channel without passing an id, so the backend takes the user member ids and generates the id using those
If you pass neither an id nor 2 or more members, you get this error.

[2021-07-08 13:36] jasnicaa commented on #526
Hmmm, yes your response was helpful. I was thinking that it has something to the with the creation of users, instead, it was the channel issue I looked into it and found an error.

Thanks a lot!

[2021-07-08 13:36] #526 closed

[2021-07-08 14:47] jgadsby opened #527 "How does timestamp hiding work for multiple successive messages from the same user?"
This is really just a question and not necessarily a bug - see title. This user commented twice in quick succession but I was expecting the first message timestamp to be hidden. See the screenshot below:

![image](https://user-images.githubusercontent.com/4282877/124942656-d175fd00-dfd9-11eb-8d2b-7230f0459886.png)

[2021-07-09 07:34] xsahil03x commented on #527
Hey @jgadsby the current logic is as follows:
[code]
Can you also share the `createdAt` of the two messages for more clarity?

[2021-07-09 08:40] imtoori commented on #527
just found the bug and opened a pr
it will be fixed in the next release, thanks again for testing the prerelease, that's super useful 😄

[2021-07-09 09:26] xsahil03x commented on #527
Hey @jgadsby the fix is now merged and we will soon release it. Until then you can use it via git path.

Thanks again for raising the issue 😄
[code]

[2021-07-09 09:26] #527 closed

[2021-07-09 12:27] saurabh02ezest opened #530 "attachmentFileUploader missing in StreamHttpClient"
We want to upload large files to own CDN, In earlier versions it was supported with **attachmentFileUploader** parameter ([docs](https://getstream.io/chat/docs/flutter-dart/file_uploads/?language=dart#using-your-own-cdn) -> [implementation](https://github.com/GetStream/stream-chat-flutter/blob/master/packages/stream_chat/lib/src/attachment_file_uploader.dart#L58)) in [StreamChatClient](https://git

[2021-07-09 12:39] xsahil03x commented on #530
Hey @saurabh02ezest, We still provide it in `StreamChatClient` constructor
https://github.com/GetStream/stream-chat-flutter/blob/develop/packages/stream_chat/lib/src/client/client.dart#L73

Also, you should use your own httpClient in case you are overriding the default `AttachmentFileUploader`

[2021-07-09 12:39] #530 closed

[2021-07-09 13:31] saurabh02ezest commented on #530
![image](https://user-images.githubusercontent.com/84334887/125085079-0b4d0f00-e07f-11eb-90b9-b63629e12821.png)

In  [2.0.0-nullsafety.9](https://pub.dev/packages/stream_chat_flutter/versions/2.0.0-nullsafety.9)  `StreamChatClient` don't have `post` method or anything related to it

[2021-07-09 15:11] jgadsby opened #532 "Bad state: No element for one of our users in one specific channel."
**Describe the bug**
One of our users sees a grey block where the message list should be in one specific channel. All other channels work fine. It looks like an issue in message_list_view#957.

**What package are you using? What version?**
nullsafety.8

**What platform is it about?**
- [X] Android
- [X] iOS
- [ ] Web
- [ ] Windows
- [ ] MacOS
- [ ] Linux

**Logs **
flutter: ══╡ EXCEPTION CAUGHT BY

[2021-07-09 15:13] jgadsby commented on #495
Using usernameBuilder and manually stripping out the emoji from the name helped mitigate the issue for me. Up to you whether you close this one :)

[2021-07-09 15:58] jgadsby opened #533 "Tapping the 'cancel' button on the giphy preview sometimes doesn't do anything (try it multiple times with different searches)"
**Describe the bug**
See title

**What package are you using? What version?**
nullsafety.8

**What platform is it about?**
- [X] Android
- [X] iOS
- [ ] Web
- [ ] Windows
- [ ] MacOS
- [ ] Linux

**To Reproduce**
Steps to reproduce the behavior:
1. Use the giphy command to search for a gif
2. Tap 'cancel'
3. See that nothing happens. If it does correctly close the preview, try searching a couple m

[2021-07-10 11:27] akul1994 opened #534 "Build fails for web - Pointycastle javascript error"
**Describe the bug**
Unable to build project on web

**What package are you using? What version?**
  stream_chat_flutter: ^2.0.0-nullsafety.9

**What platform is it about?**
- [ ] Android
- [ ] iOS
- [ Yes] Web
- [ ] Windows
- [ ] MacOS
- [ ] Linux

**To Reproduce**
Steps to reproduce the behavior:
1. Add code from flutter stream tutorial
2. Run project for web(chrome)
4. See error

**Expected beh

[2021-07-12 09:23] imtoori commented on #495
I'll close it just because it's not something we can really solve as it's a bug of the flutter sdk itself
thanks btw

[2021-07-12 09:23] #495 closed

[2021-07-12 12:08] xsahil03x commented on #530
Hey @saurabh02ezest, can you please share a sample project showing your previous implementation.

[2021-07-12 13:00] deven98 commented on #534
Hey @akul1994, we're taking a look into this.
I'll let you know when we have more information.

Thanks.

[2021-07-13 07:56] mtkopone commented on #534
Temporary fix: Downgrade pointycastle to 3.1.1 in your pubspec.yaml.

[2021-07-13 08:00] hiashutoshsingh opened #539 "PaginationParams in MessageListCore"
**Is your feature request related to a problem? Please describe.**
Just like in the ChannelListCore, can we get PaginationParams for MessageListCore as well, because ultimately it should be UI call as many as messages they want to show?

Edit: I noticed now that, MessageListCore is returning all messages available in the channel.

**Describe the solution you'd like**
Introduce PaginationParams in

[2021-07-13 08:16] deven98 commented on #534
Hey @akul1994,

Prima facie this does not seem to be an issue on our end, you can find the issue on the pointycastle repo [here](https://github.com/bcgit/pc-dart/issues/112).

You can use the temporary solution given above using a dependency override.

Closing this issue for now, feel free to reopen this if needed.

Thanks.

[2021-07-13 08:16] #534 closed

[2021-07-13 08:24] deven98 commented on #539
Taking a look into this @hiashutoshsingh,

I'll get back to you when I have more info.

Thanks.

[2021-07-13 08:25] deven98 commented on #532
Taking a look into this,

I'll get back to you when I have more information.

Thanks!

[2021-07-13 08:33] deven98 commented on #539
Hey @hiashutoshsingh,

We will add a way to get a certain number of messages when paginating.
Adding this to our backlog.

Thanks for bringing this to our attention.

[2021-07-13 10:08] TramPamPam commented on #524
@imtoori
here are the logs
`
Launching lib/main.dart on iPhone 12 in debug mode...
Running pod install...
Running Xcode build...
Xcode build done.                                           138.5s
Debug service listening on ws://127.0.0.1:58451/UDJeil3MOB0=/ws
Syncing files to device iPhone 12...
flutter: 2021-07-13 12:44:39.860158 ℹ️ 📡 Initiating new StreamChatClient
flutter: *** Request ***
flutt

[2021-07-13 11:09] TramPamPam commented on #524
[code]

[2021-07-13 15:11] jgadsby opened #543 "iOS photos permissions needs a fallback option when gallery permissions were denied"
**Describe the bug**
If a user has previously denied photos permissions in the app and attempts to enable permissions from the inline photo gallery, the button doesn't do anything. Ideally, it would forward users to the Settings app or at least tell them to enable photo permissions in the Settings app.

**What package are you using? What version?**
Nullsafety.8

**What platform is it about?**
- [

[2021-07-13 17:32] rlee1990 opened #544 "More Of A Question About Photos"
Is there a way to get a list of all the photos or files sent in a channel?

[2021-07-14 07:35] deven98 commented on #544
Hey @rlee1990,

Yes absolutely, we do this in our `ChannelMediaDisplayScreen` to show media in a channel:

https://github.com/GetStream/stream-chat-flutter/blob/master/packages/stream_chat_flutter/lib/src/channel_media_display_screen.dart

[code]

Note: With the new filters, the filters would change to

`Filter.in_('cid', [StreamChannel.of(context).channel.cid])`

and

`Filter.in_('attachments.typ

[2021-07-14 07:55] deven98 commented on #544
Closing this issue for now, if this does not answer your question, please feel free to reopen.

[2021-07-14 07:55] #544 closed

[2021-07-14 07:56] deven98 commented on #533
Taking a look into both this and the permission issues now.

[2021-07-14 07:56] deven98 commented on #543
Taking a look into this issue now.

[2021-07-14 15:51] imtoori commented on #533
fixed in develop
you'll find it in the next release
thanks!

[2021-07-14 15:51] #533 closed

[2021-07-14 15:52] imtoori commented on #504
the new design is in develop
also we found a bug that was preventing the pagination to automatically be retried when the connection is back
now it should work fine
you'll find it in the next release

[2021-07-14 15:52] #504 closed

[2021-07-14 15:53] imtoori commented on #489
we added a `onError` parameter to the `MessageInput`
it's already in develop and you're gonna find it in the next release

[2021-07-14 15:53] #489 closed

[2021-07-14 20:25] jgadsby commented on #532
@deven98 it was a bug on our end, the user wasn't in the channel like they should have been.

[2021-07-14 20:25] #532 closed

[2021-07-15 08:20] hiashutoshsingh opened #547 "Push Notifications : Click Handling"
**Describe the bug**

We are trying to implement notifications using our own FCM backend service. The notifications are coming in as expected but we are struggling with user navigation i.e. when the user clicks on the notification, they should be redirected to the chat window. Right now, we get a screen with CircularProgressIndicator with the background as black while doing so when the app is in t

[2021-07-15 13:50] GroovinChip commented on #434
@hashirshoaeb This issue is fixed now as of #546. Heads up that `ImageFooter` and `ImageHeader` have been renamed to `GalleryFooter` and `GalleryHeader`, and they now have their own theme data classes and inherited themes. You can check out that PR for more information.

I hope this helps! Have a great day!

[2021-07-15 13:50] #434 closed

[2021-07-15 21:29] jgadsby commented on #527
@xsahil03x Was this fix merged into nullsafety.9? I still see the same issue!

[2021-07-16 08:39] imtoori commented on #527
@jgadsby it wasn't! it will be in the next one!

[2021-07-16 10:50] imtoori commented on #524
the merge pr should fix the issue
let us know if that works
you'll find it in the next release

[2021-07-19 08:56] imtoori commented on #547
hey @hiashutoshsingh the issue is that you're not calling `channel.watch()`
that's how you initialize a channel created with `client.channel(channelType, id: channelId)`

[2021-07-19 08:56] #547 closed

[2021-07-21 02:56] SoftwareKim opened #563 "Channel.stopWatching() is not working"
my `pubspec.yml`:
[code]

debug console:
[code]

seem to be missing the request body.
* https://getstream.io/chat/docs/rest/#channels-stopwatchingchannel

[2021-07-21 09:17] imtoori commented on #467
This has been fixed with this pr https://github.com/GetStream/stream-chat-flutter/pull/559
It's in develop and you'll find it in the next release

[2021-07-21 09:17] #467 closed

[2021-07-21 10:02] #563 closed

[2021-07-22 10:01] #539 closed

[2021-07-22 10:03] #543 closed

[2021-07-22 12:56] gvv-ua opened #572 "Reaction on parent message in thread"
**Describe the bug**
A clear and concise description of what the bug is.

**stream-chat-flutter v2.0.0**

**To Reproduce**
Steps to reproduce the behavior:
1. Open channel
2. Open thread for message
3. Add reaction to parent message
4. New reaction didn’t appear on parent message

**Expected behavior**
Parent messages updated with new reaction.

[2021-07-22 13:17] imtoori commented on #572
Hi that's working fine for me
Are you personalizing the parent message or using the default implementation?

[2021-07-23 09:56] gvv-ua commented on #572
Hi @imtoori ! Yes, we using parentMessageBuilder to customization this message. But, I tried default implementation and it also doesn't work for me.  When I add reaction to parent message in thread, that action not trigger changing the message, those reaction are not displayed in thread. After closing the thread I see this reaction on the original message. After reopening the thread this reaction

[2021-07-25 02:36] luvishq opened #574 "channel.watch() failed with error 400"
**Describe the bug**
[code]
**What package are you using? What version?** - ^2.0.0

**What platform is it about?**
- [x] Android
- [x] iOS
- [ ] Web
- [ ] Windows
- [ ] MacOS
- [ ] Linux

**To Reproduce**
Steps to reproduce the behavior:
1. Called the following function after app is initialized:
[code]

**Expected behavior**
It should start watching the channel, but i got the error

Paste the outp

[2021-07-25 04:34] luvishq commented on #574
I see the user got created but i am getting this error on watch() and not it is not able to create the channel , can you please help with it ?

[2021-07-25 15:03] SoftwareKim opened #575 "wrong OwnUser.totalUnreadCount"
**Describe the bug**
your document says I can get unread counts when the user connects
* https://getstream.io/chat/docs/flutter-dart/unread/?language=dart

But `OwnUser.totalUnreadCount` is always 0.

**To Reproduce**
Use `stream_chat_flutter: ^2.0.0`
[code]

**Expected behaviour**
totalUnreadCount be set to the value from the server.
but SDK seem to overwrite the value to 0.

https://github.com/G

[2021-07-26 07:17] xsahil03x commented on #574
Hey @luvishq, Thanks for reporting we are looking into this.

[2021-07-26 07:33] #575 closed

[2021-07-26 08:20] imtoori commented on #574
@luvishq can you paste the full logs?
I think somehow the client is not connected when you all `channel.watch()`
Can you set the logLevel in the client constructor to `Level.ALL` and paste the logs you get? thanks!

[2021-07-26 08:34] imtoori commented on #572
can you try running the `tutorial_part_4.dart` file that you find in the /example folder of the `stream_chat_flutter` package and trying that?
It's working fine for me :/

[2021-07-26 14:34] jasnicaa commented on #516
In regards to avatar: there is no way I could set my own images for an avatar?

[2021-07-27 08:58] hz081 opened #579 "Kept chat history, even after member leaving the channel"
I have a question. How can I kept the chat history of the channel from all of channel members, even if that member was not in the channel anymore.

Example: member leaving the channel, but chat history (before member leaving the channel) remain. And user still can see the history of the chat.

Thanks

[2021-07-27 12:07] jasnicaa opened #580 "In ChannelListView onChannelTap is not hiding bottom bar"
Hi, I have ChannelList view as a part of a screen which is one of TabBar items. So when I tap on the chat from the list bottom bar is still there which is not what I want it. Is this happening because of the tabBar itself or is there something in the implementation of onChannelTap that I am missing and should be customizing? thanks.

Using  2.0.0-nullsafety.8 version.

[2021-07-27 12:53] jasnicaa commented on #580
sure.

this is channel list view:
<img width="394" alt="Screenshot 2021-07-27 at 14 52 37" src="https://user-images.githubusercontent.com/25682164/127156767-b783e49c-bfea-4e0d-b448-68ce6037e195.png">

and this is the chat screen where I would like to remove the bottom bar
<img width="411" alt="Screenshot 2021-07-27 at 14 52 48" src="https://user-images.githubusercontent.com/25682164/127156820-75fc

[2021-07-27 12:58] imtoori commented on #580
@jasnicaa do you have a nested navigator in the Chat tab?

[2021-07-27 13:03] jasnicaa commented on #580
Nope, just tabBarView instantiating its children in order which they are visible in tabBar.

[2021-07-27 13:12] rlee1990 commented on #516
@jasnicaa you can add them for the channel when the channel is created or when you update the channel by setting the image to your image string url. You can set the user's avatar by just adding it when you set the user.

[2021-07-27 13:14] rlee1990 commented on #516
@jasnicaa this might be able to help you too. [https://getstream.io/chat/flutter/tutorial/](url)

[2021-07-27 13:15] imtoori commented on #516
you can even call channel.update or user.update for updating the image

[2021-07-27 13:35] jasnicaa commented on #516
hey yess that's it! Think I saw that when I was setting up chat in the first place but then of course I forgot 😅

[2021-07-27 22:50] rlee1990 opened #581 "Message Search Issue"
When using the MessageSearchlist the onItemTap: it returns a channelModel and no way to convert it to a channel.

[2021-07-28 03:39] rlee1990 opened #582 "Attachments limiting"
It would be nice to have a way to set attachments to be 1 per message or X number up to 10.

[2021-07-28 07:43] xsahil03x commented on #582
Hey @rlee1990, Currently it's not possible to limit the attachments.
Adding this to our backlog and we will pick it up in the next sprint, which will start today.

[2021-07-28 07:49] imtoori commented on #580
that's weird, can you paste a snippet of it?

[2021-07-28 07:52] imtoori commented on #581
you can always instantiate a new Channel object using
[code]

[2021-07-28 07:52] #581 closed

[2021-07-28 08:08] jasnicaa commented on #580
Sure, but I have the feeling that the actual culprit is in the chat screen so I will paste that one as well.

[code]

CHAT SCREENS:

[code]

[2021-07-28 09:04] imtoori commented on #580
@jasnicaa a MaterialApp wraps everything in a Navigator, that's why the new page gets pushed in that subtree
How come you're using a nested MaterialApp?

I'm closing this because it's unrelated to the sdk, but let's try to solve this!
I think you could remove the MaterialApp from here

[2021-07-28 09:04] #580 closed

[2021-07-28 12:44] rlee1990 commented on #582
@xsahil03x  thanks

[2021-07-28 12:44] rlee1990 commented on #581
@imtoori thanks

[2021-07-29 14:52] Abacaxi-Nelson opened #590 "livestream use case, no members when sending message"
**Describe the bug**
Trying to add chat like YouTube.
Using some of your example package.
Error cause members is null when sending message.

**What package are you using? What version?**
Last

**What platform is it about?**
iOS

**Code**

[code]

Error
[code]

Maybe im not using 'livestream' channels correctly; but isn't It suppose to allow everyone to post a message without being a member ? or me

[2021-07-29 21:06] Abacaxi-Nelson commented on #590
Ooo i may not be up to date

[2021-07-29 22:09] Abacaxi-Nelson commented on #590
Okay I get it.
Here its fix

https://github.com/GetStream/stream-chat-flutter/blob/7f589edeb122818afac015a4189f903ab085864b/packages/stream_chat_flutter/lib/src/message_list_view.dart#L819

But same code here is not

https://github.com/GetStream/stream-chat-flutter/blob/7f589edeb122818afac015a4189f903ab085864b/packages/stream_chat_flutter/lib/src/message_list_view.dart#L967

I think that's the pro

[2021-07-30 08:52] jasnicaa opened #595 "Keyboard covering input field on Huawei Mate 20pro"
**Describe the bug**

https://user-images.githubusercontent.com/25682164/127627708-09c66741-584d-4e22-b767-628cc4876f0e.mp4

**What package are you using? What version?**
2.0.0-nullsafety.8

**What platform is it about?**
- [x] Android
- [ ] iOS
- [ ] Web
- [ ] Windows
- [ ] MacOS
- [ ] Linux

**To Reproduce**
Steps to reproduce the behavior:

Test on Huawei Mate 20pro.

**Expected behavior**
Keyb

[2021-07-30 08:58] xsahil03x commented on #595
Hey @jasnicaa, can you try our latest version i.e: `stream_chat_flutter: ^2.1.1` and let us know if it's still happening. Thanks

[2021-07-30 09:46] jasnicaa commented on #595
It is still happening on the same device.

As well we have some other issues all of the sudden yesterday. Channel header is not displaying usernames, as well chatPreview in the list, and in the chat window under the message, there is userID instead of name.

![Screenshot_20210730-114251](https://user-images.githubusercontent.com/25682164/127635197-704542e6-b113-45bf-8d4a-dee5f1a10294.jpg)
![Screen

[2021-07-30 09:49] #590 closed

[2021-07-30 11:14] xsahil03x commented on #595
Hey @jasnicaa, I don't think it is related to `StreamChat`. Can you try replicating the same with a regular `TextField` instead of `MessageInput`on the same device just to be sure?

[2021-07-30 12:10] jasnicaa commented on #595
Yeah, I changed to TextField and it is still happening so I will just file a bug on Flutter's git hub.

About my second issue- any help on this?

[2021-07-30 12:33] #572 closed

[2021-07-30 12:37] gvv-ua commented on #572
Thanks, it's really working.

[2021-07-30 12:44] imtoori commented on #595
@jasnicaa it looks like you removed the name from the user objects :/
is that possible?

[2021-07-30 12:58] imtoori commented on #595
mmm 🤔  do you ever use updateUser or updateChannel calls?

[2021-07-30 13:02] xsahil03x commented on #595
@jasnicaa if you look at the `user.name` implementation, you can find that we use the `user.id` as the name if it's not defined.

https://github.com/GetStream/stream-chat-flutter/blob/develop/packages/stream_chat/lib/src/core/models/user.dart#L94

[2021-07-30 13:07] jasnicaa commented on #595
@imtoori - no never, should I?

@xsahil03x  yeah I saw the implementation, the only thing that bugged my- I didn't find any key in the extraData named name. there is only a nickname- which is used as a name, and first and the last name. But I think the real issue is here why is User empty..

[2021-07-30 13:24] imtoori commented on #595
that's why you're having this issue

I think you should set the user name
is `state.chatDataModel!.username!,` the name you want to show?

[2021-07-30 13:41] jasnicaa commented on #595
nope, there is a field named nickname which returns the name of the user

[2021-07-30 13:46] xsahil03x commented on #595
Hey @jasnicaa, you can override the default `UserNameWidget` in `MesssageWidget` by using the `usernameBuilder` property.

by default we build something like this for username
[code]

instead of `user.name` you can then use `user.extraData['nickname]`.

[2021-07-30 13:52] jasnicaa commented on #595
so, correct me if I am wrong: if I am setting extraData on the user I have to set a name as well otherwise it won't pick up from our setup on the dashboard?

[2021-07-31 15:36] rlee1990 opened #599 "WebsocketChannelException"
**Describe the bug**
I am getting the below error:
`WebSocketError(message: WebSocketChannelException: SocketException: Failed host lookup: 'chat-us-east-1.stream-io-api.com' (OS Error: No address associated with hostname, errno = 7))`

[code]
It was working an hour before.

[2021-07-31 15:58] rlee1990 commented on #599
Working again. Keeping open to see what really went on wouldn't want this issue in production.

[2021-07-31 16:10] xsahil03x commented on #599
This is likely due to internet connection not available or maybe the firestore api was down.

[2021-07-31 16:13] rlee1990 commented on #599
I was thinking that as I was reading the error but from why I could search all services was up but I'll close this out.

[2021-07-31 16:13] #599 closed

[2021-08-02 10:41] hiashutoshsingh opened #600 "Unhandled Exception: SqliteException(5): database is locked"
**Describe the bug**
Stream package throws error randomly, it is happening for the last 2 weeks when I updated to the latest stream core version. I have to disconnect to stream and then connectt again to make it work. What could be the issue here from my side?

**What package are you using? What version?**
[code]

**What platform is it about?**
- [x] Android
- [x] iOS
- [ ] Web
- [ ] Windows
- [ ]

[2021-08-02 10:44] #574 closed

[2021-08-03 06:59] deven98 commented on #600
Hey @hiashutoshsingh 👋 ,

Just to confirm: does this happen in development or on a physical device as well?
If it happens only on dev, can you try reinstalling the apk/ipa file on the emulator?

Thanks.

[2021-08-03 09:06] jasnicaa commented on #595
I have to reopen this issue because the keyboard problem is still appearing I am able to reproduce it with an Android emulator. It is happening there, on some Android devices but not on iOS X, iOS 12 mini or on Samsung A71. Also, it is happening with MessageInput and with plain TextField.

I will paste my code below:

[code]

[code]

[2021-08-03 15:09] incendial opened #604 "Cascade deletion for `stream_chat_persistance` database is not working."
Hi! First of all, I'm very new to `moor` package and your `stream_chat_persistance` is a great example on how to setup and work with a database, thank you!

**Describe the bug**
While setting up moor, I found out that cascade deletion that you declare here https://github.com/GetStream/stream-chat-flutter/blob/master/packages/stream_chat_persistence/lib/src/entity/messages.dart#L81 is not working b

[2021-08-03 15:17] xsahil03x commented on #604
Hey @incendial, thanks for reporting these bugs. We haven't focused much on persistence so might have missed these. Can you try creating a PR and write some tests for the same? It will be great help for us 😄

Also, about this

Yes, you are right about the behavior. Our persistence basically acts as a cache so we reset it whenever the db schema changes.

[2021-08-03 15:19] rlee1990 opened #605 "Quoted Message Documentation"
This is more of a question if this does not already exist but is there any documentation on adding quoted message UI? Also is there a way to show a pinned message are the top of the message list view even when scrolled?

[2021-08-03 15:30] incendial commented on #604
If it's okay for you to wait a bit with the fix, then sure, I'd be happy to contribute. I think I'll be able to do that at the end of this week or so.

Ooh, now I get it, thanks!

[2021-08-03 21:31] Abacaxi-Nelson opened #606 "MessageInput weird with SafeArea and Elevation"
Hello

![image](https://user-images.githubusercontent.com/556990/128088766-e3f4efb5-92c4-4549-a575-c2a3aa3965c5.png)

https://github.com/GetStream/stream-chat-flutter/blob/2bb8a94865ca3352fd3f03dc5dfd2595b7247760/packages/stream_chat_flutter/lib/src/message_input.dart#L393

Maybe, add a setting to disable this elevation ?

Thank you,
Nelson

[2021-08-04 07:03] deven98 commented on #605
Hey @rlee1990, you can find the quoted message UI docs [here](https://getstream.io/chat/docs/sdk/flutter/stream_chat_flutter/message_input/#quoting-a-message).

The functionality you are asking for does not exist in the `MessageListView`, however, it would be easily to add by querying the pinned messages yourself and displaying them over the listview however you need them.

[Here's an implementati

[2021-08-04 07:04] deven98 commented on #605
Closing this issue for now, if you have any more questions, please feel free to reopen.
Thanks :)

[2021-08-04 07:04] #605 closed

[2021-08-04 07:09] hiashutoshsingh commented on #600
Hey @deven98 , thanks for responding.
Till now I haven't observed this issue on the release build. It happened in the physical device and in the emulator for the dev build.
I have installed the release build in my physical device I will let you know if that happens in the release build too.

[2021-08-04 07:14] deven98 commented on #600
Please try a reinstall of the app on the emulator and also let us know if it affects anything on any release build.

Just to confirm, did the emulator app work fine regardless of the error or did it stall app loading?

[2021-08-04 07:30] hiashutoshsingh commented on #600
Sure.
No, it didn't work it was throwing an error, I had to disconnect to stream-sdk then connect again.

[2021-08-05 08:33] HayesGordon commented on #606
Hi @Abacaxi-Nelson! Thanks for creating an issue. These are good suggestions for additional customisation and we'll explore them. Just to confirm, in the above screenshot did you remove the SafeArea for the message box?

[2021-08-05 08:41] Abacaxi-Nelson commented on #606
Hey @HayesGordon
Thanks for your return.

This one: https://github.com/GetStream/stream-chat-flutter/blob/2bb8a94865ca3352fd3f03dc5dfd2595b7247760/packages/stream_chat_flutter/lib/src/message_input.dart#L333
?

No i let this component as you ship it in stream_chat_flutter...

[2021-08-05 08:43] HayesGordon commented on #606
Thanks. Do you mind sharing the code that allowed you to capture the above screenshot. I just want to make sure I'm not jumping to the wrong conclusion.

[2021-08-05 09:11] Abacaxi-Nelson commented on #606
Ooooo @HayesGordon
You were right. it's my fault. i had a SafeArea...
I'm using now
[code]
and works... sorry

[2021-08-05 09:11] #606 closed

[2021-08-05 09:47] #516 closed

[2021-08-05 10:20] HayesGordon commented on #606
No problem! Feel free to reopen if you have questions/suggestions.

[2021-08-05 10:29] amitkma opened #611 "Fix hindi translations"
There are couple of translation issues for Hindi which can be improved.
1. Correct translation should be -> जवाब दें
https://github.com/GetStream/stream-chat-flutter/blob/b20952d8141ec7d9c6114ff60b523f0484e35335/packages/stream_chat_localizations/lib/src/stream_chat_localizations_hi.dart#L200
2. Photos should be translated to -> फ़ोटोज
https://github.com/GetStream/stream-chat-flutter/blob/b20952d81

[2021-08-05 10:32] xsahil03x commented on #611
@amitkma can you create a quick PR for all these changes?

[2021-08-05 17:09] shodgetts commented on #579
Hello, thanks for the feature request, but this is not currently supported and we can't realistically support this due to constraints on our backend. It would probably require multiple replications of the channel data, which we aren't willing able to do at scale, n number of times, for this feature.

[2021-08-05 17:09] #579 closed

[2021-08-06 14:48] gvv-ua opened #612 "QueryChannels stop fetching new channels"
**Describe the bug**
When we fetch all channels and make pull to refresh after that, pagination stopped work.

**What package are you using? What version?**
2.1.1

**What platform is it about?**
- [x] Android
- [x] iOS

Steps to reproduce the behavior:
1. Open chat list screen
2. Scroll down to the latest channel
3. Scroll top
4. Pull to refresh
5. Scroll down (pagination doesn't work)

**Expected

[2021-08-06 14:51] gvv-ua commented on #612
In queryChannels of ChannelsBloc:

`final clear = paginationParams.offset == 0;`

but _paginationEnded not cleared.

[2021-08-09 11:15] amitkma commented on #611
Sorry but I don't have capacity to do that nowadays.

[2021-08-10 11:15] jasnicaa commented on #595
Any news on this?

[2021-08-10 11:33] xsahil03x commented on #595
@jasnicaa We are not able to reproduce this issue and ff it's also happening with regular `TextField` then most probably it's an issue in the Flutter framework rather than Stream's `MessageInput`.

[2021-08-10 11:33] #595 closed

[2021-08-11 10:03] jasnicaa opened #618 "onBackgroundEventReceived event.message is always null"
I am trying to handle notifications as per your instructions, but when I go in the background and send a message, the message field is null so basically, nothing is executing in this function.

[code]

![Screenshot 2021-08-11 at 11 59 37](https://user-images.githubusercontent.com/25682164/129010280-7e983b2e-6ab6-415b-8b80-17b2af46f093.png)

[2021-08-11 11:40] xsahil03x commented on #618
[code]

Hey @jasnicaa, the code that you wrote only handle events with EventType
- `EventType.messageNew`
- `EventType.notificationMessageNew`

but, the image of the event that you posted is of type `user.watching.start`

[2021-08-11 12:24] jasnicaa commented on #618
yeah because there are only just a few cases where I am able to catch the message actually. Still figuring out when exactly is that in order to handle notifications. So there are not null, but sometimes they are :) just have to see when.

one more question while we are here:  if I am trying to navigate to the channel from notification do I need to first connect the user? I am trying to achieve tha

[2021-08-11 17:25] rlee1990 opened #622 "Message Input Error Handling"
When using the package to handle message input error it always sends an exception which is not ideal. Also the error is always of type object and so it makes it harder to check for certain error codes. It would be nice if we could get an alert or something if say a user was banned from a channel and tried to send a message. As of now we get code 17 error which is fine if we can parse the object.

[2021-08-16 12:49] rlee1990 commented on #622
@xsahil03x are there any options for this?

[2021-08-16 13:53] xsahil03x commented on #622
Hey @rlee1990, I guess you can do something like this.
[code]

[2021-08-16 13:56] rlee1990 commented on #622
I will give that a try and see what happens @xsahil03x

[2021-08-16 14:17] #611 closed

[2021-08-17 08:16] #622 closed

[2021-08-17 08:19] imtoori commented on #612
hey @gvv-ua thanks for reporting the issue! I'm fixing it right now

[2021-08-17 10:00] #612 closed

[2021-08-17 14:47] imtoori commented on #600
It's happened to me but rarely and usually after some weird hot reload
Can you confirm that's case even for you? @hiashutoshsingh

[2021-08-18 05:16] hiashutoshsingh commented on #600
Yes, after hot reload and sometimes starting application after killing it. @imtoori

[2021-08-24 08:51] #582 closed

[2021-08-24 12:22] aoatmon opened #638 "[android] gradle fails` Class 'kotlin.Unit' was compiled with an incompatible version of Kotlin. The binary version of its metadata is 1.5.1, expected version is 1.1.15.`"
**Describe the bug**
A clear and concise description of what the bug is.
`flutter run` throws the errors in the logs below

**What package are you using? What version?**

this is my `pubspec.yaml`

<details>
  <summary>pubspec.yaml</summary>

[code]

</details>

**What platform is it about?**
- [ x ] Android

**To Reproduce**
Steps to reproduce the behavior:
- create an app with the pubspec below

[2021-08-24 12:42] aoatmon commented on #638
android buildgradle
[code]

and app buildgradle

[code]

[code]

fix the issue

[2021-08-24 12:42] #638 closed

[2021-08-25 07:29] aoatmon opened #639 "StreamChatNetworkError(code: 1000, message: Unauthorised, token not defined) w/ Disable Auth Checks checked"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

[code]

### What happened?

Good morning,
I'm developing a small prototype  for a Flutter project
 and I'm trying to connect user w/o a token

I have
- checked the "Disable Auth Checks" in Chat/Overview/Authentication

- passed the
[code]

but I get

[2021-08-25 07:41] imtoori commented on #600
I don't think we do anything strange that causes this issue
It's likely due to a weird hot-reload behaviour

I'll leave this open for the moment so that if we get to know more about this we can post an update, but I think we'll eventually close this if this is the only cause

[2021-08-25 08:04] aoatmon commented on #639
customer support points at this [article](https://getstream.zendesk.com/hc/en-us/articles/360056126134-How-to-create-a-dev-token-Chat?auth_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhY2NvdW50X2lkIjo5NDQyMDU3LCJ1c2VyX2lkIjoxNTE2ODMzODk1NjgyLCJ0aWNrZXRfaWQiOjE0NTc1LCJkZWZsZWN0aW9uX2lkIjoxOTAwMDM2NzY3NjA1LCJhcnRpY2xlcyI6WzM2MDA1NjEyNjEzNCwzNjAwNjA1NzY3NzQsMTUwMDAwNzg5Njk2Ml0sInRva2VuIjpudWxsLCJleH

[2021-08-25 11:13] aoatmon opened #642 "User with role user is not allowed to access Resource ReadChannel on channel type messaging"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

[code]

### What happened?

I'm trying to produce a prototype that demonstrate a chat between 2 users;
given the [issue](https://github.com/GetStream/stream-chat-flutter/issues/639) with dev token
my current workaround is hardcoding 2 user (`red` an

[2021-08-25 11:15] imtoori commented on #642
This is probably due to the fact that the the user is not a member of the channel
Can you check that you added it as a member?

[2021-08-25 11:20] aoatmon commented on #642
[adding](https://user-images.githubusercontent.com/85128136/130781613-015e4d58-4181-45b6-b7c1-2f7a5c62a87d.png) the users id on the BE solved the issue

thanks @imtoori

[2021-08-25 11:20] #642 closed

[2021-08-30 04:31] hashirshoaeb opened #647 "Bug in Reaction Documentation:"
Doc says that in `channel.sendReaction` first argument is of type `String`. however in Dart code it is of type `Message`.

Attaching screenshots:
Doc:
![Screenshot 2021-08-30 at 9 25 36 AM](https://user-images.githubusercontent.com/35165481/131285086-53766621-5bbc-4f1f-8867-554db80da70e.png)
Dart Code:
![Screenshot 2021-08-30 at 9 25 52 AM](https://user-images.githubusercontent.com/35165481/131285

[2021-08-30 05:27] hashirshoaeb commented on #647
Sorry, I was comparing the wrong apis. :)

[2021-08-30 05:27] #647 closed

[2021-08-30 19:28] jgadsby opened #651 "Do system messages support threading and reactions?"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

2.2.0

### What happened?

This is not a bug, but a general question which isn't covered by the documentation. Our project involves some inventive features built on top of chat, which require system messages as certain events are triggered on o

[2021-09-01 07:51] imtoori commented on #651
yes, they do, but you need to build your own UI at the moment, but I saw you're doing that 👍🏼
Regarding unreads, they don't increase unread counts

[2021-09-01 07:51] #651 closed

[2021-09-02 07:17] hiashutoshsingh commented on #600
It happened today, I was creating a group and suddenly everything stops working and after hot-reloading I got same error in the console.

[2021-09-02 07:50] hiashutoshsingh opened #657 "Event for channel creation"
### Which packages are you using?

stream_chat_flutter_core, stream_chat_persistance

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

  stream_chat_flutter_core: 2.0.0-nullsafety.9
  stream_chat_persistence: 2.0.0-nullsafety.8

### What happened?

https://getstream.io/chat/docs/flutter-dart/event_object/?language=dart

On the above link, there ar

[2021-09-02 07:53] imtoori commented on #657
there is no event for channel creation
but yeah, `notification.added_to_channel` it's the right one to use for when a user is added to a channel

[2021-09-06 13:55] jasnicaa opened #659 "totalUnreadCount is always 0 on app launch"
So I am trying to get the total unread count from the stream and data it is always 0 at first, although when I inspect the client I can see under totalUnreadCount that there is a number.  I want to show the number of unread messages in the tabBar when a user enters the app without the need to enter the channel itself.

As you can see on the image both totalUnreadCount and unreadChannels are zero a

[2021-09-07 12:55] #604 closed

[2021-09-07 15:46] xsahil03x commented on #659
Hey @jasnicaa, I am looking into this.

[2021-09-07 15:48] xsahil03x commented on #600
Closing as it's likely due to `hot-reload`. Feel free to open it if appears on a release build.

[2021-09-07 15:48] #600 closed

[2021-09-07 18:35] Freyien opened #664 "Upgrade url_launcher for API level 30"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

stream_chat_flutter: ^2.2.1

### What happened?

I send one PDF File, but android devices with API level 30 cannot launch the url.

Url launcher resolve it at version 6.0.8

### Steps to reproduce

[code]

### Supporting info to reproduce

_No respo

[2021-09-08 00:15] mwawrusch opened #665 "Compatibility issue with graphql/ rxdart"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

 graphql: ^5.0.0
stream_chat_flutter 2.2.1

### What happened?

I was forced to upgrade stream_chat_flutter from a 2.0.0 nullsafety version to the latest because the included file_picker in the older one does not compile with android. Now I get

[2021-09-08 06:47] xsahil03x commented on #665
@mwawrusch This should fix it.
[code]

[2021-09-08 06:47] #665 closed

[2021-09-08 07:59] imtoori commented on #664
At the moment the `url_launcher` dependency is constrained like this
[code]
This means that if you run `flutter pub upgrade` you'll get the latest version that is < 6.1.0

So that would solve your issue apparently. I just ran `flutter pub upgrade` and got version 6.0.9 of `url_launcher`

[2021-09-08 07:59] #664 closed

[2021-09-08 08:02] jasnicaa opened #667 "Event type when user taps on notification"
Hey guys, so I can see that there are multiple background events I can listen to, but there isn't one when the user taps on a specific notification, or is it NOTIFICATION.MARK_READ? I am not sure if this event is added after opening a channel or right after tapping on the notification.

Thanks.

[2021-09-08 08:09] imtoori commented on #667
There is no event linked to the tapping of the notification
The `notification.mark_read` event is received when the total count of unread messages (across all channels the user is a member) changes
https://getstream.io/chat/docs/flutter-dart/event_object/?language=dart

So yeah, this is usually received after you open a channel with unread messages, not after the tapping on the notification

[2021-09-08 08:09] #667 closed

[2021-09-08 08:28] mingzew opened #668 "In MessageInput turning disableAttachments=true produces render errors"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

2.2.1

### What happened?

I flipped MessageInput(disableAttachments: true), when the chat page loaded up, it produced errors mentioned below. I am using Pixel XL (mobile)

### Steps to reproduce

[code]

### Supporting info to reproduce

_No respon

[2021-09-08 09:16] jasnicaa commented on #667
yeah ok guess it should be handled through local notification package or/and firebase, just wanted to check. tnx

[2021-09-08 15:10] mwawrusch commented on #665
nice, live saver!!!

[2021-09-09 07:41] #659 closed

[2021-09-09 08:24] mingzew opened #670 "messageLinksStyle in MessageThemData is not applied"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

2.2.1

### What happened?

There were couple of issues I've spotted
1. I expect the hyperlink to be light blue with an underline, but it's just in the style of set by messageTextStyle
2. In a message with hyperlink **and** if I was the owner of the

[2021-09-09 09:08] xsahil03x commented on #670
Hey @mingzew, not able to reproduce the issue. Working fine for me.
Can you share a short sample project to test the issue?

[2021-09-09 09:14] xsahil03x commented on #668
Hey @mingzew, not able to reproduce the issue. Working fine for me.
Can you share a small project to test the issue?

[2021-09-09 09:44] imtoori commented on #491
hey @jgadsby I just got to run the app on ios15 and everything is working fine
Can you confirm you're still having the issue?

[2021-09-09 11:43] imtoori commented on #435
hey @rlee1990
I don't think we'll ever add this directly to the sdk, but we're planning to write a blogpost about this :)
so stay tuned :D

[2021-09-09 11:43] #435 closed

[2021-09-09 16:28] Siqlain-Hanif opened #671 "Autocomplete not enabled"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

2.2.1

### What happened?

QueryChannels failed with error: "autocomplete is not enabled for field channels.members.user.name.

I am using this query to filter out the channel by name it works really good for my custom channel but not able sear

[2021-09-09 16:29] Siqlain-Hanif commented on #671
Closing this, my mistake a typo it was

it's member not members

[2021-09-09 16:29] #671 closed

[2021-09-09 22:39] mingzew commented on #668
Hi @xsahil03x thanks for the follow up. I did some testing and narrowed down the issue. These are the steps to create this issue:

1. Create a new channel type on web console
2. After creation, go into the channel and switch commands to "off"
3. Make sure your ```MessageInput(disableAttachments: true)```

I've attached a sample project, just replace APIKEY and CHANNEL_TYPE in stream_api.dart

[my_

[2021-09-09 23:09] mingzew commented on #670
See ss and code below

1. I'd expect link that I've sent to be pink bg with white text for "hahaha" and blue + underline for hypedating.com
2. I'd expect link that the other person sent to be grey bg with blacktext for "jkjkjk" and blue + underline for Google.com
3. Not sure where the greyish-blue bubble is coming from for the link bubble as per ss

[my_app 2.zip](https://github.com/GetStream/stre

[2021-09-10 10:40] xsahil03x commented on #670
Hey @mingzew,
I finally understood the issue. The actual issue is with `flutter_markdown` package which we use in order to parse the message text. It does not recognise url's without `www` or `http` as a valid url.

If you see in the ss below, making it a valid url works fine.

<img width="361" alt="Screenshot 2021-09-10 at 3 02 14 PM" src="https://user-images.githubusercontent.com/25670178/132841

[2021-09-10 13:08] #670 closed

[2021-09-10 13:27] Abacaxi-Nelson opened #673 "[Help] Search is working in development; not working in Testflight & AppleStore"
### Which packages are you using?

stream_chat, stream_chat_persistance

### On what platforms did you experience the issue?

iOS

### What version are you using?

stream_chat_flutter: ^2.2.1
stream_chat_persistence: ^2.2.0

### What happened?

Its weird, but after half day trying to figure it out; i convince my self to ask for some help.
Same app:
![IMG-2365](https://user-images.githubusercontent

[2021-09-10 14:05] jasnicaa commented on #659
HI guys, so I was just testing this fix, and still is not working for me as expected.

I enter the app and send a message from another account and when debugging I can see that in the currentUser totalUnreadCount has updated while totalUnreadCount from the Stream is zero. It only updates when I enter the channel.

![Screenshot 2021-09-10 at 16 03 18](https://user-images.githubusercontent.com/25682

[2021-09-10 14:06] imtoori commented on #659
this hasn't been released yet
are you trying it using git dependency?

[2021-09-10 14:10] jasnicaa commented on #659
no, I saw this
<img width="765" alt="Screenshot 2021-09-10 at 16 10 39" src="https://user-images.githubusercontent.com/25682164/132866909-c9439c89-5df5-4f36-adea-341c6bb62490.png">

[2021-09-10 14:12] imtoori commented on #659
yeah that was another issue
you can check the upcoming changelog here https://github.com/GetStream/stream-chat-flutter/blob/develop/packages/stream_chat/CHANGELOG.md

[2021-09-10 15:49] jgadsby commented on #491
@imtoori Yeah, I'm still seeing the issue. If you scroll past the first 10-20 photos (which are correctly in order) you'll begin to notice some videos from a long time ago, and they seem to get more jumbled as you scroll down more. If you don't have many photos it might not be noticeable.

[2021-09-10 20:07] mingzew commented on #670
@xsahil03x is it possible to change the color of the background of the link bubble? Where was that coming from?

[2021-09-10 20:22] xsahil03x commented on #670
Hey @mingzew, it's mentioned in my previous answer 🙂

[2021-09-10 20:25] mingzew commented on #670
oh my apologies, the notification in my email did not include the edit. Thanks for the help and quick turn around!

[2021-09-10 20:26] marcossevilla opened #674 "Null check operator used on a null value"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS

### What version are you using?

package:stream_chat_flutter - ^2.0.0

### What happened?

Throws this error:

[code]

in this widget test:

[code]

`MessageListView` is a widget that wraps up a StreamChart `MessageListView`.

### Steps to reproduce

[code]

### Supporting info to repr

[2021-09-10 21:51] Abacaxi-Nelson commented on #673
really strange.
launching in debug mode work.
launching in release/profile mode dont work: ```queryUsers is not called when name is typed```
https://github.com/GetStream/stream-chat-flutter/blob/18c6fd842c86767461adbd5adfd71770d34922f1/packages/stream_chat_flutter_core/lib/src/users_bloc.dart#L65

[2021-09-11 06:55] xsahil03x commented on #673
@Abacaxi-Nelson check if you have the internet permission available in the profile and release flavor.

[2021-09-11 06:57] Abacaxi-Nelson commented on #673
Hey @xsahil03x
I do have it cause rest of the app is working.
Im able to display my chanels, and even send message in them.

[2021-09-11 13:55] mingzew opened #678 "StreamChannel() Doesn't Show Loading Screen"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

2.2.1

### What happened?

Loading up widgets that contain StreamChannel() initially (after restart of app or Hot Restart) takes a long time (4-6 seconds) and it doesn't show a loading bar even with showLoading: true.

### Steps to reproduce

[code]

[2021-09-13 15:35] jgadsby commented on #678
I noticed a related issue, that the message list view doesn't seem to use my loadingBuilder and instead shows a circular progress indicator with default colors, despite my theme colors already being defined.

[2021-09-13 15:37] imtoori commented on #678
@mingzew can you add a snippet for reproducing the bug? thanks

[2021-09-13 15:43] imtoori commented on #678
@jgadsby are you talking about the widget that shows when there are no messages?

[2021-09-13 15:48] jgadsby commented on #678
No, just the widget that shows when the channel is loading.

[2021-09-13 15:49] imtoori commented on #678
what do you mean? the loading indicator for pagination?

[2021-09-13 20:53] jgadsby commented on #678
What does loadingBuilder actually override in MessageListView?

[2021-09-13 20:58] jgadsby opened #680 "onAttachmentTap override in message.copyWith() doesn't do anything"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

2.2.1

### What happened?

`messageWidget.copyWith(
      onAttachmentTap: (message, attachment) {
      print("On attachment tap");
    }`

The above print statement never gets called in the log.

### Steps to reproduce

[code]

### Supporting

[2021-09-14 07:18] imtoori commented on #678
it overrides the list loading indicator that shows up when we're fetching the messages
are you trying to override the loading indicator for pagination? we should add that option I think

[2021-09-14 09:22] Abacaxi-Nelson commented on #673
hey @xsahil03x
i think i narrow down the problem.
here https://github.com/GetStream/stream-chat-flutter/blob/720c0a80edc51f8998f23b39f710b2312d6c9ee1/packages/stream_chat_flutter_core/lib/src/user_list_core.dart#L210
**toString** method is used.

In my test, toString works great in debug bu not in profile/release (it show always 'Filter' no matter Filter is)

i add this method to Filter (https://g

[2021-09-14 09:57] issakr opened #681 "The plugins `image_gallery_saver, video_thumbnail` use a deprecated version of the Android embedding."
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android, Web, Windows, MacOS, Linux

### What version are you using?

stream_chat_flutter: ^2.2.1
or
stream_chat_flutter: ^2.0.0-nullsafety.3

### What happened?

Im expecting to add other packages (flutter_bloc ....) without problems

### Steps to reproduce

[code]

### Supporting inf

[2021-09-14 10:02] issakr commented on #681
Flutter analyze output has nothing

[2021-09-14 10:28] imtoori commented on #681
Hi this is not a real issue and also it's not something we can really solve
I tested this and it's working fine even if the warning shows up
Can you confirm this?

[2021-09-14 10:40] issakr commented on #681
isnt it because of the dependencies to the plugins: image_gallery_saver and video_thumbnail, that i cant pub add flutter_bloc or  month_picker_dialog for example ?

[2021-09-14 10:45] issakr commented on #681
if I add stream_chat_flutter: ^2.2.1, month_picker_dialog: ^0.4.0 and flutter_bloc: ^7.0.1 by hand to pubspec.yaml, I get :  Because stream_chat_flutter >=2.0.0-nullsafety.4 depends on rxdart ^0.27.0 and month_picker_dialog 0.4.0 depends on rxdart ^0.26.0, stream_chat_flutter >=2.0.0-nullsafety.4 is incompatible with month_picker_dialog 0.4.0.

even if I changed the versions to lower ones.

[2021-09-14 11:07] xsahil03x commented on #681
@issakr use this in your pubspec.
[code]

[2021-09-14 11:10] xsahil03x commented on #673
Hey @Abacaxi-Nelson
Thanks for the research, I now understand why this is not working for you 👍🏼
I will soon create a PR for this fix.

[2021-09-14 11:56] issakr commented on #681
thanks it worked !

[2021-09-14 11:56] #681 closed

[2021-09-14 15:35] #673 closed

[2021-09-14 16:25] deven98 commented on #680
Hey @jgadsby,

I'm taking a look into this, I'll have an update soon.
Thanks.

[2021-09-14 16:32] deven98 commented on #674
Hey @marcossevilla,

I'm taking a look into this, might have a few different possible causes.
I'll let you know when I have more information.

Thanks.

[2021-09-15 08:44] jasnicaa opened #684 "[Question] Navigate to the message from search"
Hey guys, this is more of a question because I am unable to find it in the documentation.

So I want to search through the channel and be able to navigate to the specific message I was searching for. What is the best way to accomplish that? I haven't done this before in Flutter, in iOS we had scrollToRowAtIndexPath and I guess there is something the same in Android, but for the Flutter I saw that

[2021-09-15 08:47] #684 closed

[2021-09-15 13:39] jgadsby commented on #678
Yeah, that's what's not working for me. I'm not trying to override the pagination loader. See this snippet which doesn't work:

`loadingBuilder: (context) { return Center( child: SizedBox( width: 128, height: 128, child: Lottie.asset( "assets/loading_indicator.json"))); },`

[2021-09-15 13:44] jgadsby opened #687 "Users lose their place in the conversation after replying in threads."
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

2.2.1

### What happened?

When replying in a thread from a parent MessageListView, sending a reply resets the scroll position of the parent MessageListView to the bottom, so users lose their place in the chat after replying. I'm guessing a fix

[2021-09-16 10:55] #680 closed

[2021-09-17 07:49] imtoori commented on #678
yeah it's not that it doesn't work, it overrides only the main loading indicator that you can see when the first query is in progress, not the one used while paginating
I added a task in our backlog for letting users customize even that one. we'll work on that

[2021-09-17 09:26] #668 closed

[2021-09-17 12:45] rickgrade3 commented on #659
Do you have any workaround of this issue before the release?

[2021-09-17 12:47] imtoori commented on #659
I can't think of nothing right now, but we'll probably publish the next release early next week

[2021-09-17 12:53] jasnicaa commented on #659
@rickgrade3  If you are using bloc you can create your own totalUnreadCount from currentUser.totalUnreadCount - this number is updating correctly, I started this way but decided to wait for an update

[2021-09-17 15:15] #674 closed

[2021-09-21 06:02] mingzew commented on #678
Hi i've attached a code example showing the issue. A few things
1. I've used a custom channel_type with character count to 1000 and all commands turned off
2. I created a bunch of channel with 2 users, with one of the user being "user1"
3. To run the code - change apiKey, channelType, and userId (assign it "user1" or w/e user name you've created) in stream_api.dart
4. once it ran, click any channe

[2021-09-21 11:37] Brazol opened #700 "Connecting user without providing userName is clearing it"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter: ^2.2.1
stream_chat_flutter_core: ^2.2.1

### What happened?

We used to connect user providing only userId and it worked. After package update instead of merging data with existing name it overrides it with user id. It's wo

[2021-09-21 12:41] imtoori commented on #678
hey @mingzew this is probably a performance issue, we're looking into that
I'll let you know as soon as we have more information

[2021-09-21 13:08] #700 closed

[2021-09-21 14:59] aoatmon opened #703 "[proposal] replace dependencies with deprecated embedding"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

Android

### Is your feature request related to a problem?

given this error message
[code]
and these issues
https://github.com/hui-z/image_gallery_saver/issues/186
https://github.com/justsoft/video_thumbnail/issues/85

I'd consider a to adopt dependencies that use up-to

[2021-09-22 04:14] mingzew commented on #678
Yeah the time it takes is not ideal, that seem like a performance related issue. The loading screen should show in the main time, no?

Perhaps there's a work around with futureBuilder?

[2021-09-22 20:34] Abacaxi-Nelson opened #706 "Have list of Users who mute current user ?"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS

### Is your feature request related to a problem?

Hi,
Im trying to:
- Disable direct dm (if current user is muted from other) => Hide user from user search

i see in the ownUser model a list of users current user muted, but not the list of users who muted current u

[2021-09-24 08:43] deven98 commented on #706
Hey @Abacaxi-Nelson,

Taking a look into this, I'll get back to you soon.

[2021-09-27 13:59] #347 closed

[2021-09-27 14:34] imtoori commented on #687
Hey @jgadsby we're looking into this
sorry for the delay

[2021-09-28 21:14] omtodkar opened #710 "Cannot use 'int' userId in JWT token"
We were using our database user id in client JWT token. In 2.0.0-nullsafety.4 it was working properly but since we upgraded to 2.2.1 client is failing with following error.

[code]

Due to type casting on following line.
https://github.com/GetStream/stream-chat-flutter/blob/771ba10999daf9af67fcdb6df0c6972b93f4a8c7/packages/stream_chat/lib/src/core/http/token.dart#L49

Can we have following change?

[2021-09-28 21:28] omtodkar commented on #710
For those who are facing same issue. Use following in pubspec.yaml

[code]

[2021-09-28 21:41] omtodkar commented on #710
For those who are facing same issue can use following temporary solution.

[code]

[2021-09-29 07:56] #710 closed

[2021-09-29 08:01] omtodkar commented on #710
@imtoori Thank you, when can we expect next release?

[2021-09-29 09:52] imtoori commented on #710
I'd say later this week

[2021-09-29 16:23] emmett-deen commented on #599
Having this issue now

[2021-09-30 05:39] ezet commented on #703
Both of these libraries are updated with V2 embedding now, just upgrade to their latest versions.

[2021-09-30 08:41] deven98 commented on #706
Hey @Abacaxi-Nelson, it appears this may not be possible at the moment. As a temporary idea, you can hide the channel which has the muted user on the receiving user's side. We are also transferring this issue to another repo which will help solve this issue better.

Thanks.

[2021-10-01 10:29] #687 closed

[2021-10-01 11:46] hieubagiang opened #716 "Build failed after update from 2.2.0 to 3.0.0"
### Which packages are you using?

stream_chat_flutter, stream_chat_flutter_core, stream_chat_persistance, stream_chat_localizations

### On what platforms did you experience the issue?

Android

### What version are you using?

  stream_chat_flutter: ^3.0.0
  stream_chat_flutter_core: ^3.0.0
  stream_chat_persistence: ^3.0.0
  stream_chat_localizations: ^2.0.0

### What happened?

Running Gradle

[2021-10-01 11:56] imtoori commented on #716
hey @hieubagiang can you try updating your flutter version using `flutter upgrade`?

[2021-10-01 12:24] imtoori commented on #703
yes we'll do it in the next release

[2021-10-02 11:43] basilmariano commented on #703
Explicitly setting **video_thumbnail: ^0.4.3** (latest version) giving version inconsistecy

Because stream_chat_flutter 3.0.0 depends on video_thumbnail ^0.3.3 and no versions of stream_chat_flutter ```
match >3.0.0 <4.0.0, stream_chat_flutter ^3.0.0 requires video_thumbnail ^0.3.3.
So, because foo depends on both stream_chat_flutter ^3.0.0 and video_thumbnail ^0.4.3, version solving failed.
pub

[2021-10-02 11:47] basilmariano commented on #703
any expected date for the next release. I cant compile my project even running in iOS now :(

[2021-10-02 11:53] basilmariano commented on #703
looks like this issue in video_thumbnail is still open and sitting there without any feedback
https://github.com/justsoft/video_thumbnail/issues/85

[2021-10-02 14:39] ezet commented on #703
The changelog says it's fixed

On Sat, Oct 2, 2021, 13:53 Basil Mariano ***@***.***> wrote:

[2021-10-05 03:41] kennyvallejodev opened #720 "If i minimize the app once i tap to send a message (and the message is not sent yet), i will receive a push notification with my own message."
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

  stream_chat_flutter: 2.0.0-nullsafety.3

### What happened?

What Happened?

If i start a chat with another person, i wrote a message and tap on the send message button (and minimize the app before the message is sent). Then the message will

[2021-10-05 07:36] imtoori commented on #720
@kennyvallejodev we don't have any push notification logic in the SDK
I don't think this is a push notification since our backend doesn't send push notifications to message owners
Are you using local notifications?

[2021-10-05 09:21] imtoori commented on #349
this is fixed in the latest develop

[2021-10-05 09:21] #349 closed

[2021-10-05 13:45] xsahil03x commented on #703
Fixed in [v3.1.1](https://pub.dev/packages/stream_chat_flutter/changelog#311)

[2021-10-05 13:45] #703 closed

[2021-10-05 17:56] hieubagiang commented on #716
Thank you, it's work :D

[2021-10-05 18:10] deven98 commented on #716
Glad to know it works :)

Closing this issue now.

[2021-10-06 08:20] aoatmon commented on #703
@imtoori @xsahil03x
you sure work fast guys,  respect!

[2021-10-06 16:38] kennyvallejodev commented on #720
@imtoori Thank you, actually digging on the code i found that we are sending local push notifications when we receive the
`onBackgroundEventReceived` but i also find out that if you are the sender and minimize the app just before the message is completely sent, you will receive the event of your same message so.

[2021-10-08 07:25] damian-molinski opened #727 "Unread messages per channel"
### Which packages are you using?

stream_chat_flutter_core

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter_core - 2.2.1

### What happened?

What i'm trying to achieve is to get number of unread messages for all of user channels. I know there is `Channel.unreadCount` and `Channel.unreadCountStream`, which is great, but in or

[2021-10-08 07:54] hiashutoshsingh opened #728 "New Channel is not reflected when member is added again."
### Which packages are you using?

stream_chat_flutter_core, stream_chat_persistance

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

  stream_chat_flutter_core: 3.1.1
  stream_chat_persistence: 3.0.0

### What happened?

When a user is added to a channel, channels in `ChannelListCore` is updated, then removing the same user or the user leaves th

[2021-10-11 08:36] #727 closed, assigned to nobody

[2021-10-11 09:30] hieubagiang opened #732 "Pull to refresh channel list shown removed channel"
### Which packages are you using?

stream_chat_flutter, stream_chat_flutter_core, stream_chat_persistance, stream_chat_localizations

### On what platforms did you experience the issue?

Android

### What version are you using?

  stream_chat_flutter: ^3.1.1
  stream_chat_flutter_core: ^3.1.1
  stream_chat_persistence: ^3.0.0
  stream_chat_localizations: ^2.0.0

### What happened?

Pull to refresh

[2021-10-12 02:20] rickgrade3 commented on #491
I encountered this issue too, Maybe MediaListView need to list image by "createdAt" instead "updatedAt".
https://github.com/CaiJingLong/flutter_photo_manager/issues/578#issuecomment-893017403

[2021-10-12 16:23] TomBeckett commented on #727
@imtoori Im not sure this should be closed as it looks like at least the use case is still very much open

[2021-10-14 14:41] bschneidinger opened #736 "Username overwritten with user id when name is null"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

2.2.1

### What happened?

connectUser is called for a user id that already exists (the user has a valid user name).
But when the user which is passed to connectUser has name = null, the username is overwritten in the DB with the id of the user. But

[2021-10-15 05:40] mingzew opened #737 "Method not Found on Compile"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

  stream_chat_flutter: ^3.1.1

### What happened?

Failed follow with error during compile time

[code]

I've tried manually deleting pubspec.lock and the package from pub-cache, then running `flutter pub cache repair`  and `flutter pub get`. It did

[2021-10-15 07:47] #737 closed, assigned to nobody

[2021-10-15 08:19] xsahil03x commented on #736
Already fixed in [^3.0.0](https://pub.dev/packages/stream_chat/changelog#300)

[2021-10-15 08:19] #736 closed

[2021-10-16 14:13] omuniverse opened #738 "project ':video_compress' -> org.jetbrains.kotlin:kotlin-gradle-plugin:1.3.31"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

3.1.1

### What happened?

FAILURE: Build failed with an exception.

* What went wrong:
The Android Gradle plugin supports only Kotlin Gradle plugin version 1.3.40 and higher.
The following dependencies do not satisfy the required version:
proj

[2021-10-18 15:51] imtoori commented on #673
@Abacaxi-Nelson I can confirm this is fixed
the fix has been released in 3.0.0

[2021-10-18 22:19] matthewfx opened #740 "When keyboard shown the message input moves too high and obscures the message feed."
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS

### What version are you using?

stream_chat_flutter: ^3.1.1

### What happened?

Hi,

On a real iOS15 iPhone Xs Max (for some reason when testing can't trigger the keyboard on the simulator) when I start typing a message the input field goes to almost the top of the screen and you can

[2021-10-19 00:19] matthewfx commented on #740
Just found what was causing the above problem. I used your library in a private package. When that module was used within an app the MaterialApp of the Chat component was nested in another MaterialApp. That was apparently resulting in the behaviour described above. I removed the MaterialApp from your tutorial code and it behaves correctly. I'm guessing the only remaining problem for me to solve wo

[2021-10-19 00:19] #740 closed

[2021-10-19 08:12] ktre2017 opened #741 "Build failed with Flutter 2.5.2"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

Flutter 2.5.2 Dart 2.14.3

### What happened?

Build errors

 Error: Type 'ChewieController' not found.
package:stream_chat_flutter/src/full_screen_media.dart:248
  ChewieController? _chewieController;
  ^^^^^^^^^^^^^^^^
: Error: Type 'ChewieControl

[2021-10-22 12:07] mmustafaget opened #744 "Unread Counter not Stream Properly"
### Which packages are you using?

stream_chat_flutter_core

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

 stream_chat_flutter_core: ^3.1.1

### What happened?

Unread count shows only when the ui is build first time and also the one more time when new message is arrived ( **Only 1 time** unread counter streams when new message is received )

[2021-10-22 13:26] Dekhnar opened #745 "feat: add E2EE encryption guide for Group Chat with MLS"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS

### Is your feature request related to a problem?

How can I use Stream chat for creating my encrypted group chat with MLS Protocol instead pair key?
How to manage user that left the group, make message unreadable for them for preventing leaks?
Is it possible to hav

[2021-10-22 23:02] matthewfx opened #746 "Crashes in iOS15 and above"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS

### What version are you using?

stream_chat_flutter: ^3.1.1

### What happened?

On iOS 15 and above I experience crashes when in the channel screen.

It happens when you do a long tap on a message or after an image is uploaded and in some other cases two.

I have tested it on iPhone

[2021-10-22 23:12] matthewfx opened #747 "Picture upload always ends with upload errors on iOS 12.5.5"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS

### What version are you using?

stream_chat_flutter: ^3.1.1

### What happened?

When trying to upload any picture from the photo library on iPhone 5s (iOS 12.5.5) every time it ends up with an upload error.

### Steps to reproduce

[code]

### Supporting info to reproduce

_No respon

[2021-10-23 12:00] Abacaxi-Nelson opened #748 "upgrading persistence - lost data"
hi,
already had this behaviour before.
i upgraded yesterday chat + persistence plugin.
on first launch, some of my messages have lost their user (user == null)

is it because i upgrade persistence plugin ?
i reinstall app to be sure => same behaviour.

i run some nodejs script to get messages, and evzrything is fine.

is it possible to reset local database to wipe out data and start fresh ?

ios
l

[2021-10-25 08:33] #745 closed, assigned to nobody

[2021-10-27 13:01] #744 closed, assigned to nobody

[2021-10-28 06:54] hiashutoshsingh opened #751 "Pagination issue in MessageListCore"
### Which packages are you using?

stream_chat_flutter_core

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

`  stream_chat_flutter_core: 3.1.1`

### What happened?

`paginationLimit` in MessageListCore doesn't seem to be working I passed the value in it and it is returning 25 messages always and even in the constructor the default value is 20 if

[2021-10-28 07:54] #751 closed, assigned to nobody

[2021-10-29 11:15] salihgueler opened #753 "Better approach to fetch all channels"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android, MacOS

### Is your feature request related to a problem?

Right now if a person would like to fetch all the channels they can not do it properly. They need to either;

- Listen to stream (not a Future) to fetch all channels
- Fetch the channels according to

[2021-10-29 12:15] #741 closed, assigned to nobody

[2021-10-29 19:37] jfacoustic opened #754 "Channel sorting breaks when using StreamChatPersistenceClient."
### Which packages are you using?

stream_chat_flutter, stream_chat_persistance

### On what platforms did you experience the issue?

iOS

### What version are you using?

  stream_chat_flutter: ^3.1.1
  stream_chat_persistence: ^3.0.0

### What happened?

Expected: Channels to when online

Actual:
ChannelListView shows "Error Loading Channels" despite being online.  This error goes away when I re

[2021-11-01 08:25] salihgueler commented on #753
Hello @imtoori, also, having the channel ids and trying to fetch the messages per channel as a separate call does not work either. If the channel state is too big of an object, I would recommend to make it available as smaller chunk of datas.

In addition to this, with the ChannelState reference, I would expect to have a way to update the properties (e.g. messages) as a call as well.

These are bi

[2021-11-01 11:33] imtoori commented on #753
@salihgueler can I ask what's the use case here?

[2021-11-02 06:03] salihgueler commented on #753
@imtoori In our case, the channel identifiers are related to another data set. So I know the channel ids that I have. But I would like to be able to get the messages for each channel id. I don't want to show only 20 of them, I want to be able to show it all.

p.s. I also checked your tutorials etc. but they also cover only 20 latest messaging groups.

[2021-11-02 09:48] imtoori commented on #748
hey @Abacaxi-Nelson did you find anything?
can you try with the latest release?

[2021-11-02 10:02] Abacaxi-Nelson commented on #748
Hey,
i just remove persistence for now.
yeah i will have a look !
next week, cause we are pushing an important version this week :)

Thank you @imtoori

[2021-11-02 12:08] imtoori commented on #746
hi @matthewfx
I'm trying reproducing this bug, but I'm not managing to do it
for context: I tried using the sample app you can find here https://github.com/GetStream/flutter-samples/tree/main/packages/stream_chat_v1

[2021-11-02 14:11] imtoori commented on #747
hi @matthewfx
I'm trying reproducing this bug, but I'm not managing to do it
for context: I tried using the sample app you can find here https://github.com/GetStream/flutter-samples/tree/main/packages/stream_chat_v1

[2021-11-02 14:39] imtoori commented on #754
hi @jfacoustic
that's because you need to specify the comparator in the SortOption if you're using offline storage
That's because we need it to sort channels locally in case of reading from the cache

You can use something like this
[code]

[2021-11-02 14:39] #754 closed

[2021-11-05 01:39] kalptech2021 opened #757 "Notifications not opening on click"
I have firebase messaging integrated into the flutter app, everything works fine when used with cloud functions. When I am using stream chat, the click action is not working. Do we have any documentation on how to handle click events? I can not find any. After clicking notifications it's not even opening the app.
I am using the default firebase template and data template. Please help I can not fin

[2021-11-05 10:32] imtoori commented on #757
Hi @kalptech2021
That's something you need to configure on your own
I'd suggest looking into firebase messaging documentation
Anyway, I'll add to our backlog a task to write a guide on this for future reference

[2021-11-05 10:32] #757 closed

[2021-11-05 15:07] imtoori commented on #753
Hey @salihgueler
I checked with the backend team, and unfortunately, there's nothing to do about this since it's a backend limitation
All you can do is paginate data

[2021-11-06 00:44] kalptech2021 commented on #757
Hello @imtoori , It's working now, I had to delete the click action from the default template.

[2021-11-07 09:12] flodaniel opened #760 "FilePicker is called with withData=true, crashing on big files"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

3.1.1

### What happened?

When picking large files (videos with a >500 MB on my device, but this will vary), the app crashes because default `MessageInput` widget uses the following code to get a file from the FilePicker plugin:
[code]
According to

[2021-11-07 11:24] flodaniel opened #761 "deleteImage/deleteFile not called from custom AttachmentFileUploader"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

3.1.1

### What happened?

Delete methods  from custom `AttachmentFileUploader` are not being called.
The actions modal, which is opened to allow the deletion of a message, calls in `channel.dart` (line 678):
`      final response = await _clie

[2021-11-08 07:57] salihgueler commented on #753
Hey @imtoori I know pagination is the way but if a user scrolls quickly this means it will be a lot of requests to the backend and then BE says, it can not handle too many messages at once. How can we deal with that then?

[2021-11-09 10:07] hieubagiang commented on #732
Update:
If i delete channel, screen will not delete channel in local data.
Show when i pull to refresh, it shows deleted channel from local data while data is be fetching.
if i logout and login (delete persistence data) - when pull to refresh channel list, every thing will be okay

[2021-11-09 10:19] matthewfx commented on #746
Hi @imtoori , I will test it again next week and let you know.

[2021-11-09 22:35] futebolbryant opened #764 "Remove default divider in message_list_view.dart or make it configurable"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

_No response_

### Is your feature request related to a problem?

I'm unable to fully customize the look and feel of our channel pages because there is a `SizedBox(height: 2)` in `message_list_view.dart` returned by default in the `seperatorBuilder`.  This extra space se

[2021-11-10 18:19] futebolbryant opened #766 "AttachmentActionsModal should have configurable actions"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

_No response_

### Is your feature request related to a problem?

We don't want to show the 'Show in Chat' or 'Reply' actions that are hardcoded into the  `AttachmentActionsModal` when the user has tapped the image from a channel page.  I don't understand the purpose of

[2021-11-10 23:18] futebolbryant opened #767 "Message Input Focus is not retained after sending a message"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter: ^3.2.0

### What happened?

After sending a message (text only) the message input does not retain focus and the keyboard is dismissed.  This is incredibly frustrating as a user, and looking at the code of `message_input.dar

[2021-11-11 12:16] imtoori commented on #753
Hey @salihgueler,
backend team suggests throttling the requests client-side.
You could have a default duration for pagination (something like 300ms).
Unfortunately, there's nothing we could do on LLC level :/

[2021-11-11 15:13] salihgueler commented on #753
@imtoori I see. Thank you anyways.

[2021-11-11 15:13] #753 closed

[2021-11-12 14:14] ManasviPatidar commented on #732
I am also facing the same glitchy behaviour.
The source of the problems seems to be that the default [loadData](https://github.com/GetStream/stream-chat-flutter/blob/a3cce7ffff39511c3bb3cc165c5c1f9934443077/packages/stream_chat_flutter_core/lib/src/channel_list_core.dart#L152) of ChannelListView does not specify any `offset` in `paginationParams`. This value is passed down to [queryChannelsOnline]

[2021-11-15 08:57] deven98 commented on #767
Hi @futebolbryant,

I can see how this is an issue and I'll let you know when a fix is implemented.

Thanks for reporting this.

[2021-11-15 11:28] deven98 commented on #766
Adding config options for this and pushing a PR soon.

Will let you know when it's merged.

Thanks.

[2021-11-15 13:16] xsahil03x commented on #761
Hey @flodaniel,

Calling `deleteImage` or `deleteFile` sounds good at first but the same attachment can be linked to multiple messages. So a better way is to call it as per your use-case.

[code]

Thanks.

[2021-11-15 13:16] #761 closed

[2021-11-15 20:09] flodaniel commented on #761
Hey @xsahil03x,

this information is clearly conflicting with how it is documented (https://getstream.io/chat/docs/flutter-dart/file_uploads/?language=dart, https://github.com/GetStream/stream-chat-flutter/blob/master/packages/stream_chat/lib/src/core/api/attachment_file_uploader.dart#L7, https://github.com/GetStream/stream-chat-flutter/blob/master/packages/stream_chat/lib/src/core/api/attachment_

[2021-11-16 09:05] xsahil03x commented on #761
Hey @flodaniel , the thing is we actually don't really call `deleteImage` or `deleteFile` in our SDK because of the reason I mentioned above.

If you look at the `deleteMessage` [implementation](https://github.com/GetStream/stream-chat-flutter/blob/master/packages/stream_chat/lib/src/client/channel.dart#L651), we never called `deleteImage` or `deleteFile`. We handle it internally in our backend.

[2021-11-17 12:52] deven98 commented on #760
Hey @flodaniel,

Curious bug.
I'll try to see if we can work around this limit and let you know.
Thanks for reporting this.

[2021-11-17 12:53] deven98 commented on #764
Hey @futebolbryant,

I have a fix ready for this which allows you to set default spacing as well as spacing in certain conditions and should be merged soon.

Thanks for reporting this and I'll let you know when it's merged.

[2021-11-18 09:03] jasnicaa opened #776 "Channel header showing incorrect number of persons online"
Just to test I switched my custom channel header to default one and it still shows that out of 5 persons 2 are online while I am the only one online.
![Screenshot 2021-11-18 at 10 01 11](https://user-images.githubusercontent.com/25682164/142384165-103db9c6-fa1f-4ff9-b32f-af23e5c2947a.png)

no one is online as you can see

and in the header
![Screenshot 2021-11-18 at 10 01 16](https://user-images.g

[2021-11-18 09:12] hiashutoshsingh opened #777 "Updated Channel not reflected at top"
### Which packages are you using?

stream_chat_flutter_core, stream_chat_persistance

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

  stream_chat_flutter_core: 3.1.1
  stream_chat_persistence: 3.0.0

### What happened?

We are using ChannelsBloc and ChannelListCore with a limit of 10.

Suppose a condition in which there are 50 channels on the s

[2021-11-18 09:12] hiashutoshsingh opened #778 "Channel list not updated"
### Which packages are you using?

stream_chat_flutter_core, stream_chat_persistance

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

  stream_chat_flutter_core: 3.1.1
  stream_chat_persistence: 3.0.0

### What happened?

We are using ChannelsBloc and ChannelListCore with a limit of 10.

Suppose a condition in which there are 50 channels on the s

[2021-11-18 10:22] deven98 commented on #776
Hi @jasnicaa,

Taking a look into this.
I'll get back to you when I have more info.

Thanks for reporting this.

[2021-11-18 10:35] deven98 commented on #778
Hey @hiashutoshsingh,

We're aware of this limitation and the upcoming package version introduces a better way to handle channel lists and should solve this issue.

Please track this PR for progress: https://github.com/GetStream/stream-chat-flutter/pull/775

Thanks.

[2021-11-18 10:38] jasnicaa commented on #776
thanks, @deven98 . one question also while you are here.. is there any way besides customizing the whole activeSendButton in MessageInput to change the size of it? because it is really just one small change and I need to do a ton of copy/pasting your own methods. is there a way for you guys to expose those properties just like theming ones? thanks

[2021-11-18 10:48] deven98 commented on #776
Hey @jasnicaa,

At this moment, you do need to customise the entire button but we have a draft PR reworking the `MessageInput` in progress that should help with customisation for the button.

You can find the PR here: https://github.com/GetStream/stream-chat-flutter/pull/742

This should be added into the upcoming release.

[2021-11-18 12:52] papirovdavid opened #779 "Bad state: Cannot add new events after calling close"
### Which packages are you using?

stream_chat

### On what platforms did you experience the issue?

Android

### What version are you using?

2.2.1

### What happened?

Reopening the old issue:
https://github.com/GetStream/stream-chat-flutter/issues/45

### Steps to reproduce

[code]

### Supporting info to reproduce

_No response_

### Relevant log output

_No response_

### Flutter analyze outp

[2021-11-18 14:50] imtoori commented on #779
this should be solved in the latest version 3.x
closing this for now

[2021-11-18 14:50] #779 closed

[2021-11-18 16:08] #764 closed

[2021-11-18 16:50] #766 closed

[2021-11-19 12:28] akul1994 opened #781 "Issue in FilePicker on flutter web"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Web

### What version are you using?

3.2.0

### What happened?

Unable to upload images using MessageInput,
Gives the following error[](url)

```main.dart.js:17807 Uncaught       On web `path` is always `null`,
      You should access `bytes` property instead,
      Read more about it [her

[2021-11-19 12:45] deven98 commented on #781
Hey @akul1994,

This issue has already been fixed and should be in the next release. (https://github.com/GetStream/stream-chat-flutter/pull/763)
Please use the develop branch if you require the fix urgently.

Best,
Deven

[2021-11-19 12:45] #781 closed

[2021-11-23 09:23] #767 closed

[2021-11-24 02:26] yeahs2000 opened #784 "sync lastSyncAt always null"
### Which packages are you using?

stream_chat_persistance

### On what platforms did you experience the issue?

Android

### What version are you using?

version: 3.0.0

### What happened?

**final connectionInfo = await select(connectionEvents).getSingleOrNull();**

ConnectionEventEntity(
            id: 1,
            type: event.type,
            **lastSyncAt: connectionInfo?.lastSyncAt,**

[2021-11-24 13:50] #747 closed

[2021-11-24 14:16] imtoori commented on #784
Hi @yeahs2000 what are you trying to do specifically?

[2021-11-24 14:16] imtoori commented on #776
I found the problem and fixed it on develop
You'll find the fix in the next release :)

[2021-11-24 14:16] #776 closed

[2021-11-24 14:44] yeahs2000 commented on #784
1、connectionInfo?.lastSyncAt no Initialize
2、sync methods no call

[2021-11-24 14:58] imtoori commented on #784
I'm sorry I get there's a problem, but I don't know the context and I can't understand how to reproduce it.
Can you elaborate more?

[2021-11-24 18:23] jasnicaa commented on #776
Grazie mille :)

[2021-11-24 20:20] Abacaxi-Nelson opened #787 "HELP: StreamChatNetworkError(code: -1, message: Connecting timed out [6000ms])"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS

### What version are you using?

stream_chat_flutter: ^3.1.1

### What happened?

Some users are getting :**StreamChatNetworkError(code: -1, message: Connecting timed out [6000ms])**
Problem is, they have a 5G mobile network, thats bad.

### Steps to reproduce

[code]
[code]

[2021-11-24 20:20] Abacaxi-Nelson commented on #787
Happy to get some feedback about my code..

[2021-11-25 02:52] kalptech2021 opened #788 "Push notifications are working on android but not with Ios"
Push notifications are working fine on android, but I am not receiving them on the Ios. My setup with firebase is correct, as I can receive the notifications from cloud functions on Ios, just not receiving them from stream_flutter.
Things I have done,
Apn's settings are enabled -  On stream dashboard
Firebase settings are enabled - On stream dashboard (My android notifications are working)
I am us

[2021-11-25 07:52] Michaelbenchetrit91 commented on #788
There is another problem with notifications.
When a user clicks on a notification, it is redirecting to the home page (channel list) instead of redirecting to the specific conversation (chat) page pertaining to this notification.

Any fixes scheduled for that?

[2021-11-25 07:54] Michaelbenchetrit91 commented on #787
I do experience the same issue on my Android under very good network connections.
Very often, the app displays "Searching for network"

[2021-11-25 09:03] #760 closed

[2021-11-25 09:36] imtoori commented on #788
Hi @kalptech2021
push notifications are not implemented in the package, but it's something you should set up
please take a look at the [documentation](https://getstream.io/chat/docs/sdk/flutter/guides/adding_push_notifications/) and at the [possible issues](https://getstream.io/chat/docs/sdk/flutter/guides/adding_push_notifications/#possible-issues)/[testing the setup](https://getstream.io/chat/do

[2021-11-25 09:39] imtoori commented on #788
Hi @Michaelbenchetrit91
this is something you should implement
we're planning on writing a guide for this, but it's low-priority since it's something unrelated to our SDK and it strictly depends on your app architecture

[2021-11-25 09:39] #788 closed

[2021-11-25 09:42] imtoori commented on #787
hey @Abacaxi-Nelson thanks for reporting the issue
That's a network error, usually, that's unrelated to our SDK
I'll run some tests, but I've never experienced that under good connectivity

[2021-11-25 09:42] imtoori commented on #787
@Michaelbenchetrit91 do you have more info on that case? Do you do something specific like put the app in background or something like that?

[2021-11-25 09:54] Michaelbenchetrit91 commented on #787
@imtoori Thanks for the prompt reply. Yes, it usually occurs where I close the app and reopen it after a few minutes. For example I just opened the app right now, and see an "Offline... Try again" message on the header.

[2021-11-25 09:55] imtoori commented on #787
that's very useful. it should reconnect automatically, let me test it

[2021-11-25 11:00] jasnicaa opened #789 "onBackgroundEventReceived is not being called right after going into background"
Hi, as the title says this is what is happening. Right after I pick another app and enter it I am leaving chat and sending myself messages from another account and I can see in the console log that I am receiving messages which should trigger notifications but it is not happening and the method is not being called.

![Screenshot 2021-11-25 at 11 52 46](https://user-images.githubusercontent.com/256

[2021-11-25 23:35] kalptech2021 commented on #788
This is not an issue, It is the default behaviour, you need to provide routes.

[2021-11-25 23:39] kalptech2021 commented on #788
Hi, Notifications are sent by firebase, but stream sends the request to firebase or APN. That is why we need to set up firebase and APN from the stream dashboard. My firebase setup is correct and that is why I am receiving notifications for the new message on android. But in case of Ios it is not working, I am just wondering as payload goes from the stream to firebase or APN, do we need to do any

[2021-11-26 00:18] kalptech2021 commented on #788
It is working, and here is the reason,
To handle the background notifications, we do not need to use flutter_local_notifications plugin, In this case specifically. Firebase messaging is handling the background notifications for android, but for Ios, we need to use the plugin.
Overall, I love this package, it would be a nightmare to make a chat app like this from scratch. Thanks a lot stream team :

[2021-11-26 14:09] imtoori commented on #732
this has been fixed in develop, you'll see the patch in the next release

[2021-11-26 14:09] #732 closed

[2021-11-26 14:24] imtoori commented on #789
hey @jasnicaa I just tested this using the sample app and it's working just fine, my onBackgroundEventReceived gets called regularly
How are you using it?

[2021-11-27 18:28] nosmirck opened #794 "[Bug] Localizations override MaterialApp's Locale, removing Country Code from it."
### Which packages are you using?

stream_chat_flutter, stream_chat_localizations

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter: 3.2.0
stream_chat_localizations: 2.0.0

### What happened?

When setting the device to French (Canadian) Stream Localization overrides to just French which makes changes to the underlying Intl set

[2021-11-29 17:03] imtoori commented on #787
hi @Michaelbenchetrit91 it's not happening for me on develop using our sample app
Can you give me more information about the issue if you have any?

[2021-11-29 20:04] xkxeeshankhan opened #799 "bug: totalUnreadCount is not updating when app is resumed from background mode"
### Which packages are you using?

stream_chat_flutter_core

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter_core: ^3.2.0

### What happened?

When app is resumed from background mode, the value for `totalUnreadCount` is always null, even the user has received new messages when the app was in background state.

### Steps to re

[2021-11-30 09:38] hieubagiang opened #800 "Owner leave channel bug"
### Which packages are you using?

stream_chat_flutter, stream_chat_flutter_core

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

  stream_chat_flutter_core: ^3.2.0
  stream_chat_persistence: ^3.0.0

### What happened?

When I create a group then leave, any channel I am going to open willing take me to left channel.
Because getstream throw an exc

[2021-11-30 19:09] xsahil03x commented on #794
Hey @nosmirck, We currently do not yet support `countryCode` in localization because of which flutter then defaults to use only the `languageCode`.

Feel free to create a new PR for the `fr_CA` locale.

Thanks,
Sahil

[2021-11-30 19:09] #794 closed

[2021-12-01 09:54] #799 closed

[2021-12-01 11:50] 1AhmedYasser opened #802 "Message Forward"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android, Web, Windows, MacOS, Linux

### Is your feature request related to a problem?

No

### Describe the solution that you'd like

I Want to able to forward a message or multiple messages to other users or channels in the app

### Describe alternatives that you

[2021-12-01 11:56] Michaelbenchetrit91 commented on #802
Definitely a must-have feature!

[2021-12-01 15:03] #746 closed

[2021-12-01 17:26] FCView opened #805 "Chewie dependency (Provider dependency) needs updated"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter 3.3.0

### What happened?

Compatibility issue with other packages and stream_chat_flutter with following message when running "flutter pub get":

It appears that this dependency was updated in chewie about a month ago ([see

[2021-12-02 02:26] davidwijayanto2 opened #806 "Error Symbol not found: _OBJC_CLASS_$_Reachability when build ios - Request update connectivity_plus"
### Which packages are you using?

stream_chat_flutter_core

### On what platforms did you experience the issue?

iOS

### What version are you using?

stream_chat_flutter_core - 3.3.0

### What happened?

Hi, i try to update stream chat version in our app using latest stable version (3.3.0). When i try to run in iOS device (iPhone 6s), it stuck at splash screen and i got this error message Symbol

[2021-12-02 11:17] duzenko opened #807 "Dependency version mismatch"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

3.3.0

### What happened?

stream-chat-flutter 3.3.0 relies on stream_chat_flutter_core: ^3.2.0

I think it's the reason why I get this build errors after updating from 3.2.0

[code]

### Steps to reproduce

[code]

### Supporting info to reproduce

[2021-12-02 11:39] imtoori commented on #807
a big facepalm 🤦🏼‍♂️
Thanks for reporting this

I just published v3.3.1

[2021-12-02 11:39] #807 closed

[2021-12-03 14:26] #789 closed

[2021-12-03 14:58] jasnicaa commented on #805
yeah I also got this and as a _temporary_ solution I override in dependecy_overrides provider: 6.0.1

[2021-12-05 08:30] tahaJemmali opened #811 "swipeActions won't work on android nor web (only on ios)"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Android, Web

### What version are you using?

3.2.0

### What happened?

swipeActions works only on ios.

### Steps to reproduce

[code]

### Supporting info to reproduce

_No response_

### Relevant log output

_No response_

### Flutter analyze output

_No response_

### Flutter doctor o

[2021-12-06 11:01] deven98 commented on #811
Hey @tahaJemmali,

Just checking this out, I'll get back to you with more information.

Thanks.

[2021-12-06 12:11] deven98 commented on #811
Hi @tahaJemmali,

I tried the [example app](https://github.com/GetStream/stream-chat-flutter/blob/3.2.0/packages/stream_chat_flutter/example/lib/tutorial_part_6.dart) with the `swipeToAction` set to true and the swipe on channel (right to left) shows the actions:

<img width="549" alt="Screenshot 2021-12-06 at 5 40 41 PM" src="https://user-images.githubusercontent.com/26357843/144843794-3efaaecd-2

[2021-12-06 12:17] deven98 commented on #806
Hey @davidwijayanto2,

I can see the issue in the connectivity_plus plugin and I'll test it out a bit and get back to you with more info.

Thanks.

[2021-12-08 02:53] rohan20 opened #812 "Error: The method 'disconnect' isn't defined for the class 'StreamChatClient'."
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS

### What version are you using?

[code]

### What happened?

**Actual behaviour:**

I'm trying to migrate to null-safety which requires me to update a bunch of dependencies all at once. One of them being `stream_chat_flutter`. Upgrading from `stream_chat_flutter: ^1.5.6` to `stream_cha

[2021-12-08 07:41] CalHoll commented on #806
Also hitting this issue, can't build on ios

[2021-12-08 07:51] Abacaxi-Nelson commented on #787
Hey @imtoori
Just information im having now..

I have a lot of:

flutter: 2021-12-08 08:48:28.514270 🚨 🕸️
flutter: 2021-12-08 08:48:28.514562 🚨 🕸️ ╔╣ DioError ║ DioErrorType.connectTimeout
flutter: 2021-12-08 08:48:28.514694 🚨 🕸️ ║  Connecting timed out [6000ms]
flutter: 2021-12-08 08:48:28.515089 🚨 🕸️ ╚═══════════════════════════════════════════════════════════════════════════════════════════════

[2021-12-08 07:58] Abacaxi-Nelson commented on #787
ooo i see some outage:

https://status.getstream.io/

[2021-12-08 13:23] Michaelbenchetrit91 opened #814 "The chat screen becomes gray during a few seconds when sending a voice message"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

3.2.0

### What happened?

When sending a voice message, the conversation (chat) screen becomes entirely gray during a few seconds until the message is being sent. We encountered this UX bug on 2 different Android models.

![VOICE MESSAGE](https://u

[2021-12-08 13:32] Michaelbenchetrit91 opened #815 "The microphone button does not appear on the "Thread reply" screen"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

3.2.0

### What happened?

The microphone (voice message) appears on the chat screen, however it does not on the "Thread reply" screen.

### Steps to reproduce

[code]

### Supporting info to reproduce

_No response_

### Relevant log output

_

[2021-12-08 13:35] #787 closed

[2021-12-08 13:38] Abacaxi-Nelson opened #816 "New Stream Chat Edge Infrastructure"
### Please select which package this feature is related to

stream_chat, stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android

### Is your feature request related to a problem?

During outage in the morning, i get server i am connected to :  https://chat-us-east-1.stream-io-api.com/XXXXX
I read this [(article)](https://getstream.io/blog/chat-edge-infrastructure/) that

[2021-12-08 13:44] Michaelbenchetrit91 opened #817 "The audio playback takes time to load (voice messages)"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

3.2.0

### What happened?

The audio player takes a few seconds to load voice messages

![image](https://user-images.githubusercontent.com/93865456/145217641-3302bf2c-37b9-4c57-8b5f-369880ae0221.png)

### Steps to reproduce

[code]

### Supporting i

[2021-12-08 13:58] Michaelbenchetrit91 opened #818 "Pin chats on top of the channel screen"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android

### Is your feature request related to a problem?

No

### Describe the solution that you'd like

Provide users with the ability to pin a chat on top of all other chats regardless of the messages received on other non-pinned chats.

Users will have to right

[2021-12-08 14:01] Michaelbenchetrit91 commented on #787
Sorry for the late reply. I keep seeing the "Searching for network" when closing and opening the app (on Android). We use the stream_chat_flutter package version 3.2.0

[2021-12-08 14:09] Michaelbenchetrit91 opened #819 "The app becomes extremely slow when sending a video file"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

3.2.0

### What happened?

When sending a video file (30/40sec) to someone, the app becomes incredibly slow (the phone's screen is even frozen from time to time), preventing users from doing parallel actions such as sending text messages or scr

[2021-12-09 08:15] xsahil03x commented on #816
Hey @Abacaxi-Nelson , yes I tried after the new edge infrastructure we don't need to region-based base URLs  anymore.
Can you use the `baseUrl` property for now and we will soon remove the deprecation from it and deprecate `Location` instead.

Thanks,
Sahil

[2021-12-09 08:19] xsahil03x commented on #817
Hey @Michaelbenchetrit91 , I don't think we provide an out-of-the-box `attachment` for the `audio` type. The delay can be due to various issues and the way how you implemented them.

Thanks,
Sahil

[2021-12-09 08:19] #817 closed

[2021-12-09 08:28] Abacaxi-Nelson commented on #816
hey @xsahil03x

[code]

You confirm ?
Seems to work

[2021-12-09 08:31] xsahil03x commented on #816
@Abacaxi-Nelson , yes this should work

[2021-12-09 09:40] Michaelbenchetrit91 commented on #817
Hi @xsahil03x, we followed carefully step-by-step the official tutorial wrote by get-stream: https://getstream.io/blog/instantly-send-audio-messages-with-stream-chat-and-flutter/

Nonetheless, every time we enter inside a chat conversation, the audio type messages are not immediately available for playback, instead, there is a small delay (few seconds) where the audio messages are being loaded. It

[2021-12-09 09:41] #815 closed

[2021-12-09 09:51] deven98 commented on #812
Hey @rohan20,

We'd recommend moving to a more recent version (stream_chat_flutter: ^3.3.1 or similar).
Is there any specific reason you're choosing to upgrade to 2.0.0-nullsafety.4?

[2021-12-09 09:56] deven98 commented on #819
Hi @Michaelbenchetrit91,

I'll test this out and come back to you with more information.

Thanks.

[2021-12-09 10:03] rohan20 commented on #812
Hi @deven98, I would've definitely moved to a newer version if it were possible. But based on other dependencies, this is the most latest version that my project is eligible to upgrade to.

There are conflicts with versions of `photo_view` and `chewie` if I try to use a more recent version.

To confirm, does that mean that there's a bug somewhere on the`v2.0.0-nullsafety.4` release or is it someth

[2021-12-09 10:27] deven98 commented on #805
I'm taking a look into this.
Will get back to you with more info.

Thanks.

[2021-12-09 10:29] deven98 commented on #812
Hey @rohan20,

There likely shouldn't be a bug (I can take a better look at this if you like).
However, I think a better resolution to this is fixing the conflicts that are arising.

I'm currently taking a look at the `chewie` conflict (I'm assuming you're facing the same: https://github.com/GetStream/stream-chat-flutter/issues/805)

Can you let me know the error with `photo_view` as well?

Thanks

[2021-12-09 10:39] #806 closed

[2021-12-09 11:36] rohan20 commented on #812
Okay, so the `chewie` error is because we're not on the latest Dart version. We cannot afford to do that at the moment since it'll be a huge change for the codebase.
![image](https://user-images.githubusercontent.com/8232573/145388855-0ff96038-68e3-43e3-90fb-f0d45f6b9812.png)

So can we please figure out how to get `^2.0.0-nullsafety.4` to work?

From what I understand:
- `stream_chat_flutter v2.0

[2021-12-09 11:46] deven98 commented on #818
Hi @Michaelbenchetrit91,

This is possible by implementing a few things:

1) In the `channelData` for a `StreamChannel`, you could add a boolean value named 'pinned'.
2) You can add a pin action using the `swipeActions` parameter in the `ChannelListView` to add a pin button (ignore if you're not using the `stream_chat_flutter` package).
3) When the appbar pin button is pressed, you can now fetch c

[2021-12-09 19:54] ROCKSTARfromday1 commented on #818
it doesnt

[2021-12-09 20:31] imtoori commented on #818
@ROCKSTARfromday1 can you tell us what's the issue?
Also, please make sure to follow our code of conduct when commenting on issues https://github.com/GetStream/stream-chat-flutter/blob/develop/CODE_OF_CONDUCT.md

[2021-12-10 07:44] deven98 commented on #814
Hey @Michaelbenchetrit91,

The grey screen (I'm assuming in release mode on your test devices) is an indication of some kind of error which isn't caught during development but Flutter chooses not to show them in release mode to not alarm the user.

Does this not happen at all in development on an Android emulator? If possible, the debug error is better for us to understand what is going wrong here

[2021-12-10 08:58] #816 closed

[2021-12-13 18:26] EtcGonza opened #825 "Strange behavior in rich text"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android, Windows

### What version are you using?

stream_chat_flutter: ^3.1.1
stream_chat_localizations: ^2.0.0

### What happened?

Hello! I have strange behavior when I send a message between these characters. '' For example, "Hi, how are you?"

This message will have a white backgr

[2021-12-14 09:27] imtoori commented on #818
Closing this issue, let me know if you need more help with this

[2021-12-14 09:27] #818 closed

[2021-12-14 09:32] imtoori commented on #802
Hi!
Can you help me understand what do you want to do?
I think you can already "forward" messages just by sending them to another channel.
Have you tried that?

[2021-12-14 09:46] Abacaxi-Nelson opened #826 "[Feature] Combine ChannelListView"
### Please select which package this feature is related to

stream_chat, stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android

### Is your feature request related to a problem?

Im trying to show list of channel user belongs to.
On top, 3 livestream channel (show a button to load other)
And after in list, all other type of channels.

My first try: Combine two ChannelLi

[2021-12-14 09:47] imtoori commented on #826
mmm have you tried using two different `ChannelsBloc` too?

[2021-12-14 09:52] Abacaxi-Nelson commented on #826
It seems to work, but refreshing show remove my limit param..
i think i need to go custom if i want this behaviour :)

[2021-12-14 09:52] #826 closed

[2021-12-14 10:44] Michaelbenchetrit91 commented on #802
Hi imtoori,

I'm referring to a forward feature similar to WhatsApp: https://faq.whatsapp.com/android/chats/how-to-forward-messages/?lang=en

<table>
<thead>
<tr>
<td style="width: 145.646px;">1</td>
<td style="width: 63.3542px;">2</td>
</tr>
</thead>
<tbody>
<tr>
<td style="width: 145.646px;"><img src="https://user-images.githubusercontent.com/93865456/145981806-4da4ca5d-44b0-4ef2-b608-c72b747b22

[2021-12-14 10:52] Michaelbenchetrit91 opened #827 "Implement file preview (pdf, word, etc.)"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android

### Is your feature request related to a problem?

No

### Describe the solution that you'd like

The app currently supports image/video previews but not file previews for things like PDFs, Words, PPT, etc.

We'd like to add this support so our users have a

[2021-12-14 10:53] imtoori commented on #827
hi and thanks for submitting the issue
there's no plan of doing it in the near future, but you can always customize the attachment and use your own widget.
We'll do it eventually, it's just that we have higher priority tasks at the moment

[2021-12-14 10:57] Michaelbenchetrit91 opened #828 "Video should start automatically after clicking on the thumbnail"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android

### Is your feature request related to a problem?

Currently users have to click twice on the video before starting the playback:
1- First from the chat screen (when they click on the video thumbnail)
2- Secondly when the video is opened

The  second click

[2021-12-14 11:01] Michaelbenchetrit91 commented on #818
Thanks @deven98 for your reply. Could we use the same logic to archive/unarchive a chat or a group?

[2021-12-14 11:02] imtoori commented on #802
Hi @Michaelbenchetrit91
yes, you can do that by sending the message to another channel, have you tried that? I think it might work.
If you want to show that the message has been forwarded you can add a custom property to the message to highlight that and build the message accordingly

[2021-12-14 11:37] Michaelbenchetrit91 commented on #802
@imtoori Can you please point me to the relevant doc to send a message from one channel to another?

[2021-12-14 11:39] imtoori commented on #802
@Michaelbenchetrit91 there's no documentation on that, it's just a normal send message call.
Let me try writing a little snippet for you

[2021-12-14 13:32] 1AhmedYasser commented on #802
I Know I can send a message to other channels , I was pointing to adding it to the current example as a ui and logic as an enhancement to the example

[2021-12-14 13:43] xsahil03x commented on #802
Thanks @1AhmedYasser, transferring this issue to the sample app repo. 👍🏼

[2021-12-15 00:05] rohan20 commented on #812
cc: @imtoori

Hey Salvatore, pinging again just in case this got missed after our Slack conversation. 😬 Thanks!

[2021-12-15 10:47] Michaelbenchetrit91 commented on #819
Hi @deven98

Did you get a chance to review this?

I did additional tests with different video sizes and confirm that the "lag/slow mode" is felt in a very significant manner during the video upload (I use a modern Android phone / Galaxy A20).

Sending videos is a core feature of our chat app use case, unfortunately the current experience makes the app usage very challenging.

[2021-12-15 10:54] akul1994 commented on #524
This issue seems to have resurfaced in 3.3.2,
Can you please check?

[2021-12-15 11:37] deven98 commented on #828
Hey @Michaelbenchetrit91,

I'm looking into adding some sort of autoplay option for videos.
I'll let you know when I have more info.

Thanks.

[2021-12-15 14:43] imtoori commented on #812
hey @rohan20 check your dms

[2021-12-16 10:41] imtoori commented on #825
Hi we're using the [flutter_markdown](https://pub.dev/packages/flutter_markdown) for rendering rich text
I think you should use three backticks (`) for showing that kind of message
I think that behaviour is expected
What do you think?

[2021-12-16 10:47] imtoori commented on #805
I think this a possible solution at the moment
There isn't much more we can do as of now

[2021-12-16 10:48] imtoori commented on #805
if you're interested in this, you can follow this issue https://github.com/brianegan/chewie/issues/580

[2021-12-16 15:35] imtoori commented on #812
hey @rohan20 I'm not sure, I think that's not due to the dependency_overrides

I'm trying building a very simple app with the version of the package you're using and I'm getting other errors related to other dependencies
I'll try solving those, but I'm afraid there isn't much we can do

[2021-12-16 19:25] fbardecio commented on #748
Hey @imtoori! I'm having the same exact behavior while using `stream_chat_persistence 3.0.0` and `stream_chat_flutter 3.3.2`.
The first time that the chat renders messages, it does it as expected, but then, somehow, the same messages are rendered again, and some of them have the user as `null`.

Chat throws two exceptions:
`Null check operator used on a null value` and `type 'UniqueKey' is not a s

[2021-12-17 04:16] deven98 commented on #828
Hey @Michaelbenchetrit91,

I've opened a PR for autoplaying the video when thumbnail is clicked.
Should be merged soon.

[2021-12-17 08:33] #811 closed

[2021-12-17 08:33] #814 closed

[2021-12-17 09:04] imtoori commented on #524
Hi @akul1994 can you be more specific? I tested this behaviour and it's working fine for me

[2021-12-17 09:55] akul1994 opened #833 "Error in messagelistview 'UniqueKey' is not a subtype of type 'IndexedKey'"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

3.2.2

### What happened?

On first app launch on opening a channel screen with message list widget
I'm getting the following error as mentioned in logs.
This is not happening if I kill and relaunch the app.

### Steps to reproduce

[code]

###

[2021-12-17 10:16] akul1994 commented on #524
In my app, when the user logs out, I call stream disconnect, and post login and make another call to connectUser with new user credentials.

I put up a listener `wsConnectionStatusStream` and noticed that after I disconnect User and take him to the login page where my Google Login popup is shown, I'm getting `connecting` as a status in the connectionStatusStream even though I have not made any cal

[2021-12-17 10:18] akul1994 commented on #524
As a workaround, if after logout I reinstantiate the StreamClient object, I don't face this issue, but doing that is causing a few other things to break

[2021-12-17 10:36] imtoori commented on #524
@akul1994 I'm testing this using [our sample app](https://github.com/GetStream/flutter-samples/tree/main/packages/stream_chat_v1) and it's working fine
How do you disconnect the user?

[2021-12-17 10:41] akul1994 commented on #524
[code]

[2021-12-17 11:08] imtoori commented on #833
Hi @akul1994
could you show me how you're using the `MessageListView`?
I'm not getting this error and I'd like to reproduce it

[2021-12-17 11:17] imtoori commented on #748
hey @fbardecio thanks for all the useful information
I'm struggling with reproducing what you wrote 🤔

Could you email support, so that we can ask for your app id and key and verify if we manage to reproduce the error?
Thanks!

[2021-12-17 11:19] Abacaxi-Nelson commented on #748
Hey
@fbardecio keep me updated :)
I turn off persistence because of this

[2021-12-17 12:47] deven98 commented on #828
Hey @Michaelbenchetrit91, we're in the process of merging this PR.

To auto-play videos, you need to edit the default behaviour on attachment tap like this:

[code]

[2021-12-17 12:56] imtoori commented on #812
@rohan20 I just compiled the app for both android and ios
I wasn't succeeding because I was on a more recent flutter version, but I tried using fvm and it's compiling
I think those error logs are due to some dependency caching or something like that

[2021-12-18 07:05] CalHoll opened #834 "ChannelListView does not respect sort after entering/exiting channel"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

3.3.1

### What happened?

I want to keep 4 public channels in the same order when using ChannelListView

First I tried to create my own parameter on the channel, it seems to work when loading the channels, but not if I go into a channel, send

[2021-12-19 05:16] akul1994 commented on #833
Like this

[code]

[2021-12-19 05:17] akul1994 commented on #524
@imtoori Any update on this?

[2021-12-20 07:42] xsahil03x commented on #833
@akul1994 can you also share the snipped for `_messageBuilder`.

[2021-12-20 09:26] imtoori commented on #834
Hi!
You could use the property `ChannelsBloc.channelsComparator` to sort the channels when a new message arrives
There will be a better way of doing it in the upcoming v4 release, but this should solve your issue

[2021-12-20 09:26] #834 closed

[2021-12-20 10:00] #828 closed

[2021-12-20 10:44] imtoori commented on #524
hey @akul1994
can you show me how do you're using the `StreamChat` widget?
Sorry, I'm trying to understand what's going on, this is very weird

[2021-12-20 11:10] HayesGordon commented on #817
Hi @Michaelbenchetrit91,

Which version of just_audio are you using. Seems like they resolved a problem with their caching in version `0.9.17`:
https://github.com/ryanheise/just_audio/issues/47#issuecomment-964129347

Otherwise there may be something else going on and may require improvements to the tutorial.

[2021-12-20 18:09] geweald commented on #748
I'm having the same issue (on web, haven't checked mobile yet), everything works without cache, tho when reading from cache then some messages have null user and getting the error in lines where `message.user!` is used inside the library

[2021-12-20 19:41] fbardecio commented on #748
I have tried to reproduce the error in a separate project with only stream chat flutter and stream chat persistence packages, but everything was working as expected, I will try again when I have some free time and I will update you guys.

[2021-12-21 04:38] CalHoll commented on #834
Aha! This is what I was looking for, thanks Salvatore!

[2021-12-21 19:47] EtcGonza commented on #825
Yeah, you are right. That's the behavier that I want. Thanks for the answer!

[2021-12-22 10:50] jasnicaa opened #836 "In MessageListView userAvatar is cropped"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

3.3.1

### What happened?

If I put a conditional in showUserAvatar it crops images in chat.

when showUserAvatar is included:
![Screenshot_20211222-114636](https://user-images.githubusercontent.com/25682164/147080937-2aecdecb-a884-437d-9313-c6

[2021-12-22 15:50] Michaelbenchetrit91 commented on #817
Thanks for your feedback @HayesGordon. We'll test it and update you accordingly

[2021-12-22 16:00] Michaelbenchetrit91 commented on #828
Thank you very much for the fix!

[2021-12-22 17:07] Michaelbenchetrit91 commented on #818
Hi @imtoori , would appreciate your help on this

[2021-12-22 21:19] fbardecio commented on #748
Hey @imtoori ! I managed to reproduce the issue in a separate project after adding a bloc package to it and a bloc to load the channels.
It has a dependency override due to chewie being outdated. ([There is an open issue here for updating chewie](https://github.com/GetStream/stream-chat-flutter/issues/805)).

[This is the repository](https://github.com/fbardecio/SChat-test/blob/main/lib/bloc/messa

[2021-12-22 23:43] FCView opened #837 "Unable to build due to errors in stream_chat_persistence"
### Which packages are you using?

stream_chat_flutter, stream_chat_persistance

### On what platforms did you experience the issue?

Android

### What version are you using?

stream_chat_flutter: ^3.3.2
stream_chat_persistence: ^3.0.0

### What happened?

Several errors like this during build in debug mode in
flutter/.pub-cache/hosted/pub.dartlang.org/stream_chat_persistence-3.0.0/lib/src/db/moor

[2021-12-23 09:19] xsahil03x commented on #819
Hey @Michaelbenchetrit91,

@deven98 is currently a bit sick, so I'm gonna take a look at this issue and will be back soon with updates.

Thanks.

[2021-12-23 10:57] #825 closed

[2021-12-23 10:59] xsahil03x commented on #837
@FCView have you tried running
`flutter clean`, `flutter pub get` ?

If this doesn't work, can you try deleting the `pubspec.lock` file and then
running `flutter pub get`.

Thanks,
Sahil

[2021-12-23 11:33] FCView commented on #837
I have tried flutter clean, as well as invalidate cache and restart Android Studio and restarting my system.

I haven't tried deleting pubspec.lock, but I also did a fresh clone of stream-chat-flutter to run the example and got the same problem there.

I'll try deleting pubspec.lock when I get to my computer.

[2021-12-23 12:39] FCView commented on #837
@xsahil03x Same errors after deleting pubspec.lock and then flutter pub get.

[2021-12-23 12:42] xsahil03x commented on #837
@FCView can you also share your `pubspec.yaml`

[2021-12-23 13:06] FCView commented on #837
A few other things that I tried this morning:

1) flutter pub cache repair

2) Delete all contents of ~/flutter/.pub-cache/hosted/pub.dartlang.org/ and then redownload (flutter pub get)

Neither worked.

[2021-12-23 13:09] FCView commented on #837
My pubspec.yaml

[code]

[2021-12-23 13:12] FCView commented on #837
@xsahil03x Nothing in that pubspec.yaml file has changed since my last good build, though.

[2021-12-23 13:20] FCView commented on #837
I just tried downgrading to flutter 2.8.0, and am getting the same error, so it's not related to 2.8.1

Any other ideas?

[2021-12-23 13:32] SriramPatibanda opened #838 "FlutterError: Failed to find definition for url(#paint0_linear)"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

^3.3.2

### What happened?

When a file is attached, this error is thrown:

[code]
Editing the SVG code by bringing the ```<def>``` tags to the top of the SVG file can resolve this issue.

This can be helpful: https://stackoverflow.com/questions/612

[2021-12-23 13:45] xsahil03x commented on #837
Hey @FCView , the issue was with `drift` which we use internally in `stream_chat_persistence`. So the problem was we use it with the `^` sign due to which it got upgraded to `1.1.0` automatically, which does not work with the currently generated drift files. So the easiest solution is to override the dependency to `1.0.0`.

We will soon release a new version with updated generated files.

[code]

[2021-12-23 13:45] #837 closed

[2021-12-23 13:55] FCView commented on #837
Perfect! Thanks for looking into this so quickly this morning! Overriding that drift dependency got it working for me.

[2021-12-24 07:47] akul1994 commented on #744
This issue still persists in 3.3.2

[2021-12-24 07:54] akul1994 commented on #744
in my case both the `unreadCountStream` and `channel.state.unreadCount` are always returning 0,
lastMessageStream seems to be working fine

[2021-12-24 08:26] xsahil03x commented on #744
Hey @akul1994 , can you also share a small video about the issue? It will be much easier for us to replicate.

Thanks,
Sahil

[2021-12-24 08:49] akul1994 commented on #744
I will share the video on the support ticket I created for this.
I'll explain the logs here.

Here is the block of code I'm using for the unread and last message stream. I've added relevant logs too

[code]

  As per the logs from the above code block, this is what I'm getting

[code]

  Here you can see `lastMessageStream` fires with correct data, `unreadCountStream` always gives 0,
  Hope this h

[2021-12-24 08:51] akul1994 commented on #744
I also just noticed that
`channel.state.unreadCount` is also returning 0

[2021-12-24 13:10] #812 closed

[2021-12-26 10:18] Michaelbenchetrit91 commented on #819
Many thanks @xsahil03x!
Swift recovery @deven98

[2021-12-26 11:09] papirovdavid commented on #817
We are using the latest just_audio: ^0.9.18 version

[2021-12-26 15:37] Michaelbenchetrit91 commented on #817
Hi @HayesGordon,

As @papirovdavid said, we're using the latest just_audio: ^0.9.18 version.
We'd really appreciate if you can have a look into the issue since the loading time can be very significant under certain scenarios.

[2021-12-26 16:39] Michaelbenchetrit91 commented on #819
Hi @xsahil03x
Updating you that the issue occurs not only with video files, but also when sending images (under certain unknown scenarios)
Today I tried to send 3 images via the app. For some unknown reasons, none of them have been uploaded.

After failures to send pictures, the whole app became incredibly slow. Every page navigation takes time. Scrolling up/down on the screen is very laggy. As if

[2021-12-27 07:43] deven98 commented on #836
Hi @jasnicaa,

We generally recommend showing the user avatar only on the last message of the user if they are sent continuously, something like this:

[code]

Regardless, the error you are getting should not be showing up. Trying this in the example app, I can't seem to replicate this error:

<img width="263" alt="Screenshot 2021-12-27 at 1 12 14 PM" src="https://user-images.githubusercontent.com

[2021-12-27 07:55] deven98 commented on #838
Hi @SriramPatibanda,

I can confirm this error occurs with the current SVGs in the SDK due to the existing Flutter issue.
I will let you know when I have a PR ready with the fix.

Thanks for reporting this.

[2021-12-27 10:01] #838 closed

[2021-12-27 10:35] akul1994 commented on #744
Hey @xsahil03x, Any updates on this?

[2021-12-27 10:45] #833 closed

[2021-12-27 21:59] fbardecio opened #841 "Unread count gets wrong number of unread messages when channel member gets added/removed"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android, Web

### What version are you using?

stream_chat_flutter 3.3.2

### What happened?

While listening to the unreadCountStream of a channel, if you remove yourself or add yourself as a channel member, the unread count gets buggy. I've checked the Streams explorer and it is disp

[2021-12-28 08:56] vbuberen commented on #738
@imtoori Would like to reopen this issue, because the problem is with one of Stream SDK dependencies `video_compress`, not with the original reporter's code.
Seems like the author of this dependency hasn't released new versions for quite some time, so people point to `master` branch to avoid build problems: https://github.com/jonataslaw/VideoCompress/issues/142

[2021-12-28 08:58] vbuberen commented on #738
From my side I can confirm that with `stream_chat_flutter: ^3.3.2` dependency I can't build my Flutter project for Android device/emulator in the latest Android Studio (Arctic Fox | 2020.3.1 Patch 4)

[2021-12-28 10:36] deven98 commented on #819
Hi @Michaelbenchetrit91,

Apologies for the delay, I'm back and better now.
Is there any associated error with the aforementioned picture uploads you could give us?

Also, the video slowdown unfortunately I can't seem to reproduce on an emulator (let me know if it also happens on an emulator for you) so I am going to try to run it on a physical device and test it out today.

Thanks.

[2021-12-28 13:34] fbardecio commented on #841
Update: I've been creating new channels, and the unread count of the members starts at a random number, it is possible that I'm getting this wrong, and that unread count is the number of total unread messages of the channels the user belongs to?

[2021-12-28 18:53] duzenko opened #842 "Allow floating dateDivider to be above the messages"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

latest

### What happened?

the custom floating date overlaps and blends with the messages

### Steps to reproduce

[code]

### Supporting info to reproduce

![image](https://user-images.githubusercontent.com/1481807/147597854-3cdf89ab-1b66-4853-a1f

[2021-12-29 10:49] deven98 commented on #842
Hi @duzenko,

Assuming I have understood your bug correctly, here is some more information about date dividers:

The `MessageListView` keeps two types of date dividers - ones that are embedded in the listview and the second is a floating date divider which changes once it passes an embedded date divider beneath it. The one which you have mentioned that overlaps with the messages is the floating da

[2021-12-29 11:54] duzenko commented on #842
Thanks, the two workarounds are kinda obvious
I was wondering if you can make the floating date to show above the messages, not on top of them

[2021-12-29 11:59] deven98 commented on #841
Hi @fbardecio,

We're working to fix this error on our side - just opened a PR for the same. To clear other confusions, yes, the unread messages refers to the number of unread messages for the current user on a specific channel, not across all channels the user belongs to.

Thanks.

[2021-12-29 13:04] #841 closed

[2021-12-29 13:36] imtoori commented on #842
Hi @duzenko
can you elaborate more on this? I'm not getting it, thanks

[2021-12-29 13:42] duzenko commented on #842
Use a Column instead of Stack

[2021-12-29 13:48] imtoori commented on #842
we have a date divider in a column. In your screenshot `December 28` is not in a Stack, and it's above the message, isn't it?

[2021-12-29 13:50] duzenko commented on #842
"August 3" on top is in a stack

[2021-12-29 13:52] imtoori commented on #842
yes, that's the floating date divider that shows you the current timestamp you're on.
You can remove that as @deven98 mentioned [here](https://github.com/GetStream/stream-chat-flutter/issues/842#issuecomment-1002532980)

Am I missing something?

[2021-12-29 14:02] deven98 commented on #842
Just for some clarification: Both date dividers exist at the same time by default - as shown in your screenshot. If you don't allow the floating date divider, it will still show as column instead of a stack. If this is still confusing, you can send us a basic wireframe for us to understand better.

[2021-12-29 14:17] duzenko commented on #842
If the floating date is disabled then the first messages show up with out date at all

[2021-12-29 16:26] Michaelbenchetrit91 commented on #819
@deven98 Happy that you feel better!

I don't use an emulator to test the app (I work as a Product Manager). The issue is felt very significantly on my (physical) Android device.

Again: as soon as I send a video OR send pictures that failed to be delivered, the app becomes incredibly slow, making its use almost impossible. This is quite critical for us..

[2021-12-30 11:22] deven98 commented on #842
Hi @duzenko,

Would having the first messages with the date solve your issue?

[2021-12-30 12:16] duzenko commented on #842
I think so, however it's not very clear what you mean

[2021-12-30 15:51] Ron1992katz opened #844 "Audio messages are not being sent after a network problem"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

3.2.0

### What happened?

The voice messages are not being sent after an internet connection problem. I tried to send a couple of voice messages when there weren't a connection, and once the connection returned, I noticed that the messages we

[2021-12-30 16:29] deven98 commented on #844
Hi @Ron1992katz,

I will take a look into this.
I may potentially need a bit more info on your audio implementation but I will get back to you after testing a bit.

Thanks.

[2021-12-30 20:29] Michaelbenchetrit91 commented on #844
@deven98 We followed the official get-stream audio message implementation:
https://getstream.io/blog/instantly-send-audio-messages-with-stream-chat-and-flutter/

(for some reasons, the tutorial link is no longer valid "error 404")

[2021-12-30 20:30] Michaelbenchetrit91 commented on #844
@deven98 We followed the official get-stream audio message implementation:
https://getstream.io/blog/instantly-send-audio-messages-with-stream-chat-and-flutter/ (for some reasons, the tutorial link is no longer valid... "error 404")

[2022-01-03 07:11] ibhanu commented on #788
Hey Stream Team, Happy New Year,

I have a similar problem but the ios in the dashboard show status code 400 and the error message is BadDevice token and I don't know what is bad in that. I have logged the token and everything seems fine. The token matches as well

It would mean the world to me if I get some help

![image](https://user-images.githubusercontent.com/48940632/147906445-ef43221b-6821-

[2022-01-03 08:10] #836 closed

[2022-01-03 09:13] imtoori commented on #842
hey @duzenko
you could use the `MessageListView.headerBuilder` parameter like this

[code]

Let me know if that works for you

[2022-01-03 10:39] deven98 commented on #819
Hi @Michaelbenchetrit91,

We're working on this and moving some computation when sending videos to separate isolates to make sending videos a smoother experience overall in the upcoming sprint. I will give you an update when we have a PR ready to use.

Thanks.

[2022-01-03 10:50] kightsonsanom opened #845 "Update flutter_slidable dependency"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android

### Is your feature request related to a problem?

Flutter_slidable package has gone through a major rework after version 0.6.0 (version currently used by stream_chat_flutter)
`Complete package rewriting in order to be more flexible and simple to use.`

Bec

[2022-01-03 11:00] HayesGordon commented on #817
Hey @Michaelbenchetrit91, this may be a problem with signed urls. The URLs may be changing between different sessions, meaning that the just_audio package cannot cache the file as the URL is different. It may require a custom approach to caching these voice messages yourself, and providing a local file path to just_audio.

This is just a theory though. I will investigate this a bit more. Are you u

[2022-01-03 11:10] damianmolinskifdt opened #846 "Message.ownReactions is truncated"
### Which packages are you using?

stream_chat_flutter_core

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter_core - 3.3.1

### What happened?

Messages with more then 10 reactions have incorrect list of reactions added by current user.

I expected `Message.ownReactions` not to be truncated.

### Steps to reproduce

[code]

###

[2022-01-04 08:57] duzenko commented on #842
I think that's a half-solution
Ideally I would like an option for the floating date to not overlap with the messages

[2022-01-04 16:55] AndreHaueisen commented on #805
On Github, chewie is using provider 6.0.1 already.
One suggestion is for you guys to change the dependency to
[code]

[2022-01-05 08:06] CalHoll opened #848 ""Bad state: Cannot add new events after calling close" occurring at: stream_chat_flutter_core/src/channels_bloc.dart:153"
### Which packages are you using?

stream_chat_flutter, stream_chat_flutter_core

### On what platforms did you experience the issue?

Android

### What version are you using?

3.3.2

### What happened?

While loading up my channels I get a Crashlytics error, if I step past it it'll load the channels, but it's probably worth resolving so the issue isn't thrown.

### Steps to reproduce

[code]

###

[2022-01-05 18:08] geweald commented on #748
Hey @imtoori any progress on this? Happens both on mobile and web when reading some channels from cache.

[2022-01-07 06:57] akul1994 commented on #524
Hey @imtoori any update on this, this is happening on every login, logout of the app,
socket moves to disconnected state after logout and as soon as a google popup is shown it moves to a connecting state even without calling connect causing a failure when I actually call connect

[2022-01-07 09:59] imtoori commented on #842
I don't think this makes a lot of sense, but I think I know how to help you with this
For now please use our workaround, I'll find a way of adding the date divider to the top when you disable the floating one

[2022-01-07 10:01] imtoori commented on #805
It's not possible to use a git dependency when publishing a package, so we have to wait for them to publish a new release :/

[2022-01-07 10:03] imtoori commented on #845
sounds good, I'll work on a pr for this

[2022-01-07 13:22] vbuberen commented on #738
@imtoori Sorry for bothering, but maybe you haven't seem previous comments ☝🏻

I tried to add a PR to update that `video_compress` package (https://github.com/jonataslaw/VideoCompress/pull/153) but still got no response from the author of that library.

Anyway, it might be useful to use the workaround on pointing to `master` in Stream SDK till we get a new release of that dependency.

[2022-01-07 13:53] AndreHaueisen commented on #805
😢

[2022-01-10 09:47] luvishq opened #850 "Bug while deleting and recreating the same user"
### Which packages are you using?

stream_chat

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

2.0.0

### What happened?

I deleted a user from the dashboard to test if i can add the user fresh but the api gave me error that user was permanently deleted, is there a way to re-add a permanently deleted user with the same id ?

### Steps to reprodu

[2022-01-10 10:05] luvishq commented on #850
Just checked the documentation, we cannot use the same id again, but can you explain why is that so ?

[2022-01-10 11:39] imtoori commented on #845
So, we're planning on removing the dependency since it's not really needed.
In v4 we'll remove it and write a guide on how to do it on your own.
We think this is the best approach as it's something that you don't really always need and removing a dependency it's always a good thing.

[2022-01-10 11:39] #845 closed

[2022-01-10 11:46] imtoori commented on #850
hey @luvishq this is not a bug, it's like this by design.
There are multiple cases that could bring some conflicts if we were to allow this

[2022-01-10 11:46] #850 closed

[2022-01-10 13:08] brbatwork opened #851 "Compile errors after upgrading"
### Which packages are you using?

stream_chat, stream_chat_flutter

### On what platforms did you experience the issue?

MacOS

### What version are you using?

  stream_chat_flutter: ^3.2.0
  stream_chat: ^3.2.1

### What happened?

After updating my pubspec file, running `flutter clean`, `flutter pub cache clean`, and `flutter pub cache repair`, and then wiping out my pub cache folder and doing

[2022-01-10 13:57] ezet commented on #848
I am experiencing the same issue, with a similar scenario.

[2022-01-10 16:07] imtoori commented on #738
@vbuberen I'll reopen the issue
The thing is we can't point to `master` because it's not possible to publish a package with a git dependency, so we have to wait for a new release, or try another solution.

[2022-01-10 20:20] NiyazFazlyev opened #853 "Close File Picker Section"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android

### Is your feature request related to a problem?

Now the file picker section section of MessageInput widget closes when you click on the attachment button or the text field

### Describe the solution that you'd like

I want to close the file picker sectio

[2022-01-10 21:44] #851 closed

[2022-01-10 21:45] brbatwork commented on #851
Appears to be duplicate of [this](https://github.com/GetStream/stream-chat-flutter/issues/807).  Updating to the latest versions, as in that issue fixed this issue.

[2022-01-10 23:05] bhayatus commented on #833
Getting error with this code snippet:

[code]

[code]

[2022-01-11 09:17] imtoori commented on #848
Weird bug, I think we'll add the check you're suggesting, just to be sure that doesn't happen

[2022-01-11 16:03] filipesantoss opened #856 "AssertionError is thrown when rendering MessageListView with single custom message"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS

### What version are you using?

stream_chat_flutter 3.3.2

### What happened?

An `AssertionError` was thrown when [MessageListView](https://github.com/GetStream/stream-chat-flutter/blob/develop/packages/stream_chat_flutter/lib/src/message_list_view.dart) contained a single message re

[2022-01-12 10:43] Abacaxi-Nelson opened #857 "Ban and Unban Users"
### Which packages are you using?

stream_chat, stream_chat_flutter

### On what platforms did you experience the issue?

iOS

### What version are you using?

Hey,
Im tying to ban and unban users from a channel.
My problem is that result seems inconsistent.

### What happened?

Ban a user
[code]

Unban
[code]

_Problem 1:_

**otherUser.banned**  can be true, but **queryUsers(filter: Filter.and([F

[2022-01-12 12:32] Abacaxi-Nelson commented on #857
**in docs**

1- Using the dedicated query bans endpoint
2- User Search: you can add the banned:true condition to your search. Please note that this will only return users that were banned at the app-level and not the ones that were banned only on channels.

In Flutter we only have queryUsers, so seems that we can get banned user at channel level in Flutter..

[2022-01-12 13:52] xsahil03x commented on #857
Hey @Abacaxi-Nelson , I'll test this out and soon come up with my findings.

[2022-01-13 10:52] akul1994 commented on #524
Sure, I'll get something setup and get back to you.

As a workaround,
If I reinitialise the stream client after logout, it does not go to connecting state once the google popup shows,

[2022-01-14 08:01] ManasviPatidar opened #860 "_CastError"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter: ^3.3.2

### What happened?

Upon selection of video attachment of size greater than the `maxAttachmentSize`, the following is thrown:-

_CastError: type 'Future<MediaInfo?>' is not a subtype of type 'FutureOr<MediaInfo>' in

[2022-01-15 06:40] CalHoll opened #861 "Update flutter_svg to 1.0.1 stable release"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android, Web, MacOS

### Is your feature request related to a problem?

I can't update the flutter_svg version in my project until you update the dependency in stream_chat_flutter to fix dependency conflict.

### Describe the solution that you'd like

Update flutter

[2022-01-16 11:37] barancezayirli commented on #47
it is a really bad design choice I think. The chat itself would require authentication (need to get a token for a specific user min). And as far as I see, no plan to change it :/

I am building an app, not concentrated on chat but have chat with as an extra feature. Users should log in (this is where they will get the token with their id). When a first-time user opens the app, there is no user so

[2022-01-17 10:21] deven98 commented on #861
Hi @CalHoll,

The new version seems compatible with the version currently being used.
Can you try adding a dependency override in your app for the moment?

[code]

We will upgrade the version in the next release coming up.

Let me know if this works for you.

[2022-01-17 22:09] CalHoll commented on #861
Override will probably work, just a bit clunky having to remember to remove in the future. Might just wait for next release. Thanks for resolving issue!

[2022-01-18 12:03] deven98 commented on #853
Hi @NiyazFazlyev,

We are working on a new version at the moment which includes a `MessageInputController` which allows you to manually modify many aspects of the state of the `MessageInput` - including opening and closing the attachment picker.

You can follow #855 for more updates and this should be out soon.

[2022-01-18 14:29] imtoori commented on #846
Hi @damianmolinskifdt
we're taking a look at this and see what we can do
I'll be back with more info soon

[2022-01-18 14:32] imtoori commented on #846
So
Reactions are paginated and the default page length is 10
However, you can paginate through reactions using the `channel.getReactions` method as you can find [here](https://getstream.io/chat/docs/other-rest/send_reaction/?language=#paginating-reactions)
Let me know if that works for you

[2022-01-19 11:35] damianmolinskifdt commented on #846
Hi @imtoori!
I've modified this [example](https://github.com/GetStream/stream-chat-flutter/tree/develop/packages/stream_chat_flutter_core/example) a little with following logic to show problem better.

Now when you long press any message it triggers adding new reaction and also displaying counts in message itself.

[code]

Also here is [Gist](https://gist.github.com/damianmolinskifdt/62de8be1f68f1

[2022-01-20 03:51] aaa59891 commented on #845
Hi @imtoori, could I know when does the team plan to release v4 :)? since we would like to integrate with stream but got this dependency issue, would like to know the timeline so that we can make the decision whether we should build some UI widgets on our own first :)

[2022-01-20 07:17] avinath1998 commented on #856
Happens when on the last message of a MessageListView as well.
It typically occurs when you navigate away to an attachment and comeback to the MessageListView if and only if the last message sent is the Attachment you navigate to.

[2022-01-20 08:04] imtoori commented on #845
@aaa59891 we're pushing a RC by the end of week/start of next one

[2022-01-20 10:17] imtoori commented on #846
ok I think I got the issue, but it's very hard to solve
I think this is the cause
[code]
The problem is there's a reason we did that, and it was a workaround for a backend little bug
Let me check if I can fix that

[2022-01-21 10:08] wasim919 opened #869 "A non-null value must be returned since the return type 'OwnUser' doesn't allow null."
### Which packages are you using?

stream_chat_flutter_core

### On what platforms did you experience the issue?

Android (flutter run on windows 10)

### What version are you using?

stream-chat-flutter-core^3.3.1

### What happened?
When doing flutter run in Windows 10 with android phone connected via USB:
/C:/flutter/.pub-cache/hosted/pub.dartlang.org/stream_chat-3.3.1/lib/src/client/client.dar

[2022-01-21 12:57] imtoori commented on #869
hey @wasim919
I don't see this issue while running the sample app using the 3.x version of the package
Can you try cleaning your project cache and everything and retry?
Thanks

[2022-01-21 13:02] TramPamPam opened #870 "Cumulative reactions do not sum up 'score' from the same user"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

  stream_chat_flutter_core: ^3.3.1
  stream_chat_flutter: ^3.3.2
  stream_chat_persistence: ^3.0.0

### What happened?

Sent cumulative reaction with score 1 for the same user few times, expected it's score to increment but to no avail.

If ano

[2022-01-21 13:03] damianmolinskifdt opened #871 "Thread message is not deleted when using hard: true parameter"
### Which packages are you using?

stream_chat_flutter_core

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter_core: ^3.3.1

### What happened?

When one of users deletes thread message it does not disappear for other users. It only happens when parameter `hard:` is set to true.

### Steps to reproduce

[code]

### Supporting in

[2022-01-21 13:03] imtoori commented on #870
have you tried using the score field to increment the score?

[code]

[2022-01-21 13:08] TramPamPam commented on #870
@imtoori yes, but then it doubles the score if someone else sent same reaction

[2022-01-21 13:11] TramPamPam commented on #870
e.g.
1.  score is 2
2. I've sent reaction with score 3
3. score is 3
4. You sent reaction with score 4
5. score is 7 (which is wrong)

[2022-01-21 13:13] imtoori commented on #870
What field of the message are you using for reactions?

[2022-01-21 13:14] TramPamPam commented on #870
@imtoori reactionScores to see total count by type

[2022-01-21 13:20] imtoori commented on #870
yes because that's the total score for the `like` reaction
So 3+4=7
Maybe this page can help you a bit https://getstream.io/chat/docs/other-rest/send_reaction/?language=#cumulative-(clap)-reactions

[2022-01-21 13:29] TramPamPam commented on #870
@imtoori where I can get correct reaction count per user?

The obvious choice would be in reactions field of message, but it's paginated and I don't like an idea to query all the reactions just to send a new one.

If I've had this count beforehand then I'd be able to increase this score for each user individually and the sum will be correct.

[2022-01-21 13:32] imtoori commented on #870
what about `ownReactions`? that's the list of the reactions sent by the current user

[2022-01-21 13:33] TramPamPam commented on #870
@imtoori AFAIK it's paginated, so I would need to go through each page to find the total. Or there is an easier way?

[2022-01-21 13:59] imtoori commented on #870
@TramPamPam I just checked with the backend team and that field is not paginated
There's a bug in the current version of the SDK https://github.com/GetStream/stream-chat-flutter/issues/846
but we're solving it
I'm closing this issue, you can keep track of this in the one I linked

[2022-01-21 13:59] #870 closed

[2022-01-21 15:27] wasim919 commented on #869
I am using stream_chat_flutter_core 3.3.1. I have used this from pub.dev. I cleared my project cache, I even removed the project and cloned it again. But it doesn't seem to work. It's working in IOS but not in windows. It started happening after 1 PM IST.  I tried it running again now, but it doesn't seem to work

[2022-01-22 19:00] bhayatus commented on #856
Also getting this, but only sometimes. I can't seem to figure out the cause, but it happens even when I use the MessageListView ouf of the box.

[2022-01-24 08:41] xsahil03x commented on #748
Hey @fbardecio, I tried reproducing the issue but failed with my credentials. Can you share your's via a support ticket or on my email: sahil@getstream.io

Thanks,
Sahil

[2022-01-24 08:57] imtoori commented on #869
@wasim919 ok so it's a windows issue
Thanks, I'll make sure to look into it

[2022-01-24 09:14] xsahil03x commented on #777
Hey @hiashutoshsingh,

In case the channel is not already present in the list you need also need to pass the `shouldAddChannel` function.

[code]

if this doesn't work, make sure you are creating your channel using `client.channel()`.

Thanks,
Sahil

[2022-01-24 09:14] #777 closed

[2022-01-24 11:40] fbardecio commented on #748
Hi, @xsahil03x I've sent a ticket to the support team with my credentials. About the issue, we still have stream chat persistence disabled and everything works as expected. It took me a while to reproduce the issue in the separated project, but once you manage to make it throw the exception, it happens every single time, even after clearing the app cache, that's all I can add right now 😅

[2022-01-24 11:58] deven98 commented on #871
Hi @damianmolinskifdt,

Thanks for such a detailed issue report.
I'm taking a look at this now, I will let you know when I have more details.

[2022-01-25 09:45] #848 closed

[2022-01-25 09:46] #860 closed

[2022-01-25 14:42] Freyien commented on #856
I have one PageView and when I stay in the chat page and change to next or previous page the error happens.

Always happens.

[2022-01-26 05:19] wasim919 commented on #869
I am still facing this issue. My development has been stuck since last 2 days. Can you resolve this issue asap

[2022-01-26 05:36] Peeyush14198 commented on #869
It happens the same, when my team develops on mac os it works if we build for android and ios but the other team which develops for windows when they compile android app it fails giving the same error

[2022-01-26 07:21] Aanu1995 commented on #837
@xsahil03x I think it will be better if you pin this issue (pending a permanent fix) so that it can be easily seen by people experiencing this. I spent a day trying to find a fix even after checking if the issue exists.

[2022-01-26 07:45] #869 closed

[2022-01-26 08:04] imtoori commented on #869
@wasim919 did you solve it?

[2022-01-26 08:29] TramPamPam commented on #728
@hiashutoshsingh @imtoori

hi

does this issue persist in stream_chat_flutter 3.3.2 ?

[2022-01-26 09:07] xsahil03x commented on #748
Hey @fbardecio, thanks for the credentials, can you also the app id, please?

[2022-01-26 13:52] TomBeckett commented on #846
@imtoori Hey Imtoori 👋

Any idea when this fix may be released?

Thanks,

[2022-01-26 14:06] imtoori commented on #846
hey @TomBeckett I hope to push a new 3.x release by the end of the week

[2022-01-27 12:26] developerpaaji opened #878 "Push notification not working"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

package - 3.3.2

### What happened?

I have added firebase credentials in dashboard and also setup my device. I am receiving notification when sent from postman.
BUT when i send new message to other user then i dont get notification but i get b

[2022-01-27 19:03] brbatwork commented on #806
Is there a timeline on when this will be in a release?  Is there a workaround I can write so I can get iOS publishing in the meantime?

[2022-01-31 08:29] xsahil03x commented on #728
Hey @hiashutoshsingh, I am unable to reproduce the issue with the steps you mentioned above. Can you share a small video about the same?

Thanks,
Sahil

[2022-01-31 13:50] #748 closed

[2022-01-31 13:51] #871 closed

[2022-01-31 14:58] imtoori commented on #878
hey @developerpaaji
you can take a look at this, I think it could help you https://getstream.io/chat/docs/sdk/flutter/guides/adding_push_notifications/#saving-notification-messages-to-the-offline-storage
are you using the persistence package? I'd like to send you a snippet to help you

[2022-02-01 06:44] linhewinner commented on #856
I am getting this 100% for a thread that has very few messages (so basically a new thread).

version 3.3.2

[2022-02-01 08:54] #857 closed

[2022-02-01 12:13] 1AhmedYasser commented on #878
@imtoori the problem is that on the new update v2 push, the notification is sent as a data notification with notification object as null , so its not displayed by the phone when the app is closed to display It to the users

[2022-02-01 13:31] #846 closed

[2022-02-01 23:09] linhewinner opened #881 "stream_chat_persistence 3.0.0 causes build error"
### Which packages are you using?

stream_chat_persistance

### On what platforms did you experience the issue?

iOS

### What version are you using?

stream_chat_persistence 3.0.0
drift 1.3.0

### What happened?

Build failure.

stream_chat_persistence uses GeneratedColumn(typeName: ...) here:
https://github.com/GetStream/stream-chat-flutter/blob/master/packages/stream_chat_persistence/lib/src/db

[2022-02-01 23:18] linhewinner commented on #881
The work around is to use this in your pubspec.yaml dependencies:
[code]

It would be nice if stream_chat_persistence can update its implementation ... so we don't have to be stuck with an old version of Drift

[2022-02-02 05:41] linhewinner opened #882 "Lots of unhandled exceptions when network is off or spotty"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS

### What version are you using?

stream_chat_flutter: 3.3.2

### What happened?

Use a standard sample app. Load a list of channels. Turn off wifi. Go to a channel:

1. If you try to type something in MessageInputView, attempts are made to send "typing.start" and "typing.end" events, w

[2022-02-02 09:22] imtoori commented on #881
closing since it's a duplicated of #837
we're releasing a new version with a fix asap

[2022-02-02 09:22] #881 closed

[2022-02-02 09:24] imtoori commented on #878
@1AhmedYasser yeah that's why I'm telling @developerpaaji to take a look at that link
Basically, you need to query the message using the information you have in the data field and show the notification locally using the flutter_local_notifications package

[2022-02-02 10:16] imtoori commented on #882
hey @linhewinner
I actually don’t think we need to do that since every case has an explanation
1. That’s just a log, the exception is catched
2. Same thing as in the first point, there’s a retry mechanism
3. That’s something internal to the image widgets and nothing we could really do

You could even turn off logs if that bothers you using the `logLevel` parameter when constructing the `StreamChat

[2022-02-02 11:39] developerpaaji commented on #878
@imtoori thanks for sharing the article. This can work in Android only because in iOS when we use firebase_messaging onBackgroundMessage is not called when app is killed. [https://github.com/FirebaseExtended/flutterfire/issues/5988]()

[2022-02-02 11:42] imtoori commented on #878
they officially support that https://firebase.flutter.dev/docs/messaging/usage
have you tried it?

[2022-02-02 11:45] developerpaaji commented on #878
Yeah I have tried and can confirm that in IOS onBackgroundMessage is not called for data notifications when app is killed.
This is according to their documentation
`On iOS, if the user swipes away the application from app Switcher, it must be manually reopened again for background messages to start working again.`

[2022-02-02 13:11] TomBeckett commented on #846
Hey @imtoori , sorry to bug. Any update on a potential 3.x release? Whats the best way to track a release?

[2022-02-02 13:24] imtoori commented on #846
hey @TomBeckett we're releasing that today
sorry for the delay, but we're including as many fixes as possible

[2022-02-02 16:19] linhewinner commented on #881
Why are this and #837 both closed?

If there is a new release fixing the problem, we should fix the issues after the new release is .... released.
I wasn't able to find #837 because it was closed. If it weren't, i would not have created this issue.

I would suggest reopening #837 until it's actually fixed.

[2022-02-02 16:47] linhewinner commented on #882
@imtoori I don't think they are just logs. Let me use "typing.stop" as an example. See attached screenshots.
The IDE only breaks on uncaught exceptions.
The debug console clearly says that it is an "unhandled exception"
If I wrap my app with "runWithGuardedZone", I am getting these exceptions so they are definitely not caught and handled at all.

re: 1
See screenshot. There is no code catching the

[2022-02-02 16:53] robertpiosik opened #885 "iOS swipe to go back gesture throws exceptions"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS

### What version are you using?

3.3.0

### What happened?

![image](https://user-images.githubusercontent.com/7120725/152199516-17197dc5-f7b2-4619-8b4c-90d6055f50e0.png)

### Steps to reproduce

[code]

### Supporting info to reproduce

Reproducible on the [official demo app](https://

[2022-02-02 23:11] bhayatus commented on #885
Possibly related to #856

[2022-02-03 10:28] imtoori commented on #882
ok it makes sense to catch these errors and not rethrow them
I'll add something to our backlog, thanks

[2022-02-03 10:29] imtoori commented on #861
closing this as the new version will be used in the next release

[2022-02-03 10:29] #861 closed

[2022-02-03 10:35] imtoori commented on #881
we closed that because the override was a valid temporary solution
btw in the new release #884 we're using the latest version of drift, so I think we can keep this closed, do you agree?

[2022-02-03 15:29] flodaniel opened #886 "Message.user.extraData wrapped with additional extraData map"
### Which packages are you using?

stream_chat_flutter, stream_chat_persistance, stream_chat_localizations

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

  stream_chat_flutter: ^3.4.0
  stream_chat_localizations: ^2.1.0
  stream_chat_persistence: ^3.1.0

### What happened?

When using the `extraData` of the user to add some additional info the

[2022-02-03 16:09] imtoori commented on #886
hey @flodaniel I just tested this and it's working fine
how do you set the extraData map?

[2022-02-03 16:28] flodaniel commented on #886
in our NestJs backend we do this:

[code]

where each `user` in `streamChatUsersWithData` is a `ChatUserData` :

[code]
and this is how it shows up in the Chat Explorer

![image](https://user-images.githubusercontent.com/6661557/152385107-0ef00719-1e1a-49ee-af74-3fcd8772d325.png)

[2022-02-03 16:38] imtoori commented on #886
oh yeah that's the issue

Basically, `user.extraData` (like `channel.extraData` and others) is just our way of dealing with custom properties in a typed language like Dart
The backend and other SDKs (for example the js one) have those properties available as normal object properties. Since that's not possible in Dart (and the same applies to other SDKs like Android, iOS and others) we have to dese

[2022-02-03 16:38] #886 closed

[2022-02-03 16:40] imtoori commented on #886
oh and also you don't need to pass `extraData` while upserting the users
so maybe something like this
[code]

[2022-02-03 17:00] linhewinner commented on #881
I'd keep issues open until there is a permanent solution, but each project is different. I'll let you decide how you want to manage issues for this one.

[2022-02-03 17:04] imtoori commented on #881
we just released a new version of the packages using the latest version of drift, how is that not a permanent solution?

[2022-02-03 17:05] linhewinner commented on #881
Oh cool! I didn't see that 3.4.0 release, sorry.

Yeah sounds good to close. Glad this one is gone

[2022-02-03 17:05] imtoori commented on #881
good, thanks for reporting this! :D

[2022-02-03 17:38] flodaniel commented on #886
Hey @imtoori,
that seems kinda logically. I first looked at the dart api as it kinda well documented due to the strict types, so this is why I did not recognise, that the `extraData` on the javascript side is not necessary!
Thanks again :)

[2022-02-03 21:47] NiyazFazlyev opened #887 "The search does not find a new message"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter: 3.3.2

### What happened?

I am implementing a message search by chats, everything works fine, except when the search occurs on a message that has just been sent.

Here is the part of the code I use

                  showE

[2022-02-04 11:44] developerpaaji opened #888 "Unban not working"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

3.3.2

### What happened?

Ban command working  but not unban command. With ban command when i send user name then its okay but with unban it seems it require user id

### Steps to reproduce

[code]
[Video Link](https://firebasestorage.googleap

[2022-02-04 11:46] developerpaaji commented on #878
@imtoori Any updates?

[2022-02-04 12:53] flodaniel commented on #856
We are also seeing this issue in the latest versions:

It is enough to have an empty `MessageListView` on the page it seems like.

[2022-02-04 13:21] AndreHaueisen commented on #856
Same thing over here

[2022-02-04 14:35] imtoori opened #889 "I agree to follow this project's Code of Conduct"

[2022-02-04 14:35] #889 closed

[2022-02-04 14:40] imtoori commented on #887
Hi @NiyazFazlyev
This is not related to the Flutter SDK
The backend team is working on improving the real-time indexing and will release something really soon
Feel free to contact support if you need more information

[2022-02-04 14:40] #887 closed

[2022-02-04 15:28] imtoori commented on #878
hey @developerpaaji I'm working on this, I'll post an update soon

[2022-02-06 12:15] geweald commented on #878
Hey @imtoori same issue here, started when I migrated from v1 (worked fine without background message handling) to v2, when the app is in bg then setting the `onBackgroundMessage` make the notifications work, but when the app is not running/terminated then it doesn't so seems like maybe the stream server needs to add some properties to the payload (like described in the messaging docs [here](https

[2022-02-07 09:59] xsahil03x commented on #888
Thanks for the video, we will soon work on fixing this 👍🏼

[2022-02-07 15:05] #728 closed, assigned to nobody

[2022-02-08 15:59] rohan20 commented on #842
@imtoori Would it be possible to provide `showFloatingDateDivider` on top of `stream_chat_flutter: ^2.0.0-nullsafety.2`?

`stream_chat_flutter: ^2.0.0-nullsafety.2` is the only version we are compatible with. We just upgraded from `stream_chat_flutter: ^1.5.6` but it seems that this flag was only made available on `stream_chat-v2.0.1`. This is a critical issue for us and earlier you helped us get

[2022-02-09 06:17] linhewinner opened #892 "A newly sent message drifts up in MessageListView"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS

### What version are you using?

stream_chat_flutter 3.4.0

### What happened?

After you send a message, the message drifts up in the MessageListView. See repro video:

https://user-images.githubusercontent.com/97132583/153132594-6fe40e26-3457-4302-b9dc-a8f5533c3409.MP4

This is on an

[2022-02-09 10:46] imtoori commented on #842
@rohan20 do you want to hide the date divider? that's why you need it, right?

[2022-02-09 10:47] rohan20 commented on #842
@imtoori Yes. We want to set `showFloatingDateDivider` to `false`.

[2022-02-09 20:31] linhewinner commented on #892
This fixes it:

[code]

Maybe w should make this the default value ...

[2022-02-09 22:08] sampontec opened #893 "Allow the StreamChat widget to be called within a route or lower-level-descendant widget"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android

### Is your feature request related to a problem?

No, it's a preference.

### Describe the solution that you'd like

Background: Currently developing an enterprise-flutter app that is driven by TDD and has multiple routes and uses stream_chat_flutter 3.4.0

[2022-02-10 07:40] HayesGordon commented on #892
Hi, @linhewinner thanks for reporting. What you showed in this video is undesired and we'll take a look at how we can improve that. It may not be as easy as just setting the default `initialAlignment` to 0 as this is also used when jumping to a particular message in the list (or the first time a list is opened). But this should definitely be improved and we will take a look at it 🙂.

As a short-te

[2022-02-10 08:50] HayesGordon commented on #893
Hi @sampontec, thank you for making the issue. There are a few things we will need to refactor to eventually get rid of this strict dependency that requires it to be high up in the widget tree. This is something we will aim to improve.

I see you mention that you sprinkle the SteamChat widget across the application. As an alternative solution, you could make use of the `builder` in MaterialApp, as

[2022-02-10 11:56] rohan20 commented on #842
@imtoori Just checking if you have a decision on this? :)

[2022-02-10 12:47] xsahil03x commented on #842
Hey @rohan20, we are happy to receive a PR for this.
Can you make one and assign me as a reviewer?

Thanks,
Sahil

[2022-02-10 13:09] rohan20 commented on #842
Thanks @xsahil03x. I can do that. Can you please create a branch from the `2.0.0-nullsafety.2` git tag that I can base my PR on?

[2022-02-10 13:33] xsahil03x commented on #842
@rohan20 sure, here you go https://github.com/GetStream/stream-chat-flutter/tree/2.0.0-nullsafety.2

[2022-02-10 13:38] xsahil03x commented on #842
@rohan20 sure, here you go https://github.com/GetStream/stream-chat-flutter/tree/release/2.0.0-nullsafety.2

[2022-02-11 04:15] ManasviPatidar opened #897 "Issues in AuthInterceptor"
### Which packages are you using?

stream_chat_flutter, stream_chat_persistance

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter: ^3.3.2
stream_chat_persistence: ^3.0.0

### What happened?

Received the following error reports on sentry.

### Steps to reproduce

[code]

### Supporting info to reproduce

https://stackoverflow.c

[2022-02-11 12:21] xsahil03x commented on #842
@rohan20 here's the new release: https://pub.dev/packages/stream_chat_flutter/versions/2.0.0-nullsafety.3-beta
tag: https://github.com/GetStream/stream-chat-flutter/tree/stream_chat_flutter-v2.0.0-nullsafety.3-beta

[2022-02-11 19:11] brbatwork opened #898 "Using StreamChatPersistence errors out when application is launched when offline"
### Which packages are you using?

stream_chat_flutter, stream_chat_persistance

### On what platforms did you experience the issue?

iOS

### What version are you using?

`stream_chat_persistence: ^3.1.0`
`stream_chat_flutter: ^3.4.0`

### What happened?

After adding stream chat persistence to the application, when launching the applications in airplane mode, wifi off stream still tries to conne

[2022-02-11 21:33] sampontec commented on #898
This happens even if the user was previously logged in and all messages were retrieved. I would expect if the user already has messages, goes offline, closes app, and opens app that the messages would be populated. Should this happen or is it not the way this was designed?

[2022-02-15 09:47] HayesGordon commented on #856
Hi everyone. Seems like a really strange bug. I'll be taking a look at this soon and will update here as I make progress.

[2022-02-15 14:09] HayesGordon commented on #856
Seems like this is a Flutter issue, that has been fixed in https://github.com/flutter/flutter/pull/96144

If you would like to test if this resolves the problem for you, please switch to the `master` Flutter branch and test it out. It worked for me on iOS when doing a slow slide transition back to the previous screen.

We will keep this issue open until it lands on stable. If this is urgent for an

[2022-02-15 14:13] HayesGordon commented on #885
Hi @robertpiosik, thanks for making the issue. I'm closing this in favor of #856 as this is a duplicate. I just posted some updates there.

[2022-02-15 14:13] #885 closed

[2022-02-15 15:08] HayesGordon commented on #844
Hi @Michaelbenchetrit91, sorry for the delay in response. I'm investigating how we can improve the tutorial with a good solution. Would love to hear if you have any updates yourself on how you're resolving this.

[2022-02-15 15:12] #888 closed

[2022-02-15 16:41] HayesGordon commented on #844
Hi @Ron1992katz, by default, for attachments that failed to upload, the **stream_chat_flutter** package just shows UI to indicate that you can retry uploading the attachment. Which will only work once you have a stable network connection again.

For example this is the default UI for retrying a failed image upload:
<img width="316" alt="Screenshot 2022-02-15 at 17 30 16" src="https://user-images.g

[2022-02-15 16:41] #844 closed

[2022-02-17 09:42] tahaJemmali opened #903 "MessageInput : the keyboard dismiss after sending a message even with "shouldKeepFocusAfterMessage: true""
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

^3.2.0

### What happened?

after sending a message the keyboard dismiss when setting the state.
Even when I set the variable "shouldKeepFocusAfterMessage: true" the same behaviour keep happening

### Steps to reproduce

[code]

### Supporting

[2022-02-18 05:08] ayush221b commented on #903
Hi @tahaJemmali I was unable to reproduce the issue.
Here's the code: https://gist.github.com/ayush221b/9393fc584105f233c712d10889e725e3

For this sample, I used `stream_chat_flutter: ^3.2.0`

Attaching a video for reference:

https://user-images.githubusercontent.com/23174203/154621226-c5cc5c4c-ac9e-472c-936e-8f4b43f4308c.mp4

[2022-02-18 07:01] kightsonsanom commented on #878
@imtoori I've just spent a couple of hours trying to figure out why I am not receiving push notifications on any device.

- I did everything from the [push overieview](https://getstream.io/chat/docs/flutter-dart/push_introduction/?language=dart) section,
- I have checked everything from the [most common issues and FAQ section](https://getstream.io/chat/docs/flutter-dart/push_-_common_issues_and_fa

[2022-02-18 07:20] tahaJemmali commented on #903
Thank @ayush221b for you're quick answer. The issue was from my side I was using a focus node on the same widget which confused the app. Thank you for your time

[2022-02-18 07:56] xsahil03x commented on #898
Hey @brbatwork @sampontec these are just network error `logs` which you don't have to handle, you can easily disable it using the `logLevel: Level.OFF`.

`StreamChat` does show the previously saved channels in case of network errors. Let me know if this isn't the case.

[2022-02-18 09:58] #897 closed

[2022-02-18 11:22] brbatwork commented on #898
@xsahil03x Thanks for the tip.  In my case though it does **not** load the previous channels from storage, instead it shows the loading indicator indefinitely.

[2022-02-18 11:35] xsahil03x commented on #898
Hey @brbatwork, I was unable to reproduce the issue. Can you please share a sample project where I can test it?

[2022-02-18 12:03] xsahil03x commented on #898
Also, can you test it on our [SampleApp](https://github.com/GetStream/flutter-samples/tree/main/packages/stream_chat_v1) and let us know if you are able to reproduce it?

[2022-02-18 14:36] 1AhmedYasser commented on #878
@kightsonsanom so by doing this, you managed to get the notifications working even if the app is closed ?

[2022-02-18 20:46] sachaarbonel commented on #738
Hey guys, I think I had this bug and I managed to solve it with a combination of fixes (I'm on M1)
1. First I updated android studio to the latest version ( 2021.3.1 Canary 3)
2. I installed the latest versions of SDK tools in Preferences > Appearance & Behavior > Android SDK
3. Then I ran flutter doctor and realized it couldn't detect the proper bundled java version
4. I installed [sdkman](https:

[2022-02-19 16:48] brbatwork commented on #898
Not able to reproduce with the sample app.  It turns out switching the connection mode to regular fixed the issue in our app.  Thank you

[2022-02-19 16:49] #898 closed

[2022-02-19 17:03] barriehadfield opened #908 "Web support?"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

Web

### Is your feature request related to a problem?

Sorry to add this request here, but I cannot find any mention of web support yet I can build the samples for web and they seem to work OK. Our project is web/mobile - should I proceed with this or am I to run into t

[2022-02-21 07:46] Peeyush14198 opened #909 "You cannot use query channels without active connections"
### Which packages are you using?

stream_chat_flutter_core

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter_core : 3.4.0

### What happened?

When logging out of the app we call streamChatClient.disconnectUser(flushChatPersistence: true)

When we log in again we call connect user as mentioned in the documentation but we get a

[2022-02-21 07:55] xsahil03x commented on #909
Hey @Peeyush14198, it looks like you are not awaiting the `connectUser` call. Can you share a sample project where we can reproduce this?

[2022-02-21 08:12] xsahil03x commented on #909
@Peeyush14198 , I am not able to reproduce with the mentioned steps. Can you share a quick gist where I can test?

[2022-02-21 08:13] Peeyush14198 commented on #909
To reproduce you can try logging out and logging in with different users

and also for building the list you use this

ChannelsBloc(
      child: ChannelListCore(
        watch: true,
        channelListController: ${your controller}
        filter: Filter.and([
          Filter.equal('type', 'messaging'),
          Filter.in_(
            'members',
            [
              ${user_id},

[2022-02-21 08:29] xsahil03x commented on #909
@Peeyush14198 Can you also share the widget code, where you are calling `connect` and `disconnect` user?

[2022-02-21 08:40] Peeyush14198 commented on #909
@xsahil03x  for disconnect it is an action performed on logout whereas for connect we call it under our init state of the home screen and await till it gets connected

 await context.read<GetStreamProvider>().connectStreamChatUser();
 Future<OwnUser?> connectStreamChatUser() async {
    try {
      if (getStreamHelper.streamChatClient!.state.currentUser == null ||
          getStreamHelper.streamC

[2022-02-21 08:48] xsahil03x commented on #909
@Peeyush14198 Is the `ChannelListCore` in the same `HomeScreen` or do you navigate to the `ChannelScreen` once the connection is successful?

[2022-02-21 08:59] Peeyush14198 commented on #909
Um No, actually it is a different bottom tab once the connection is established we allow users to navigate

1. So in the home screen, under init state, we call connect get stream and wait till it connects once connected we display the whole UI
2. We have a bottom tab for a chat when on clicking it we build ChannelListCore

Please consider this flow ---

so > main.dart has

[code]
home .dart
[code]

[2022-02-21 09:09] #805 closed

[2022-02-22 10:19] xsahil03x commented on #909
@Peeyush14198 , I am still not able to reproduce the issue. Can you please share a small project on GitHub where we can replicate it? No need to  share the credentials, We can use ours.

[2022-02-22 17:31] GroovinChip commented on #908
Hi @barriehadfield! Thanks for reaching out to us about Web support for `stream_chat_flutter`.

Last week, work officially began for `stream_chat_flutter` to support Desktop and Web. We are starting with desktop, since there is some overlap with web. There are some peculiarities with supporting both, but even more so with web. Keep an eye on [this PR](https://github.com/GetStream/stream-chat-flutt

[2022-02-22 23:12] vbuberen commented on #738
Thanks, but steps you described have nothing to do with the issue, since it is not about config of the app where `stream_chat_flutter` is used, but about specific dependency called `video_compress`, which still relies on old Kotlin version. Provided logs clearly mention the reason of the issue.

The project where I had issue (and which I left in January) had all the latest Kotlin and Android Gradl

[2022-02-25 09:11] #524 closed

[2022-02-27 13:17] tahaJemmali opened #917 "attaching link issue"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android, Web

### What version are you using?

stream_chat_flutter: ^3.2.0

### What happened?

Attached link dosen't copy properly when the link ends with numbers.
Here's the reporduction of the issue:
[issue](https://youtu.be/drohFZAs52w)

### Steps to reproduce

[code]

### Supporti

[2022-02-27 13:43] tahaJemmali commented on #917
The issue is in getstream package:
file message_widget.dart
UrlAttachment
   onTap: () {
        final titleLink = urlAttachment.titleLink;
        if (titleLink != null) launchURL(context, titleLink);
      },

*You must passe the ogScrapeUrl not the titleLink in launchURL when tapping on the attachemnet

[2022-02-27 20:38] ghunkins commented on #878
I faced all of the above issues. I ended up just switching over to using my own notifications using the webhooks feature.

[2022-02-28 01:26] ghunkins commented on #754
@imtoori can the above be added to the documentation on `StreamPersistenceClient`? I copied the sample app `SortOption` (does not have comparator) and was getting the error message, and could not figure out the issue for awhile.

Can confirm that the above solves this issue, thank you!

[2022-02-28 14:19] #738 closed

[2022-02-28 15:52] GroovinChip opened #919 "Gallery Navigation Controls"
When viewing multiple media in fullscreen on desktop, there should be a way to navigate between the media.

[2022-02-28 16:20] GroovinChip commented on #919
Here is a clip of the feature in action:

https://user-images.githubusercontent.com/4250470/156018889-6a7229ab-7cae-42a5-97f0-216837e452dc.mp4

[2022-02-28 16:23] GroovinChip opened #920 "Downloading Attachments"
Attachments should be downloadable via:

- [x] #948
- [x] #949
- [x] #950
- [x] #968

🐛 **BUGS**
* Context menu is light-themed on Windows while dark theme is on
* ~~Nested ContextMenuRegion widgets result in wonky behavior~~ see #949 for more detail

[2022-02-28 16:28] GroovinChip opened #921 "Uploading Attachments"
Attachments should be uploadable via `MessageInput` in two ways:

- [x] #952
- [x] #951

[2022-02-28 16:33] GroovinChip opened #922 "`MessageWidget` context menu actions"
`MessageWidget` should show several context menu items when right-clicked:

- [x] #941
- [x] #932
- [x] #935
- [x] #933
- [x] #934
- [x] Thread Reply to Message
- [x] Resend Message (if sending has failed)

Additionally:

- [x] #953
- [x] Add missing documentation
- [x] #955

Needs to work on:

- [x] macOS
- [x] Windows
- [x] Linux

🐛 **BUGS**

- [x] #956

[2022-02-28 16:41] GroovinChip opened #923 "`MessageInput` Keyboard Shortcuts & Improvements"
- [x] #957
- [x] #958
- [x] #959

Needs to work on:

- [x] macOS
- [x] Windows
- [x] Linux

[2022-02-28 16:48] GroovinChip opened #924 "Better Sharing Experience"
- [x] Contact the folks who maintain the `share_plus` plugin for verification on expected macOS behavior

RELATED ISSUES:

- https://github.com/fluttercommunity/plus_plugins/issues/793

Note: Sharing files is (seemingly) not supported on Windows and Linux!

[2022-02-28 16:48] GroovinChip opened #925 "Replace bottom sheets with Dialogs"
- [x] #967
- [x] #1023

Related Issues
* ~~https://github.com/ubuntu/yaru_widgets.dart/issues/104~~

[2022-02-28 16:48] GroovinChip opened #926 "Video Player Support"
The [`video_player`](https://pub.dev/packages/video_player) and [`chewie`](https://pub.dev/packages/chewie) packages are not supported on desktop. Try using [`dart_vlc`](https://pub.dev/packages/dart_vlc) instead.

- [x] Create desktop version of `FullScreenMedia` and use `PlatformWidgetBuilder` to show the proper versions for mobile and desktop
- [x] Ensure all player functionality works as expec