[2022-02-28 16:48] GroovinChip opened #927 "Video Thumbnail Support"
The [`video_thumbnail`](https://pub.dev/packages/video_thumbnail) package is not supported on desktop.

## UPDATE: April 8, 2022
My `thumblr` works, and currently supports macOS and Windows. I have verified that it works in `stream_chat_flutter` on macOS; for some reason it is returning a transparent image on Windows. It is also important to note that the macOS implementation of `thumblr` does not

[2022-02-28 16:48] GroovinChip opened #928 "Mouse Hover Actions"
- [x] #960
- [x] #961

[2022-02-28 16:48] GroovinChip opened #929 "Add guide for handling push notifications on desktop"
Useful resources:
* https://getstream.io/chat/docs/sdk/flutter/guides/adding_push_notifications/
* https://pub.dev/packages/firebase_messaging
* https://github.com/leanflutter/local_notifier
* https://github.com/invertase/flutterfire_desktop
* https://firebase.flutter.dev/docs/messaging/overview

[2022-02-28 16:48] GroovinChip opened #930 "Offline Storage Support"
Drift supports all desktop platforms & web.

- [x] Ensure example app works on:
  - [x] macOS
  - [x] Windows
  - [x] Linux
  - [x] Web

[2022-02-28 16:48] GroovinChip opened #931 "Fix Window-Resize UI Bugs"
- [x] #962
- [x] #963
- [x] #964
- [x] #965

[2022-02-28 16:59] GroovinChip commented on #922
Copy Message seems broken - needs investigation

[2022-02-28 16:59] GroovinChip opened #932 "Pin Message"
Pin a message via `MessageWidget` context menu click

[2022-02-28 17:01] #932 closed

[2022-02-28 17:02] GroovinChip opened #933 "Delete Message"

[2022-02-28 17:02] GroovinChip opened #934 "Reply to Message"
Reply to a message via `MessageWidget` context menu click.

[2022-02-28 17:03] GroovinChip opened #935 "Copy Message"
Copy the text contents of a message via `MessageWidget` context menu click.

[2022-02-28 17:04] GroovinChip commented on #935
Seems broken - needs investigation.

[2022-02-28 17:24] GroovinChip commented on #920
There is a weird bug where the context menu for `MessageWidget` will show up after an Attachment context menu is dismissed. Needs investigation.

[2022-02-28 17:35] GroovinChip commented on #934
Feature complete.

[2022-02-28 17:35] #934 closed

[2022-02-28 17:38] GroovinChip commented on #935
Feature is working now. I was unable to reproduce the issue.

[2022-02-28 17:38] #935 closed

[2022-03-01 15:17] Rongix opened #937 "iOS 14+ photo gallery permission "selected photos" does not affect MessageInput (gallery preview)"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS

### What version are you using?

stream_chat_flutter 3.4.0

### What happened?

iOS 14+ introduces Enhanced Privacy Experience in Photos Apps with a new "Limited Library". Stream chat example app's default chat input does not work correctly when picking the "selected photos" privacy op

[2022-03-01 15:21] Rongix commented on #937
Video demonstrating the issue:

https://user-images.githubusercontent.com/52180711/156196420-d84bef27-cdaf-421d-970f-f4b8eeb7f48d.mov

[2022-03-01 15:55] GroovinChip commented on #925
Most of the work on this is done. There's a problem with padding for Linux dialogs - see https://github.com/ubuntu/yaru_widgets.dart/issues/104

[2022-03-01 15:59] GroovinChip commented on #927
I have attempted to write a pure Dart way of extracting the first frame of a local video file without success. Per conversations with Simon Lightfoot, while it is possible to write a pure Dart implementation to do this, it is stupidly complicated. He suggests writing an FFI plugin that uses an SDK like https://www.videolan.org/developers/x264.html

[2022-03-01 17:57] GroovinChip commented on #920
Downloading via right click on `FullScreenMedia` is not working on Windows.

[2022-03-01 17:58] GroovinChip commented on #920
Bug: Context menu is light-themed on Windows while dark theme is on

[2022-03-02 09:16] mertguven opened #939 "video_compress package kotlin gradle version error"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

stream_chat_flutter - v3.5.0

### What happened?

Error:`The Android Gradle plugin supports only Kotlin Gradle plugin version 1.3.40 and higher.
The following dependencies do not satisfy the required version:
project ':video_compress' -> org.jetbrai

[2022-03-03 16:51] Aanu1995 commented on #787
I am experiencing the same issue. Even under a string internet connection or WIFI, I am still getting the same error!

[2022-03-03 16:57] GroovinChip commented on #920
This is working now

[2022-03-03 17:23] GroovinChip opened #941 "Edit Message"
Edit a message via context menu click.

Should work on:

- [x] macOS
- [x] Windows
- [x] Linux

[2022-03-03 17:40] GroovinChip commented on #941
Completed

[2022-03-03 17:40] #941 closed

[2022-03-04 19:16] GroovinChip commented on #921
Drag n Drop works on Linux

[2022-03-07 10:24] ManasviPatidar opened #942 "_CastError in _MessageListViewState._buildListView"
### Which packages are you using?

stream_chat_flutter, stream_chat_persistance

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter: ^3.3.2
stream_chat_persistence: ^3.0.0

### What happened?

Received the following error on sentry.

### Steps to reproduce

[code]

### Supporting info to reproduce

_No response_

### Relevant log

[2022-03-07 10:47] ManasviPatidar opened #943 "SqliteException(5): database is locked"
### Which packages are you using?

stream_chat_flutter, stream_chat_persistance

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter: ^3.3.2
stream_chat_persistence: ^3.0.0

### What happened?

Received the following exception on sentry.

- This exception is thrown while rendering the ChannelListView Widget.
- The default errorBui

[2022-03-07 13:49] xsahil03x commented on #943
@ManasviPatidar are these logs from a release build?

[2022-03-07 13:56] ManasviPatidar commented on #943
Yes, this was captured by Sentry on release versions of our app.
<img width="833" alt="image" src="https://user-images.githubusercontent.com/43138335/157047426-1902f0b7-b67f-4fea-9040-d5026b37a533.png">

[2022-03-07 14:46] GroovinChip opened #944 "`MessageListView.findChildIndexCallback` has a nullable return type of `int?` but ends without returning a value"
[code]
![Screen Shot 2022-03-07 at 9 45 40 AM](https://user-images.githubusercontent.com/4250470/157056399-dd76e81f-7a9b-4366-bb9f-114aff640def.png)

[2022-03-07 16:53] GroovinChip commented on #926
Related: https://github.com/alexmercerind/dart_vlc/issues/221

[2022-03-07 16:55] GroovinChip commented on #926
The seeker seems to be bugged - it doesn't move past one second. Needs investigation.

[2022-03-07 17:03] #944 closed

[2022-03-08 08:19] JoDeveloper opened #945 "StreamChatNetworkError(code: 1000, message: Unauthorised, token not defined)"
### Which packages are you using?

stream_chat_flutter_core

### On what platforms did you experience the issue?

Android

### What version are you using?

```stream_chat_flutter_core: ^3.4.0```

### What happened?

I go ```StreamChatNetworkError(code: 1000, message: Unauthorised, token not defined)``` even Ive token and works , but sometimes give me this error

### Steps to reproduce

[code]

###

[2022-03-08 15:34] GroovinChip opened #946 "Update package examples to demonstrate desktop support"
Show off things you can do with Stream and Flutter on desktop with responsive design like:
- [x] channel list on the left, chat on the right
- [ ] If there is enough screen width, show threads on the rightmost third of the screen
- [ ] fix sub navigator messing up ui

[2022-03-08 15:35] GroovinChip opened #947 "Update package docs for desktop"

[2022-03-08 15:39] GroovinChip opened #948 "Context menu click via `FullScreenMedia`"
Should be implemented for:

- [x] Images
- [x] Giphys
- [ ] Videos

Must work on:

- [x] macOS
- [x] Windows
- [x] Linux

[2022-03-08 15:39] GroovinChip commented on #948
Feature complete.

[2022-03-08 15:40] GroovinChip opened #949 "Context menu click via `MessageWidget`"
Must work on:

- [x] macOS
- [x] Windows
- [x] Linux

[2022-03-08 15:40] GroovinChip opened #950 "`FileAttachment` button click via `MessageWidget`"
Must work on:

- [x] macOS
- [x] Windows
- [x] Linux

Related Issues:
* https://github.com/google/flutter-desktop-embedding/issues/868

[2022-03-08 15:43] GroovinChip commented on #919
Feature complete

[2022-03-08 15:43] #919 closed

[2022-03-08 15:43] GroovinChip opened #951 "Button click"
Must work on:

- [x] macOS
- [x] Windows
- [x] Linux

Related Issues:
* https://github.com/google/flutter-desktop-embedding/issues/868

[2022-03-08 15:43] GroovinChip opened #952 "Drag and drop"
Needs to work on:

- [x] macOS
- [x] Windows
- [x] Linux

[2022-03-08 15:45] GroovinChip commented on #952
Feature complete.

[2022-03-08 15:45] #952 closed

[2022-03-08 15:47] GroovinChip opened #953 "`MessageActionsModal` should not be shown when `MessageWidget` is long-pressed on desktop & web."

[2022-03-08 15:47] GroovinChip opened #954 "Ensure context menu titles are localized"

[2022-03-08 15:47] GroovinChip commented on #953
Complete

[2022-03-08 15:47] #953 closed

[2022-03-08 15:47] GroovinChip opened #955 "Ensure context menu titles are localized"

[2022-03-08 15:48] #955 closed

[2022-03-08 15:49] GroovinChip opened #956 "Sometimes the action performed on menu item click doesn't correspond to the actual item"
Occasionally, when clicking a context menu item vie `MessageWidget`, the wrong action is performed.

[2022-03-08 15:51] GroovinChip opened #957 "Press "enter" to send a message"

[2022-03-08 15:51] GroovinChip opened #958 "Press "backspace" to clear a quoted message"

[2022-03-08 15:51] GroovinChip opened #959 "Add a button for removing a quoted message"

[2022-03-08 15:51] #957 closed

[2022-03-08 15:52] #958 closed, assigned to GroovinChip

[2022-03-08 15:52] GroovinChip commented on #959
Complete

[2022-03-08 15:52] #959 closed

[2022-03-08 15:52] GroovinChip commented on #923
Complete

[2022-03-08 15:52] #923 closed

[2022-03-08 15:54] GroovinChip commented on #927
@sachaarbonel is working on a FFI plugin that uses Rust to create video thumbnails.

[2022-03-08 15:55] GroovinChip opened #960 "Show reaction bubble for `MessageWidget`s on desktop"
We need to decide how this should be displayed. Telegram used to do this with hover, but now they do it with right-click.

[2022-03-08 15:55] GroovinChip opened #961 "Tooltips?"
We need to decide if we are going to show any tooltips on desktop. I've noticed that Telegram does not show any tooltips, and that Slack shows some.

- [x] Ask Francesco about this

[2022-03-08 15:57] GroovinChip opened #962 "Fix `MessageWidget` attachments width growing/shrinking when window is expanded/contracted"

[2022-03-08 15:57] GroovinChip opened #963 "Fix box constraints for `_buildReaction()` in `message_reactions_modal.dart`"

[2022-03-08 15:57] GroovinChip opened #964 "Ensure reactions bubble doesn't get rendered partially offscreen"

[2022-03-08 15:58] GroovinChip commented on #962
Complete

[2022-03-08 15:58] #962 closed

[2022-03-08 15:59] #963 closed

[2022-03-08 16:00] GroovinChip commented on #964
Complete

[2022-03-08 16:00] #964 closed

[2022-03-08 16:00] GroovinChip opened #965 "Ensure reactions bubble gets rendered as closely as possible to the thought bubble indicator thingy"
The calculation for the x-axis alignment of this widget needs modification.

[2022-03-08 16:01] GroovinChip opened #966 "Create `PlatformDialog` which returns the appropriate dialog widget from packages: `macos_ui`, `fluent_ui`, and `yaru_widgets`"

[2022-03-08 16:01] GroovinChip opened #967 "Replace bottom sheets with dialogs where appropriate"
- [x] Successful downloading of media on desktop
- [x] Errors when uploading media on desktop
- [x] Errors when uploading media on web
- [x] Channel info

[2022-03-08 16:02] #966 closed

[2022-03-08 16:03] GroovinChip opened #968 "Show indicator to user of successful file download"

[2022-03-08 16:07] GroovinChip commented on #954
Complete

[2022-03-08 16:07] #954 closed

[2022-03-09 05:20] navneetdhameliya opened #969 "Unhandled Exception: Unsupported operation: Cannot remove from a fixed-length list"
### Which packages are you using?

stream_chat, stream_chat_flutter, stream_chat_localizations

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat: ^3.3.1
  stream_chat_flutter: ^3.3.2
  stream_chat_localizations: ^2.0.0

### What happened?

Hello GetStream team
Actually i have multiple reaction to message functionality in my app so i ca

[2022-03-09 08:53] Siqlain-Hanif opened #970 "Public MessageWidgetState"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android

### Is your feature request related to a problem?

I want my domain url attachements to be built differently in order to do so i will need to override these functions "_buildUrlAttachment" and "_buildTextBubble" of MessageWidgetState.
MessageWidgetState is

[2022-03-09 08:55] Siqlain-Hanif commented on #970
Using version 3.4.0

[2022-03-09 10:52] imtoori commented on #878
Sorry about the delay, we're working on defining a good push v2 implementation for flutter and publish a guide.
I hope to get this done as soon as possible.

[2022-03-09 15:03] imtoori opened #971 "V4 migration guide"

[2022-03-09 15:03] imtoori opened #972 "Member list views"
Create a new dedicated list widget for showing members

[2022-03-09 15:03] imtoori opened #973 "Scroll to latest unread message button"

[2022-03-09 15:04] imtoori opened #974 "Align truncate channel api"
https://getstream.io/chat/docs/rest/#channels-truncatechannel

[2022-03-09 15:07] imtoori opened #975 "Use null for default for arrays"
Do this in v4
Use null instead of empty arrays

[2022-03-09 15:07] imtoori opened #976 "GUIDE: adding StreamChat in a lower tree"

[2022-03-09 15:11] imtoori opened #977 "implement audio attachments"
https://pub.dev/packages/just_audio

Design screen: https://www.figma.com/file/ekifwChR9tR7zRJg1QEzSM/Chat-Design-Kit---Current-version?node-id=15096%3A2159

Component variants: https://www.figma.com/file/ekifwChR9tR7zRJg1QEzSM/Chat-Design-Kit---Current-version?node-id=19495%3A284556

 Hint: to keep the sample app installer small use the file type’s templates icons in the assets folder and overlay

[2022-03-09 15:11] imtoori opened #978 "Create attachment subclasses"
Depending on the type of attachment we can remove some fields

[2022-03-09 15:12] imtoori opened #979 "GUIDE: message multi select"

[2022-03-09 15:12] imtoori opened #980 "Improve the retry queue mechanism"

[2022-03-09 15:14] imtoori opened #981 "Add some extension functions to core"

[2022-03-09 15:15] imtoori opened #982 "Create a StreamChatMockClient"
Create a mock of the client to be used for testing purposes

[2022-03-09 15:15] imtoori opened #983 "Expose test utilities to use widgets in UI tests"
Mocks for making testing the UI easier

[2022-03-09 15:16] imtoori opened #984 "Add named constructors to widgets"
Most widgets today require some default setup for common functions - mainly filters and sorting. We should offer named constructors in widgets that offer default implementations of widgets that are used most often.

Think of it as shortcuts to common scenarios.

Setting “sensible defaults” for filters, for example. This will reduce boilerplate.

[2022-03-09 15:16] imtoori opened #985 "GUIDE: integration with major error reporting tools (Sentry)"
Let's see what would it take for each SDK to properly report crashes through Sentry (and, similar solutions).That would help us a lot in troubleshooting.

[2022-03-09 15:16] imtoori opened #986 "GUIDE: split view"

[2022-03-09 15:17] imtoori opened #987 "Add sdk whole screen widgets to ui package"
Full app page widget, less customizable, used for tutorials and most simple use cases.

[2022-03-09 15:18] imtoori opened #988 "MML: Add support for simple text"
https://getstream.github.io/mml-react/components/text

[2022-03-09 15:18] imtoori opened #989 "Add auto complete input options"
At the moment the autocomplete options for mentions/commands/emoji is hardcoded

We want to make it customizable

This will let user customize the logic or even add their own options (example: adding channel autocomplete using # as Slack does)

[2022-03-09 15:18] imtoori opened #990 "Add click handling on push notification docs"

[2022-03-09 15:30] imtoori opened #991 "GUIDE: make your app work on web"

[2022-03-09 15:30] imtoori opened #992 "Hero Transition for MessageWidget on long press"
Smooth out the animation when adding a reaction to a message.

Try implement it in the SDK.

If that’s not doable/practical, do it in the sample app.

[2022-03-09 15:30] imtoori opened #993 "Expose cacheExtent and scrollPhysics on all the list views"
- [ ] ChannelListView

- [ ] MessageSearchListView

- [ ] MessageListView

- [ ] UserListView

[2022-03-09 15:31] imtoori opened #994 "GUIDE: Pin chats to top of Channel List"

[2022-03-09 15:33] imtoori opened #995 "Push notifications v2"
- [x] implement push v2 on [push sample app](https://github.com/GetStream/chat-push-test) https://github.com/GetStream/chat-push-test/pull/10

- [x] verify that it doesn’t work fine on ios

- [x] work with backend team to find a solution

- [x] update documentation

[2022-03-09 15:33] imtoori opened #996 "Videos break bottom photo carousal"
Video files seem to break the photos carousel (Render box errors) at the bottom. Opening a video, and then going back to a message with photos then also shows an empty carousal.

![image](https://user-images.githubusercontent.com/20601437/158608633-2b02acdd-7ca7-4463-84ad-caa365bf39ec.png)

[2022-03-09 15:33] imtoori opened #997 "FindChildIndexCallback does not work for the first item in the list"
This creates undesired state behavior, where the bottom message will be refreshed (state and paint).

[2022-03-09 15:34] imtoori opened #998 "Process the message in channel.truncate events"

[2022-03-09 15:34] imtoori opened #999 "GUIDE: implement slidable"
Include this in the migration guide #971

[2022-03-09 15:36] imtoori opened #1000 "Use compute to upload attachments on separate isolate"

[2022-03-09 15:36] imtoori opened #1001 "Update documentation for v4"
Explore documentation versioning

[2022-03-09 21:46] GroovinChip commented on #950
Done.

[2022-03-09 21:46] #950 closed

[2022-03-09 21:47] GroovinChip commented on #951
Done.

[2022-03-09 21:47] #951 closed

[2022-03-09 21:47] GroovinChip commented on #921
Complete

[2022-03-09 21:47] #921 closed

[2022-03-10 20:00] GroovinChip commented on #949
I've gotten confirmation from Francesco that the context menu in this location is not necessary at this time. So hopefully once the plugin matures, or a better one comes out, or if we do our own context menu, we can revisit this.

[2022-03-10 20:03] #949 closed

[2022-03-10 20:15] GroovinChip commented on #948
Reopened to deal with downloading video

[2022-03-10 20:30] #948 closed

[2022-03-10 20:30] GroovinChip commented on #968
Completed

[2022-03-10 20:30] #968 closed, assigned to GroovinChip

[2022-03-10 20:32] GroovinChip commented on #920
There's nothing we can do at the moment for the light-theme context menu bug on Windows, sadly. Making our own context menu would solve the issue, and I think we will do this in the future in general.

[2022-03-10 20:32] GroovinChip commented on #920
Complete

[2022-03-10 20:32] #920 closed

[2022-03-10 20:33] GroovinChip commented on #956
Closing via #949

[2022-03-10 20:33] #956 closed, assigned to GroovinChip

[2022-03-10 20:34] GroovinChip commented on #922
Closing via #949

[2022-03-10 20:34] #922 closed

[2022-03-10 21:00] bhayatus opened #1003 "Ability to override onTap for UrlAttachment Widget"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android

### Is your feature request related to a problem?

Sample use of StreamChannel as an example:

[code]

When typing a url, it generates a url attachment like seen below:
![Untitled](https://user-images.githubusercontent.com/35541711/157753343-740b5fe6-148d-4

[2022-03-11 14:28] GroovinChip opened #1006 "Make sure `video_player` works on Web"
* `dart_vlc` does not support web, but `video_player` and `chewie` (which we use for mobile) do.

### Tasks:
- [x] Ensure that `video_player` and `chewie` do indeed work on Web
- [x] Rename `FullScreenMediaMobile` back to `FullScreenMedia`

### Blockers

- ~~Application will not build due to `dart_vlc`, because it uses FFI which web doesn't support, which is odd because the `generated_plugin_regis

[2022-03-12 08:12] MikleJack commented on #939
I have encountered the same problem. I hope it can be solved quickly

[2022-03-13 01:55] rlee1990 commented on #939
I also have the same issue. The only way it seems to solve the issue is if they stop using the plugin or if they get the plugin owner to update it.

[2022-03-13 02:35] MikleJack commented on #939
I found that by manually importing stream_ chat_ fluitter package and removing all dependencies related to video_compression can make the project run. I adopted this method because I was doing a temporary school homework,
[stream_chat_flutter.zip](https://github.com/GetStream/stream-chat-flutter/files/8238872/stream_chat_flutter.zip)

[2022-03-14 10:41] imtoori commented on #939
Hi everyone this is the issue on the package https://github.com/jonataslaw/VideoCompress/issues/142
Let's put some pressure on that issue, we're just waiting for them to publish a new release.

[2022-03-14 11:30] Abdulrehman53 opened #1007 "Null check operator used on a null value"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter: ^3.4.0

### What happened?

I/flutter ( 7110): │ Null check operator used on a null value

I/flutter ( 7110): ├┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄┄

[2022-03-14 11:34] imtoori commented on #1007
Hi can you be more specific on how to reproduce the issue?
I should send a message and just scroll? I don't that happens all the time, does it?

[2022-03-14 13:19] #909 closed

[2022-03-14 16:33] GroovinChip opened #1008 "Move from native context menus to branded context menus"
Per our design spec, we should be using a branded context menu instead of native ones:
![image](https://user-images.githubusercontent.com/4250470/158217533-66910f3b-3e19-48ef-9be0-57479d890aa8.png)
![image](https://user-images.githubusercontent.com/4250470/158217585-421887ac-0340-4e0a-8b6c-dfb5863a1ab9.png)
~~We can use the [`context_menus`](https://pub.dev/packages/context_menus) package to achie

[2022-03-15 01:08] #930 closed

[2022-03-15 08:16] imtoori commented on #939
## Temporary solution

add this to your pubspec
[code]

[2022-03-15 11:03] Abdulrehman53 commented on #1007
Don't have issue if there're fewer messages which are not scrollable
<img width="972" alt="Screen Shot 2022-03-15 at 3 59 42 PM" src="https://user-images.githubusercontent.com/13569710/158363767-4b07842c-2f3f-49bb-bef1-1db4c85f33b5.png">

Issue produces when there are more messages which are scrollable and then send a new message. This is both on IOS and Android.
Steps to reproduce

- Send enough

[2022-03-15 12:17] ManasviPatidar commented on #1007
Faced the same issue. Possibly the same as #856, the error message varies with flutter versions.

[2022-03-15 18:23] GroovinChip opened #1011 "Animate the background color of pinned messages"
Per Francesco, the brownish/tan-ish color of pinned messages should be animated in and out with a fade transition.

[2022-03-16 01:48] GroovinChip commented on #1008
Complete

[2022-03-16 01:48] #1008 closed

[2022-03-16 08:43] imtoori commented on #945
Hi,
can you show me how you initialize the client?

[2022-03-16 08:56] imtoori commented on #969
Hi
I'm quite sure you need to specify the user associated with the reaction in your code
[code]

[2022-03-16 09:45] imtoori commented on #1007
I agree, I think it's related to this one https://github.com/GetStream/stream-chat-flutter/issues/856
I don't think there's much we can do at the moment https://github.com/GetStream/stream-chat-flutter/issues/856#issuecomment-1040318219

[2022-03-16 13:43] JoDeveloper commented on #945
@imtoori

[code]

[2022-03-16 14:25] GroovinChip commented on #929
Closing as we do not handle push notifications in the SDK

[2022-03-16 14:28] imtoori commented on #678
Hey @mingzew
it's been a while since this issue received some comments
Now we are on version 3.5.1 of the SDK and I think we made some solid progress
Can you check and tell me what you think?

[2022-03-16 14:34] GroovinChip commented on #960
Completed

[2022-03-16 14:34] #960 closed

[2022-03-16 14:38] imtoori opened #1012 "Open channel in unread position"
this could be a `bool` property that you pass in `StreamChannel`

[2022-03-16 14:39] GroovinChip opened #1013 "Message text should be selectable on desktop & web"
This is an easy fix - I actually have a stash that implements this behavior.

[2022-03-16 14:40] imtoori opened #1014 "Show divider for unread messages"

[2022-03-16 15:52] analyzer-y commented on #945
We are having the same issue here

[2022-03-16 16:34] JoDeveloper commented on #945
sometime I get ```api_key not provided``` !

I'll try v3.5.1 👍🏼

[2022-03-16 16:43] GroovinChip commented on #961
Not required.

[2022-03-16 16:43] #961 closed

[2022-03-16 16:44] GroovinChip commented on #928
Complete

[2022-03-16 16:44] #928 closed

[2022-03-16 16:50] GroovinChip commented on #1013
Done

[2022-03-16 16:50] #1013 closed

[2022-03-16 16:52] GroovinChip commented on #965
@imtoori can you please take a look at my bad hack in [1896b6c](https://github.com/GetStream/stream-chat-flutter/commit/1896b6c8149c4467694f42fc91d1d982c61729b3) please and tell me if you see a better way to handle this?

[2022-03-16 19:19] markfili commented on #939
Hi, that solution produces the following warning:
[code]

[2022-03-17 08:31] imtoori commented on #939
@markfili the markdown formatting removed a very important line
[code]

this is the right snippet

[2022-03-17 08:34] imtoori commented on #965
@GroovinChip I know it kinda sucks, but I don't think there's another way

[2022-03-17 09:05] markfili commented on #939
Great, works! thank you for the important line, now I know more!

[2022-03-17 09:50] #1003 closed

[2022-03-17 11:32] geweald opened #1017 "[WEB] Persistance - exceeded the quota"
### Which packages are you using?

stream_chat_flutter, stream_chat_persistance

### On what platforms did you experience the issue?

Web

### What version are you using?

Latest
- `3.5.1` of `stream_chat_flutter`
- `3.1.0` of `stream_chat_persistance`

### What happened?

After a while of using the app on web we're seeing errors in the console
[code]
and also
[code]

### Steps to reproduce

Use c

[2022-03-17 12:01] xsahil03x commented on #1017
Hey @geweald, Thanks for pointing this out. This does makes sense and we will look into this soon 👍🏼

[2022-03-17 16:58] GroovinChip opened #1018 "☂️ Update `ChannelListView` items for desktop & web"
Items in `ChannelListView` need to be updated to properly support desktop & web:
- [x] #1019
- [x] #1020
- [x] `ChannelListView` item actions should show dialogs instead of bottom sheets
- [x] Implement translations related to muting channels & conversations
- [x] #1028

[2022-03-17 17:00] GroovinChip commented on #925
Will be continued via #1018

[2022-03-17 17:12] GroovinChip opened #1019 "`ChannelListView` items should not be slideable on desktop & web"
Slideable widgets don't make sense on desktop & web. Context menus should be used instead; this is also per our design spec.

The context menus are tracked in #1020

[2022-03-17 17:12] GroovinChip opened #1020 "`ChannelListView` item actions should be reached through right-click context menus"

[2022-03-17 20:19] #1006 closed

[2022-03-17 20:24] GroovinChip opened #1021 "Add documentation regarding right-click context menus on Web"
Specifically, developers must modify the `body` tag in the `index.html` file in their `web` runner to be as follows:

[code]

[2022-03-17 20:44] GroovinChip opened #1022 "Do not show "download success" dialog after a successful file download on Web"
Browsers have their own download managers that show the progress of downloads, etc.

[2022-03-17 20:47] GroovinChip opened #1023 "Switch to branded dialogs"
Our design spec calls for a very basic Material-esque dialog. As such, we have no need for platform-specific dialog UI.

[2022-03-17 20:58] GroovinChip commented on #965
Oof. Ok. I'm closing this, then.

[2022-03-17 20:58] #965 closed, assigned to GroovinChip

[2022-03-17 20:58] #931 closed

[2022-03-18 13:52] GroovinChip commented on #1023
Completed

[2022-03-18 13:52] #1023 closed

[2022-03-18 15:19] GroovinChip opened #1024 "[Bug] Navigator issues when navigating to `GroupInfoScreen` from context menu click"
In our V1 sample app, when we navigate to a `GroupInfoScreen` from right clicking on a `ChannelPreview` and selecting 'View Info`, backwards navigation to the Channel List doesn't work.

[2022-03-18 15:26] GroovinChip commented on #1022
Done

[2022-03-18 15:26] #1022 closed

[2022-03-18 15:45] GroovinChip opened #1025 "We need a "Leave Group" SVGIcon"
Our design has this:
![image](https://user-images.githubusercontent.com/4250470/159035621-3feaaf45-db0c-4438-aaa4-f42e56204494.png)
but we do not have an SVG icon in our codebase that matches this.

[2022-03-18 15:46] GroovinChip commented on #1025
Never mind, we do have it 😅

[2022-03-18 15:46] #1025 closed

[2022-03-18 16:24] GroovinChip commented on #1020
Complete

[2022-03-18 16:24] #1020 closed

[2022-03-18 16:24] GroovinChip commented on #1019
This is going away in V4 so there's no need for me to do anything here

[2022-03-18 16:24] #1019 closed

[2022-03-18 16:27] GroovinChip opened #1026 "Implement translations related to muting channels & conversations"

[2022-03-18 16:27] GroovinChip commented on #967
Complete

[2022-03-18 16:27] #967 closed

[2022-03-18 16:28] GroovinChip commented on #925
Completed

[2022-03-18 16:28] #925 closed

[2022-03-18 16:29] GroovinChip opened #1027 "[Bug] Uploading files larger than the file limit does not result in an error dialog on Web"

[2022-03-20 16:24] GroovinChip commented on #1026
Completed

[2022-03-20 16:24] #1026 closed

[2022-03-20 16:27] GroovinChip opened #1028 "Show channel info when user has not passed in a custom `onViewInfoTap`"

[2022-03-20 17:51] GroovinChip commented on #1028
Done

[2022-03-20 17:51] #1028 closed

[2022-03-20 17:51] GroovinChip commented on #1018
Done

[2022-03-20 17:51] #1018 closed

[2022-03-20 22:39] GroovinChip commented on #924
Done

[2022-03-20 22:39] #924 closed

[2022-03-21 09:23] developerpaaji commented on #887
Any updates on this issue

[2022-03-21 09:31] imtoori commented on #887
this should be solved as far as I know @developerpaaji

[2022-03-21 13:08] GroovinChip opened #1032 "Fix tests that have been broken by #913"
#913 breaks many, many tests. They need to be fixed.

[2022-03-21 13:39] GroovinChip commented on #970
Hi @Siqlain-Hanif! Thanks for filing this request.

You're in luck! `UrlAttachment` and `TextBubble` are being broken out into their own widgets as of #913! If you want to try this out before the PR lands, you can depend on `stream_chat_flutter` in your `pubspec.yaml` like so:

[code]
Please do try this out and let me know if it meets your needs, and if any adjustments need to be made.

Thanks!

[2022-03-21 13:41] GroovinChip commented on #945
@JoDeveloper has your issue been resolved?

[2022-03-21 13:43] GroovinChip commented on #943
@ManasviPatidar are you still having this issue?

[2022-03-21 13:46] GroovinChip commented on #939
@markfili are you still experiencing this issue?

[2022-03-21 13:49] markfili commented on #939
@GroovinChip well, the override made the warning go away and the project built normally, so I'd say no more issue (although I'd say that it would be better to handle it without the override but I understand why it won't be done)

[2022-03-21 13:50] Siqlain-Hanif commented on #970
That's really good will test this. Will be closing this for now..
Thanks!.

[2022-03-21 13:50] #970 closed

[2022-03-21 13:51] GroovinChip commented on #939
OK then, thank you for letting me know! If you have any further issues, please do let us know and we'll be more than happy to help out!

[2022-03-21 13:51] #939 closed

[2022-03-21 13:53] markfili commented on #939
oh, ok, btw I'm not the OP

[2022-03-21 13:54] GroovinChip commented on #970
No problem, happy to help out! If you need any further assistance, please do let me know!

[2022-03-21 13:55] GroovinChip commented on #939
Ah yes, looks like I mistyped. My apologies!

[2022-03-21 14:27] TramPamPam opened #1033 "Hard delete from dashboard does not delete message from client"
### Which packages are you using?

stream_chat_flutter, stream_chat_flutter_core, stream_chat_persistance

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

  stream_chat_flutter_core: ^3.5.0
  stream_chat_flutter: ^3.5.0
  stream_chat_persistence: ^3.1.0

### What happened?

Hard delete from dashboard does not delete message from client

### Steps

[2022-03-21 16:33] Siqlain-Hanif opened #1034 "Keyboard misbehaving on Channel Screen"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

^3.4.0

### What happened?

Keyboards just closes when i focus on textfield. This is highly reproducible in IOS but on android it's not that often
Currently i have no logs for that.

https://user-images.githubusercontent.com/53166182/159305303-

[2022-03-21 20:05] GroovinChip commented on #926
https://github.com/alexmercerind/dart_vlc/pull/230 has been merged.

[2022-03-22 00:37] GroovinChip commented on #926
I'm unable to reproduce the garbled video bug with other video files. Since all the work on this feature is complete, I'm closing this issue.

[2022-03-22 00:37] #926 closed

[2022-03-22 00:47] GroovinChip commented on #929
@HayesGordon @imtoori it's worth noting that the flutterfire-desktop project doesn't seem to have implemented FCM yet. FCM proper only supports macOS & web right now. We may want to consider delaying this issue past our initial beta milestone.

[2022-03-22 03:03] Siqlain-Hanif commented on #1034
First keyboard dismiss was due to the onDrag keyboardDismiss behaviour after that it dismiss automatically

[2022-03-22 05:02] developerpaaji commented on #887
@imtoori this issue still exists I am testing it on **desk_web_dev** branch

[2022-03-22 09:17] imtoori commented on #1034
Hi @Siqlain-Hanif is this related to a specific ios version? I'm trying to reproduce it with no luck

[2022-03-22 09:21] Siqlain-Hanif commented on #1034
HI @imtoori i am experiencing this on IOS 15.2 not sure if it's specific to 15.2

[2022-03-22 09:22] imtoori commented on #1034
@Siqlain-Hanif did you add any specific customization? to the MessageListView or the MessageInput?

[2022-03-22 09:26] Siqlain-Hanif commented on #1034
@imtoori for the MessageInput we did not do any customizations. And also for MessageListView no customization either except and providing MessageListView with customMessageBuilders

[2022-03-22 09:45] Siqlain-Hanif commented on #1034
@imtoori ok let me check.

[2022-03-22 10:04] imtoori commented on #887
@developerpaaji can you email support? I think we'll your app id, this is most probably related to backend and not to the flutter sdk

[2022-03-22 10:05] imtoori commented on #1033
@TramPamPam thanks for reporting the issue
we'll test this and see what we can do

[2022-03-22 10:41] bhavy5145 opened #1036 "'streamChatTheme != null' while opening message detail screen"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

3.5.1

### What happened?

from the channel listing page i am going inside the message detail screen and this error comes

### Steps to reproduce

[code]

### Supporting info to reproduce

_No response_

### Relevant log output

[code]

### Flu

[2022-03-22 10:47] imtoori commented on #1036
@bhavy5145 this is probably an implementation error

Let me try to help you
Where do you place the `StreamChat` widget?

[2022-03-22 11:02] #1036 closed

[2022-03-22 11:32] ManasviPatidar commented on #942
I never encountered this issue in a debug environment, so it's very difficult to identify the code that's causing this. But it  seems like this issue is always accompanied by another excpetion:-

`Null check operator used on a null value`

@

https://github.com/GetStream/stream-chat-flutter/blob/ddcd86e6624e8a63eecddf3e5f43142cf1096c90/packages/stream_chat_flutter/lib/src/message_list_view.dart#L1

[2022-03-22 11:33] ManasviPatidar commented on #943
Yes, Still facing this issue in `stream_chat_persistence:3.0.0`, will try in `stream_chat_persistence:3.1.0`.

[2022-03-22 14:44] GroovinChip commented on #929
Per @imtoori I will wait for Push Notifications V2 to come out before doing the guide

[2022-03-22 14:52] Siqlain-Hanif commented on #1034
@imtoori currently not able to reproduce this on the code provided i am trying to reproduce this on that code once it gets reproduced i will get back to you ..

[2022-03-23 06:30] #945 closed

[2022-03-23 11:32] Abacaxi-Nelson commented on #678
Hi @imtoori
Do you want me to create a new issue ?
I'm experiencing long loading time (without the loader indicator).
I dont know if its same issue or not (last sdk version) (Circle chats on left have same behaviour, but i preload it)

https://user-images.githubusercontent.com/556990/159690158-dfd71d71-5fe3-4c81-bd84-f5b86c808752.mp4

[2022-03-23 11:34] imtoori commented on #678
@Abacaxi-Nelson yes please create a new issue
This seems like a different issue

[2022-03-23 11:40] Abacaxi-Nelson opened #1038 "Loading Channels - State = Loading / No Channels / Channels"
### Which packages are you using?

stream_chat, stream_chat_flutter, stream_chat_persistance

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_persistence 3.1.0
stream_chat 3.5.0

### What happened?

Im seeing wrong loading state when loading channels.
I see Loading > No Channels > Channels

https://user-images.githubusercontent.com/55

[2022-03-23 15:46] GroovinChip opened #1040 "Add new tests for new code added by #913"

[2022-03-23 16:20] #678 closed

[2022-03-23 16:20] #969 closed

[2022-03-24 10:57] #892 closed

[2022-03-24 11:55] #998 closed

[2022-03-28 12:24] ManasviPatidar commented on #943
@GroovinChip still facing the issue with `stream_chat_persistence:3.1.0`.

[2022-03-28 12:58] GroovinChip commented on #943
Are you able to reproduce the issue in a small code sample outside of your main project? If so, would you mind sharing this please?

[2022-03-28 13:05] GroovinChip commented on #942
@ManasviPatidar Can you share some details on the user field being null? Like some logs or a screenshot of the data or something like that? And when you say "resultant behavior", what exactly is the behavior you're seeing?

[2022-03-29 10:45] markfili opened #1044 "Wrapping MaterialApp in StreamChat does something to general layout and theme"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

3.5.1

### What happened?

Wrapping MaterialApp into StreamChat widget did something to the app's layout. It looks like the screen is under the status bar and some texts in the ChannelPage screen are displayed as if clipped.

### Steps to reproduce

[2022-03-29 12:55] markfili commented on #1044
I found a way to change the accent and background colour by wrapping StreamChatTheme around ChannelListView and that I found here: https://github.com/GetStream/stream-chat-flutter/issues/436#issuecomment-842961758

still no solution for other non-colour related issues (status bar, etc.)

[2022-03-30 11:06] geweald opened #1046 "[Bug] After /mute command and reload cannot access any channel"
### Which packages are you using?

stream_chat_flutter, stream_chat_persistance

### On what platforms did you experience the issue?

iOS, Android, Web

### What version are you using?

Latest

### What happened?
After muting an user and reloading the app:

In `stream_chat-3.5.1/lib/src/core/models/mute.g.dart` (this exception cannot be caught outside of the library)

![image](https://user-images.

[2022-03-30 11:59] geiszla commented on #1046
We have the same issue for some users. They get the following error when we call `streamChatClient.connectUser(...)`.

[code]

[2022-03-30 12:05] xsahil03x opened #1047 "own_capabilities extraData missing after update"
### Discussed in https://github.com/GetStream/stream-chat-flutter/discussions/1045

<div type='discussions-op-text'>

<sup>Originally posted by **Brazol** March 30, 2022</sup>
I'm watching `channel.extraDataStream` and printing its content and it looks like after calling `channel.updateName` I get a new value in the stream (as expected) but without `own-capabilities`. Is this expected behaviour?

[2022-03-30 12:05] xsahil03x commented on #1047
@Brazol can you share a small snippet using which we can reproduce this? Thanks

[2022-03-30 13:20] Brazol commented on #1047
I'm using hooks so it will be easiest for me to share it that way, but basicaly I just listen to extraData:
` final extraData = useStream(channel.extraDataStream, initialData: channel.extraData);`

and when I get new data I print it:
`useEffect(() { print(extraData.data); }, [extraData.data]);`

and initially I get correct json with own_capabilities array of permissions but after calling
`channel.

[2022-03-30 13:21] Brazol commented on #1047
I added a comment in the discussion so I'll also add it here

#discussioncomment-2469801

[2022-03-31 10:38] bhavy5145 opened #1050 "code: 1000, message: Unauthorised, token not defined while trying to get message in firebaseMessagingBackgroundHandler"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

lastest

### What happened?

I am implementing the push notifications on my application and for that i want the message from the notification and channel to display it in a notification for which in payload of notification i am not getting message

[2022-03-31 11:58] grihlo opened #1051 "Chat app crashes when selecting to record a video from attachment bottom sheet (only iPhone)"
### Which packages are you using?

stream_chat_flutter, stream_chat_localizations

### On what platforms did you experience the issue?

iOS

### What version are you using?

stream_chat_flutter: ^3.5.0
stream_chat_localizations: ^2.1.0

### What happened?

When selecting to record a video from the attachment bottom sheet chat app crashes.

### Steps to reproduce

[code]

### Supporting info to rep

[2022-03-31 15:12] #1051 closed, assigned to nobody

[2022-04-01 08:28] #1047 closed

[2022-04-01 08:43] Brazol opened #1052 "membersStream returns incomplete list of members"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

4.0.0-beta.1

### What happened?

When I listen to `membersStream` I get an incomplete list of members after each update to the channel:

- after calling `channel.updateName`, `membersStream` pushes empty list as data
- after calling `channel.a

[2022-04-01 08:55] ayush221b commented on #1044
Hey @markfili thank you for creating an issue. Please allow me some time to try to reproduce this, I will let you know ASAP.

[2022-04-01 09:06] geweald commented on #1017
Hey @xsahil03x any progress on this issue? Using experimental indexedDB we're getting errors on safari `Failed to load resource: The operation couldn’t be completed. (WebKitBlobResource error 1.)`, maybe something similar to [this stackoverflow issue](https://stackoverflow.com/questions/68386273/error-loading-blob-to-img-in-safari-webkitblobresource-error-1)

[2022-04-01 09:11] #1046 closed

[2022-04-01 09:15] xsahil03x commented on #1017
Hey @geweald, We have this in our backlog but there are some other tasks/issues that need to be addressed first.

[2022-04-01 09:37] xsahil03x commented on #1052
Taking a look 👀

[2022-04-01 16:08] Rongix commented on #937
Hey, sorry, I can't. I've made a report quite some time ago and don't work on a project that uses StreamChat anymore :/
I've made an effort to check recent changes in the Changelog, and I don't see any changes related to permissions so I assume, it is not resolved.

[2022-04-01 17:03] EtcGonza opened #1053 "Mute/Unmute doesn´t work as expected"
### Which packages are you using?

stream_chat, stream_chat_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

I override my dependencies with this fix
https://github.com/GetStream/stream-chat-flutter/pull/1048

### What happened?

Hi! A few days ago a User report a issue with the mute feature, this is the report https://github.com/GetStream/str

[2022-04-02 23:48] Siqlain-Hanif commented on #1034
@imtoori we couldn't reproduce this on the code provided, with the release of 2.10.4 seems like this is fixed. So closing this, will keep an eye on this is need be will open on future.

[2022-04-02 23:48] #1034 closed

[2022-04-03 07:38] Abacaxi-Nelson opened #1054 "Unsupported operation: Cannot remove from an unmodifiable list"
### Which packages are you using?

stream_chat, stream_chat_flutter

### On what platforms did you experience the issue?

iOS

### What version are you using?

Last version

### What happened?

Usually, on first launch, i get following error

lutter: ----------------FIREBASE CRASHLYTICS----------------
flutter: Unsupported operation: Cannot remove from an unmodifiable list
flutter:
#0      Unmodif

[2022-04-04 08:23] xsahil03x commented on #1053
Thanks, I will take a look

[2022-04-04 08:27] imtoori commented on #1038
@Abacaxi-Nelson can I ask you if you can try the beta release?
I think it should solve this issue
Let me know if you can

[2022-04-04 09:03] #1054 closed

[2022-04-04 09:11] imtoori commented on #1050
Hi @bhavy5145
you should set the user token and do something like this
[code]

[2022-04-04 09:11] imtoori commented on #1050
this should solve your issue, basically, you had to set the user anyway without connecting the websocket
Let me know if you need more help!

[2022-04-04 09:11] #1050 closed

[2022-04-04 09:16] Abacaxi-Nelson commented on #1054
thanks @imtoori

[2022-04-04 09:31] #1033 closed

[2022-04-04 16:39] bhavy5145 commented on #1050
@imtoori  in order to login again I need the credentials, which are stored inside the shared preferences, and the application is killed so I am not able to access the preferences, so if you let us know like how to implement it or it would be best if we can get any reconnect API or something like that we don't need the credentials in-order to get authenticated.

[2022-04-04 17:41] faisalmushtaq007 opened #1058 "How can i initiate chat with a user using his id. What are the steps for it??"

[2022-04-05 07:22] imtoori commented on #1058
https://getstream.io/chat/docs/flutter-dart/tokens_and_authentication/?language=dart
This is the documentation dedicated to authentication, I think it will help
Let me know if you have any other question

[2022-04-05 07:22] #1058 closed

[2022-04-05 08:53] faisalmushtaq007 opened #1059 "What am i doing wrong??"
I am getting the following error message whenever i initiate a new chat with some user.
GetOrCreateChannel failed with error: "User '6247123fd24d8d0b4f694b78' with roles ['user', 'channel_member'] is not allowed to perform action RecreateChannel in scope 'messaging'"
Help Needed!

[2022-04-05 08:58] #1059 closed

[2022-04-05 10:35] #1007 closed

[2022-04-06 07:24] bhanu-under25 opened #1061 "Increase the 5KB limit for channel Extra Data."
### Please select which package this feature is related to

stream_chat, stream_chat_flutter, stream_chat_flutter_core

### Which platforms would this feature impact?

iOS, Android

### Is your feature request related to a problem?

Channel which have more then 100 members causes problem of sending essential data like mute status through send notification webhook in extra data of the channel.

Onl

[2022-04-06 13:14] imtoori opened #1062 "send only user_id when reconnecting"

[2022-04-06 13:16] imtoori opened #1063 "GUIDE: in-channel search message feature"
Let's try to build this, if it's doable let's post a guide

[2022-04-06 13:30] imtoori opened #1064 "Remove VisibilityDetector"

[2022-04-06 20:33] Abacaxi-Nelson commented on #1007
Hi all,
Im having this issue as well

[code]

I cant reproduce exactly, but happen.

Worst, it happen to my users :

<img width="1261" alt="Capture d’écran 2022-04-06 à 22 30 34" src="https://user-images.githubusercontent.com/556990/162065575-a02e9f62-ae8c-49b1-b2cc-030bc0d82f91.png">

<img width="1222" alt="Capture d’écran 2022-04-06 à 22 31 21" src="https://user-images.githubusercontent.com/

[2022-04-07 07:51] imtoori commented on #1061
Hi @bhanu-under25
there's nothing we can do here since this is not a flutter sdk limitation.
I know you're in contact with support, I'm sure they can help you achieve what you need.
Regards,
Salvatore

[2022-04-07 07:51] #1061 closed

[2022-04-07 08:35] bhavy5145 commented on #1063
[code]
you can try filtering with this this works for me.

[2022-04-08 11:21] ayush221b commented on #1064
Fixed by: https://github.com/GetStream/stream-chat-flutter/pull/1065

[2022-04-08 13:57] #1064 closed

[2022-04-08 13:58] imtoori commented on #856
this pr removes the VisibilityDetector widget and should remove this error https://github.com/GetStream/stream-chat-flutter/pull/1065
You can find the fix in the next release we're pushing on Monday

[2022-04-08 13:58] #856 closed

[2022-04-08 17:58] GroovinChip commented on #1040
The first round of new tests is done

[2022-04-08 18:03] GroovinChip commented on #946
This can be continued post-merge for #913 I think

[2022-04-08 18:18] GroovinChip commented on #927
Closing because the relevant feature work has been done. Newer, more specialized issues may follow.

[2022-04-08 18:18] #927 closed, assigned to GroovinChip

[2022-04-09 08:36] rafoolin opened #1067 "Reaction card overflow for user name"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

3.3.2

### What happened?

Hi, When we tap on the reactions of the chat's messages, it opens the reaction card. If user's name is long, it will overflow. It can be fixed by passing
[code]

Inside `Text` widget of that part.
I checked the code,

[2022-04-09 17:30] rlee1990 opened #1068 "Status Bar Text Color"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

3.5.1

### What happened?

The status bar text color in the app is white but when I go to any page that has the stream chat header the text is always black no matter what I do.

### Steps to reproduce

[code]

### Supporting info to reproduce

[2022-04-11 02:13] rlee1990 opened #1069 "Quoted Message Swipe"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android, Web, Windows, MacOS, Linux

### Is your feature request related to a problem?

No

### Describe the solution that you'd like

I'd like the ability to pick which way you swipe to do a quoted message. It seems odd to have to swipe the same direction for but y

[2022-04-11 02:16] rlee1990 opened #1070 "Scroll To A certain message on press"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android, Web, Windows, MacOS, Linux

### Is your feature request related to a problem?

No

### Describe the solution that you'd like

It would be nice to allow people to click on a message in search for example and go to that message in the chat and not have to scr

[2022-04-11 10:50] #995 closed

[2022-04-11 10:51] imtoori commented on #878
Hi we just released a new guide on v2 push notifications and Flutter

[2022-04-11 10:51] #878 closed

[2022-04-11 10:51] imtoori commented on #878
https://getstream.zendesk.com/agent/tickets/18925

[2022-04-11 10:51] imtoori commented on #878
https://getstream.io/chat/docs/sdk/flutter/guides/adding_push_notifications_v2/

[2022-04-11 11:02] bhanu-under25 opened #1071 "Save File in full_screen_media freezes up the app, shows random progress and throws range error"
### Which packages are you using?

stream_chat, stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter: ^3.5.1

### What happened?

Full Screen media shows range error and shows random progress indicator.

Below are the steps to reproduce and it affects not only on the sample app but all other full screen media i

[2022-04-12 11:24] ayush221b commented on #1071
Hey @bhanu-under25 thank you for bringing this to our attention, I am able to reproduce the RangeError, working on a fix. I will update here once done.

[2022-04-12 11:34] bhanu-under25 commented on #1071
@ayush221b

You can reproduce the save file error too in flutter sample app.
- It shows download random progress.
- Doesn't get dismissed automatically.
- And because the showDialog used is non dismissable we can't navigate back.

Let me know if you need any more information regarding this.

Thank You.

[2022-04-12 17:28] rlee1990 opened #1074 "AttachmentFileUploader Providing More Information"
### Please select which package this feature is related to

stream_chat, stream_chat_flutter, stream_chat_flutter_core

### Which platforms would this feature impact?

iOS, Android, Web, Windows, MacOS, Linux

### Is your feature request related to a problem?

As it stands currently we don't have an option when using the attachmentFileUploader to get the information on the person sending the file.

[2022-04-13 07:07] #1062 closed

[2022-04-13 13:16] imtoori opened #1077 "[Analytics] List interactions we want to let users track"

[2022-04-13 19:30] futebolbryant opened #1081 "Websocket reconnection broken in 3.6.0"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

`stream_chat_flutter: 3.6.0`

### What happened?

Websocket reconnecting is broken in 3.6.0 causing our app to be unusable.

### Steps to reproduce

[code]

### Supporting info to reproduce

Seems like it's due to the latest changes in `stream_chat`

[2022-04-14 07:31] imtoori commented on #1081
ok I know the issue, I'm really sorry about this.
I'll push a release ASAP

[2022-04-14 07:49] #1081 closed

[2022-04-14 07:54] imtoori commented on #1070
Hi @rlee1990
That should be possible
You can take a look at how we do it in the sample app https://github.com/GetStream/flutter-samples/tree/main/packages/stream_chat_v1
There's a search functionality in there and we do exactly what you said

[2022-04-14 07:54] #1070 closed

[2022-04-14 07:56] imtoori commented on #1081
the new release is out https://github.com/GetStream/stream-chat-flutter/releases/tag/3.6.1

[2022-04-14 14:13] imtoori commented on #1070
maybe take a look at this https://github.com/GetStream/flutter-samples/blob/main/packages/stream_chat_v1/lib/routes/app_routes.dart#L52
basically, you need to pass the `initialMessageId` to the `StreamChannel` widget, that should already be enough

[2022-04-14 14:16] rlee1990 commented on #1070
okay cool will give that a try.

[2022-04-14 14:28] #974 closed

[2022-04-14 14:28] #1071 closed

[2022-04-14 14:31] bhanu-under25 commented on #1071
Thanks for solving.

[2022-04-14 14:56] bhanu-under25 opened #1085 "Pagination stops working in Channel Page when used initialMessageId"
### Which packages are you using?

stream_chat_flutter, stream_chat_flutter_core

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

  - stream_chat_flutter: ^3.5.1

### What happened?

We were trying to build our own way of opening the channel page to unread message using ChannelPage with initialMessage

Ex:
[code]

but after navigating the paginat

[2022-04-14 17:51] Abacaxi-Nelson opened #1086 "When app is in background for a long time, and go foreground.. we are unable to reconnect"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS

### What version are you using?

3.5.1

### What happened?

1. Display a ```ChannelListView```
2. Go in background
3. Wait a lot
4. Put back the app in foreground
5. 'errorBuilder' is called, and button calling ```_channelListController.loadData!()``` does nothing

Error im logging :
`

[2022-04-14 20:03] MateusHBR opened #1087 "Limited Access to Camera"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS

### Is your feature request related to a problem?

When we have Limited Access to library in iOS, there is no easy way to open the library and select more photos.

### Describe the solution that you'd like

_No response_

### Describe alternatives that you have cons

[2022-04-15 00:12] futebolbryant opened #1088 ""Save Image" attachment action broken"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter: 3.6.0

### What happened?

I tried to save an image via attachment modal actions, but instead I got a square modal box with a really big negative number and no way to dismiss it on iOS.  On Android, you can swipe back to di

[2022-04-15 04:34] ayush221b commented on #1088
Thank you for pointing this out. This was fixed in our newest v4 beta release. You can try that out here: https://pub.dev/packages/stream_chat_flutter/versions/4.0.0-beta.2

This issue has been mentioned before in #1071

[2022-04-15 04:34] #1088 closed

[2022-04-15 04:40] futebolbryant commented on #1088
So @ayush221b genuine question. If I want the most stable version of this library which should I choose? The beta? I didn’t see that previous ticket because I searched for open tickets. I’m trying to deploy a stable version of our app to production.

[2022-04-15 07:27] imtoori commented on #1088
@futebolbryant the problem is that the fix required a breaking change to be fixed, so we decided to include it in the v4 release.
I think you could use v4, there should be no issue.
You can give it a try and let us know, we're gonna release a stable one later this month, but it's not gonna take more time.

[2022-04-15 22:31] Abacaxi-Nelson opened #1091 "Bug ? Remove shadown ban"
### Which packages are you using?

stream_chat_flutter_core

### On what platforms did you experience the issue?

iOS

### What version are you using?

3.5.1

### What happened?

Remove shadow ban is not working, remove shadow ban user seems not banned anymore, but with wrong attribute.

In code, i see this
[code]

Is it normal to have twice : ```'shadow': true,``` ?

### Steps to reproduce

[code

[2022-04-16 09:15] Abacaxi-Nelson commented on #1038
Sorry @imtoori
You mean version 4 beta ?

[2022-04-18 03:07] ayush221b commented on #1038
Hey @Abacaxi-Nelson yes. Here's the beta release: https://pub.dev/packages/stream_chat_flutter/versions/4.0.0-beta.2

[2022-04-19 08:48] MichaelMarner opened #1095 "Ability to override GroupAvatar"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android

### Is your feature request related to a problem?

It doesn't seem possible to replace GroupAvatars used throughout stream_chat_flutter. We've been able to customise single-user avatars by implementing `defaultUserImage` in `StreamChatTheme`. However, the w

[2022-04-19 21:24] rlee1990 commented on #1068
@ayush221b any update on this?

[2022-04-20 09:14] ayush221b commented on #1068
Hey @rlee1990 we have picked this up for the current sprint, I will have an update for you asap. Meanwhile, can you please share the code you are using for this: `Set the app theme to use a white status bar text and then run the app.`

It will help me reproduce the issue better.

Thanks

[2022-04-20 13:01] rlee1990 commented on #1068
@ayush221b this is the code I used to set the theme:
[code]

[2022-04-20 16:22] arquadrado opened #1096 "Add functionality to MessageWidget onAttachmentTap without overriding default functionality"
I am not sure if this a bug or just the way the library works for some reason but I've encountered a problem for my particular use case.
I am using the library to implement a chat experience and I need to run some code parallel to some events for logging purposes.

Normally when a message with an image is sent, I can click on it and it opens the image preview. I want this behavior to remain the sa

[2022-04-20 19:50] EtcGonza opened #1097 "[Bug] FullScreenMedia range error"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

 stream_chat_flutter: ^3.4.0

### What happened?

Hi! I found a bug in the FullScreenMedia and GalleryHeader widgets.

In my app I have a copy of the **ChannelMediaDisplayScreen** of the official stream_chat_v1 sample. [This is the direct link

[2022-04-20 20:50] Abacaxi-Nelson commented on #1086
seems to be okay for version 4 :)

[2022-04-21 06:51] xie-samuel commented on #66
Hi, this issue appear again in stream v3.4.0. Do you have any idea what is the root caused?

[2022-04-21 09:58] imtoori commented on #1097
Thanks for reporting the issue, but it has already been fixed in v4 https://github.com/GetStream/stream-chat-flutter/issues/1071

[2022-04-21 09:58] #1097 closed

[2022-04-21 13:31] EtcGonza commented on #1097
Oh great! There is release date for this v4?

[2022-04-21 13:46] EtcGonza commented on #1097
Thanks for the answer! I wait for v4.

[2022-04-21 19:11] rlee1990 opened #1099 "Issue With Mentions"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

3.5.1

### What happened?

When I send a message with a mention for live streams without using the message list view but use the message input widget. The name shows while in the input field but once it gets sent the returned message is the use

[2022-04-21 23:34] Abacaxi-Nelson commented on #1086
Grrr in fact still not working

[2022-04-22 07:07] ayush221b commented on #1068
Hey @rlee1990 StreamChatThemeData gives you control over the brightness that you want to set for your app.
So, you can set the `brightness` property in `StreamChatThemeData` to define the brightness that you want Stream widgets to use.

In your code, you could effectively just do:

[code]

and in your `MaterialApp`, where you provide the `darkTheme` and `theme` values, you can use the `themeMode`

[2022-04-22 07:26] imtoori commented on #1086
hi @Abacaxi-Nelson this is a very tricky issue
We've tried reproducing this behaviour for weeks, but it's really unpredictable
Can you try using 3.6.1?

[2022-04-22 07:51] Abacaxi-Nelson commented on #1086
Hey @imtoori
To be honest,  cant as well. But we are seeing this on many users.
Yes im on the 3.6.1

![Capture d’écran 2022-04-22 à 09 50 00](https://user-images.githubusercontent.com/556990/164642865-b8bb0e71-d90d-44fe-8d32-7fa79357bf1b.png)

[2022-04-22 08:18] #842 closed

[2022-04-22 11:26] #1067 closed

[2022-04-22 20:58] rlee1990 commented on #1068
@ayush221b so I set the brightness as you stated but still have the issue. The below images show the issue the feed has the correct look while the chat has the wrong look.
![Screenshot_20220422-165641](https://user-images.githubusercontent.com/21372502/164792501-6a34ee7b-4eb0-45ab-895c-5265d2b9b18c.jpg)
![Screenshot_20220422-165635](https://user-images.githubusercontent.com/21372502/164792519-0c7b

[2022-04-25 09:56] imtoori commented on #1096
hi @arquadrado that's a good solution, adding a check on `attachment.type` should solve your other problem

[2022-04-25 09:56] imtoori commented on #1096
btw, we're starting to work on a way to easily add analytics functionalities. You'll see more in the next months

[2022-04-25 14:50] yahu1031 opened #1102 "StreamMessageInput was blocked with `You don't have permission to send message`."
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS

### What version are you using?

[code]

### What happened?

When I run the app initially, The chat screen shows **You don't have permission to send messages**. But when I hot-restart the app and navigate to the report screen(chat screen), Then I can able to send messages. Please LMK i

[2022-04-25 23:16] rlee1990 commented on #1074
@ayush221b any chance someone could take a look at this? If not I can submit a pull request for it.

[2022-04-26 01:30] Tinhorn opened #1103 "Update freeze dependency"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android, Web, Windows, MacOS, Linux

### What version are you using?

3.6.1

### What happened?

I am trying to update to the latest "freezed" version and this package depency on freezed_annotation ^1.0.0

### Steps to reproduce

[code]

### Supporting info to reproduce

_No response_

[2022-04-27 00:46] Aanu1995 opened #1106 "Push notifications not working on Android and IOS"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter - 3.6.1

### What happened?

After upgrading to V2 and updating the apn_template and notification_templates, push notifications have stopped working on both Android and IOS. Also, there are no push logs in the dashboard whic

[2022-04-27 09:40] #975 closed

[2022-04-27 09:45] ayush221b commented on #1068
On the chat tab, do you use the ChannelListHeader widget?

[2022-04-27 10:38] rlee1990 commented on #1068
@ayush221b yes I do

[2022-04-27 10:44] ayush221b commented on #1068
Hey @rlee1990 thanks for getting back, if you have put

[code]

and you set your theme to use the correct `brightness` for the theme in use, then Stream ideally should automatically pick the colour of the status bar elements from there. Its very weird why that's not happening. In order to further help you, I would request you to please share a minimum reproducible sample project with us that we ca

[2022-04-27 10:45] rlee1990 commented on #1068
@ayush221b Okay I'll try to reproduce later today

[2022-04-27 16:31] GroovinChip commented on #1095
Hi @MichaelMarner. Thanks for filing this request! I think providing a builder for group avatars in `StreamChatThemeData` is reasonable. We'll get to work on this soon.

[2022-04-27 17:13] xsahil03x commented on #1099
Hey @rlee1990, we do convert them to id's before sending the message.
you can use this piece of code to convert them back into usernames
[code]

[2022-04-27 17:51] rlee1990 commented on #1099
@xsahil03x thanks that worked. I was looking through the code and could not figure out how you were doing it lol.

[2022-04-28 08:21] imtoori commented on #1087
solved by #1092

[2022-04-28 08:21] #1087 closed

[2022-04-28 08:21] imtoori commented on #937
solved by #1092

[2022-04-28 08:21] #937 closed

[2022-04-30 03:14] rlee1990 commented on #1074
@GroovinChip can someone take a look at this?

[2022-05-02 00:13] #1106 closed

[2022-05-02 00:57] ayush221b commented on #1074
Hey @rlee1990 we apologise for the delay in getting back to you. Thank you for the PR, we will have a look at it and discuss your use case today.

[2022-05-02 10:09] ayush221b commented on #1074
Hey @rlee1990 as I understand from your issue, you want to access the data linked to the user who is uploading the attachment(s) right? I am guessing that would always be the currently connected user, and you can access all the data attached to the connected user simply by doing:

[code]

if you the `StreamChat` widget at the top of your widget tree.

You could also access the same using:

[code]

[2022-05-02 10:38] rlee1990 commented on #1074
@ayush221b I need access to more then just the user also you can't access context from the function when your trying to make your own uploader for attachments

[2022-05-03 06:11] developerpaaji commented on #888
When i unban user in chat then everything it gives success response when that user try to send message i get error saying

`🕸️ ╔ DioErrorType.response
2022-05-03 11:39:19.821 🚨 🕸️ ║    {
2022-05-03 11:39:19.821 🚨 🕸️ ║         code: 17,
2022-05-03 11:39:19.821 🚨 🕸️ ║         "SendMessage failed with error: "Sorry, you do not have access to this feature. Your account is currently
suspen
2022-05-03 1

[2022-05-03 06:40] imtoori commented on #888
@developerpaaji
I think the error says it all
`SendMessage failed with error: "Sorry, you do not have access to this feature. Your account is currently suspended from chat.`
You should contact support about this

[2022-05-03 06:41] developerpaaji commented on #888
@imtoori  but this happens only after I ban user

[2022-05-03 07:00] developerpaaji commented on #888
these are permission i have configured for group.

[
	{
		"action": "Deny",
		"name": "No guests or anonymous access",
		"resources": [
			"*"
		],
		"roles": [
			"anonymous",
			"guest"
		],
		"owner": false,
		"priority": 90
	},
	{
		"action": "Allow",
		"name": "Owner permissions",
		"resources": [
			"DeleteAttachment",
			"DeleteChannel",
			"DeleteMessage",
			"DeleteReaction",
			"RunMessa

[2022-05-03 07:03] imtoori commented on #888
@developerpaaji can you contact support? we can help you more easily since we can ask for your app id
thanks a lot

[2022-05-03 09:19] bhanu-under25 commented on #1012
I have worked on this and it does scroll to unread message but pagination stops working sometimes when using initialMessageId.

I used wrapWith to find the message which is the last message and wrapping that with the message saying unread messages with the unread count.

I have a opened a issue for the initialMessageId pagination [issue](https://github.com/GetStream/stream-chat-flutter/issues/1085

[2022-05-03 09:25] #1096 closed

[2022-05-03 09:30] xsahil03x commented on #1074
Hey @rlee1990, can you please explain your full use case as we are not able to understand it correctly? It will help us to better answer this particular issue.

[2022-05-03 09:33] imtoori commented on #1103
we tried upgrading freezed, but there are some conflicts that I reported in this issue https://github.com/felangel/mocktail/issues/128

Also, can you try adding this to your pubspec?

[code]

[2022-05-03 09:59] #999 closed

[2022-05-03 09:59] #1001 closed

[2022-05-03 09:59] #971 closed

[2022-05-03 13:07] rlee1990 commented on #1074
@xsahil03x so for me to use my own storage system with the attachmentFileUploader I need to be able to pass other items in that are required for appwrite. The pull request I submitted would allow us to have access to this all.

[2022-05-03 13:15] rlee1990 commented on #1074
@xsahil03x I need to be able to pass the userID the bucketID the read and write access depending on the chat it is.

[2022-05-03 13:40] rlee1990 commented on #1074
@xsahil03x  so with the PR the extraData is set as an optional item of Map so that anyone can use it to pass what they need access to inside the AttachmentFileUploader overrides. Such as the bucket and user ids. If they do not need to use it no harm no foul.

[2022-05-03 14:39] imtoori commented on #1085
I'll check this and let you know in the next days. Sorry about the delay

[2022-05-03 15:13] S-ecki opened #1113 "StreamInputMessage PlatformException"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

4.0.0

### What happened?

A `PlatformException` is thrown when opening a screen with `StreamMessageInput`.
The code is "_STORAGE_NOT_LEGACY_" and the message "_Use `requestLegacyExternalStorage` when your project is targeting above Android Q._"

##

[2022-05-03 15:18] imtoori commented on #1113
ok I think I found the problem
https://pub.dev/packages/photo_manager#android-10-q-29
Can you see if this works for you? I'll add in the right section in the readme if that works

[2022-05-03 15:31] S-ecki commented on #1113
I can confirm that this works, thanks!
However, there is another issue which was not present in previous releases:
When opening the keyboard, my bottom navigation bar resizes with it (previously it was places "under the keyboard" and only the input field was resized

![image](https://user-images.githubusercontent.com/75510543/166485280-c3e489ad-2efb-4c70-992c-a866c5760c37.png)

![image](https://us

[2022-05-03 15:50] imtoori commented on #1113
@S-ecki I think this is specific to your implementation :/ we have a nav bar in the [sample app](https://github.com/GetStream/flutter-samples/tree/main/packages/stream_chat_v1) and everything still works fine

[2022-05-03 16:23] S-ecki commented on #1113
I added the comment as the behaviour changed between v3 und v4, but thanks for the clarification

[2022-05-04 00:19] Tinhorn commented on #1103
@imtoori, Thanks for the reply.
I was able to get my project working with the overrides.

Looking forward to being able to use the new version without the overides

[2022-05-04 07:08] imtoori commented on #1103
I'll close this then, we'll update the dependency as soon as they solve the issue

[2022-05-04 07:08] #1103 closed

[2022-05-04 07:13] markfili commented on #1044
Hi there, @ayush221b, any luck reproducing this?

I've updated to the latest version (4.0.0) but the problems still persist.

I've also been digging through the code and managed to change the accent color for all widgets by using:
[code]

I expected it to work by only using primaryColor from Theme's colorScheme when theme data is converted from app's theme:
```streamChatThemeData: StreamChatThemeD

[2022-05-04 07:50] #1113 closed

[2022-05-04 08:01] markfili commented on #1044
I've stumbled upon StrutStyle which does help with font family height but I'm not able to apply it to StreamMessageWidget; more info here: https://www.woolha.com/tutorials/flutter-using-strutstyle-widget-examples

[2022-05-04 08:24] imtoori opened #1117 "remove usage of deprecated Dio methods in llc"
https://github.com/flutterchina/dio/issues/1308
https://github.com/flutterchina/dio/blob/develop/example/lib/queued_interceptor_crsftoken.dart

[2022-05-04 09:07] imtoori commented on #1044
Hi @markfili I'll take care of this issue now

This is really weird, I can't reproduce this, does this happen all the time on both android and ios?

streamChatThemeData: StreamChatThemeData.fromTheme(Themes.appTheme)

This should work as you said, let me know if it doesn't work, but I just tried it and it's working fine for me

I'll take a look at the `StrutStyle` and see what we can do. Thanks a

[2022-05-04 09:44] markfili commented on #1044
No problem with the delay and thank you for answering so quickly.

I think we can disregard the status bar issue, it's not really a problem, it's probably my imagination.

I managed to amend some of my issues by altering properties for main StreamChat theme:
[code]
- colorTheme fixed the accent color(s)
- setting textStyle height to 1.3 visually aligned the createdAt text with the "seen" check
but

[2022-05-04 10:39] imtoori commented on #1044
thanks a lot, we're trying to make it even better with time :)
the property you're looking for is probably `StreamMessageThemeData.messageAuthorStyle`
Anyway, I'll check and see if we can manage to solve this quirk and let you know asap

[2022-05-04 13:08] imtoori opened #1119 "let users disable mention overlay in MessageInput"

[2022-05-04 13:10] rlee1990 commented on #1074
@ayush221b @xsahil03x Does that help

[2022-05-05 09:14] xsahil03x commented on #1074
@rlee1990 can you share a short snippet of how the user can pass the additional `extraData` ? I am still not sure about that.

[2022-05-05 10:27] faisalmushtaq007 opened #1120 "how to change the role of user from flutter app"
I tried to use partialUpdateUser but i am getting error
Unhandled Exception: StreamChatNetworkError(code: 17, message: UpdateUsersPartial failed with error: "User '6257c084393f3763dbba7f99' with role 'user' is not allowed to perform action UpdateUserRole", statusCode: 403, data: ErrorResponse(code: 17, message: UpdateUsersPartial failed with error: "User '6257c084393f3763dbba7f99' with role 'user'

[2022-05-05 10:39] rlee1990 commented on #1074
@xsahil03x i don't get what's not sure about being able to pass a map of dynamic data into the function. As of now your trying our hands and not making the ask flexible. All someone has to do is create a map of whatever they need and pass it when the function is called

[2022-05-05 10:43] xsahil03x commented on #1074
@rlee1990 the thing is we do not allow calling those functions outside the library. We only call it internally in our SDK.
https://github.com/GetStream/stream-chat-flutter/blob/develop/packages/stream_chat/lib/src/client/channel.dart#L772-L785

[2022-05-05 10:45] rlee1990 commented on #1074
As told in other comments @xsahil03x if we want to use our own backends to upload files via chat we need to use these functions. I'm failing to see how this would cause any harm

[2022-05-05 11:26] johnsonejezie opened #1121 "Build Crash on iOS only"
### Which packages are you using?

stream_chat_flutter_core

### On what platforms did you experience the issue?

iOS

### What version are you using?

4.0.1

### What happened?

iOS doesn't build. Takes too long then quit unexpectedly

### Steps to reproduce

[code]

### Supporting info to reproduce

_No response_

### Relevant log output

[code]

### Flutter analyze output

_No response_

### Fl

[2022-05-05 11:42] ayush221b commented on #1121
Hey @johnsonejezie I just created a new Flutter project and added `stream_chat_flutter_core: ^4.0.1`. I was able to successfully build and run the app on an iOS simulator.

I suspect that this issue is similar to #806 which was fixed as a result of #813

Do you use an older version of connectivity/connectivity_plus in your app? If yes, can you please try updating to the latest version of https://p

[2022-05-05 11:52] imtoori commented on #1074
@rlee1990 what Sahil is trying to say is that in your PR you added the extraData param in some methods, but the thing is that the attachment uploader is called from our code

for example https://github.com/rlee1990/stream-chat-flutter/blob/develop/packages/stream_chat/lib/src/client/client.dart#L735

that's why he's arguing that your pr is not enough to solve the issue
do you agree?

[2022-05-05 11:56] imtoori commented on #1091
@Abacaxi-Nelson I'm working on this
What do you mean the user is unbanned with wrong attribute?

[2022-05-05 12:09] Abacaxi-Nelson commented on #1091
Hey @imtoori

You have full history on your support: **Unshadow user still send shadow messages (Request 21884)**

"
One of my user still send shadowed message.
For instance, in channel: livestream:circle_f82e6ef3-9571-4124-b1a1-3925df15241d

Message 780b4d62-03a6-4ebd-9e8f-896d8e3508c3 from user 6yGyTFHl1XdetKgwuccGifcebsv1 is sent as shadowed: true

But user 6yGyTFHl1XdetKgwuccGifcebsv1 is not b

[2022-05-05 12:49] rlee1990 commented on #1074
@imtoori I disagree one the only thing I did was make the package more flexible with what was told from your docs [here](https://getstream.io/chat/docs/flutter-dart/file_uploads/?language=dart), Also the only time I am calling this is from within the chat sdk usage. Without that it makes using the sdk useless. We as developers should have the ability to access other data that is critical to file u

[2022-05-05 12:52] imtoori commented on #1074
if you look here https://github.com/rlee1990/stream-chat-flutter/blob/develop/packages/stream_chat/lib/src/client/client.dart#L735 you don't pass any extraData property, how would this solve your problem?

did you try using the code in your pr and it solved your issue?

[2022-05-05 13:00] rlee1990 commented on #1074
@imtoori The link was to state that we are being told we can use our own backends but that as the SDK is set right now it does not fit to support all use cases.
Using the Pr works for me because I can pass in the different items I need to have in order to upload files dynamically

[2022-05-05 13:19] xsahil03x commented on #1074
@rlee1990 Will something like this will be enough for your use-case?

[code]
Passing it down to client
[code]

[2022-05-05 13:21] rlee1990 commented on #1074
@xsahil03x that won't help. When I am using my backend I need access to other items and not just the current user.

[2022-05-05 13:22] xsahil03x commented on #1074
@rlee1990 can you mention all the needed items?

[2022-05-05 13:36] johnsonejezie commented on #1121
Updating connectivity fixed it. thanks

[2022-05-05 13:50] #1121 closed

[2022-05-05 14:48] xsahil03x commented on #1074
@rlee1990 does the updated PR look good to you?
https://github.com/GetStream/stream-chat-flutter/pull/1110

[2022-05-05 14:49] rlee1990 commented on #1074
@xsahil03x yes that looks great. Thank you all.

[2022-05-06 09:56] imtoori commented on #1044
@markfili I think I know how to solve this, we'd need to refactor a part of the message widget. I'll add this to the next sprint!

[2022-05-06 11:51] xsahil03x commented on #1074
@rlee1990 the PR is merged and will be released soon. Thanks 👍🏼

[2022-05-06 11:51] #1074 closed

[2022-05-06 12:03] ayush221b commented on #1068
Hey @rlee1990 were you able to reproduce it in (or, using) the sample app?

[2022-05-06 12:50] rlee1990 commented on #1068
@ayush221b i have not yet. Will try it this weekend.

[2022-05-06 14:41] #1119 closed

[2022-05-06 14:59] GroovinChip opened #1125 "Create a `StreamChatConfiguration` class to hold various global UI defaults"
Per conversation with @imtoori, we should remove non-theme related UI configuration options from `StreamChatThemeData` and put them into their own class, `StreamChatConfiguration`, which will be a property in the `StreamChat` widget just like `StreamChatThemeData`.

`StreamChatConfiguration` should contain a method that will look up the widget tree to find the nearest instance, like InheritedWidge

[2022-05-07 02:32] tanjunior commented on #1052
`channel.addMembers` not doing anything for me as well. causing...
[code]
Chat Explorer in the dash board also does not reflect the new member.

[2022-05-07 06:48] imtoori commented on #1052
@Brazol can you check if still experience the same problem with the latest v4 release? Thanks a lot

[2022-05-07 06:49] imtoori commented on #1052
@tanjunior yours looks like a permission issue
I'd suggest to check how you set those in the dashboard
Maybe contact support about this since it's not strictly flutter related

[2022-05-09 10:53] mal33k-eden opened #1129 "ValueListenable not accepting userListController"
### Which packages are you using?

stream_chat_flutter_core

### On what platforms did you experience the issue?

iOS, MacOS

### What version are you using?

4.1

### What happened?

The argument type 'StreamUserListController' can't be assigned to the parameter type 'ValueListenable<PagedValue<int, Channel>>'

### Steps to reproduce

[code]

### Supporting info to reproduce

_No response_

### R

[2022-05-09 10:54] imtoori commented on #1129
yeah sorry that's an error
you should use a  PagedValueListenableBuilder<int, User>
I'll update the docs accordingly

[2022-05-09 10:54] #1129 closed

[2022-05-09 17:22] mal33k-eden commented on #1129
the documentation already uses PagedValueListenableBuilder. your proposal doesn't change anything. kindly throw more light on the work around.

[check here ](https://getstream.io/chat/docs/sdk/flutter/stream_chat_flutter_core/stream_user_list_controller/)

[2022-05-09 21:22] realArafatBen opened #1130 "parentMessage not defined on Thread Page"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

stream_chat_flutter: ^4.1.0

### What happened?

After migrating to the new version 4.1.0. am getting `The name parameter 'parentMessage' isn't defined`

### Steps to reproduce

[code]

### Supporting info to reproduce

[code]

### Relevant log outp

[2022-05-09 22:27] tanjunior commented on #908
I saw that some codes from the `desk_web_dev` branch are merged into V4 does that means that the new V4. Should I test V4 instead?

[2022-05-10 07:38] xsahil03x commented on #1130
@realArafatBen have you tried deleting `pubspec.lock` file and running `flutter pub get` again?
Also, can you share your `pubspec.yaml` ?

[2022-05-10 07:51] mkobuolys opened #1131 "Attachment preview screen throws an exception when closing"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter: 4.1.0

### What happened?

An exception is thrown while closing the attachment preview screen.

### Steps to reproduce

[code]

### Supporting info to reproduce

Screen recording:

https://user-images.githubusercontent.com/

[2022-05-10 08:40] #917 closed

[2022-05-10 08:41] realArafatBen commented on #1130
Yes, just deleted my `pubspec.lock` file but got the same error..  `The name parameter 'parentMessage' isn't defined`

By the same this my `pubspec.yaml` file

[code]

[2022-05-10 08:54] xsahil03x commented on #1130
Hey @realArafatBen, I think the issue is with `StreamMessageInput`, not the `StreamMessageListView`. We did some changes in v4 regarding that.

So basically you need to pass a controller with a predefined message.

[code]

Here's the full snippet:
[code]

[2022-05-10 08:54] #1130 closed

[2022-05-10 09:59] realArafatBen commented on #1130
Got it!

[2022-05-10 10:32] imtoori commented on #1091
@Abacaxi-Nelson I'm working on this, but I can confirm that the API call is correct.

[2022-05-10 13:16] mkobuolys opened #1133 "Message actions cannot be overridden in UI"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter: 4.1.0

### What happened?

Even though the message action is customised in the UI, it does not override the default action visibility as described here: https://getstream.io/chat/docs/sdk/flutter/guides/customize_message_ac

[2022-05-11 13:05] imtoori opened #1134 "add channel.membership support"
channel.membership is the `Member` object related to the logged-in user

- add support for `channel.membership`
- add support for `channel.membershipStream` (if it makes sense)

[2022-05-11 13:08] imtoori opened #1135 "persistence storage does not pick hidden channels"

[2022-05-11 15:16] EtcGonza opened #1137 "Limit StreamChannelListController"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter: 4.1.0

### What happened?

Greetings! I am using getStreamChat v4 and in my StreamChannelListView I set the controller a limit of 40 channels. So if I understand it right it should give me 40 channels when StreamChannelList

[2022-05-11 17:30] #1137 closed

[2022-05-11 17:31] EtcGonza commented on #1137
The devs told me that is not possible at the moment to load more than 30 channels.

https://github.com/GetStream/stream-chat-flutter/discussions/1136#discussioncomment-2731941

[2022-05-11 19:03] EtcGonza opened #1138 "Image attachment disappear on StreamMessageInput"
### Which packages are you using?

stream_chat_flutter, stream_chat_localizations

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter: ^4.1.0
stream_chat_localizations: ^3.0.0

### What happened?

Hi! I want to report a strange behavier. In my app I have StreamMessageInput widget and I set a messageInputController to management q

[2022-05-12 03:56] ValentinVignal opened #1139 "Can is support web and desktop?"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

Web, Windows, MacOS, Linux

### Is your feature request related to a problem?

If I go to https://pub.dev/packages/stream_chat_flutter it is written it is only supported on iOS and android.
<img width="537" alt="image" src="https://user-images.githubusercontent.com/32538

[2022-05-12 04:05] ayush221b commented on #1139
Hey @ValentinVignal the work to support Desktop and Web is actively underway. You can track the progress here: https://github.com/GetStream/stream-chat-flutter/pull/913

[2022-05-12 04:05] #1139 closed

[2022-05-12 04:13] ValentinVignal commented on #1139
Thank you @ayush221b , do you have a rough estimation on when it will be deployed?

[2022-05-12 04:16] ayush221b commented on #1131
Hey @mkobuolys this is actually a bug in the photo_view package, mentioned here: https://github.com/bluefireteam/photo_view/issues/502

The issue has actually been fixed in https://github.com/bluefireteam/photo_view/pull/499, but I am not sure why the release is not made yet. We will update the package as soon as they make a pub release with the fix.

[2022-05-12 04:20] ayush221b opened #1140 "Update photo_view package"
Need to update the photo_view package when they publish a new pub release with this fix: https://github.com/bluefireteam/photo_view/pull/499

[2022-05-12 04:22] ayush221b commented on #1131
Closing this bug report in favor of https://github.com/GetStream/stream-chat-flutter/issues/1140

[2022-05-12 04:22] #1131 closed

[2022-05-12 07:26] ayush221b commented on #1139
Hey @ValentinVignal I can't give you a date right now, but we are working on it actively to get it out as soon as possible. We will keep updating the PR and the linked issues, please stay tuned for more updates.

[2022-05-12 08:32] ayush221b commented on #1133
Hey @mkobuolys thank you for pointing this out.

[2022-05-13 08:22] xsahil03x opened #1143 "Experiment with Flutter ListView"
Try replacing `scrollable_positioned_list` with this new `FlutterListView`

https://pub.dev/packages/flutter_list_view

[2022-05-14 04:24] tanjunior opened #1145 "Error: Bad state: Future already completed"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Web

### What version are you using?

stream_chat_flutter: ^3.6.1

### What happened?

ChannelListView causing errors on Web.

Breaks at `dio-4.0.6\lib\src\adapters\browser_adapter.dart` when ran in debug mode.

Runs fine on android.

### Steps to reproduce

[code]

### Supporting info to r

[2022-05-14 05:03] tanjunior commented on #1145
[dio#1454](https://github.com/flutterchina/dio/issues/1454) seems like it's an issue with 4.0.6 of dio. Possible downgrade to 4.0.5?

[2022-05-15 04:32] tanjunior commented on #1145
Happens when the page is rendering `UserListView` and `ChannelListView`

[2022-05-15 09:41] seena98 opened #1146 "Incompatibility with flutter_stripe on flutter version 3 because of freezed_annotation dependancy"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

4.1.0

### What happened?

Because no versions of stream_chat_flutter match >4.1.0 <5.0.0 and stream_chat_flutter 4.1.0 depends on stream_chat_flutter_core ^4.1.0, stream_chat_flutter ^4.1.0 requires stream_chat_flutter_core ^4.1.0.
And because no v

[2022-05-16 08:01] Ayush-gupta-josh opened #1147 "channel.unset not updating the extra data stream"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android, Web

### What version are you using?

4.1.0

### What happened?

Whenever I call `channel.updatePartial(unset: ["assignee"])` where `assignee` is a custom field, the extraDataStream stream doesn't tend update immediately while it used to work in 3.5.0. The changes are reflecte

[2022-05-16 10:03] bhanu-under25 opened #1149 "Thread reply count also include count of deleted message!"
### Which packages are you using?

stream_chat, stream_chat_flutter, stream_chat_flutter_core

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter: ^4.0.0-beta.2
and older versions too!

### What happened?

The reply count shows total number of threadReplies including the count of deleted Messages.

But if the message is not shown

[2022-05-16 13:23] imtoori commented on #1146
we're upgrading the freezed dependency, you'll find it in the next version

[2022-05-16 13:23] #1146 closed

[2022-05-16 13:52] #1133 closed

[2022-05-16 14:05] Ayush-gupta-josh opened #1150 "Calling channel.show() triggers around 10-12 API calls simultaneously to https://chat.stream-io-api.com/channels/messaging"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android, Web

### What version are you using?

4.1.0

### What happened?

I called `channel.show()` which called the show API along with 10-12 query calls for the same channel id to `https://chat.stream-io-api.com/channels/messaging` while `channel.hide()` works as expected.

![image](

[2022-05-16 14:22] imtoori commented on #1149
This is a limitation of the backend, we're waiting for them to fix this, but it's more complicated that it seems

[2022-05-17 08:37] imtoori commented on #1120
This is clearly a permission issue
Please check this section of the documentation https://getstream.io/chat/docs/flutter-dart/user_permissions/?language=dart

[2022-05-17 08:37] #1120 closed

[2022-05-17 09:45] bhanu-under25 commented on #1149
@imtoori heads up thread replies in the sample app is also stopped working! Works weirdly!

[2022-05-17 09:47] imtoori commented on #1149
yep I'm fixing that right now, it's a very small thing

[2022-05-18 08:04] imtoori commented on #1091
@Abacaxi-Nelson sorry for the delay
This is a backend issue that we're fixing probably today

[2022-05-18 08:20] ayush221b commented on #1077
Context:

One very important aspect of building apps is tracking user journeys and understanding what works for the end users and what doesn't. Most modern apps have a very robust analytics system that spans across multiple providers. The app tracks all the user interactions and sends events, which can then be used to craft out journeys, conversion funnels, identify which steps have the maximum dr

[2022-05-18 10:20] xsahil03x commented on #1053
Hey @EtcGonza this should be fixed now.

[2022-05-18 12:46] ayush221b commented on #1077
We have identified a list of standard interactions that the developers might want to track, along with the data attached to them, but please feel free to submit requests for new events to be added to this list.

Identified Interactions:

1. CHANNEL_LIST_VIEW

channelCount (int): The number of channels loaded initially
isSearch (bool): Is this the search view?

2. CHANNEL_LIST_TILE_CLICK

channelId

[2022-05-18 13:06] imtoori opened #1154 "handle `member.updated` events in channel client"
Listen for `member.updated` events in the channel client and update members accordingly

[2022-05-18 13:15] imtoori opened #1155 "Support analytics in stream_chat_flutter"
The Stream Chat Flutter SDK is being picked up by a lot of startups, and for them analytics is very important. This sometimes is so important that developers might have to fork the repository and make changes themselves to suffice their analytics requirements.

[2022-05-18 13:18] #993 closed, assigned to nobody

[2022-05-19 08:16] imtoori opened #1157 "Create a <code class="notranslate">StreamChatAnalyticsClient` in <code class="notranslate">stream_chat_flutter`"

[2022-05-19 08:16] imtoori opened #1158 "Add a <code class="notranslate">StreamChatAnalyticsClient` param to the <code class="notranslate">StreamChat` widget"

[2022-05-19 08:17] imtoori opened #1159 "Create a union class of event types with their respective data points using freezed"

[2022-05-19 08:17] imtoori opened #1160 "Create and expose a stream of Analytics events with the data as part of the StreamChatAnalyticsClient"

[2022-05-19 08:17] imtoori opened #1161 "Trigger/emit the different events into the stream from the interaction points"

[2022-05-19 08:17] imtoori opened #1162 "Write tests to see if all events are being passed correctly or not"

[2022-05-19 08:17] imtoori opened #1163 "Create an analytics implementation in the sample app"

[2022-05-19 08:17] imtoori opened #1164 "Add a guide in the docs for adding analytics and link to the sample implementation for full details"

[2022-05-19 11:34] #985 closed

[2022-05-19 12:43] #1134 closed

[2022-05-19 12:54] #1154 closed

[2022-05-19 13:41] mkobuolys opened #1168 "Emoji-only message gets cut at the top"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter: 4.1.0

### What happened?

Emoji-only messages get cut at the top:
<img width="586" alt="Screenshot 2022-05-19 at 16 39 13" src="https://user-images.githubusercontent.com/17415795/169307203-9578572a-bc16-4b13-9c68-f98f9d870

[2022-05-19 13:47] GroovinChip commented on #1168
Hi @mkobuolys, thanks for letting us know about this. I just attempted to reproduce your issue and was unable to do so - single-emoji messages are not cut off for me.

Here are some screenshots:
![image](https://user-images.githubusercontent.com/4250470/169308458-2e6820b7-db3a-4fd8-8599-df46a5c86bc1.png)
![image](https://user-images.githubusercontent.com/4250470/169308711-a3f94b29-e335-4205-967d-5

[2022-05-19 13:53] KushalxPathak opened #1169 "Can't build in iOS and Android"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

4.0.0

### What happened?

I am trying to integrate stream_chat_flutter (4.0.0) as per the documents in my APP for chat.But as soon as I run pub get with stream_chat_flutter app build fails and I get list of error logs in iOS . In Android I onl

[2022-05-19 13:56] mkobuolys commented on #1168
Ok, it seems that the problem is with `TextTheme` when setting a custom font height:

[code]

Not really an issue, then? I mean, it can be improved by having an `emojiTheme`, just not sure whether this use case would be common.

Please consider but I am ok if you close this for now. Sorry for the noise 🙏

[2022-05-19 14:01] imtoori commented on #1169
can you try running

`flutter clean`
`rm pubspec.lock`
`flutter pub upgrade`

also, can you show me how did you add the dependency in your pubspec file?

[2022-05-19 14:25] KushalxPathak commented on #1169
I did try
` pod deintegrate && rm Podfile.lock && pod install`
`flutter pub upgrade `

I added dependency like `stream_chat_flutter: ^4.0.0`

[2022-05-19 14:34] imtoori commented on #1169
this is quite weird, can you try using ^4.1.0 ?

[2022-05-19 15:12] GroovinChip commented on #1168
Glad to hear the problem has been resolved! Please feel free to let us know if you need any more assistance and we'll be happy to help you out.

Cheers!

[2022-05-19 15:12] #1168 closed

[2022-05-20 03:56] KushalxPathak commented on #1169
No I am not able to Flutter SDK version not supported.

`The current Dart SDK version is 2.14.2.

Because stream_chat_flutter >=4.0.1 depends on flutter_portal >=1.0.0-dev.1 which requires SDK version >=2.16.0 <3.0.0, stream_chat_flutter >=4.0.1 is forbidden.
So, because fit_now depends on stream_chat_flutter ^4.1.0, version solving failed.
pub get failed (1; So, because fit_now depends on stream_

[2022-05-20 08:28] imtoori commented on #1085
this should be fixed by #1144
you'll find the fix in the next release

[2022-05-20 08:28] #1085 closed

[2022-05-20 08:30] imtoori commented on #1038
did you try with v4 @Abacaxi-Nelson ?

[2022-05-20 08:31] imtoori commented on #1145
hey @tanjunior you can try adding
[code]

to your pubspec file

[2022-05-20 08:31] #1145 closed

[2022-05-20 10:32] #1147 closed

[2022-05-20 12:41] xsahil03x commented on #1138
Hey @EtcGonza, I tried replicating the issue but could not do so. After looking at your code, It looks like somehow `Consumer<WidgetMannagmentChatProvider>.builder` is getting called multiple times, which creates a new instance of `StreamMessageInputController`, which resets the currently set image.

Can you try moving the controller instance outside the builder function and see if that works?

Th

[2022-05-20 13:00] imtoori commented on #1169
🤔 can you try release 4.2.0? we fixed a couple of things related to flutter 3

[2022-05-20 13:46] #1117 closed

[2022-05-20 14:11] #942 closed

[2022-05-20 14:11] #1038 closed

[2022-05-20 14:11] #1068 closed

[2022-05-20 14:11] #1052 closed

[2022-05-20 21:26] tanjunior commented on #1145
Thank you!

[2022-05-21 04:10] sdegenaar opened #1173 "v2 push notification IOS sound (no sound)"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS

### What version are you using?

4.0.1

### What happened?

In V1 we could edit the template and you could add "sound":"default" so that when the user gets a chat notification if the app is closed it plays the default sound. In v2 pf push notifications you cannot edit the template anym

[2022-05-21 20:44] trile127 commented on #1113
I get this same error when I upgraded to flutter 3.0

[2022-05-23 05:55] KushalxPathak commented on #1169
@imtoori  Ok so I upgraded flutter (3.0.0) and all the project dependencies too and the problem is solved.
Thanks for the assistance.
Closing this issue now.

[2022-05-23 05:57] KushalxPathak commented on #1169
Close #1169

[2022-05-23 05:57] #1169 closed

[2022-05-23 06:55] KushalxPathak commented on #740
Hey @matthewfx . Looks like I am having same issue as you when I went through your article. I want to know if you can help me understand how should I remove MaterialApp component and use it without one?
Thanks in advance.

[2022-05-23 10:53] imtoori commented on #1173
Hi @sdegenaar it's still possible to update the template, but at the moment you should use the cli
https://getstream.io/chat/docs/sdk/flutter/guides/adding_push_notifications_v2/#ios
read here to get more info

[2022-05-23 10:53] #1173 closed

[2022-05-23 12:46] Ayush-gupta-josh opened #1174 "Channel List is not updated if a message is received in a newly created channel"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android, Web

### What version are you using?

4.1.0

### What happened?

When a message is received in a newly created channel, the channel list is not updated immediately, I have to manually refresh the page for the new channel to reflect in the channel list. I'm using `PagedValueLis

[2022-05-23 16:49] EtcGonza commented on #1138
@xsahil03x . You were right. My consumer was getting called an extra time. Thats was the problem.

My bad, sorry. I will close the issue because the problem was my code.

[2022-05-23 16:49] #1138 closed

[2022-05-24 03:25] ValentinVignal opened #1175 "Create classes/enums to use instead of `String` / `Map`"
### Please select which package this feature is related to

stream_chat, stream_chat_flutter, stream_chat_flutter_core

### Which platforms would this feature impact?

iOS, Android, Web, Windows, MacOS, Linux

### Is your feature request related to a problem?

I'm trying to install stream chat and understand how it works, and what it can do.

Because it uses a lot `String` and `Map`, it becomes qu

[2022-05-24 07:12] xsahil03x commented on #1175
@valentinVignal can you share some code snippets on how you want these to be?

[2022-05-24 08:03] ValentinVignal commented on #1175
For example, the type filter could be

[code]

For the SortOption, it could take an enum instead of a `String`:

[code]

[2022-05-24 10:27] ValentinVignalNovade opened #1176 "`StreamMessageInput` could take a `Iterable<User> usersToMention` parameter"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android, Web, Windows, MacOS, Linux

### Is your feature request related to a problem?

I would like to have dynamic rules on when a user can be mentioned or not in a channel.

A way to do it would be to add the ability to specify by hand the users that can be menti

[2022-05-24 10:28] ValentinVignal opened #1177 "`StreamMessageInput` could take a `List<User> usersToMention` parameter"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android, Web, Windows, MacOS, Linux

### Is your feature request related to a problem?

I would like to have dynamic rules on when a user can be mentioned or not in a channel.

A way to do it would be to add the ability to specify by hand the users that can be menti

[2022-05-24 10:29] ValentinVignalNovade commented on #1176
Closing this in favor of https://github.com/GetStream/stream-chat-flutter/issues/1177

[2022-05-24 10:29] #1176 closed

[2022-05-25 08:25] KushalxPathak opened #1179 "When keyboard appears chat screen shows blank space."
I am facing an issue while using stream_chat_flutter in my app that when typing a message the chat screen pulls up more than it should. This is not a issue I suppose so adding it as a normal question or help.
Thanks for the help.

https://user-images.githubusercontent.com/94827568/170216652-50c74658-0ce7-4d90-a7bd-015de2492ca0.mp4

[2022-05-26 08:04] imtoori commented on #1175
Hey @ValentinVignal we already have a [Filter class](https://github.com/GetStream/stream-chat-flutter/blob/develop/packages/stream_chat/lib/src/core/models/filter.dart)
You can read more [here](https://getstream.io/chat/docs/sdk/flutter/guides/understanding_filters/)

About the `SortOption`, having a `String` is more flexible since you can use a broad variety of fields, even custom ones

[2022-05-26 08:04] #1175 closed

[2022-05-26 15:24] EtcGonza opened #1180 "White screen when open a document"
### Which packages are you using?

stream_chat_flutter, stream_chat_localizations

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

Flutter 2.10.2

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  stream_chat_flutter: ^4.1.0
  stream_chat_localizations: ^3.0.0

### What happened?

Hi! I want to report a issue. If a send a document and open i

[2022-05-28 16:08] MinseokKang003 opened #1181 "StreamMessageSearchListView loads infinitely"
### Which packages are you using?

stream_chat_flutter, stream_chat_flutter_core

### On what platforms did you experience the issue?

iOS

### What version are you using?

Stream Chat Flutter 4.2.0
Stream Chat Flutter Core 4.2.0

### What happened?

`StreamMessageSearchListView `loads infinitely after data is completely loaded.(Loading Indicaor doesn't disappear.)

I'm seeing this issue on the de

[2022-05-30 11:54] g-apparence commented on #1086
Having same problem.
This randomly happens and make app crash...

Why does stream chat widgets not running in a separate zone ?
If not working showing a retry or just prevent crash ?

[2022-05-30 12:58] imtoori commented on #1179
hey @KushalxPathak can you show me the code you're using to show the list of messages + the input?

[2022-05-30 13:00] imtoori commented on #1086
hey @g-apparence we're constantly trying to reproduce this bug and solve it, do you have more information on how to reproduce it?

[2022-05-30 13:11] g-apparence commented on #1086
I don't have many reproducing cases as it randomly happens.
Anyway, I have some sentry logs that happen many times a day.
![Capture d’écran 2022-05-30 à 15 10 08](https://user-images.githubusercontent.com/48241546/170999172-a34de47e-4903-40a2-9d85-2e30b01e1328.png)
Happens on both Android and iOS.
Our client is starting to get nervous about the chat...

[2022-05-30 13:16] KushalxPathak commented on #1179
I am following the example mentioned in documentation.

class ChannelPage extends StatelessWidget
{
  @override
  Widget build(BuildContext context) {
    return Scaffold(
      appBar: const StreamChannelHeader(),
      body: Column(
        children: const <Widget>[
          Expanded(
            child: StreamMessageListView(),
          ),
          StreamMessageInput(),
        ],
      ),

[2022-05-31 09:27] imtoori commented on #1174
hey @Ayush-gupta-josh could you show me how do you create the channel?

[2022-05-31 09:33] KushalxPathak commented on #1179
I might be, Actually what I think is that I am using `StreamChat(
          client: client,
          child: widget,
        );` in a MaterialApp as shown in example like this

[code]
so basically it's nested Material APP in main MaterialAPP.
But when I tried to Use it with out putting it in a Material app like this,

[code]
I get  `ChannelListPage()` working perfectly fine but `ChannelPage()` sho

[2022-05-31 09:36] KushalxPathak commented on #1179
@imtoori  I also came across this issue raised before by some one #740 .

[2022-05-31 09:45] imtoori commented on #1179
mmm `StreamChat` is not a `MaterialApp`, you always need to wrap it in a `MaterialApp`
#740 was a bit different, since they were actually using a nested `MaterialApp`

But wait a sec, maybe I don't have the full image: are you using the `StreamChat` widget under the chat tab only wrapping it in a MaterialApp? is that the case?

[2022-05-31 09:58] KushalxPathak commented on #1179
@imtoori  yes that's what I am doing. Let me explain the widget flow.
MaterialAPP(root MaterialAPP)->HomePage with Bottom Navigator->In this the Chat tab has MaterialAPP->StreamChat()->home gf this Material APP is StreamChannel() and so fourth.

[2022-05-31 10:01] imtoori commented on #1179
I think you can put the `StreamChat` widget in your first `MaterialApp`
If you want to connect only when you're on the chat tab I think you can just defer the `connectUser` call

[2022-05-31 10:27] imtoori commented on #1181
hey @MinseokKang003 this is not happening to me
can you share the code you're using?

[2022-05-31 11:12] KushalxPathak commented on #1179
OK that worked like a charm.
What I did is I put `StreamChat()` in my first `MaterialApp`, and put the `StreamChannel()` in Chat Tab in Bottom Navigator.
Still got the issue of that bottom space because I am using persistent Bottom navigator tab , So I changed Navigator of `ChannelPage()` to Get Navigation routing (I am using Get X as a State Management in this project). and It Pushed `ChannelPage

[2022-05-31 11:12] #1179 closed

[2022-05-31 16:08] dbrezack opened #1184 "Filtering nested objects with other filters."
### Please select which package this feature is related to

stream_chat_flutter_core

### Which platforms would this feature impact?

_No response_

### Is your feature request related to a problem?

Currently this is possible
[code]
`Filter.equal('someObj', {'id': 1234})`
This solution ONLY works with equal. Not autocomplete

### Describe the solution that you'd like

Some form of nesting operato

[2022-05-31 19:20] FCView commented on #1102
I am receiving this on 4.1.0. My users are getting the same "You don't have permission to send messages" error.

They can send messages again after restarting the app.

I see that this is added to Sprint 6, following for any updates/fixes.

[2022-06-01 13:04] #1159 closed

[2022-06-01 13:21] imtoori opened #1185 "GUIDE: group StreamUserListView alphabetically"
Create a new guide on how to group users alphabetically using our StreamUserListView or even a custom list using the core package

[2022-06-02 09:47] Ayush-gupta-josh opened #1187 "InvalidAccessError: Failed to execute 'close' on 'WebSocket': The code must be either 1000, or between 3000 and 4999. 1001 is neither."
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Web

### What version are you using?

stream_chat_flutter: ^4.2.0

### What happened?

On the web, we are getting a lot of sentry error logs of this. When a user simply using the chat this issue will come up
![minified_zu_ InvalidAccessError_ Failed to execute 'close' on 'WebSocket'_ The co

[2022-06-02 14:21] ManasviPatidar opened #1190 "extraData Persistence Issue"
### Which packages are you using?

stream_chat_flutter, stream_chat_persistance

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat V3.6.1

### What happened?

Facing a bug with updating extra-data in local storage of the stream_chat_persistence package.

### Steps to reproduce

[code]

### Supporting info to reproduce

_No response_

##

[2022-06-02 22:18] Ahmadre opened #1191 "[security]: integrate Signal-Protocol"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android, Web, Windows, MacOS, Linux

### Is your feature request related to a problem?

No.

### Describe the solution that you'd like

Is it possible to integrate the Signal Protocol into the message exchange?

A possible solution for dart-only is here: https://pub

[2022-06-06 07:36] imtoori commented on #1184
hey @dbrezack I'm sorry but the backend doesn't support nested filtering of custom objects at the moment

[2022-06-06 07:36] #1184 closed

[2022-06-07 11:10] #1181 closed

[2022-06-08 08:31] ayush221b commented on #1191
Hey @Ahmadre thank you so much for your suggestion. Stream already has end-to-end encryption for chat, you can read more about it here: https://getstream.io/blog/end-to-end-encrypted-chat-in-flutter/

[2022-06-08 08:31] #1191 closed

[2022-06-08 08:40] #1187 closed

[2022-06-08 08:44] ayush221b commented on #1177
HI @ValentinVignal thank you so much for reaching out and taking the effort to open a pull request. We were discussing this internally and I think the solution propose is very specific to this particular use case. We are working on ways to address the problem in a generic way so that it can be implemented at an SDK level. We have included this issue in our current sprint and we will keep you in th

[2022-06-08 08:47] imtoori commented on #1177
+1 on that, I think the best solution would be to let you pass a filter that we can apply to the call that we use to fetch the users
it shouldn't be too hard to implement

[2022-06-08 08:47] ayush221b commented on #1190
Hey @ManasviPatidar thank you for reporting this to us. The steps to reproduce this are pretty clear, I will try it on my end and let you know asap.

[2022-06-08 09:07] ManasviPatidar commented on #1190
To be more specific the change in extra data has to be `unset`.

[2022-06-08 09:59] adityathakur8929 opened #1192 "User's online status remains false even when user is active"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android, Web

### What version are you using?

stream_chat_flutter: 4.1.0

### What happened?

As per investigation, it seems that user's online status is not marked true on stream dashboard now
which was working fine couple of weeks ago.
And there are not any code changes related to t

[2022-06-08 13:04] #778 closed

[2022-06-08 13:41] flodaniel opened #1194 "PhotoManager.requestPermissionExtend() called too soon"
### Which packages are you using?

stream_chat_flutter, stream_chat_persistance, stream_chat_localizations

### On what platforms did you experience the issue?

iOS

### What version are you using?

  stream_chat_flutter: ^4.2.0
  stream_chat_localizations: ^3.1.0
  stream_chat_persistence: ^4.1.0

### What happened?

The native iOS permissions dialog for photo access opens as soon as the `_Picker

[2022-06-08 15:21] flodaniel opened #1196 "Bring back quotedMessage for new StreamMessageInput"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android

### Is your feature request related to a problem?

When upgrading to version 4, the new `StreamMessageInput` lost its property `quotedMessage`, which made it really simple to reply to a message by swiping it and then seeing it in the `MessageInput`, when re

[2022-06-08 16:13] flodaniel opened #1197 "User.name missing within message.user object"
### Which packages are you using?

stream_chat_flutter, stream_chat_persistance, stream_chat_localizations

### On what platforms did you experience the issue?

iOS

### What version are you using?

  stream_chat_flutter: ^4.2.0
  stream_chat_localizations: ^3.1.0
  stream_chat_persistence: ^4.1.0

### What happened?

Message.user does not match the actual user object. `name` is missing
This is ho

[2022-06-08 23:38] bhayatus commented on #1140
Looks like there is a new release of the package on pub.dev: https://pub.dev/packages/photo_view/versions/0.14.0

[2022-06-09 08:07] ayush221b commented on #1140
Hey, thanks for pointing it out, I will see if this solves the issue, and if we can upgrade. Moving this issue out of blocked.

[2022-06-09 09:14] #1102 closed

[2022-06-09 14:45] imtoori opened #1199 "Fix MessageReactionsModal/MessageActionsModal reaction alignment on mobile"
In some particular cases, the reaction picker alignment is a slightly wrong
![image](https://user-images.githubusercontent.com/20601437/172875254-831f4d42-1cc9-4002-89ee-7e367ce0cadf.png)

Also, the logic to compute the alignment is different between the reaction and the action widget

[2022-06-10 07:35] #1140 closed

[2022-06-10 12:24] #1135 closed

[2022-06-13 07:40] #1196 closed

[2022-06-13 07:50] #1185 closed

[2022-06-13 09:24] #996 closed

[2022-06-13 09:51] xsahil03x opened #1203 "Refactor messageInput overlays"

[2022-06-13 12:55] #1011 closed

[2022-06-13 17:01] EtcGonza opened #1205 "StreamMessageInput: Gallery shows empty"
### Which packages are you using?

stream_chat

### On what platforms did you experience the issue?

Android

### What version are you using?

stream_chat_flutter: ^4.2.0

### What happened?

Greetings!! I have an issue. When I tap on the attachment button and I go to the gallery option it's shows empty and I have photos there. I noticed that this behavier happens in Android 10 and 11. On android

[2022-06-13 17:06] EtcGonza commented on #1205
I found a solution. In add these lines of permission in my manifest and the **requestLegacyExternalStorage** attribute in the application tag. Now the gallery option shows content.

[code]

I don't know if it's necessary but... maybe this should be added in the documentation of GetStream for the future.

[2022-06-14 09:57] imtoori commented on #1150
Hi @Ayush-gupta-josh this is not happening for me
Do you have any additional information on this?

[2022-06-14 13:39] imtoori commented on #1184
yeah I shared the feature request, but this is the flutter SDK repo, that's why I closed the issue

[2022-06-15 09:11] #943 closed

[2022-06-15 11:36] #1190 closed

[2022-06-15 12:38] ayush221b opened #1208 "Add Custom Emoji Support"
Customers might have a set of custom emojis that they would like to use.

1. Figure out the best way to support custom emojis
    Should we support an emoji picker that can pick a data source which is default or custom or both?
2. What is the simplest way to use custom emojis? Can it fit in a guide, or a blog post? Does it need a fully functional example?

[2022-06-15 13:19] imtoori commented on #1177
closing this in favor of #1203

[2022-06-15 13:19] #1177 closed

[2022-06-16 11:10] #1192 closed

[2022-06-16 12:47] tarunkhatri opened #1211 "Show in chat and Reply not working"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

4.2.0

### What happened?

Show in chat is not working and Reply is just closing detail screen. Please add some parameters so that we can show/hide these buttons or just add some functionality for them thanks.
![untitled](https://user-images.gi

[2022-06-17 10:22] #1014 closed

[2022-06-17 12:16] #1012 closed

[2022-06-20 09:51] #1194 closed

[2022-06-20 12:17] #973 closed

[2022-06-21 12:48] ufukhawk opened #1217 "Details are not visible when notification is received."
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

stream_chat_flutter: ^4.3.0

### What happened?

The detail and title of the message notification are not visible.

my Notification Template :

    `{
        "sender": "stream.chat",
        "type": "message.new",
        "version": "v2",
        "

[2022-06-22 07:59] Ayush-gupta-josh commented on #1150
@imtoori Checked it on the latest 4.3 version whenever channel.show() is called it triggers multiple channel queries as you can see in above screenshots

[2022-06-22 08:07] imtoori commented on #1150
could you provide a snippet or a sample app to reproduce the issue?

[2022-06-22 10:44] Ayush-gupta-josh commented on #1150
Difficult for me to replicate the exact scenario since we have a lot of custom functionality. But I also tried recreating this sample app working fine there. I will look into this a bit more and will write here if I find something on my end.

[2022-06-23 09:34] niteshsh4rma opened #1219 "`Bad State: Stream had already been listened to` on StreamChat page"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Web

### What version are you using?

4.3.0

### What happened?

When StreamChat page is opened, error occured,
`
Bad State: Stream had already been listened to
`
![Screenshot from 2022-06-23 15-00-00](https://user-images.githubusercontent.com/58659088/175266930-9660fd40-b225-4b8a-be94-0bd1

[2022-06-23 10:58] imtoori commented on #1150
sounds good, if you tried creating a new app and it works fine it's probably something on your side
let me know

[2022-06-23 10:59] KushalxPathak commented on #1217
@ufukhawk  Hey I am at point where I am integration notifications in my app for Stream Chat.
I followed documents for V2 Notification integration but I am not receiving any notifications in android device. Can you help
me out? Thanks you.

[2022-06-23 11:01] imtoori commented on #1217
did you try this https://getstream.io/chat/docs/sdk/flutter/guides/adding_push_notifications_v2/#testing-if-push-notifications-are-setup-correctly

[2022-06-23 11:06] KushalxPathak commented on #1217
I tried to do that but I get this error.
`git@github.com: Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
`

[2022-06-23 11:09] imtoori commented on #1217
you can try cloning like this `git clone https://github.com/GetStream/chat-push-test.git`
it's the same

[2022-06-23 11:54] imtoori commented on #1197
I can't manage to reproduce this issue, do you have more info on this?

[2022-06-23 11:55] imtoori commented on #1149
Closing this since it's a backend issue

[2022-06-23 11:55] #1149 closed

[2022-06-23 11:57] imtoori commented on #1086
@g-apparence I think your issue is different, can you show me how you connect the user?

[2022-06-23 11:58] #1205 closed

[2022-06-23 12:01] KushalxPathak commented on #1217
I am getting this message `zsh: parse error near `\n'` while running `stream chat:push:test -u <USER-ID>` command with updated User ID.

[2022-06-23 13:25] KushalxPathak commented on #1217
stream chat:push:test -u <fDaDYAB4TqSyrNOlmtm62O:APA91bEfjn0tyTe9Z2xqU7qcvKgiwHbz-aRTNe4J6LRfYz6zM1CjXufAu7bwJy48YqRr-upF3ehyngjrGJZHFM9kCVak_L1IjZEFFV6sPKSMqbdiUZG2n3YOnqUQQLC21NO_g1iSaY2o>

[2022-06-23 13:44] arteminthesky opened #1220 "Incorrect behavior of mentions"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS

### What version are you using?

4.3.0

### What happened?

The problem is StreamMessageInput forces replacing all mentions (which is @{username}) with user id.
So, we have following problems:
1. Web version shows @{id} instead normal mention
2. Push notifications also send notificatio

[2022-06-23 13:48] arteminthesky commented on #1220
Also web implementation haven't something similar:
https://github.com/GetStream/stream-chat-react/blob/develop/src/components/Channel/Channel.tsx#L580

[2022-06-23 21:40] arteminthesky commented on #1211
Hi! You can hide the Reply button with showReplyMessage parameter of the StreamMessageWidget.
You can provide this parameter by setting it in the messageBuilder of the StreamMessageListView.

`
StreamMessageListView(
        ....
        messageBuilder: BuildContext context, BaseProfile artist, StreamMessageInputController? inputController) {
               return widget.copyWith(showReplyMessage:

[2022-06-24 04:15] KushalxPathak commented on #1217
@imtoori  Yes this worked !!
For the first time it says `no application configured, please run `stream-cli config new` to add a new one` . After setting up the Application I ran `stream-cli chat test-push --user-id your-id` and I got the notification.

[2022-06-24 08:03] imtoori commented on #1217
ok so there might be something wrong with your integration of push notifications
Try looking at the Flutter app in this repo and see what you're missing https://github.com/GetStream/chat-push-test.git

[2022-06-28 10:56] matthewfx commented on #1194
@imtoori Hey, I've just updated to 4.3.0 but unfortunately, the permission alert view is still being displayed as soon as the StreamChannel widget is being displayed. It shouldn't happen until the user wants to add an attachment.

[2022-06-30 08:10] imtoori commented on #1194
@matthewfx I think you're still using the deprecated `MessageInput` widget, can you try using the `StreamMessageInput`?
You can read here how to migrate https://getstream.io/chat/docs/sdk/flutter/guides/migration_guide_4_0/#messageinput-to-streammessageinput

[2022-06-30 08:13] matthewfx commented on #1194
@imtoori uh oh... That's possible I haven't noticed it is deprecated. Will give it a go. Thank you :)

[2022-06-30 12:12] #1197 closed

[2022-06-30 18:45] Hwan-seok opened #1227 "StreamMessageInput throws PlatformException(camera_access_denied)"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter: 4.3.0

### What happened?

When trying to open camera or video directly at attachment in StreamMessageInput with denied permenatly permission, it throws PlatformException(camera_access_denied).

It should provide the callba

[2022-07-01 06:53] Hwan-seok opened #1228 "Downloading the image does not working"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS

### What version are you using?

4.3.0

### What happened?

When trying to download the image as follows, the error came out and indefinitely hangs out

### Steps to reproduce

[code]

### Supporting info to reproduce

_No response_

### Relevant log output

[code]

### Flutter analyze

[2022-07-01 07:18] Hwan-seok opened #1229 "Reply button does not responses."
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

4.3.0

### What happened?

When tapping the reply button, it responds nothing.
It only closes the gallery page.

### Steps to reproduce

[code]

### Supporting info to reproduce

_No response_

### Relevant log output

_No response_

### Flutte

[2022-07-01 07:20] Hwan-seok opened #1230 "Show in chat button is not working"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

4.3.0

### What happened?

When tapping the `Show in Chat` button, it responses nothing.

### Steps to reproduce

[code]

### Supporting info to reproduce

_No response_

### Relevant log output

_No response_

### Flutter analyze output

_No r

[2022-07-01 07:24] imtoori commented on #1229
To make the reply button in the gallery work you should use the `StreamMessageListView.onMessageSwiped` function.
I get that it's not clear and that we shouldn't show the button if you don't pass the callback, that's what we're doing on v5. (at the moment it's in beta)

[2022-07-01 07:24] #1229 closed

[2022-07-01 07:26] imtoori commented on #1230
To make the `Show in Chat` button work you should the `MessageWidget.onShowMessage` property using the `StreamMessageListView.messageBuilder`
More info on this page https://getstream.io/chat/docs/sdk/flutter/guides/customize_message_widget/
Let me know if you have any questions

[2022-07-01 07:26] #1230 closed

[2022-07-01 09:09] Ayush-gupta-josh opened #1231 "Multiple Issues related to attachments on web"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Web

### What version are you using?

5.0.0-beta.1

### What happened?

- [ ] Video Thumbnail Not loading at all, shows red warning size instead
- [ ] Clicking on a video while the upload is in progress opens Red Error Screen
- [ ] Save Video / Save Image not working from the attachment pre

[2022-07-01 15:49] EtcGonza opened #1232 "Custom divider builder not showing"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

  stream_chat_flutter: ^4.3.0

### What happened?

Hi! I have in my app a StreamMessageListView with a custom date divider and showFloatingDateDivider in false because my app doesn't need floating dividers.

This is my code

[code]

With this c

[2022-07-04 03:40] nitishk72 opened #1233 "Attachment Format type `map` missing"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter: ^4.3.0

### What happened?

Flutter has 3 limited types for attachments (audio, image, or video).
I want to extend the attachment type to something like a map and a few others.

I find one example that `react` supports map

[2022-07-04 07:35] xsahil03x commented on #1233
Hey @nitishk72, both of these use cases can be easily done using custom attachments. Here's a guide which can help you.

https://getstream.io/chat/docs/sdk/flutter/guides/adding_custom_attachments/

[2022-07-04 08:29] xsahil03x commented on #1232
Hey @EtcGonza, I tried reproducing your issue but it's working fine for me. Can you share a sample code snippet where I can replicate this?

Thanks.

[2022-07-04 08:41] dokumanx opened #1234 "Null check operator used on a null value"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter_core: ^4.3.0
stream_chat_flutter: ^4.3.0

### What happened?

I used `StreamChannelListView` to display available channels. But in `StreamChannelListTile`, `StreamSendingIndicator` throws an exception. `channelState.currentU

[2022-07-04 09:07] xsahil03x commented on #1234
Hey @dokumanx, Can you confirm if you are also connecting the user first before opening the channel list?

[2022-07-04 09:14] dokumanx commented on #1234
Hey @xsahil03x, thank you for your response. Yes, I can confirm.

[2022-07-04 13:31] #1234 closed

[2022-07-05 04:49] matthewfx commented on #1194
@imtoori Just wanted to confirm that after replacing deprecated `MessageInput` with its successor everything works fine. Thank you!

[2022-07-05 09:44] mal33k-eden opened #1238 "StreamMessageListView senders message tile doesn't show text until you tap on the tile."
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS

### What version are you using?

4.3.0

### What happened?

The message tile for  senders appears blank when messages are received.
the text in the message tile only shows when you tap on the tile.

The texts starts to act in a blinking manner.

### Steps to reproduce

[code]

### Supp

[2022-07-05 09:48] imtoori commented on #1238
hi @mal33k-eden
this is not happening for us, do you have a reproducible example? I tried using the example in the package and the [sample app](https://github.com/GetStream/flutter-samples/tree/main/packages/stream_chat_v1) too

[2022-07-05 09:49] mal33k-eden opened #1239 "Unable to StreamChatPersistenceClient to client"
### Which packages are you using?

stream_chat_flutter, stream_chat_persistance

### On what platforms did you experience the issue?

iOS

### What version are you using?

4.3.0

### What happened?

When i try to initialise StreamChatPersistenceClient to StreamChatClient it throws and error

The instance member 'chatPersistenceClient' can't be accessed in an initializer.
Try replacing the referenc

[2022-07-05 09:50] imtoori commented on #1239
Where are you running this code? is it in the main or where else?

[2022-07-05 09:53] mal33k-eden commented on #1238
hell @imtoori  thanks for your response

i have pasted my exact code below for the message page

[code]

[2022-07-05 10:21] mal33k-eden commented on #1239
hello @imtoori

initializing it in the main method resolves it.

thanks

[2022-07-05 11:01] #1239 closed, assigned to imtoori

[2022-07-05 11:47] imtoori commented on #1086
#1237 might fix this issue
Can you try and let me know?

[2022-07-05 13:43] imtoori opened #1240 "Substitute mentioned user ids with user names in system message"

[2022-07-05 22:30] mal33k-eden commented on #1238
@imtoori  i am sorry but i am not sure i get what you request of me.

do you require i send you the entire code base?   i have installed this [the example in the package](https://github.com/GetStream/stream-chat-flutter/tree/develop/packages/stream_chat_flutter/example/lib) application and run it on my system. i am not sure exactly what you want me to look out for.

kindly clarify so i provide you

[2022-07-06 07:58] KennedyChiang opened #1241 "StreamChannelListView load Indicator non stop"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

stream_chat_flutter: ^4.1.0

### What happened?

StreamChannelListView load Indicator non stop when hide and show a channel.

### Steps to reproduce

[code]

### Supporting info to reproduce

[code]

### Relevant log output

[code]

Don't know why t

[2022-07-06 08:12] imtoori commented on #1238
Do you have the issue that you reported even in the sample app? I'm trying to understand if this is actually related to the SDK or not, because I cannot reproduce it

[2022-07-06 08:20] imtoori opened #1242 "Desktop Support"

[2022-07-06 08:20] imtoori opened #1243 "Web Support"

[2022-07-06 08:49] imtoori opened #1244 "Refactor StreamMessageListView to controller pattern"

[2022-07-06 09:14] imtoori commented on #1220
Hi @arteminthesky
the react sdk does the same thing https://github.com/GetStream/stream-chat-react/blob/837c2f2c219b94ec5cc11fc4b8c350d12687e3ac/src/utils.tsx#L134-L137
The backend is working on a fix for doing the same on push notifications
I'll close this issue since it's not really related to the flutter sdk

[2022-07-06 09:14] #1220 closed

[2022-07-06 09:29] xsahil03x commented on #1220
Hey @arteminthesky, the reason we convert the username to id before sending the message is that there can be similar usernames but not Id.

You can also look at this issue for more info.
https://github.com/GetStream/stream-chat-flutter/issues/1099

[2022-07-06 09:31] imtoori commented on #1227
Thanks for reporting the issue
We need to explicitly ask for permissions
Adding this to the next sprint (starting today)

[2022-07-06 12:35] xsahil03x opened #1247 "Jiffy locale initialisation trims country code"
### Discussed in https://github.com/GetStream/stream-chat-flutter/discussions/1245

<div type='discussions-op-text'>

<sup>Originally posted by **Brazol** July  6, 2022</sup>
When Jiffy locale is initialized inside StreamChatState only languageCode is passed. Is that intended?

![image](https://user-images.githubusercontent.com/5622717/177544777-c9eff72d-98b2-43eb-94b0-9c01643fbb67.png)

When curr

[2022-07-06 13:25] imtoori commented on #1227
- Ask explicitly for permission
- If the permission is not granted and the user taps the camera show a dialog redirecting to app settings

[2022-07-06 13:26] #1203 closed

[2022-07-06 13:28] imtoori opened #1248 "Refactor StreamMessageInput creating a "ui" controller"
The idea is to move all the logic that handles the UI to a separate controller
That could be used to:
- opening/closing the file picker
- showing overlays
- ...

---
- [x] #989
- [ ] Refactor attachment picker to bottom sheet

[2022-07-06 13:33] #1024 closed

[2022-07-06 13:33] imtoori opened #1249 "Migrate sample app to Desktop"

[2022-07-06 14:43] Brazol opened #1250 "Text scale accessibility issues caused by use of WidgetSpan"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

4.3.0

### What happened?

There are multiple places where WidgetSpan is used, ex in MessageWidget:
![image](https://user-images.githubusercontent.com/5622717/177576158-efc6a1d8-287c-4be7-9a60-494ab1d998bf.png)

WidgetSpan is reacting to textSc

[2022-07-07 05:26] ankitTiwar opened #1252 "Data Payload issue"
### Which packages are you using?

stream_chat_flutter_core

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

  stream_chat_flutter_core: ^4.2.0

### What happened?

We are not getting the click_action key in the data payload for redirection on the particular screen

<img width="794" alt="MicrosoftTeams-image (1)" src="https://user-images.githubus

[2022-07-07 09:04] imtoori opened #1254 "Update push notifications guide mentioning the dashboard templates"
Update [this section](https://getstream.io/chat/docs/sdk/flutter/guides/adding_push_notifications_v2/#receiving-notifications) of the guide mentioning the dashboard ui for updating templates

[2022-07-07 09:06] imtoori commented on #1252
hey @ankitTiwar
we don't add the `click_action` by default
Did you use the template on your dashboard to add this field? https://dashboard.getstream.io/app/<YOUR-APP-ID>/chat/push/single/firebase/

[2022-07-07 09:08] imtoori commented on #1219
Hi, can you give us more detail?
I'm trying using the example in the package and it's working fine

[2022-07-07 10:19] #1247 closed

[2022-07-07 13:52] imtoori opened #1257 "Change file limit upload to 100MB"

[2022-07-07 19:22] EtcGonza commented on #1232
Hi! @xsahil03x . Today I tryed to use custom date dividers in the samples [https://github.com/GetStream/flutter-samples](url).

I run the stream_chat_v1 sample and modified the StreamMessageListView in the channel_page.dart. And the date divider doesn't appearce. This is my modiffied code of the sample.

[code]

The only changes I did is the *showFloatingDateDivider* to false and set *dateDividerB

[2022-07-08 09:20] imtoori opened #1258 "Use dynamic resized images"

[2022-07-09 22:26] luvishq commented on #47
@barancezayirli : were you able to solve the issue ? I am in a similar situation right now . @imtoori : any solution for this ?

[2022-07-10 05:41] CalHoll commented on #1227
@imtoori on a similar note, when using `StreamMessageInput`, with `disableAttachments` set to true, when the widget builds it still requests to allow the app to access photos media and files on the device.

This should only happen when a user taps the attach button - and it shouldn't happen at all if the feature is disabled.

Is this thread ok for the permissions issue or should I open another iss

[2022-07-11 07:58] #1232 closed

[2022-07-11 10:14] Ayush-gupta-josh commented on #1231
@imtoori Any timeline for the resolution of above issues

[2022-07-11 13:08] #1077 closed

[2022-07-11 13:57] imtoori commented on #1231
I think a couple of weeks is reasonable, we're gonna include those in the next v5 releases

[2022-07-11 16:02] CalHoll commented on #1227
My apologies, I've been locked on a previous version due to another dependency (4.1.0). Glad to hear it's resolved in newer releases, will upgrade ASAP. :-)

[2022-07-12 12:22] #1086 closed

[2022-07-13 09:11] #1238 closed

[2022-07-13 13:20] imtoori commented on #1040
closing this in favor of https://github.com/GetStream/flutter-internal-board/issues/10

[2022-07-13 13:20] #1040 closed

[2022-07-13 13:47] imtoori commented on #1208
Using #989 it's very easy to achieve this. Let's write a guide on it.

[2022-07-13 13:57] imtoori opened #1264 "Refactor typing flow moving it to the `StreamMessageInput` widget"
- [ ] Move the log to the `StreamMessageInput`
- [ ] Add onTypingStarted/stopped callbacks in `StreamMessageInput`

[2022-07-13 13:57] imtoori commented on #882
closing this in favor of #1264

[2022-07-14 06:11] bhavy5145 commented on #1252
Can you Let us know how to add it?
When I tried to add it is adding in notification payload and not in data payload,
we need the key to be added to the data payload.

[2022-07-14 09:11] #1252 closed

[2022-07-14 13:14] imtoori opened #1265 "Let users add interceptors to the http client"

[2022-07-14 16:17] EtcGonza opened #1266 "Mute method mutes the logged user"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

  stream_chat_flutter: ^4.4.0

### What happened?

Hi! I created a issue a few months ago about the mute/unmute feature #1053 . The most of the issues I reported are solved, but one still.

When I mute a user adds the id of the user logged. If

[2022-07-15 09:25] imtoori commented on #1211
Hi
We're improving this in v5, but you can still use it at the moment
[code]
Basically, you need to pass the `onReplyTap` callback to the message widget

[2022-07-15 09:25] #1211 closed

[2022-07-15 09:26] #1125 closed

[2022-07-15 10:50] NiyazFazlyev commented on #1181
@imtoori  I have the same problem.
I used example from docs https://getstream.io/chat/docs/sdk/flutter/stream_chat_flutter_core/stream_message_search_list_controller/
I noticed that nextPageKey is always not null

[code]

[2022-07-16 08:21] ManasviPatidar opened #1269 "CastError at PagedValue.asSuccess"
### Which packages are you using?

stream_chat, stream_chat_flutter, stream_chat_flutter_core, stream_chat_persistance

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_persistence: ^4.3.0
stream_chat_flutter: ^4.4.0
stream_chat_flutter_core: ^4.4.0
stream_chat: ^4.4.0

### What happened?

Receiving the following errors on sentry:-
htt

[2022-07-18 07:34] luvishq opened #1270 "StreamChannelListView constantly reloading the list view"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS

### What version are you using?

4.4.0

### What happened?

I am using the StreamChannelListView as below :

[code]

It seems the list is constantly updating and redrawing after 5-10 seconds, is there way to fix and redraw the channel list item which is updated instead of loading the e

[2022-07-18 09:57] xsahil03x commented on #1270
Hey @luvishq, can you share a small video for the same?
Also, can you enable logs in your app and send them to us?

[code]

[2022-07-19 09:43] NiyazFazlyev opened #1271 "StreamMessageSearchListView always show loading indicator"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

4.3.0

### What happened?

When I am using StreamMessageSearchListView widget I always see loading indicator after data is completely loaded.
This issue repeats https://github.com/GetStream/stream-chat-flutter/issues/1181

### Steps to reproduc

[2022-07-19 10:46] adityathakur8929 commented on #1174
@imtoori

This is how channel is being created at the backend, where stream_chat_client is initialized using
stream-chat package for python and its version is 4.3.0
[code]

[2022-07-19 11:15] imtoori commented on #1241
hey @KennedyChiang this is not happening to me and I'm using the snippet you provided
Can you post the whole widget you're using?
This is what I'm doing and it's working fine for me

[code]

[2022-07-19 14:05] adityathakur8929 opened #1272 "Stream user's online flag does not get updated in real time. There is some delay in updation of user's online flag."
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

4.1.0

### What happened?

When a user has minimized or closed the app the stream user's online flag take some delay in updating its value on stream.

### Steps to reproduce

[code]

### Supporting info to reproduce

_No response_

### Relevant

[2022-07-19 14:31] imtoori commented on #1091
@Abacaxi-Nelson I'm closing this since it's a backend issue and the team should start working on this asap

[2022-07-19 15:21] imtoori opened #1273 "Check `assert` usages and replace with exceptions where needed"
Assert only runs in debug

[2022-07-19 15:22] imtoori opened #1274 "Let users disable connection handling in `StreamChat`/`StreamChatCore`"

[2022-07-20 03:39] mark-heyylife commented on #1271
Hi Imtoori,
I have the same problem with StreamChannelListView
GetStream version: 4.4.0
Reproduce steps:
1. Implement StreamChannelListView as example
2. Click one item in StreamChannelListView to open StreamChannel
3. Send and receive message in opened channel.
4. Go back to StreamChannelListView
==> Loading more indicator is shown and can't be dismissed

[2022-07-20 08:56] niteshsh4rma commented on #1219
Sorry for the late response, the package causing it `connectivity_plus_web` has released a fix for this. https://github.com/fluttercommunity/plus_plugins/pull/943

[2022-07-20 09:00] #1219 closed

[2022-07-20 12:58] imtoori opened #1275 "Remove emoji autocomplete trigger from the sdk"
- [ ] Remove the trigger from the SDK
- [ ] Add the trigger to the sample app
- [ ] Create a guide on how to do it

[2022-07-21 11:26] #989 closed

[2022-07-21 12:08] imtoori opened #1276 "Uploading very big video slows down the app"
There are two possible problems:
- we're saving the attachment bytes to the offline storage and that's too expensive
- we should upload files in a different isolate

[2022-07-21 12:14] imtoori commented on #1208
closing this in favor of #1275

[2022-07-21 12:14] #1208 closed

[2022-07-21 12:15] #1160 closed

[2022-07-21 12:16] #1017 closed

[2022-07-21 19:25] EtcGonza opened #1277 "PagedValueListenableBuilder always return null on nextPageKey"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

  stream_chat_flutter: ^4.4.0

### What happened?

Greetings! I trying to implement a screen to search messages with lazy load. And I follow this [guide](https://getstream.io/chat/docs/sdk/flutter/stream_chat_flutter_core/stream_message_search_

[2022-07-22 09:12] imtoori commented on #1271
This is a backend issue and the team is working on it, I'll update you when I have more information

[2022-07-22 09:36] imtoori commented on #1272
hi @adityathakur8929 this is expected
we have a ~5 mins resolution to update the online status

[2022-07-22 09:36] #1272 closed

[2022-07-22 10:04] #1240 closed

[2022-07-22 10:16] imtoori commented on #1228
Hi
I'm trying to reproduce this, but it's working fine for me
Does it happen with every image? Can you give me more info on this?

[2022-07-22 10:48] BrunoJurkovic commented on #1228
Hey, thanks for the quick reply!

It seems to happen on images both sent from the current user & images sent by other users.

It basically hangs at the exact moment that the download is finished. It's also an issue because there is no way to exit this screen, no timeout, no anything except to close the app & reopen it.

<img width="431" alt="image" src="https://user-images.githubusercontent.com/28

[2022-07-22 11:14] imtoori commented on #1228
ok I managed to reproduce it and I found out it's related to this issue on the package we're using https://github.com/hui-z/image_gallery_saver/issues/204
I'm trying to find a solution, I'll keep you posted

[2022-07-22 11:23] imtoori commented on #1228
ok I found a way of fixing it, I'll push a pr asap

[2022-07-22 11:31] pestizd commented on #1228
Great tnx a lot for the quick response!

[2022-07-22 14:40] #1257 closed

[2022-07-25 07:22] Ayush-gupta-josh commented on #1231
@imtoori Any updates on upcoming release?

[2022-07-25 08:02] imtoori commented on #1227
closed by #1262

[2022-07-25 08:02] #1227 closed

[2022-07-25 08:07] imtoori commented on #1271
Hi the backend has been fixed, I'm closing this issue.
If you're still experiencing it, please contact support

[2022-07-25 08:07] #1271 closed

[2022-07-25 09:32] imtoori commented on #1228
closed by #1280

[2022-07-25 09:32] #1228 closed

[2022-07-25 10:37] imtoori commented on #1277
Hi
Can you contact support? I think this is related to our version two of our search endpoint.
If you contact support and you tell us your api key we'll fix it in a second.
Thanks

[2022-07-25 10:37] #1277 closed

[2022-07-25 13:00] imtoori commented on #1269
Hi we're currently working on this and we'll give more info asap

[2022-07-25 14:36] bhanuU25 opened #1281 "Ability to scroll left and right in media attachment fullscreen"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android

### Is your feature request related to a problem?

Ability to scroll the media attachment in chat when you open attachment in full screen.

The Problem: You can only view the current image in the chat, but if I try to scroll left or right it doesn't show th

[2022-07-26 11:11] #1270 closed

[2022-07-26 13:16] BrunoJurkovic opened #1284 "Slack-like reactions"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android, Web, Windows, MacOS, Linux

### Is your feature request related to a problem?

One of my projects require a "Slack" like emoji reactions. I was surprised that this is supported in React Native, but not in Flutter?

### Describe the solution that you'd like

[2022-07-27 09:31] imtoori opened #1286 "ignore muted users messages for unread count"

[2022-07-27 12:33] #1276 closed

[2022-07-27 17:24] Aanu1995 opened #1287 "How to retrieve all links share in a channel via filter"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android

### Is your feature request related to a problem?

I have tried different filter options to retrieve links shared in a channel. I was able to filter messages in a channel to retrieve images, videos, files but not links.

To retrieve images, videos and giphy

[2022-07-28 08:14] imtoori commented on #1284
hey
this shouldn't be hard to achieve
we're doing something similar in v5, but only for desktop
I think it will be easy to make it available and configurable for all platforms
we'll keep this is mind, thanks

[2022-07-28 08:32] BrunoJurkovic commented on #1284
@imtoori Thanks for the response, when is v5 planned?

[2022-07-28 08:33] imtoori commented on #1284
it's already out as beta
we're working on a stable release to be pushed in the upcoming weeks

[2022-07-28 08:39] BrunoJurkovic commented on #1284
Wow, sounds perfect. Thanks for the good work & the quick response Salvatore!

[2022-07-28 08:40] imtoori commented on #1284
Thank you :)
I'll leave this open so that we can use this issue to make sure we provide this correctly

[2022-07-30 11:03] #1287 closed

[2022-08-02 08:43] #976 closed

[2022-08-02 09:32] #972 closed

[2022-08-03 03:21] rohanvasishth commented on #262
@jackrichardson could you say how you fixed it? I am facing the same issue as well.

[2022-08-03 15:21] Tekman89 opened #1293 "wrong message order when sending messages quickly"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter 4.1.0

### What happened?

When a user quickly sends messages the order in the message list is, at first out of order, and then a re-ordering happens, showing the expected message order.

### Steps to reproduce

[code]

###

[2022-08-04 07:33] imtoori commented on #819
This has been solved in the latest release
Let me know if you're still experiencing it

[2022-08-04 07:33] #819 closed

[2022-08-04 12:14] #947 closed

[2022-08-05 11:11] #1275 closed

[2022-08-05 13:30] adityathakur8929 commented on #1174
Hi here is the link for the video made on stream chat demo app. We just changed the streamAPIkey and created a new channel from our backend:
https://drive.google.com/file/d/1t7ZZmPHU72FAtAUk_DBUcULeqR-nKihm/view?usp=sharing
Steps to reproduce:
1. Open the chat application
2. Creating a new channel from backend sdk
3. The channel list of the connected user gets updated after refreshing.

[2022-08-06 10:09] ManasviPatidar commented on #1269
@imtoori Any updates on this?

[2022-08-08 05:05] adityathakur8929 commented on #1174
Hi, I am adding the video for the issue that has been reproduced on stream flutter demo app:
https://drive.google.com/file/d/1t7ZZmPHU72FAtAUk_DBUcULeqR-nKihm/view?usp=sharing

Steps to reproduce:
1. Open the stream chat application for an admin stream user and navigate to channel list
2. Create a new user from the backend sdk
3. Refresh the channel list on UI

[2022-08-08 07:59] xsahil03x commented on #1269
Hey @ManasviPatidar, I will take a look on this today

[2022-08-08 08:00] xsahil03x commented on #1174
Thanks @adityathakur8929, I will take a look today

[2022-08-08 08:35] adityathakur8929 commented on #1174
Also the stream demo app repo link on which the issue is persists is:
https://github.com/GetStream/flutter-samples/tree/main/packages/stream_chat_v1

[2022-08-08 09:45] #1264 closed

[2022-08-08 10:45] #1269 closed

[2022-08-08 11:36] xsahil03x commented on #1174
@adityathakur8929 I tried reproducing it but failed again.

https://user-images.githubusercontent.com/25670178/183409311-d0598e5f-02c9-4905-9681-1ff75f81488c.mov

[2022-08-09 04:56] adityathakur8929 commented on #1174
Okay, I have gone through the video the channel list gets updated in real time if a new channel is added and user is a member of that channel. But if a new channel is added and the user is not a member of that channel but user's role is admin on stream then user has to refresh the list once.

[2022-08-09 08:57] xsahil03x commented on #1174
@adityathakur8929 can you also share the filters that you are using on your controller?

[2022-08-09 10:09] xsahil03x commented on #1174
@adityathakur8929
Unfortunately, our backend do not send `channel.created` events to WebSockets due to which this isn't possible at the moment.

[2022-08-09 10:09] #1174 closed

[2022-08-12 08:01] bhanu-under25 opened #1302 "Weird Backgound overlay over attachments"
### Which packages are you using?

stream_chat, stream_chat_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

  stream_chat_flutter: ^4.4.0

### What happened?

Please refer to below screenshot and video:

![ss](https://user-images.githubusercontent.com/92363650/184311128-52a7a514-1078-4633-9600-57c4816f0532.jpeg)

https://user-images.githubuse

[2022-08-15 17:28] rlee1990 opened #1303 "video_thumbnail package update"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

4.4.1

### What happened?

The video_thumbnail package has an issue that they fixed with version 0.5.2. Please update to the latest package.

### Steps to reproduce

[code]

### Supporting info to reproduce

_No response_

### Relevant log output

_

[2022-08-15 17:48] rlee1990 commented on #1303
I created #1304 to fix this issue.

[2022-08-15 18:53] rlee1990 commented on #1303
It appears that this issue still hasn't been completely fixed yet.

[2022-08-16 11:09] Ayush-gupta-josh commented on #1150
@imtoori Issue is reproducible when we use `PagedValueListenableBuilder` to build channel list please check out the demo https://github.com/Ayush-gupta-josh/stream-chat-flutter/tree/demo-multiapi-call

[2022-08-16 12:17] xsahil03x commented on #1150
Hey @Ayush-gupta-josh

Working fine for me. Can you test again with the dart devtools? Or maybe also share a video with the same.
https://user-images.githubusercontent.com/25670178/184877018-3ff6ca5d-716a-4d27-9c89-596a3df51edd.mov

[2022-08-16 14:02] Ayush-gupta-josh commented on #1150
@xsahil03x After looking it further based on your response, it seems like extra calls are only pre-flight calls that happens on browser only not on native devices. Based on that we can close this issue I guess.

[2022-08-17 04:32] BhautikVaghasiya commented on #1238
hi,
how to implement StreamMessageInput send message time notification ?

[2022-08-17 10:37] KushalxPathak commented on #1217
@imtoori  I was trying to test notifications again by stream cli with `stream-cli chat test-push --user-id your-id` but now it's throwing error.

`Error: CheckPush failed with error: "the user f6WOdULHS6KeJ10539gEqY:APA91bEsmT22NPGug_DwUosxLBDJsnc46XBxod8fKdFh1tI9q4I_-ilNASfqLKRvxAHAzhBRZ9U2mEvGDn_w-7xTS2NbqoUhWsatN5jVvH_wOP9GWN6mrLr-WxhW6JFDBnF7bTQipalc does not exist"
Usage:
  stream-cli chat te

[2022-08-17 10:44] KushalxPathak commented on #1217
@imtoori  also I am getting this response in physical device
`I/flutter (20834): 2022-08-17 15:39:57.113417 ℹ️ 🕸️ ╔ Body
I/flutter (20834): 2022-08-17 15:39:57.113705 ℹ️ 🕸️ ║
I/flutter (20834): 2022-08-17 15:39:57.116446 ℹ️ 🕸️ ║    {
I/flutter (20834): 2022-08-17 15:39:57.119146 ℹ️ 🕸️ ║         devices: [{push_provider: firebase, id: dAvyoF88Qbm_OQKOufgGQo:APA91bFyqU9t4JtZc3vBpBue8mUwn_fmTCGJ2BTdz

[2022-08-18 09:29] mayankeshmishra opened #1306 "Validation Issue when TextInputType.text is passed to StreamMessageInput widget"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Android, Web

### What version are you using?

version-4.3.0

### What happened?

The default behavious of the StreamMessageInput field is that on pressing the enter key a new line is inserted.
This behaviour is overriden when we pass keyboardType: TextInputType.text and now instead of addi

[2022-08-18 11:11] BrunoJurkovic opened #1307 "Channel data null when opening chat screen from notification from terminated state"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter - 4.1.0

### What happened?

We have a very interesting and weird issue. We are handling Stream notifications from the background, foreground, and terminated state. Handling the former two were easy, but we're having an issu

[2022-08-18 12:17] ManasviPatidar commented on #1307
You can add this before navigation to query for the channel state.
`if (channel.state == null) {
      await channel.watch();
    }`

[2022-08-18 12:28] BrunoJurkovic commented on #1307
Thanks for the quick response, interestingly, the workaround I discovered for this is just delaying the `.channel` and navigation by 1500ms. This is of course far from the ideal answer.

How come the `.channel` method is not async? Seems like it would make sense for this to be awaitable?

[2022-08-19 07:23] #1150 closed

[2022-08-22 07:42] imtoori commented on #1307
Hi @BrunoJurkovic
`StreamChatClient.channel` returns a channel object, then it's on you to call `channel.watch()/query()` or whatever method you need
It doesn't make much sense for the method to be async since it doesn't perform any async operations

[2022-08-22 07:42] #1307 closed

[2022-08-22 15:05] rlee1990 opened #1309 "Input Widget It's Own Package"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android, Web, Windows, MacOS, Linux

### Is your feature request related to a problem?

It would be nice if possible to have the Input widget as its own package. I know for us we just use that with Stream core.

### Describe the solution that you'd like

_No respons

[2022-08-23 02:44] #1309 closed

[2022-08-23 10:32] arizonal2014 opened #1310 "Duplicate notification when app is either in the background or terminated state"
Hello there!
I am using Push Notifications (V2)everything seems working fine except that I am receiving duplicate notifications when the app is either in the background or terminated state.

As per this [](https://stackoverflow.com/questions/67820474/double-notifications-in-flutter-firebase-messaging) answered, I am receiving both notification and data.

I also tried to use a template to no avail.

[2022-08-23 12:15] BrunoJurkovic opened #1311 "Image library shows up blurry"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS

### What version are you using?

stream_chat_flutter: ^4.1.0
stream_chat_persistence: ^4.1.0

### What happened?

We've noticed that in the image library, sometimes the images are really blurry, and sometimes they are just noticeably blurry.

Is there anything we can do about this? Tha

[2022-08-23 12:16] BrunoJurkovic commented on #1310
Are you maybe using a local notifications plugin?

Check [this thread](https://stackoverflow.com/questions/69024672/duplicate-notifications-with-different-sounds-push-notification-remote) out, should resolve your issue.

[2022-08-23 12:22] xsahil03x commented on #1311
Hey @BrunoJurkovic, this has been fixed in the latest release, thanks
https://pub.dev/packages/stream_chat_flutter/changelog#450

[2022-08-23 12:22] #1311 closed

[2022-08-23 12:32] BrunoJurkovic opened #1312 "Weird indicator on pinned messages"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

  stream_chat_flutter: ^4.1.0
  stream_chat_persistence: ^4.1.0

### What happened?

When we pin a message, on the top left or right side there seems to be some weird bubble indicator that resembles the reaction indicator (but with no reaction)

[2022-08-23 12:33] arizonal2014 commented on #1310
Yes. I am using a local notification plugin as stated in the doc https://getstream.io/chat/docs/sdk/flutter/guides/adding_push_notifications_v2/

any directive on how to send a data message instead of a notification message with your backend javascript SDK?
?

[2022-08-23 12:56] imtoori commented on #1312
Hi
Are you customizing the widget in any way?
I just tested this and it's not happening for me

[2022-08-23 12:59] BrunoJurkovic commented on #1312
Not in any way that should affect this. We are just implementing a bunch of custom messages. I'll go to the dev tools to see which widget is causing this

[2022-08-23 13:03] imtoori commented on #1312
That's the message widget, but I'm not seeing that :/
Very weird..

[2022-08-23 13:06] bhanuU25 opened #1313 "StreamMessageListView abrupt scrolling while pagination"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter: ^4.4.0

### What happened?

Following video might help you with what's happening:

https://user-images.githubusercontent.com/92363650/186163658-c4d4a12b-c9de-4429-899a-a8915296446b.mp4

When you try to paginate old messages

[2022-08-23 13:07] BrunoJurkovic commented on #1312
I can't find it in the Widget Inspector. This is very very weird, any ideas on how I might isolate it? Any additional data I can provide so that we can solve this? It's obviously not a glaring nor critical issue, but would still be nice to not have it.

[2022-08-23 13:10] imtoori commented on #1312
Can you send me a snippet of how you customize the MessageWidget? Do you use the `StreamMessageListView.messageBuilder` param?

[2022-08-23 13:13] BrunoJurkovic commented on #1312
[code]

  I've omitted the custom message types

[2022-08-23 13:20] imtoori commented on #1312
ok I think I got it
`showReactionPickerIndicator` is the property that toggles that ui
We need that in order to show the proper ui when there are reactions on the message. the UI is really tricky, so this was our only option.
I'd delete that line, it should work fine

[2022-08-23 13:20] #1312 closed

[2022-08-23 14:26] bhayatus opened #1314 "Message shows as unread even when user is on chat screen"
### Which packages are you using?

stream_chat_flutter, stream_chat_flutter_core

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter - 4.5.0
stream_chat_flutter_core - 4.5.0

### What happened?

I am on the chat screen, and after sending a message, the other side sends a message back. Shows an unread message banner, even though I

[2022-08-23 16:28] ChrisElliotUK opened #1315 "_subscriptions.cancel(); no such method"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

4.5.0

### What happened?

Error running build when upgrading to 4.5.0.

`Error: The method 'cancel' isn't defined for the class 'CompositeSubscription'.
../…/client/channel.dart:2278
'CompositeSubscription' is from 'package:rxdart/src/utils/co

[2022-08-23 16:41] ChrisElliotUK commented on #1315
https://github.com/GetStream/stream-chat-flutter/pull/1316

[2022-08-24 08:54] Aanu1995 commented on #1106
@flodaniel Yes, I have fixed it and everything works fine now. I reached out to their customer care representative and it was fixed from their end.

[2022-08-24 14:00] BrunoJurkovic opened #1317 "showEditMessage has no effect"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter - 4.1.0

### What happened?

It seems like the `showEditMessage` property is not working as intended. Whatever the value is set as, the action will always show. With a quick 'CTRL + F', it seems like it is not linked to anyt

[2022-08-24 17:01] sanketp1 opened #1318 "invite link generation to send the link on group to join members when they click on that link."
### Please select which package this feature is related to

stream_chat

### Which platforms would this feature impact?

iOS, Android

### Is your feature request related to a problem?

Actually, I am working on the project where my team want to generate the invitation link for joining the channel or group. I was read many articles but didn't find the relevant one.
Could anyone please help me with

[2022-08-24 17:02] sanketp1 commented on #1318
anyone please help me with this.

[2022-08-25 09:43] imtoori opened #1319 "Refactor Sort options to use ChannelState"

[2022-08-25 10:45] arizonal2014 commented on #1310
I have fixed it.

[2022-08-26 08:33] imtoori commented on #1315
Hello, I'm not experiencing this and I'm on the latest develop
Is there anything in particular I should do?

[2022-08-26 08:35] BrunoJurkovic commented on #1317
@imtoori Could you please take a look?

[2022-08-26 08:38] imtoori commented on #1317
Hey @BrunoJurkovic this has been fixed in the later versions of the SDK
we're now at 4.5.0
Can you update?

[2022-08-26 08:38] #1317 closed

[2022-08-26 09:55] ChrisElliotUK commented on #1315
Hi @imtoori, can you check this [line](https://github.com/GetStream/stream-chat-flutter/blob/ceab9175ceeb21604a1b120fd95efa2268fde245/packages/stream_chat/lib/src/client/channel.dart#L2389).

I am finding `_subscriptions.cancel();` has no such method. My understanding is it should be `_subscription.dispose();` as per #1316

[2022-08-26 09:57] imtoori commented on #1315
@ChrisElliotUK I did check that, but I do have the cancel method and the example app is compiling just fine
very weird to be honest
Maybe it's an issue with some broker dependency?

[2022-08-26 09:58] ChrisElliotUK commented on #1315
What version of rxdart are you using?

[2022-08-26 10:00] imtoori commented on #1315
it's in the pubspec
`rxdart: ^0.27.0`

[2022-08-26 10:16] ChrisElliotUK commented on #1315
I have found the problem, .cancel is not available in 0.27.0 to 0.27.4 and as another package I use constrains to 0.27.2 I was running into the issue. I think you need to update your pub spec to 0.27.5 as others may run into this problem.

[2022-08-26 10:18] ChrisElliotUK commented on #1315
If you set your pub spec to` rxdart: 0.27.0` you should be able to find the issue, your local version must be 0.27.5

[2022-08-26 12:32] imtoori commented on #1315
oh ok will do that, thanks
for the moment you can use a dependency_overrides to fix this

[2022-08-26 12:32] #1315 closed

[2022-08-27 04:39] csandovalgt opened #1320 "Grouped channels"
Hi team,
I'm implementing a chat with grouped channels. I'm using own criteria for channels grouping and my question is if is there any way to get the total_unread_count for a group of channels or by channels type.

I see in the documentation that there are total_unread_count and unread_channels but I don't see anything to filter by own criteria or by channel type. Obviously I would like to have t

[2022-08-29 09:13] imtoori commented on #1303
Hi @rlee1990
we're using version ^0.5.0, so it should use 0.5.2 if you run flutter pub upgrade
Can you confirm?

[2022-08-29 10:02] imtoori commented on #1302
Hi this is weird indeed
Is it still happening for you? I'm trying to reproduce this, but I'm struggling
Can you post a snippet of your code, or something that might help me, please?

[2022-08-29 10:07] bhanu-under25 commented on #1302
This is from stream sample app.

It mostly occurs in android!

[2022-08-29 10:22] imtoori commented on #1318
Hello
I'm sorry, but I talked with the backend team and there's nothing we can do about this.
You should implement this on your side.

[2022-08-29 10:22] #1318 closed

[2022-08-29 10:22] imtoori commented on #1318
I think the solution by @bhanu-under25 might work fine

[2022-08-29 12:57] rlee1990 commented on #1303
@imtoori Yes there is still an issue the issue is the video thumbnail package. There is a pull request to fix the issue but everyone is waiting for the package owner to merge it.

[2022-08-30 08:36] imtoori commented on #1302
I just tried and it's not glitching like that for me.
Did you change anything? Also does it happen in any specific situation or with any specific gif?

[2022-08-30 08:36] #1310 closed

[2022-08-30 09:10] imtoori commented on #1306
Hey @mayankeshmishra this has been fixed in v5
At the moment it's a beta release, but it will soon be out as stable

[2022-08-30 09:10] #1306 closed

[2022-08-30 09:22] imtoori commented on #1314
hey @bhayatus this has been fixed on v5
it's a beta at the moment, but will soon reach a stable release
stay tuned :)

[2022-08-30 09:22] #1314 closed

[2022-08-30 09:26] imtoori commented on #1313
@bhanu-under25 thanks for reporting this issue
Pagination on the message list is quite tricky and we're trying to support as many features as possible while keeping the functionality as stable as we can.
This is a somewhat known issue (it doesn't happen always, it's quite random) and we're going to try fixing it once we release the stable v5
For the moment, I can try exposing the `minCacheExtent`

[2022-08-31 12:00] arteminthesky opened #1322 "[Android] App don't show enablePhotoAndVideoAccessMessage after denying permissions"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

4.5.0

### What happened?

The problem is there are two places where the package requests photo permissions simultaneously
[First place](https://github.com/GetStream/stream-chat-flutter/blob/4532a0dd69c2c86c762760f3fde2a152c30c9065/packages/stream_c

[2022-09-01 10:05] flodaniel opened #1323 "StreamMessageListView not displaying messages"
### Which packages are you using?

stream_chat_flutter, stream_chat_persistance, stream_chat_localizations

### On what platforms did you experience the issue?

iOS

### What version are you using?

  stream_chat_flutter: 4.5.0
  stream_chat_localizations: 3.3.0
  stream_chat_persistence: 4.4.0

### What happened?

we use the `StreamMessageListView` and this is the behaviour starting to happen whe

[2022-09-01 10:35] imtoori commented on #1323
you're right, this is happening and I can reproduce it
it seems like flutter 3.3 broke something
let me take a look at it

[2022-09-03 04:31] CalHoll commented on #1323
Any chance for an ETA on bugfix?

[2022-09-06 09:11] #1302 closed

[2022-09-06 17:58] arthurpiccoli commented on #1303
@rlee1990 if you lock the version in the pubspec of your project as so:` video_thumbnail: 0.5.1` you're good to go. @imtoori a catch block was removed from 0.5.1 to 0.5.2 and that's what is broking the build

[2022-09-06 18:24] rlee1990 commented on #1303
How can I do that if I am not directly using that package but I am using Stream chat.

[2022-09-08 06:58] mkobuolys opened #1325 "Too many log entries per single error when using external logging"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android

### Is your feature request related to a problem?

When using external logging, a single stack trace provides too many error entries in the external logging service (this case, DataDog).
<img width="1758" alt="Screenshot 2022-09-08 at 09 56 07" src="https:/

[2022-09-08 21:22] CalHoll opened #1326 "In version 5.0.0-beta.2 - hitting "enter" on the android keyboard sends the message instead of going to a new line"
### Please select which package this feature is related to

stream_chat, stream_chat_flutter

### Which platforms would this feature impact?

Android

### Is your feature request related to a problem?

In version 5.0.0-beta.2 - hitting "enter" on the android keyboard sends the message instead of going to a new line.

Please add a parameter to StreamMessageInput so that "enter" goes to a new line f

[2022-09-12 10:03] imtoori commented on #1323
@CalHoll you're right, removing that seems to solve the issue
Let me see if this causes any other problem

[2022-09-12 10:17] imtoori commented on #1322
This has been solved in v5, it's a beta release, but it will be promoted to stable soon

[2022-09-12 10:17] #1322 closed

[2022-09-12 14:43] imtoori opened #1329 "Add channel role to addmembers call"

[2022-09-12 20:53] johnsonejezie opened #1330 "Message flickering as I scroll and changes background color"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS

### What version are you using?

4.5.0

### What happened?

My chat screen flickers and messages become not invisible. Tapping on a message returns the background color and cause more flicking

### Steps to reproduce

[code]

### Supporting info to reproduce

![IMG_6A98051A73B0-1](http

[2022-09-13 06:46] imtoori commented on #1330
closing as duplicate of #1323

[2022-09-13 06:46] #1330 closed

[2022-09-13 08:24] #1323 closed

[2022-09-13 14:18] johnsonejezie commented on #1323
When will this be published?

[2022-09-13 14:22] imtoori commented on #1323
@johnsonejezie yes, in the following days

[2022-09-14 10:54] xsahil03x commented on #1326
Hey @CalHoll,

fixed in [`d3fff37` (#1222)](https://github.com/GetStream/stream-chat-flutter/pull/1222/commits/d3fff37fcdd7adcc1defb63eeeb1d48e422fedbb) and will be released soon.

Thanks,
Sahil

[2022-09-14 10:54] #1326 closed

[2022-09-15 13:27] ChiragGajjar opened #1334 "CreateDevice failed with error: "push provider "" with type "firebase" not found""
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter: ^4.4.0

### What happened?

While adding the device token it will throw an error.

client.addDevice(token, PushProvider.firebase);

### Steps to reproduce

[code]

### Supporting info to reproduce

client.addDevice(token, P

[2022-09-16 19:21] CalHoll commented on #1323
See it made it into 4.6.0, can we get this on the [5.0.0-beta.2](https://pub.dev/packages/stream_chat_flutter/versions/5.0.0-beta.2)
 channel too? Thanks!

[2022-09-21 12:32] imtoori commented on #1231
Hi @Ayush-gupta-josh I think I solved all this issues
You can checkout the v5 branch and see if everything works fine or you can wait for the next release, probably tomorrow

[2022-09-21 12:56] #1303 closed

[2022-09-21 12:57] imtoori commented on #1320
This is not possible at the moment, it's a backend limitation.

[2022-09-21 12:57] #1320 closed

[2022-09-23 15:48] Froelund commented on #1323
It seems there's still some issues with 4.6.0 and flutter 3.3.2.https://user-images.githubusercontent.com/2089088/192001064-e41bfb46-1c6e-470a-bb32-5e234a6368f5.MOV

[2022-09-26 18:07] Purus commented on #833
I am getting the same issue as described using the current version.

[code]

[2022-09-28 13:25] #1334 closed

[2022-09-28 21:40] CalHoll opened #1337 "Make it obvious which thread contains unread messages"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android, Web, Windows, MacOS, Linux

### Is your feature request related to a problem?

Users are frustrated when they have an unread message but can't find it because it's in a thread.

### Describe the solution that you'd like

When a thread contains unread messag

[2022-09-28 21:44] CalHoll opened #1338 "sharing emails with custom domains shouldn't trigger url preview"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

The latest Beta

### What happened?

when sharing my custom email in the chat it triggered a url preview - hello@cheerly.app

### Steps to reproduce

[code]

### Supporting info to reproduce

_No response_

### Relevant log output

_No response

[2022-10-03 08:48] NiyazFazlyev opened #1339 "Improvement FloatingDateDivider behavior in StreamMessageListView."
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android

### Is your feature request related to a problem?

When scrolling MessagesList and date divider reach floating date divider, they overlap each other. It doesn't look cool.

### Describe the solution that you'd like

I would suggest looking at the implementa

[2022-10-03 10:48] BrunoJurkovic opened #1340 "Missing documentation for v5"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

Version v5.0.0 stable

### What happened?

The v5 release lacks documentation on deprecated methods, the `customOverlays` method has disappeared from StreamMessageInput, with no mention of it in the changelog, also, it seems like imports to par

[2022-10-03 10:49] imtoori commented on #1340
hey @BrunoJurkovic we're currently working on a migration guide and on updating documentation and tutorial
I'll post an update once it's all sorted out

[2022-10-03 10:51] BrunoJurkovic commented on #1340
@imtoori thanks for the quick response Salvatore, as always ;) Looking forward to it :)

[2022-10-05 08:46] BrunoJurkovic commented on #1340
@imtoori Do you have an ETA on this possibly?

[2022-10-05 09:22] HayesGordon commented on #1340
Hey @BrunoJurkovic we plan on announcing today. You can look at this branch for the v5 guide in the meantime.

https://github.com/GetStream/stream-chat-flutter/blob/docs/v5/docusaurus/docs/Flutter/guides/migration_guide_5_0.mdx

Please let us know if you spot any issues or if there is something we can expand on.

[2022-10-05 09:42] BrunoJurkovic commented on #1284
Hey, looking at your W.I.P. migration guide, I noticed that the bubble reactions are going to be only for web and desktop. Is there any way to enable them for mobile?

Also, what would be the best route for replacing the standard reactions with all emojis?

[2022-10-05 11:54] mkobuolys opened #1344 "Upgrading file_picker to ^5.0.0"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android, Web, Windows, MacOS, Linux

### Is your feature request related to a problem?

The currently used `file_picker` package version is quite outdated (^4.1.3). Are there any issues why it cannot be upgraded to  ^5.0.0? In our project, we are using the `file_pic

[2022-10-05 13:28] imtoori commented on #1344
yes, we're upgrading it. I'll release a 5.0.1 soon

[2022-10-05 13:29] mkobuolys commented on #1344
Wow, this is amazing, team! Thanks 🙌 Closing the issue, then.

[2022-10-05 13:31] imtoori commented on #1344
Apparently that's not possible at the moment 😓 sorry for giving you false hope

[code]
let me see what the guys at dart_vlc are planning to do

[2022-10-05 13:32] mkobuolys commented on #1344
Oh, ok 😞 Keep us updated!

[2022-10-05 15:19] imtoori commented on #1340
pr got merged, you'll find the doc on website
let us know if you think there's anything missing

[2022-10-05 15:19] #1340 closed

[2022-10-06 07:53] Ayush-gupta-josh opened #1346 "Issues with video attachments on web"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Web

### What version are you using?

5.0.1

### What happened?

There are two scenarios where video attachment breaks.
1. When we select any video -
    - When we select any video of size within the size limit then it breaks due to `Unexpected null value`.
    - In my opinion, this code is

[2022-10-06 10:20] imtoori commented on #1323
@Froelund it's working fine for me :/

[2022-10-06 10:36] Froelund commented on #1323
Well that is sort of good to hear :P Are you using `stream_chat_flutter: 4.6.0`? Anyone else still has the issue? Maybe @flodaniel ?

[2022-10-06 10:37] imtoori commented on #1323
yes I'm using 4.6.0 and the latest flutter version

[2022-10-06 18:06] EtcGonza opened #1347 "StreamImageAttachment onReplyMessage doesn't work"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

  stream_chat_flutter: ^5.0.0
  stream_chat_localizations: ^4.0.0

### What happened?

Hi! I update my project to v5 and I have a widget that use **StreamImageAttachment** and **StreamImageGroup** widgets. And I want to customize the onReplyMes

[2022-10-07 08:39] BrunoJurkovic commented on #1284
Hey @imtoori, can you check this out please?

[2022-10-07 08:40] imtoori commented on #1284
hey @BrunoJurkovic I think there's no easy way of doing that on mobile yet
It shouldn't be hard to support it. I'm gonna look into it

[2022-10-11 08:53] MikleJack commented on #939
I found that by manually importing stream_ chat_ fluitter package and removing all dependencies related to video_compression can make the project run. I adopted this method because I was doing a temporary school homework,

The file is stream_ chat_ Flutter package, all vedio have been deleted_ Compress dependency

My English is machine translation, so it may not be fluent

------------------&nbsp;

[2022-10-11 08:54] imtoori commented on #939
hey @MikleJack we even removed video compression from v5
so you should be able to run it even without manually removing it

[2022-10-11 09:20] BrunoJurkovic opened #1350 "Messages not "grouping" when using copy of default message widget."
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter: ^4.6.0

### What happened?

Our chat design requires us to change the default `StreamMessageWidget`, nothing much, but moving around a few components (not changing any functionality), but for some reason, when we change the

[2022-10-11 09:49] imtoori opened #1351 "Implement video thumbnails from CDN"

[2022-10-11 10:00] Froelund commented on #1323
For future users with this issue: Our problem was that the theme for our `MaterialApp` had this configuration:
[code]

[2022-10-12 11:35] bhanuU25 commented on #1120
@imtoori can you provide code snippet for assigning or updating a channel Role.

I can only see javascript code snippet and i tried to go through the channel's method but couldn't find any method to update the channel!

if possible can you migrate previous role to current permission/role managment because the exisiting channel admin will lose their permission and will take lot of manual work to as

[2022-10-12 13:01] BrunoJurkovic commented on #1350
@imtoori Any idea what may be causing this?

[2022-10-12 23:40] khoafornia opened #1352 "Support package_info_plus v2"
### Which packages are you using?

stream_chat, stream_chat_flutter

### On what platforms did you experience the issue?

iOS

### What version are you using?

5.0.1

### What happened?

The latest version of stream_chat_flutter is not compatible with package_info_plus v2

### Steps to reproduce

[code]

### Supporting info to reproduce

_No response_

### Relevant log output

[code]

### Flutter

[2022-10-13 09:58] imtoori commented on #1120
hey @bhanuU25 can you share a link to the js doc you're referring to?

[2022-10-13 11:34] bhanuU25 commented on #1120
@imtoori
https://getstream.io/chat/docs/flutter-dart/user_permissions/?language=dart&q=role#:~:text=In%20order%20to%20change%20channel%2Dlevel%20role%20of%20the%20user%2C

[2022-10-17 02:31] 3ph opened #1354 "User permissions"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

5.0.1

### What happened?

I'm trying to elevate the user role in the channel but there doesn't seem to be a way how to do this. The relevant part of the documentation (https://getstream.io/chat/docs/flutter-dart/user_permissions/?language=dart

[2022-10-17 13:21] VladShturma opened #1355 "Error while hiding channel and clearing message history"
### Which packages are you using?

stream_chat_flutter_core

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter_core: 5.0.0

### What happened?

When I execute this code `await channel.hide(clearHistory: true)`, I get an error : Bad state: Cannot add new events after calling close.

This error happens because inside `ClientState.

[2022-10-17 13:30] BrunoJurkovic commented on #1350
Can we get some info for this?

[2022-10-17 13:50] VladShturma opened #1356 "Channel doesn't auto display again after being hidden"
### Which packages are you using?

stream_chat_flutter_core

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

stream_chat_flutter_core: 5.0.0

### What happened?

When I hide a channel, it won't auto display when receiving a message until I disconnect and connect user again to Stream.

### Steps to reproduce

[code]

### Supporting info to reprodu

[2022-10-17 14:09] BrunoJurkovic commented on #1350
No worries :), just letting you know, this maybe has to do with some of the properties we changed in the .copyWith method. Removing each one by one does not fix this, so I'm thinking this is a combination.

If you could point out the specific code piece which is determining if the message should be grouped to the top (or bottom) message, please share it, since we need to modify this behavior to fi

[2022-10-19 16:21] Dillan-Jasper opened #1358 "Easily Configured Attachment Actions"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android, Web

### Is your feature request related to a problem?

We need to manage PHI within our systems/chat conversations. We have yet to find a way to prevent people from downloading attachments in a chat channel. This presents a possible avenue for PHI exposure

[2022-10-21 07:07] flodaniel opened #1359 "Increase connectivity_plus version to 3.0.2"
### Which packages are you using?

stream_chat_flutter, stream_chat_persistance, stream_chat_localizations

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

latest

### What happened?

Increase dependency of connectivity_plus to latest (3.0.2), to allow our own project to keep dependencies up to date.

`Because stream_chat_flutter >=5.0.0 depends

[2022-10-21 07:34] flodaniel opened #1360 "Increase share_plus version to 6.0.1"
### Which packages are you using?

stream_chat_flutter, stream_chat_persistance, stream_chat_localizations

### On what platforms did you experience the issue?

iOS, Android

### What version are you using?

latest

### What happened?

Update share_plus dependency from ^4.5.0 to ^6.0.0

### Steps to reproduce

[code]

### Supporting info to reproduce

_No response_

### Relevant log output

_No re

[2022-10-22 03:38] luvishq opened #1363 "Request to update file picker plugin to the latest 5.2.2"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS

### Is your feature request related to a problem?

It seems the latest version of file picker has a lot of fixes and improvement. Because stream_chat_flutter is still using an older version of file picker we are not able to use the latest version of it. Can someone

[2022-10-22 03:38] #1363 closed

[2022-10-22 03:39] luvishq commented on #1344
Any updates on this ?

[2022-10-23 23:20] dokumanx opened #1364 "Is it possible to compress attachments before downloading them?"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

_No response_

### Is your feature request related to a problem?

I need to download the attachment (let's say an image) and then save it locally. And add the image via its path to the notification. Afterward, delete the saved image. Big image size slows notifications do

[2022-10-24 03:59] senkia24 opened #1365 "StreamWidget widthFactor"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS, Android

### Is your feature request related to a problem?

I want to change stream message widget width factor  0.78 to 1

### Describe the solution that you'd like

_No response_

### Describe alternatives that you have considered

_No response_

### Additional co

[2022-10-24 09:46] imtoori commented on #1344
@luvishq not yet, I'm waiting for the dart_vlc guys
if it takes too long we'll eventually contribute to the package of consider an alternative

[2022-10-28 07:42] senkia24 opened #1370 "flutter_apns notification template"
### Which packages are you using?

stream_chat_flutter, stream_chat_flutter_core

### On what platforms did you experience the issue?

iOS

### What version are you using?

  stream_chat_flutter_core: ^4.6.0
  stream_chat_flutter: ^4.6.0
  flutter_apns: ^1.5.4

### What happened?

We use flutter_apns on notification service. It worked well. But notification template not change to
[code]

We tried

[2022-10-30 12:07] vasilich6107 opened #1372 "Issues while building the app"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

latest

### What happened?

Running Gradle task 'bundleRelease'...

FAILURE: Build failed with an exception.

* What went wrong:
The Android Gradle plugin supports only Kotlin Gradle plugin version 1.5.20 and higher.
The following dependencies do no

[2022-11-02 09:40] imtoori commented on #1372
hey @vasilich6107
Apparently this is due to a dependency
Switching to a less recent gradle plugin should work, can you try that?

[2022-11-02 09:44] imtoori commented on #1364
hey @dokumanx I think this is what you're looking for https://getstream.io/chat/docs/flutter-dart/file_uploads/?language=dart&q=cdn#image-resizing

[2022-11-02 09:44] #1364 closed

[2022-11-02 09:47] imtoori commented on #1358
hey I think this could be possible already
take a look at the `StreamMessageWidget.customActions` and `StreamMessageWidget.onMessageActions` parameters

[2022-11-02 09:47] #1358 closed

[2022-11-02 09:48] #1351 closed

[2022-11-02 09:49] #1319 closed

[2022-11-02 09:51] dokumanx commented on #1364
Thank you for your response @imtoori! Can you give me an example usage of resizing? I couldn't find how to use it.

[2022-11-02 10:53] imtoori commented on #1364
<img width="730" alt="image" src="https://user-images.githubusercontent.com/20601437/199466318-9ea92c91-5f64-49b7-910f-fe99d5c2b4b9.png">

these are all parameters to be used as queryparams in the url of the image

for example

https://us-east.stream-io-cdn.com/63735/images/66bfcea3-e922-4d7c-bc62-7fcc6b929b15.1664289875399.gif?Key-Pair-Id=APKAIHG36VEWPDULE23Q&Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cm

[2022-11-02 10:54] dokumanx commented on #1364
Oh I see. Thank you so much @imtoori !

[2022-11-02 14:11] alper-efe-sahin opened #1373 "Is there a function which is exactly for re-connecting?"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS

### What version are you using?

^5.1.0

### What happened?

I saw that there is a connectUser and disconnectUser methods. Are there any methods for re-connecting?

### Steps to reproduce

[code]

### Supporting info to reproduce

_No response_

### Relevant log output

_No response_

[2022-11-05 16:34] CalHoll commented on #1360
6.2.0 now please!

[2022-11-07 04:38] CalHoll commented on #1372
This is holding up a deployment which would fix crashes in production.

I found my way here after my build started failing, it's based on your "desktop_drop" dependency.

Oddly it seems that the issue is because "desktop_drop" has "kotlin-gradle-plugin:1.3.50" stated in the example folder, I'm not sure how this works.

I'm not very familiar with gradle so I've been poking around in the dark to try

[2022-11-07 04:48] CalHoll commented on #1372
I've created a PR on their repo but I'm not sure it's being actively maintained. Is it possible you create a fork and depend on that?

[2022-11-07 05:11] CalHoll opened #1375 "Bump minimum compatible Kotlin version to 1.5.20 via desktop_drop"
Just want to ping this issue that's "waiting on customer response" since I'm not the original poster I wasn't sure if it would get overlooked: https://github.com/GetStream/stream-chat-flutter/issues/1372

It's holding up a deployment that would fix crashes in production so any priority it could be given would be appreciated!

[2022-11-07 15:54] Purus commented on #1360
yes please. i have enforce older version because of this issue.

[2022-11-07 18:32] CalHoll commented on #1375
`desktop_drop` has merged a commit that fixes the issue but it's not released as a package yet, here's the workaround:

[code]

Looks like `image_gallery_saver` is also a problem...

[2022-11-07 18:54] CalHoll commented on #1375
Here's the fix for image_gallery_saver - it's from the package maintainer, the repo was updated 2 months ago with the fixes for the latest version of flutter but they haven't updated the package on pub.dev

[code]

[2022-11-08 10:25] imtoori commented on #1375
unfortunately we have only two options

- wait for them to release the new versions and tell people to use the dependency overrides for the moment
- fork the packages

cc @xsahil03x

[2022-11-08 10:26] imtoori commented on #1373
Hi @alper-efe-sahin you can use `streamChatClient.openConnection` to open a ws connection.
Using `streamChatClient.closeConnection` would disconnect the websocket

[2022-11-08 10:26] #1373 closed

[2022-11-08 18:00] Picorete opened #1376 "Disabling certain types of attachments in MessageInput widget"
### Discussed in https://github.com/GetStream/stream-chat-flutter/discussions/759

<div type='discussions-op-text'>

<sup>Originally posted by **bhayatus** November  5, 2021</sup>
Hi, I'd like to request a feature if possible. We are currently using the out of box `MessageInput` widget for our active chat screen, and everything is working great. We are unable to tweak one thing we require though,

[2022-11-09 10:11] #1372 closed

[2022-11-09 10:16] tanphuccgl commented on #1346
@Ayush-gupta-josh do you have any solution?

[2022-11-09 10:35] alper-efe-sahin opened #1377 "Unhandled Exception: StreamChatNetworkError(code: 1000, message: Unauthorised, token not defined)"
### Which packages are you using?

stream_chat_flutter

### On what platforms did you experience the issue?

iOS

### What version are you using?

`  stream_chat_flutter: ^5.1.0
`

### What happened?

[code]

### Steps to reproduce

[code]

### Supporting info to reproduce

First,

[code]
I run the above codes, then I can successfully connect there.

Next, I try to watch channel, but it gives an e

[2022-11-09 11:00] imtoori commented on #1377
hey @alper-efe-sahin can you post a snippet of how you're doing it?

[2022-11-09 11:11] alper-efe-sahin commented on #1377
Okay.

First, I have a login section. Then, I redirected the user to the home page. So, I do not want to create and init. the client before the `runApp() `method.

After we logged in, I redirect the user to the bottomNavigationBar, since the app has 3 different pages, like Instagram bottom navigation bar. So, I use` flutter_bloc` package. When I create a bloc/cubit, I also call my method to create